@using GMKT.GMobile.Web.Models
@using GMKT.GMobile.Data.SellerShop
@using System.Web.Script.Serialization

@{
    System.Web.Script.Serialization.JavaScriptSerializer jSearializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    string itemDisplayList = jSearializer.Serialize(Model.ItemDisplayList);
    int displayIndex = 0;
}
    
@if (Model.AddVideoKey != null && displayIndex == 0 && Model.IsMain == 1 && ViewBag.Shop.DisplayInfo != null && ViewBag.Shop.DisplayInfo.MainImageDispType != 6 && ViewBag.Shop.DisplayInfo.MainImageDispType != 5)
{
	<!-- 동영상 추가 20150408 -->
	<!--div id="seller_add_video_@displayIndex" class="shop--video">
	</div//-->
	<!-- //동영상 추가 20150408 -->
}

@if (Model.ItemDisplayList != null)
{   
    foreach (SellerShopItemDisplay itemDisplay in Model.ItemDisplayList)
    {
        string objId = (itemDisplay.DispType == 7) ? "productPinterestList" : String.Format("displayItem_{0}", displayIndex);
        string strStyle = (!String.IsNullOrEmpty(itemDisplay.BgColorCd) && itemDisplay.BgColorCd.Length > 0 && itemDisplay.DispType == 8) ? "style='background-color:" + itemDisplay.BgColorCd + "'" : "";
        string listViewType = GMKT.GMobile.Web.Controllers.SellerShopController.ConvertItemDispTypeStr(itemDisplay.DispType);
        string imgView = GMKT.GMobile.Web.Controllers.SellerShopController.ConvertExposeRateTypeStr(itemDisplay.ExposeRateType);

        if (itemDisplay.AreaUseType == 2)
        {
            <div class="main--display-img">
			    <a href="@itemDisplay.ImageLnkUrl"><img src="@itemDisplay.ImageUrl" alt=""></a>
		    </div>
        }
        else
        {
		    <div class="product-list-view" data-product-list-view="@listViewType" data-product-img-view="@imgView" data-display-idx="@displayIndex" @Html.Raw(strStyle)>
			    <div class="product-title" >
				    <h2 class="product-title__name">@itemDisplay.Title</h2>
			    </div>

            @if (itemDisplay.DispType == 5 || itemDisplay.DispType == 8)
            {
                string strClass = (itemDisplay.DispType == 8) ? "swipe--conatiner" : "product-list";
			    <div id="@objId" data-addyn="@itemDisplay.AddYN" class="@strClass"></div>
            }
            else
            {
                <ul id="@objId" data-addyn="@itemDisplay.AddYN" class="product-list"></ul>
            }

            @if (itemDisplay.AddYN == 'N' && itemDisplay.DispType != 8)
            {
                <div id="list_more_@displayIndex" class="product-list-more">
				    <a href="javascript:void(0);">더보기<span class="icon_arrow_next"></span></a>
			    </div>
            }
		    </div>
        }
        ++displayIndex;
    }
}
@if (Model.MagazineCount > 0 && Model.ItemDisplayList != null)
{
    displayIndex = 0;

	<!--- 상품미리보기 -->
	<div id="productPreview" class="ui_dialog ui_dialog--popup" aria-hidden="true">
		<div class="ui_dialog__overlay" data-close-dialog></div>
		<div class="ui_dialog__content">
		@foreach (SellerShopItemDisplay itemDisplay in Model.ItemDisplayList)
  {
      if (itemDisplay.DispType == 5)
      {
				<div class="product-preview">
					<div class="product">
						<div class="product__image swipe--conatiner" id="shopPrevImgSwipe_@displayIndex">
						</div>
						<div class="product__body">
						</div>
						<a href="#" class="product__detail-btn">상품상세보기</a>
					</div>
					<button type="button" class="button button--favorite"><span class="icon_favorite">관심상품</span></button>
					<button type="button" class="button ui_dialog__close" aria-label="레이어 닫기" data-close-dialog><span class="icon_dialog_close">레이어 닫기</span></button>
				</div>
      }
      ++displayIndex;
  }
		</div>
	</div>
	<!--- //상품미리보기 -->
}

<script id="selleritem_template" type="text/x-handlebars-template">
{{#with displayData}}
    <ul class="product-list">
    {{#each this.ItemList}}
	    <li class="product-list__item">
		    {{#ifNotMagazineDisplayType ../DispType}}
		    <div class="product">
			    <div class="product__image">
				    {{#ifNotMosiacDisplayType ../../DispType}}
					    <a href="javascript:;" onclick="sellershopController.addHistoryAndGo('item', '{{GoodsName}}', '{{getLinkUrl ../../../DispType LandingUrl}}', '{{ImageUrl}}', '');">
						    <img src="{{Image400Url}}" alt="" data-onerror="{{ImageUrl}}" />
					    </a>
				    {{else}}
					    <a href="{{getLinkUrl ../../../DispType LandingUrl}}">
						    <img src="{{Image400Url}}" alt="" data-onerror="{{ImageUrl}}" />
					    </a>
				    {{/ifNotMosiacDisplayType}}
			    </div>
			    <div class="product__body">
				    <div class="product__title">					
					    <a href="javascript:;" onclick="sellershopController.addHistoryAndGo('item', '{{GoodsName}}', '{{LandingUrl}}', '{{ImageUrl}}', '');">{{#if BrandNameTag}}{{BrandNameTag}} {{/if}}{{GoodsName}}</a>
				    </div>
				    <div class="product__price">
					    {{AdCouponPrice}}
				    </div>
			    </div>
		    </div>
		    {{else}}
			    <a href="javascript:;" onclick="sellershopController.addHistoryAndGo('item', '{{GoodsName}}', '{{LandingUrl}}', '{{ImageUrl}}', '');">
				    <img src="{{Image400Url}}" data-original="{{Image400Url}}" alt="" data-onerror="{{ImageUrl}}" />
			    </a>
		    {{/ifNotMagazineDisplayType}}
	    </li>
    {{/each}}
    </ul>
{{/with}}
</script>

<script id="selleritem_pinterest_template" type="text/x-handlebars-template">
{{#with displayData}}
    {{#each this.ItemList}}
        {{#ifPinterestBannerType Type}}
        <li class="product-list__item is-banner">
            <div class="product">
                <div class="product__image">
                    <a href="{{ImageLnkUrl}}"><img src="{{ImagePath}}" alt=""></a>
                </div>
            </div>
        </li>
        {{else}}
	    <li class="product-list__item{{ViewClass}}">
		    <div class="product">
			    <div class="product__image">
					<a href="javascript:;" onclick="sellershopController.addHistoryAndGo('item', '{{GoodsName}}', '{{getLinkUrl ../../../DispType LandingUrl}}', '{{ImageUrl}}', '');">
						<img src="{{Image400Url}}" alt="" data-onerror="{{ImageUrl}}" />
					</a>
			    </div>
			    <div class="product__body">
				    <div class="product__title">					
					    <a href="javascript:;" onclick="sellershopController.addHistoryAndGo('item', '{{GoodsName}}', '{{LandingUrl}}', '{{ImageUrl}}', '');">{{#if BrandNameTag}}{{BrandNameTag}} {{/if}}{{GoodsName}}</a>
				    </div>
				    <div class="product__price">
					    {{AdCouponPrice}}
				    </div>
			    </div>
		    </div>
	    </li>
        {{/ifPinterestBannerType}}
    {{/each}}
{{/with}}
</script>

<script id="selleritem_magazine_template" type="text/x-handlebars-template">

{{#each this.magazineData.ItemList}}
<!-- 상품 3개씩 반복 //-->
<div class="product-list__group">
	<ul>
		{{#each this}}
		<li class="product-list__item">
			<a href="javascript:;" onclick="sellershopController.addHistoryAndGo('item', '{{GoodsName}}', '{{getLinkUrl ../../../DispType LandingUrl}}', '{{ImageUrl}}', '');">
				<img src="{{Image400Url}}" alt="" data-onerror="{{ImageUrl}}" />
			</a>
		</li>
		{{/each}}
	</ul>
</div>
<!-- 상품 3개씩 반복 //-->		
{{/each}}

{{#ifIsNotMain}}
	{{{printPaging this.displayData.ItemList this.displayData.TotalGoodsCount this.displayData.PageSize this.displayData.PageNo "displayItemController"}}}
{{/ifIsNotMain}}
</script>

<script id="selleritem_magazine_newlayer_template" type="text/x-handlebars-template">
<ul class="slider__viewport swipe--unit">
	{{#each displayData.ItemList}}
	
	<li class="slider__item swipe--item"><div class="slider__item-img"><img src="{{Image400Url}}" alt="" onerror="this.onerror=null;this.src='{{ImageUrl}}';"></div></li>
	
	{{/each}}
</ul>

<button type="button" class="button button--roll-prev swipe--btn"><span class="arrow-roll_left">Prev</span></button>
<button type="button" class="button button--roll-next swipe--btn"><span class="arrow-roll_right">Next</span></button>
</script>

<script id="" type="text/x-handlebars-template">
<div class="product-preview">
	<div class="product">
		<div class="product__image swipe--conatiner" id="shopPrevImgSwipe_{{@@index}}">
		</div>
		<div class="product__body">
		</div>
		<a href="#" class="product__detail-btn">상품상세보기</a>
	</div>
	<button type="button" class="button button--favorite"><span class="icon_favorite">관심상품</span></button>
	<button type="button" class="button ui_dialog__close" aria-label="레이어 닫기" data-close-dialog><span class="icon_dialog_close">레이어 닫기</span></button>
</div>
</script>

<script id="add_vod_template" type="text/x-handlebars-template">
<div class="shop--video__item">
	<div class="item-video">
		<div class="item-video__frame">
			{{#ifIsApp}}
				<a href="{{VodUrl}}">
			{{else}}
				<a href="{{VodUrl}}" target="_blank">
			{{/ifIsApp}}
			<span class="data"><img src="{{ImgUrl}}" alt="" /></span>
				<span class="play"><img src="@Urls.MobileImagePics/mobile/corner/shop/img/video_play_m.png" alt="" /></span>
			</a>
		</div>
	</div>
	<div class="item-txt">
		<p class="item-txt_name">{{Title}}</p>
		<p class="item-txt_source">www.youtube.com</p>
		<p class="item-txt_desc"><span class="block">{{Desc}}</span></p>
	</div>
</div>
</script>

<script type="text/javascript">

	var ConstItem = {};
	
	ConstItem.IsMain = @Model.IsMain;
	ConstItem.AddVideoId = "@Model.AddVideoKey";
	ConstItem.MainImageDispType = @ViewBag.Shop.DisplayInfo.MainImageDispType;
	var itemDisplayInfoList = @Html.Raw(itemDisplayList);

	registerDisplayItemHelpers();
	
	var displayItemControllerList = []; 
	var displayItemController = {};
	if ( ConstItem.IsMain == 1 ) { //메인에서는 페이징 불가
		for (var i = 0; i < itemDisplayInfoList.length; ++i) {
		    displayItemControllerList[i] = new DisplayItem(itemDisplayInfoList[i].DispType, itemDisplayInfoList[i].SortType, itemDisplayInfoList[i].AreaNo, i, itemDisplayInfoList[i].Title, itemDisplayInfoList[i].AddYN, itemDisplayInfoList[i].AreaUseType);
		}
	}
	else {
		displayItemController = new DisplayItem(itemDisplayInfoList[0].DispType, itemDisplayInfoList[0].SortType, itemDisplayInfoList[0].AreaNo, 0, itemDisplayInfoList[0].Title, "Y");
	}

	//shop.js에서 호출됨
	var ShopItemList = [];
		
	function magazineSwipeEnd(index,id){
		var goodInfo = $('#' + id).closest('.product-preview'),
			itemData = ShopItemList[id.split('_')[1]][index],
			discounted = itemData.SellPrice !== itemData.AdCouponPrice,
			discountRate = parseInt(itemData.DiscountRate, 10),
			html = [];

		html.push('<div class="product__title">' + itemData.GoodsName +'</div>');
		if (discounted || discountRate !== 0) {
			html.push('<div class="product__price-normal">');

			if (discounted) {
				html.push('<del>' + itemData.SellPrice + '</del>');
			}

			if (discountRate) {
				html.push('<span class="rate">' + itemData.DiscountRate + '%</span>');
			}

			html.push('</div>');
		}
		html.push('<div class="product__price">' + itemData.AdCouponPrice + '</div>');
		goodInfo.find('.product__body').html( html.join('') );
		goodInfo.find('.product__detail-btn').attr('href',itemData.LandingUrl);
		goodInfo.find('.button--favorite').attr('data-goodscode',itemData.GoodsCode);
		goodInfo.find('.button--favorite').attr('onclick','sellershopController.addFavoriteItem('+itemData.GoodsCode+')');
	}

	$(document).ready(function () {
		if (ConstItem.IsMain == 1 && displayItemControllerList != undefined) {
			for (var i = 0; i < displayItemControllerList.length; ++i) {
                if (displayItemControllerList[i].AreaUseType ==  1)
				    displayItemControllerList[i].getItems();
			}
		}
		else {
			var router = new Grapnel();
			router.get('/:sort/:pageNo', function (req) {
				displayItemController.ReqParams.sort = Number(req.params.sort);
				displayItemController.ReqParams.pageNo = Number(req.params.pageNo);
				displayItemController.getItems();
			});

			router.get('', function (req) {
				history.back();
			});
		}
	});
</script>
