@using GMKT.GMobile.Data.SellerShop

<div id="content" class="mshopCtns">
	<div class="@ViewBag.Shop.DisplayInfo.MainImageDisplayClass slim">
		<!-- 메인 상단 -->
		<div class="shop-intro">
			@Html.Partial("_SellerShopHeaderPartial")
			<div id="hcatewrap" class="page-header">
				<h2 class="page-title">전체상품 <span class="count"></span></h2>
				<button type="button" class="button button--prev"><em class="icon_arrow_prev"></em>상위</button>
				<button type="button" class="ui_button category__item-button">상품보기</button>
			</div>
		</div>
		<!-- //메인 상단 -->

		<!-- 카테고리 -->
		<div id="catewrap" class="category-list-view"></div>
		<!-- //카테고리 -->

		<!-- 최근 본 상품 -->
		<div class="page-header page-header_sub">
			<h2 class="page-title">최근 본 상품 <span class="count" id="historyCount">(0)</span></h2>
		</div>
		<!-- 최근 상품목록 -->
		<div class="latest-goods">
			<div class="latest-goods__viewport swipe--conatiner" id="shopHistoryItem">				
			</div>
			<button type="button" id="history_prev" class="button button--roll-prev swipe--btn"><span class="arrow-roll_left2">Prev</span></button>
			<button type="button" id="history_next" class="button button--roll-next swipe--btn"><span class="arrow-roll_right2">Next</span></button>
		</div>
		<!-- //최근 상품목록 -->
		<!-- 최근 상품목록 없음 -->
		<div class="latest-goods__nodata" id="history_fallback" style="display: none;">최근 본 상품이 없습니다.</div>
		<!-- //최근 상품목록 없음 -->
		<!-- //최근 본 상품 -->
@if(Char.ToUpper(ViewBag.Shop.ShopLevel) == 'B')
{
		<!-- 샵베스트 Link -->
		<div class="shopbest-ad"><a href="@Url.Action("BestShop", "ShopBest")"><img src="@(Urls.MobileImagePics)/mobile/corner/shop/img/shopbest.jpg" alt="Minishop Best 인기미니샵을 한 곳에!"></a></div>
		<!-- //샵베스트 Link -->
}
	</div>
@if(!PageAttr.IsApp)
{
	<a href="javascript:;" class="btn_top_bar">Top으로 이동</a>
}
</div>

<script id="category-header-template" type="text/x-handlebars-template">
<h2 class="page-title">{{CurrentNm}} {{#if IsDisplayCount}}<span class="count">({{TotalCount}})</span>{{/if}}</h2>
{{#if HasParent}}
	<button type="button" class="button button--prev" onclick="goToParent();"><em class="icon_arrow_prev"></em>상위</button>
{{/if}}
<button type="button" class="ui_button category__item-button" onclick="goToLP('{{Alias}}', '{{CurrentId}}')">상품보기</button>
</script>

<script id="category-template" type="text/x-handlebars-template">
<ul class="category-list">
	{{#each Children}}
	<li class="category-list__item">
		<a href="javascript:;" class="category__item-link" onclick="childOrLP('{{IsLeaf}}', '{{../Alias}}', '{{CategoryId}}', '{{CategoryNm}}', {{Level}})">
			<span class="category">{{CategoryNm}}</span>
			{{#if ../IsDisplayCount}} <span class="cnt">{{CategoryCount}}</span> {{/if}}
			{{#ifNot IsLeaf}}	<span class="more icon_arrow_next"></span> {{/ifNot}}
		</a>
		<button type="button" class="ui_button category__item-button" onclick="goToLP('{{../Alias}}', '{{CategoryId}}')">상품보기</button>
	</li>
	{{/each}}
</ul>
</script>

<script id="history-template" type="text/x-handlebars-template">
<div class="swipe--unit">
	{{#each data}}
	{{#ifOpenUl @@index}} <ul class="swipe--item"> {{/ifOpenUl}}
		<li><a href="{{Url}}"><img src="{{ImageUrl}}" alt="{{Message}}" /></a></li>
	{{#ifCloseUl @@index}} </ul> {{/ifCloseUl}}
	{{/each}}
</div>
</script>

<script type="text/javascript">
var navCtrl = new Navigation(Const.ALIAS, @((int)ViewBag.RootLevel));
$(document).ready(function() {
	registerNavigationHelpers();
	navCtrl.fetch();
	var historyCtrl = new SellerShopHistoryController(Const.ALIAS);	
});
</script>