@using GMKT.GMobile.Data;

<div id="layer_agree" class="del_ly ly_agree" style="@(ViewBag.Agreement != null && !ViewBag.Agreement.IsAgreePositionInfo && !ViewBag.Agreement.IsAgreeThirdParty ? "display:block" : "display:none")">
	<h4 class="ly_tit">서비스 이용 약관</h4>
	<p class="agree_txt"><input type="checkbox" id="ly_chk1" class="inp_chk" checked="checked" /> <label for="ly_chk1">[G마켓 앱]의 현재 위치 정보 사용에 동의 해주세요.</label><a href="http://member2.gmarket.co.kr/TermsPolicy/LocationInfoTermsPolicy" class="agree_detail">약관 전문 보기</a></p>
	<p class="agree_txt"><input type="checkbox" id="ly_chk2" class="inp_chk" checked="checked" /> <label for="ly_chk2">[G배달] 매장 검색 및 주문을 위하여 위치정보와 고객 번호가 (주)앤팟(배달서비스 제공업체)에 제공되고 서비스이용 완료시까지 보관됩니다.</label></p>
	<a href="#" class="btn_ok">동의하기</a>
	<a href="#" class="btn_close" onclick="popBlockUI('layer_agree'); viewIntro(); return false;"><span class="sp_del">닫기</span></a>
</div>
<!--[D] . 동의 1개는 가입시 한 고객에게 노출 -->
<div id="layer_agree2" class="del_ly ly_agree" style="@(ViewBag.Agreement != null && ViewBag.Agreement.IsAgreePositionInfo && !ViewBag.Agreement.IsAgreeThirdParty ? "display:block" : "display:none")">
	<h4 class="ly_tit">G마켓 배달 서비스 이용 동의</h4>
	<p class="agree_txt v2">[G배달] 매장 검색 및 주문을 위하여 위치정보와 고객번호가 <br />(주)앤팟(배달서비스 제공업체)에 제공되고<br />서비스이용 완료시까지 보관됩니다.</p>
	<a href="#" class="btn_ok">동의하기</a>
	<a href="#" class="btn_close" onclick="popBlockUI('layer_agree2'); viewIntro(); return false;"><span class="sp_del">닫기</span></a>
</div>
<script type="text/javascript">
	var isApp = @(ViewBag.IsApp != null && ViewBag.IsApp == true ? "true" : "false")
	var isAgreePositionInfo = @(ViewBag.Agreement != null && ViewBag.Agreement.IsAgreePositionInfo != null && ViewBag.Agreement.IsAgreePositionInfo == true ? "true" : "false")
	var isAgreeThirdParty = @(ViewBag.Agreement != null && ViewBag.Agreement.IsAgreeThirdParty != null && ViewBag.Agreement.IsAgreeThirdParty == true ? "true" : "false")

	if(!isApp){
		$(document).ready(function () {
//			popBlockUI2('layer_agree');
//			popBlockUI2('layer_agree2');
		});

		if ($('#layer_agree').css('display') == 'block') {
			$("<div id='mask' selected='true'></div>").appendTo("#wrap");
		}
		if ($('#layer_agree2').css('display') == 'block') {
			$("<div id='mask' selected='true'></div>").appendTo("#wrap");
		}
	} else if (isApp && isAgreePositionInfo && isAgreeThirdParty) {
		location.href = "gmarket://returnValue?callback=allowLocationService&parameters=" + encodeURIComponent("positionAgreement=true&thirdpartyAgreement=true");
	}
	

	var viewIntro = function () {
//		$("#service_info").show();
		$("#myshop_title, #myshop_body").remove();
		$("#myshop_paging").remove();
		$("#mypositionshop_title, #mypositionshop_body").remove();

		$('div.mygdel_wrap,div.del_cont').find('a[class!=gdel_tit][class!=btn_close]').unbind('click');
		$('div.shop_srchbx').hide();
		$('div.mygdel_wrap,div.del_cont').find('a[class!=gdel_tit][class!=btn_close]').bind('click', function(event){
			if(isAgreePositionInfo === false && isAgreeThirdParty === false){
				$('#layer_agree').show();
				$("<div id='mask' selected='true'></div>").appendTo("#wrap");
			}
			else if(isAgreePositionInfo === false && isAgreeThirdParty === false){
				$('#layer_agree2').show();
				$("<div id='mask' selected='true'></div>").appendTo("#wrap");
			}
			return false;
		});
	}

	$('a.btn_ok').bind('click', function (event) {
		event.preventDefault();

		$('div.mygdel_wrap,div.del_cont').find('a[class!=gdel_tit][class!=btn_close]').unbind('click');
		$('div.shop_srchbx').show();

		// layer_agree
		if ($(this).offsetParent().prop('id') === 'layer_agree') {
			var isCheckbox1 = $("#ly_chk1").is(':checked');
			var isCheckbox2 = $("#ly_chk2").is(':checked');

			if (isCheckbox1 && isCheckbox2) {
				if (isApp) {
					location.href = "gmarket://returnValue?callback=allowLocationService&parameters=" + encodeURIComponent("positionAgreement=true&thirdpartyAgreement=true");
				}
				else {
					setAgreement(agreementType.position, agreementType.thirdParty, function (data) {
						popBlockUI('layer_agree');
					});
				}
			}
			else {
				alert("약관에 동의해주세요.");
			}
		}
		// layer_agree2
		else {
			if (isApp) {
				location.href = "gmarket://returnValue?callback=allowLocationService&parameters=" + encodeURIComponent("thirdpartyAgreement=true");
			}
			else {
				setAgreement(agreementType.thirdParty, function (data) {
					popBlockUI('layer_agree2');
				});
			}
		}
	});

	var agreementType = {
		position : 1
		, thirdParty : 2
	}

	var setAgreement = function () {
		var queryParameter = {
			IsAgreePositionInfo: false
			, IsAgreeThirdParty: false
		};

		var callback = arguments[arguments.length - 1];

		for (var i = 0; i < arguments.length; i++) {
			if (arguments[i] === agreementType.position) {
				queryParameter.IsAgreePositionInfo = true;
			}
			else if (arguments[i] === agreementType.thirdParty) {
				queryParameter.IsAgreeThirdParty = true;
			}
		}

		$.ajax({
			url: GMobile.Const.mobileWebUrl + "/Delivery/SetAgreement",
			type: "POST",
			data: queryParameter,
			success: callback,
			error: function (data) {
			}
		});
	}
</script>