@model GMKT.GMobile.Web.Models.DeliveryModel
@section Css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/delivery.css" />
	<style type="text/css">
		.adr_resultbx, #cart_count, #myshop_title, #myshop_body, #myshop_paging, #mypositionshop_title, #mypositionshop_body, #service_info { display: none; }
		.btn_refresh
		{
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		.btn_refresh:focus
		{
			outline: 0;
			border:none;
			color: rgba(0, 0, 0, 0);
		}
	</style>
}
<div id="content" class="ctns">
	@* 이용 약관 레이어 *@
	@Html.Partial( "_AgreementPartial", new ViewDataDictionary { { "Agreement", Model.Agreement } })
	<div class="del_banner">
		<div id="bnGrp">
		</div>

		<div id="bnTurn" class="btn_bx">
			<button type="button" id="prev" class="btn_prev"><span class="sp_del">이전</span></button>
			<button type="button" id="next" class="btn_next"><span class="sp_del">다음</span></button>
		</div>

		<p class="page"> <span class="pag" id="banner_current_index">1</span> /  <span class="pag2" id="banner_max_index"></span></p>
		<a href="@Urls.MobileWebUrl/Delivery/BannerAll" class="btn_more"><span class="sp_del">MORE</span></a>
	</div>
	
	<div class="mygdel_wrap">
		<div class="deltit_bx local">
			<a href="#" class="gdel_tit" onclick="GMobile.Delivery.LocationController.getInstance().openLocationLayer(); return false;">
				<span class="location" id="current_address_outer">탐색 중</span> <span class="blind">내위치 새로고침</span>
			</a>
			<a href="@(Urls.MMyGUrl)/Delivery" class="btn_mydel"><span class="sp_del">MY 배달</span></a>
			<a href="#" class="btn_board" id="aCart"><span class="sp_del order">목록</span></a>
			<div id="layer_local" class="del_ly ly_local">
			</div>
		</div>

		<ul class="del_menu" id="category_wrapper">
		</ul>
	</div>

@*	<div class="bn_grp" id="service_info">
		<img src="@Urls.MobileImagePics/mobile.gmarket/images/640/delivery/img_delivery_info.jpg" alt="배달을 쇼핑하다! G배달" />
	</div>*@
	
	<div class="del_cont">
		<div class="deltit_bx" id="myshop_title">
			<h3 class="gdel_tit">나의 맛집 리스트</h3>
		</div>
		<div class="gdel_artbx" id="myshop_body">
			<div id="bnGrp2" class="mydel_area">
			</div>

			<div class="mydel_pagebx" id="myshop_paging">
				<div id="bnTurn2">
					<button type="button" id="prev2" class="btn btn_prev"><span class="sp_del">이전</span></button>
					<button type="button" id="next2" class="btn btn_next"><span class="sp_del">다음</span></button>
				</div>

				<div id="bnIndex2" class="bn_eindex"></div>
			</div>
		</div>

		<div class="deltit_bx" id="mypositionshop_title">
			<h3 class="gdel_tit">내위치 맛집 BEST</h3>
			<a href="#" class="btn_more" id="go_my_position_shop_more">더보기</a>
		</div>
		<div class="gdel_artbx" id="mypositionshop_body">
			<ul class="mydel_lst" id="mypositionshop_wrapper">
			</ul>
		</div>

		<div class="shop_srchbx">
			<span class="inp_wrap"><label for="keyword_delivery_search">검색할 매장명을 입력해주세요</label><input type="text" id="keyword_delivery_search" /></span>
			<button id="go_delivery_search" type="button" class="btn_srch">검색</button>
		</div>

		<div class="del_etcbtn">
			<ul class="etcbtn_bx">
				<li><a href="#" class="btn_etc apply" id="aDeliveryServiceRequest"><span class="txt">G마켓 배달<br />입점신청</span></a></li>
				<li><a href="#" class="btn_etc faq" id="aFaq"><span class="txt">G마켓 배달<br>고객센터</span></a></li>
			</ul>
		</div>
	</div>
@if (false == PageAttr.IsApp)
{
	<a onclick="javascript:window.scrollTo(0, 1);" class="btn_top_main">Top으로 이동</a>
	<div id="rviLayer" style="display:none;" class="recent_wrap"></div>
}
</div>

@section scripts
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/GMobile.Delivery.js?v=3"></script>
	<script type="text/javascript">
		$(function () {
			GMobile.Const.mobileWebUrl = "@Urls.MobileWebUrl";

			var homeController = new GMobile.Delivery.HomeController();
		});
	</script>

	<script id="tmpl_delivery_banner" type="text/x-handlebars-template">
		<li><a href="{{LinkUrl}}"><img src="{{ImageUrl}}" alt="{{BannerName}}" /></a></li>
	</script>

	<script id="tmpl_delivery_category" type="text/x-handlebars-template">
		{{#each Category}}
			<li><a href="{{LinkUrl}}" class="noBorder"><img src="{{ImageUrl}}" alt="{{BannerName}}" />{{CategoryName}}</a></li>
		{{/each}}
	</script>

	<script id="tmpl_delivery_myshop_list" type="text/x-handlebars-template">
		<ul class="mydel_lst">
			{{#each this}}
				<li>
					<div class="mydel_in">
						{{#ifShopTagTypeIsFavorite ShopTagType}}
							<span class="sp_del ico_freq">단골매장</span>
						{{/ifShopTagTypeIsFavorite}}

						{{#ifShopTagTypeIsOrdered ShopTagType}}
							<span class="sp_del ico_order">주문매장</span>
						{{/ifShopTagTypeIsOrdered}}

						<a href="{{LinkUrl}}">
							<span class="img_bx"><img src="{{ImageUrl}}" alt="{{Name}}" /></span>
							<strong class="shop_tit">{{Name}}</strong>

							<div class="grade"><span class="grade_star"><span class="bar" style="width:{{getStarPercentage StarCount}}%"></span></span> <span class="review_num">({{CommentCount}})</span></div>

							<p class="shop_info">
								{{#if CanBuyConstraint}}
									<span>{{CanBuyConstraint}}</span>
								{{/if}}
								{{#if DeliveryTime}}
									<span class="time">{{DeliveryTime}}</span>
								{{/if}}
								{{#if Benefit}}
									<em class="saving">{{Benefit}}</em>
								{{/if}}
							</p>
						</a>

						<div class="btn_bx">
							{{#ifBuyNowShowTypeIsShow BuyNowShowType}}
								<a href="{{LinkUrl}}" class="btn_order">즉시주문</a>
							{{/ifBuyNowShowTypeIsShow}}

							{{#ifBuyNowShowTypeIsDimmed BuyNowShowType}}
								<a href="{{LinkUrl}}" class="btn_order none">즉시주문</a>
							{{/ifBuyNowShowTypeIsDimmed}}

							{{#if Tel}}
								<a href="tel:{{Tel}}" class="btn_call">전화주문</a>
							{{/if}}
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</script>

	<script id="tmpl_delivery_mypositionshop_list" type="text/x-handlebars-template">
		{{#each this}}
			<li>
				<div class="mydel_in">
					{{#ifShopTagTypeIsFavorite ShopTagType}}
						<span class="sp_del ico_freq">단골매장</span>
					{{/ifShopTagTypeIsFavorite}}

					{{#ifShopTagTypeIsOrdered ShopTagType}}
						<span class="sp_del ico_order">주문매장</span>
					{{/ifShopTagTypeIsOrdered}}

					<a href="{{LinkUrl}}">
						<span class="img_bx"><img src="{{ImageUrl}}" alt="{{Name}}" /></span>
						<strong class="shop_tit">{{Name}}</strong>

						<div class="grade"><span class="grade_star"><span class="bar" style="width:{{getStarPercentage StarCount}}%"></span></span> <span class="review_num">({{CommentCount}})</span></div>

						<p class="shop_info">
							{{#if CanBuyConstraint}}
								<span>{{CanBuyConstraint}}</span>
							{{/if}}
							{{#if DeliveryTime}}
								<span class="time">{{DeliveryTime}}</span>
							{{/if}}
							{{#if Benefit}}
								<em class="saving">{{Benefit}}</em>
							{{/if}}
						</p>
					</a>

					<div class="btn_bx">
						{{#ifBuyNowShowTypeIsShow BuyNowShowType}}
							<a href="{{LinkUrl}}" class="btn_order">즉시주문</a>
						{{/ifBuyNowShowTypeIsShow}}

						{{#ifBuyNowShowTypeIsDimmed BuyNowShowType}}
							<a href="{{LinkUrl}}" class="btn_order none">즉시주문</a>
						{{/ifBuyNowShowTypeIsDimmed}}

						{{#if Tel}}
							<a href="tel:{{Tel}}" class="btn_call">전화주문</a>
						{{/if}}
					</div>
				</div>
			</li>
		{{/each}}
	</script>
}