@using GMKT.GMobile.Data.ShopBest;
@using GMKT.GMobile.Data.Search;

<div class="sb-header">
	<h2 class="sb-header__header"><img src="@(Urls.MobileImagePics)/mobile/corner/shopbest/tit_minishop_best.gif" alt="MINISHOP BEST" /></h2>
@*	<ul class="sb-header__navi" id="sb_navi">
		<li id="shop_best" @(ViewBag.MenuIndex == "1" ? Html.Raw("class=\"on center\"") : Html.Raw(""))><a href="/ShopBest/BestShop" onclick="_ubLog('1-1', _ubLogActEnum.click); return true;">인기미니샵</a></li>
		<li id="brand" @(ViewBag.MenuIndex == "2" ? Html.Raw("class=\"on center\"") : Html.Raw(""))><a href="/ShopBest/Brand" onclick="_ubLog('1-2', _ubLogActEnum.click); return true;">브랜드미니샵</a></li>
		<li id="shop_new" @(ViewBag.MenuIndex == "3" ? Html.Raw("class=\"on center\"") : Html.Raw(""))><a href="/ShopBest/NewShop" onclick="_ubLog('1-3', _ubLogActEnum.click); return true;">신규미니샵</a></li>
	</ul>*@
	@if( ViewBag.HasBestGroup )
	{
	<div @(ViewBag.HasOnlyFavoriteShopButton ? Html.Raw("class=\"sb-header__filter sb-header__filter-btn\"") : Html.Raw("class=sb-header__filter"))>
		<select class="styled full" id="sb_cate_selector" @(ViewBag.IsFavoriteShop == true ? Html.Raw( "disabled=\"disabled\"" ) : Html.Raw( "" ))>
		@foreach( BestSellerGroupInfo group in Model.BestSellerGroupList )
		{
			<option value="@group.GroupCode" @(Model.GroupCode == group.GroupCode ? Html.Raw( "selected=\"selcted\"" ) : Html.Raw( "" ))>@group.GroupName</option>
		}
		</select>
		@if( ViewBag.HasOnlyFavoriteShopButton )
		{
			if(PageAttr.IsLogin)
			{
				if(ViewBag.IsFavoriteShop == true)
				{
		<a class="button--sbest filter_button-favorite" href ="/ShopBest/BestShop">관심매장보기 해제</a>
				}
				else
				{
		<a class="button--sbest filter_button-favorite" href ="/ShopBest/FavoriteShop?menuIndex=@ViewBag.MenuIndex">관심매장만 보기</a>
				}
			}
			else
			{
		<a href="@(Urls.LoginUrl)?URL=@Request.Url.ToString()" onclick="alert('로그인 하셔야 합니다.'); return true;" class="button--sbest filter_button-favorite">@(ViewBag.IsFavoriteShop == true ? Html.Raw( "관심매장보기 해제" ) : Html.Raw( "관심매장만 보기" ))</a>	
			}
		}
	</div>
	}
</div>
