@using GMKT.GMobile.Constant;
@using GMobile.Data.Tiger;
@using GMobile.Data.DisplayDB;
@using GMobile.Data.Diver;
@model GMKT.GMobile.Web.Models.HomeModel

@{
	PageAttr.IsMain = true;
	string strPopupYn = "N";
	string strNType = string.Empty;
	string strNKind = string.Empty;
	string strNContent = string.Empty;
	string strAppCheck = "N";

	string strAppInfo = string.Empty;
	string strIpadPopupYn = "N";

	if (Request.Cookies["app_info"] != null &&
			!string.Empty.Equals(Request.Cookies["app_info"].Value))
	{
		strAppInfo = Request.Cookies["app_info"].Value.ToUpper();
		string[] arrAppInfo = strAppInfo.Split(':');

		if ((arrAppInfo[0] == "IPHONE") && (arrAppInfo[2] == "IPAD"))
		{
			strIpadPopupYn = "Y";
		}

	}


	if (PageAttr.IsIphone == true || PageAttr.IsIpod == true)
	{
		strNType = "I";
	}
	else if (PageAttr.IsAndroid == true)
	{
		strNType = "A";
	}
	else
	{
		strNType = "";
	}

	if (Model.PopupList.Count > 0)
	{
		for (int k = 0; k < Model.PopupList.Count; k++)
		{
			if (strNType == Model.PopupList[k].NType && Model.PopupList[k].NKind == "A")
			{
				strNContent = Model.PopupList[k].NContent;
				strPopupYn = "Y";
			}
		}
	}

	if (PageAttr.IsIphoneApp || PageAttr.IsAndroidApp)
	{
		strAppCheck = "Y";
	}

	string GmarketAppURL = "";
	string G9AppUrl = "";
	if (PageAttr.IsAndroid)
	{
		GmarketAppURL = "market://details?id=com.ebay.kr.gmarket";
		G9AppUrl = "market://details?id=com.ebay.kr.g9";
	}
	else
	{
		GmarketAppURL = "http://itunes.apple.com/kr/app/gmarket/id340330132?mt=8";

		if (PageAttr.IsIpad)
		{
			G9AppUrl = "http://itunes.apple.com/kr/app/id688158993?mt=8";
		}
		else
		{
			G9AppUrl = "http://itunes.apple.com/kr/app/id781174192?mt=8";
		}
	}

	int superDealFcdCode = 703300017;

}

  <hr />



	<!-- CONTENT -->
	<div id="content" class="ctns">
			
		<!-- 반응형웹 -->
		<div class="rspn_wrap">

		<!-- 반응형웹 (좌측컨탠츠) -->
		<div class="rspn1">
			<div class="rspn1_sub">
            
            @*<!-- for test -->
            <a href="#" onclick="deletePopupT()">deletePopupT</a>
            <a href="#" onclick="javascript:alert(navigator.userAgent);">useragent</a>
            <a href="#" onclick="javascript:alert('@strAppInfo');">strAppInfo</a>
            <a href="#" onclick="javascript:alert(document.cookie.replace(/;/gi,'\n\n').replace(/ /gi,'* ').replace(/&/gi,'\n - ').replace(/5F/gi,'_').replace(/7F/gi,'').replace(/%/gi,'').replace(/=/gi,' = '));">쿠키확인</a>*@

@{
	int intCount = 1;
	string strCount = "";
}
@if (Model.AdBannerList.Count > 0)
{
			<!-- BANNER -->	
			<div class="ban_wrap">
				<div class="bn_grp ban" id="bnGrpBG">
					<img src="@Urls.MobileImageUrlV2/loading_640X240.gif" alt="loading..." />
				</div>
				<div class="bn_grp ban" id="bnGrp">
					<ul style="display:none;">
    @foreach (AdBannerT adBanner in Model.AdBannerList)
	{
		if (intCount >= 10)   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
		{
			strCount = "7032000" + intCount;   
            <li><a onclick="AdBannerClick(@intCount)" href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@TextUtil.SafeString(adBanner.BnLinkUrl, "")" >
						<img class="mainBannerLazyImage" src="@Urls.MobileImageUrlV2/loading_640X240.gif" data-original="@Const.GMW_WEB_IMG_URL@TextUtil.SafeString(adBanner.BnImgPath, "")@adBanner.BnImgNm" alt="배너이미지1" style="height:auto;" /></a></li>
		}
		else
		{
			strCount = "70320000" + intCount; 
            <li><a  onclick="AdBannerClick(@intCount)"  href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@TextUtil.SafeString(adBanner.BnLinkUrl, "")">
						<img class="mainBannerLazyImage" src="@Urls.MobileImageUrlV2/loading_640X240.gif" data-original="@Const.GMW_WEB_IMG_URL@TextUtil.SafeString(adBanner.BnImgPath, "")@adBanner.BnImgNm" alt="배너이미지1" style="height:auto;" /></a></li>
		}

		intCount++;
	}
					</ul>
				</div>
				<div id="bnTurn" class="bn_turn" style="display:none;">
		     		<button type="button" id="prev" class="prev" onclick="gallery1PREV();gallery1.prev();return false;"><span></span></button>
					<button type="button" id="next" class="next" onclick="gallery1NEXT();gallery1.next();return false;"><span></span></button>
				</div>

				<!-- 131128_추가 -->
				<div id="bnIndex12" class="bn_index">
	@for( int k = 0; k < Model.AdBannerList.Count; k++ )
	{
		if ( k == 0 )
		{
					<p class="selected"></p>
		}
		else
		{
					<p></p>
		}
	}
				</div>
				<div class="bnr_all"><a href="javascript:void(0)">ALL</a></div>
				<!-- //131128_추가 -->

			</div>			
			<!-- //BANNER -->
}

@{
	intCount = 16;
	strCount = "";
}
@if (Model.MobileHomeIconList.Count > 0)
{			
			<!-- MAIN BENEFIT -->
			<div class="mjr_bnf_wrap">
				<div class="mjr_bnf">
					<ul>
    @foreach (MobileHomeIconT homeIcon in Model.MobileHomeIconList)
	{
		strCount = "7032000" + intCount;   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
            <li>
            @if (strCount.Equals("703200016"))
			{
                <a href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@homeIcon.IconLnkUrl"><span class="bnf"><img src="@homeIcon.IconImageUrl"/></span></a>
			}
			else if (strCount.Equals("703200017"))
			{
                <a href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@homeIcon.IconLnkUrl"><span class="bnf"><img src="@homeIcon.IconImageUrl"/></span></a>
			}
			else if (strCount.Equals("703200018"))
			{
                <a href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@homeIcon.IconLnkUrl"><span class="bnf"><img src="@homeIcon.IconImageUrl"/></span></a>
			}
			else if (strCount.Equals("703200019"))
			{
                <a href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@homeIcon.IconLnkUrl"><span class="bnf"><img src="@homeIcon.IconImageUrl"/></span></a>
			}
            @if (homeIcon.IsIconNew == true)
			{
				<span class="new"></span>
			}
		</li>
       

			intCount++;

	}
					</ul>
				</div>
			</div>
			<!-- //MAIN SERVICE -->
}


@if (Model.SpecialVisible == true)
{
			<!-- MOBILE SPECIAL --> <!-- 20130417 -->
			<div class="mbl_sp_wrap">


                <div class="mbl_sp">
					<p class="msp1">
                        <img src="@Urls.MobileImageUrlV2/640/txt_ms.png" alt="모바일 스페셜" class="tit" />
                    
						
					<p class="msp2">
                     <img src="@Urls.MobileImageUrlV2/640/icon_hot.png" alt="HOT" class="hot" /><a href="http://sna.gmarket.co.kr/?fcd=703200020&url=@Model.SpecialLink" class="txt">@Html.Raw(Model.SpecialText)</a><a href="http://sna.gmarket.co.kr/?fcd=703200020&url=@Model.SpecialLink" class="txt"><img src="@Urls.MobileImageUrlV2/640/icon_play.png" alt="" class="play" /></a>
@*
2013-05-03 이윤호
프로모션바 GAdmin으로 등록할 수 있기 전까지 사용할 모델
반영시간에 따라 자동으로 문구와 URL 변경할 수 있도록 함

@if (Model.LinkText == string.Empty)
{
						<img src="@Urls.MobileImageUrlV2/640/icon_hot.png" alt="HOT" class="hot" /><a href="@Urls.MWebUrl/Event/2013/04/0419_supermileage/m_supermile.asp" class="txt">모바일 구매하면 무조건 <span>더블마일리지!</span></a><img src="@Urls.MobileImageUrlV2/640/icon_play.png" alt="" class="play" />	
}
else
{
						<img src="@Urls.MobileImageUrlV2/640/icon_hot.png" alt="HOT" class="hot" /><a href="@Model.LinkURL" class="txt">@Html.Raw(Model.LinkText)</a><img src="@Urls.MobileImageUrlV2/640/icon_play.png" alt="" class="play" />
}
*@
					
                    </p>
				</div>
    
			</div>
			<!-- //MOBILE SPECIAL --> <!-- //20130417 -->
}
@{
	string SnaDisplayToday = "703300001";  // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
}

			<!-- GOOD SERIES -->

            <div class="box_super_deal">

@if (Model.TodaySpecial.Count > 0)
{
				<div class="title">
					<h3><span>슈퍼딜</span></h3>
				</div>
				<ul class="list_thumb_txt01">

	@for (int index = 0; index < Model.TodaySpecial.Count; index++)
 {
	 var item = Model.TodaySpecial[index];

					<li><a href="http://sna.gmarket.co.kr/?fcd=@superDealFcdCode&url=@Urls.MItemWebURL/Item?goodscode=@item.GdNo">
						<div class="thumb">
							<img class="superDealLazyImage" src="@Urls.MobileImageUrlV2/loading_320x220.gif" 
								data-original="@item.ImageURL"/>
						</div>
						<div class="cont">
							<div class="tit">@item.ItemTitle</div>
							<div class="s_cont">
							@if (@item.DiscountRate > 2)
	   {
								<span class="percent">@item.DiscountRate<span>%</span></span>
	   }
								<span class="price">
							@if (@item.DiscountRate != 0)
	   {
									<span class="p01">@CurrencyUtil.ToMoney(@item.OriginalPrice, false)</span>
	   }
									<span class="p02">@CurrencyUtil.ToMoney(@item.Price, false)<span>원</span></span>
								</span>
							</div>
						</div>
						@if ("무료".Equals(@item.DeliveryInfo))
	  {
							<div class="flag"><img src="@Urls.MobileImageUrlV2/640/flag_free_ship.gif" alt="무료배송" /></div>
	  }
					</a></li>
	  superDealFcdCode++;
 }
                </ul>
}
			</div>

            <input id="hidTodaySpecialCnt" name="hidTodaySpecialCnt" type="hidden" value="@Model.TodaySpecial.Count" />
			<!-- //GOOD SERIES -->

	
			</div>
		</div>
		<!-- //반응형웹 (좌측컨탠츠) -->
		
		<!-- 반응형웹 (우측컨탠츠) -->
		<div class="rspn2">

@{
	int i = 1;
	intCount = 2;
	string SnaBestSellList = "703400001";  
}


@if (Model.BestSellerList.Count > 0)
{
			<!-- GMARKET BEST -->
			<div class="gmk_best sctn_tit">

				<div class="tit_grp">
					<h3>G마켓 베스트</h3>
                     <a href="http://sna.gmarket.co.kr/?fcd=@SnaBestSellList&url=@Urls.MobileWebUrl/Display/BestSellerList" class="more"><span>더보기</span></a>
                </div>

				<div class="bn_grp has_main" id="bnGrp3">
    @foreach (SearchGoods bestSeller in Model.BestSellerList)
	{
		if (intCount < 10)   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
		{
			strCount = "70340000" + intCount;
		}
		else
		{
			strCount = "7034000" + intCount;
		}

		if (i % 6 == 1)
		{
				    @:<ol class="bn_sub3">
        }
						<li>
							<a href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@HttpUtility.UrlEncode(ConstDef._GMW_OLD_MOBILEWEB_GOOD_URL + bestSeller.gd_no)">
								<span class="num">@i</span>
								<span class="tit">@bestSeller.gd_nm</span>
								<img class="gmarketBestLazyImage" src="@Urls.MobileImageUrlV2/loading_200x200.gif" data-original="@BizUtil.GetGoodsImagePath(bestSeller.gd_no, "M3")" alt="" />
								<span class="prc">@CurrencyUtil.ToMoney(bestSeller.sell_price - bestSeller.disc_price, false)<span>원</span></span>
							</a>
						</li>
		if (i % 6 == 0)
		{
				    @:</ol>
        }

		if (i == 30)
		{
			break;
		}

		i++;
		intCount++;
	}
				</div>
				<div id="bnIndex3" class="bn_index">
@{
	int totalPageCnt = 1;
	totalPageCnt = i / 6;
}
    @if (i % 6 > 0)
	{
		totalPageCnt++;
	}
					<p class="selected"></p>
    @for (int page = 1; page < totalPageCnt; page++)
	{
					<p></p>
	}
				</div>
			</div>
			<!-- //GMARKET BEST -->
}

@{
	int j = 1;
	intCount = 2;
	string SnaShopList = "703500001";  
}
@if (Model.PopularPlanList.Count > 0)
{
			<!-- MOBILE PLAN -->
			<div class="mbl_plan sctn_tit">

				<div class="tit_grp">
					<h3>모바일 기획전</h3>
					<a href="http://sna.gmarket.co.kr/?fcd=@SnaShopList&url=@Urls.MobileWebUrl/Display/SpecialShoppingList"   class="more"><span>더보기</span></a>
				</div>

				<div class="bn_grp" id="bnGrp4">
    @foreach (MobileShopPlanT popularPlan in Model.PopularPlanList)
	{
		if (intCount < 10)   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
		{
			strCount = "70350000" + intCount;
		}
		else
		{
			strCount = "7035000" + intCount;
		}


		if (j % 3 == 1)
		{
					@:<ul class="bn_sub4"> <!-- class설정 다른페이지의 소스와 구별필요 -->
        }
						<li>
					<a href="http://sna.gmarket.co.kr/?fcd=@strCount&url=@Urls.MobileWebUrl/Display/SpecialShopping?lcId=@popularPlan.GdlcCd&sid=@popularPlan.Sid">
                    <span class="tit">@popularPlan.Title</span>
				    @*<img src="@popularPlan.MobileThumbImageUrl" alt="" />*@
                    <img class="mobilePlanLazyImage" src="@Urls.MobileImageUrlV2/loading_320X220.gif" data-original="@popularPlan.MobileThumbImageUrl" alt="" />
				    <span class="desc">@popularPlan.MobilePromoteText</span></a>
         
						</li>
		if (j % 3 == 0)
		{
					@:</ul>
        }

		if (j == 15)
		{
			break;
		}

		j++;
		intCount++;
	}

				</div>
				<div id="bnIndex4" class="bn_index2">
@{
	int totalPageCnt = 1;
	totalPageCnt = j / 3;
}
    @if (j % 3 > 0)
	{
		totalPageCnt++;
	}
					<p class="selected"></p>
    @for (int page = 1; page < totalPageCnt; page++)
	{
					<p></p>
	}
				</div>
			</div>
			<!-- //MOBILE PLAN -->
}
@{
	string svc1 = "703600001";    // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
	string svc2 = "703600002";
}

			

			<!-- MAJOR SERVICE -->
			<div class="svc_go_wrap">
				<p>서비스 바로가기</p>
				<div class="svc_go_cont">
					@{Html.RenderAction("ServiceList", "Home");}
				</div>
				<div class="down_go">
					<a href="http://sna.gmarket.co.kr/?fcd=703800001&url=@GmarketAppURL" class="gd">G마켓 앱 다운로드</a>
					<a href="http://sna.gmarket.co.kr/?fcd=703800002&url=@G9AppUrl" class="gd2">G9 앱 다운로드</a>
				</div>
			</div>
			<!-- //MAJOR SERVICE -->
		
		</div>
		<!-- //반응형웹 (우측컨탠츠) -->

		</div>
		<!-- //반응형웹 -->

		<div class="lyr" id="lyr" style="display:none" >

			<!-- 레이어(컨텐츠) -->
			
			@Html.Raw(strNContent)

			<!-- //레이어(컨텐츠) -->

			<!-- 닫기버튼 -->
			<div class="cls_wrap">
				<a href="#" class="no_see" onclick="fnAll();popBlockUI('lyr');return false;">
					<img src="@Urls.MobileImageUrlV2/640/btn_bg2.png" alt="" /><span>다시보지 않기</span>
				</a>
				<a href="#" class="cls" onclick="fnToday();popBlockUI('lyr');return false;"><img src="@Urls.MobileImageUrlV2/640/btn_bg2.png" alt="" /><span>닫기</span></a>
				<img src="@Urls.MobileImageUrlV2/640/bg_lyr_bot2.png" alt="" class="bot" />
			</div>
			<!-- //닫기버튼 -->

		</div>

		<!-- 131128_추가 -->
		<div id="layer_bnr_all">
			<div class="lay_tit"><strong>대한민국 1등 온라인 쇼핑</strong></div>
			<ul class="list_bnr"></ul>
			<a class="close" href="#"><span>닫기</span></a>
		</div>
		<!-- //131128_추가 -->

    @if (strIpadPopupYn == "Y")
	{
        <!-- 레이어 --> <!-- 20130802 -->
		<div class="lyr st2" id="ipadlyr" style="display:none">

			<!-- 레이어(컨텐츠) -->
			<div class="lyr_ctns">				
				<img src="@Urls.MobileImageUrlV2/event/popup/icon_gmarket_hd.png" alt="Gmarket" class="logo" />
				<p class="txt"><span>G마켓 아이패드 앱 새버전<br /> 다운로드</span>하고 언제 어디서나<br />편리하게 쇼핑하세요!</p>
				<a href="https://itunes.apple.com/kr/app/id404552480?mt=8" class="down"><img src="@Urls.MobileImageUrlV2/event/popup/btn_ipad_down.png" alt="아이패드 앱 다운로드 하기" /></a>
			</div>
			<!-- //레이어(컨텐츠) -->
			
			<!-- 닫기버튼 -->
			<div class="cls_wrap">
				<a href="#" class="no_see" onclick="fnAll();popBlockUI('ipadlyr');return false;"><img src="@Urls.MobileImageUrlV2/640/btn_bg2.png" alt="" /><span>다시보지 않기</span></a><a href="#" class="cls" onclick="fnToday();popBlockUI('ipadlyr');return false;"><img src="@Urls.MobileImageUrlV2/640/btn_bg2.png" alt="" /><span>닫기</span></a>
				<img src="@Urls.MobileImageUrlV2/640/bg_lyr_bot2.png" alt="" class="bot" />
			</div>
			<!-- //닫기버튼 -->

		</div>
		<!-- //레이어 --> <!-- //20130802 -->    
	}


	</div>
	<!-- //CONTENT -->

	<div id="mask" style="display:none"></div>

	<hr />

   <input type="hidden" id="navigallery1" name="navigallery1" />

<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery.lazyload.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {

		try {

			var bannerWidth = $('#bnGrp').width();
			var bannerHeight = 125;

			if ($(window).width() > 800) bannerWidth = parseInt($(window).width() - $('#bnGrp4').width());
			bannerHeight = parseInt(bannerWidth * 300 / 800);

			$('#bnGrpBG').css({ "height": bannerHeight, 'background-color': '#f7f7f7' });
			$('#bnGrp').css({ "height": bannerHeight, 'background-color': '#f7f7f7' });
			$("#bnGrpBG").remove();
			$("#bnTurn").show();

			var PopupYn = "@strPopupYn";
			var AppChk = "@strAppCheck";
			var IpadPopupYn = "@strIpadPopupYn";

			if (AppChk == 'N') {//app이 아닐때
				if (PopupYn == "Y") {
					if (getCookie("PopupT") != "N") {
						displayLayers('lyr', 'mask', '');
						popBlockUI2('lyr');
					}
				}
			} else if (AppChk == 'Y') {
				if (IpadPopupYn == "Y") {
					if (getCookie("PopupT") != "N") {
						displayLayers('ipadlyr', 'mask', '');
						popBlockUI2('ipadlyr');
					}
				}
			}

			flicking("bnGrp", "prev", "next");

			flicking("bnGrp3");

			flicking("bnGrp4");

			responseWeb(); //반응형웹 호출

			setTimeout(function () {
				displayLayer("progress_icon", "none");
				var appYN = "@strAppCheck";
				if (appYN == "N") {
					window.scrollTo(0, 1);
				}
			}, 100);

			lazyLoad();

			$(window).bind('orientationchange', function orientationChanged() {

				setTimeout(function () {

					$('.rspn2').find('.gmarketBestLazyImage').lazyload();
					$('#bnGrp4').find('.mobilePlanLazyImage').lazyload();

					$(window).trigger('resize');
				}, 1000);
			});
		}
		catch (ex) {
			alert(ex.message);
		}
	});

	function lazyLoad() {

		$(".mainBannerLazyImage").lazyload({
			event: "lazyevent"
		});

		$(".mainBannerLazyImage").trigger("lazyevent");

		$('.superDealLazyImage').lazyload();
		$('.gmarketBestLazyImage').lazyload();
		$('.mobilePlanLazyImage').lazyload();
	}

	function resizeWindow() {

		lazyLoad();

		//$(window).trigger('resize');

		setTimeout(function () {
			resizeWindow();
		}, 1000);
	}

	var layer_banner_all = {}
	layer_banner_all.items = [];
	$(window).load(function () {
		initBannerAllLayer();
	});

	function initBannerAllLayer() {

		var $box_list_bnr = $('#layer_bnr_all')
		var $list_bnr = $('#layer_bnr_all .list_bnr');
		var $list_bnr_close = $box_list_bnr.find('.close');
		var box_list_items = '';
		$('.bnr_all > a').on('click', function () {

			$box_list_bnr.show();

			$('#wrap').addClass('no_highlight');
			$("<div id='mask' selected='true'></div>").appendTo("#wrap");
			for (var i = 0; i < layer_banner_all.items.length; i++) {
				box_list_items += '<li>' + layer_banner_all.items[i] + '</li>';
			}
			$list_bnr.html(box_list_items);
			setTimeout(function () {
				$('#wrap #mask').on('click', function (e) {
					if (e.target.getAttribute('id') == 'mask') {
						$('#wrap').removeClass('no_highlight');
						$('#wrap #mask').off();
						layer_banner_all.items = [];
						$box_list_bnr.hide();
						$("#wrap #mask").remove();
					}
				});
			}, 100);

			$('#layer_bnr_all img').lazyload();
			setTimeout(function () {
				$(window).trigger('resize');
			}, 200);
		});
		$list_bnr_close.on('click', function () {

			$('#wrap #mask').off();
			layer_banner_all.items = [];
			$('#wrap').removeClass('no_highlight');

			setTimeout(function () {

				$("#wrap #mask").remove();
				$box_list_bnr.hide();

			}, 300)
			return false;
		});

	}

	//<![CDATA[
  var gallery1,
		el,
		i,
		page,
		dots1 = document.querySelectorAll('#bnIndex button');
	var dots12 = document.querySelectorAll('#bnIndex12 p');

  /* HTML 파싱 */
  var bnGrpList1 = $("#bnGrp li");
  var bnGrpListAtag1 = [];
  // 시작포인트 랜덤
  var index1 = 0;
  randomPage1 = Math.floor(Math.random() * (bnGrpList1.length));
  for (var j = randomPage1; j < bnGrpList1.length; j++, index1++) {
      bnGrpListAtag1[index1] = bnGrpList1[j].innerHTML;
     }
  
  if (randomPage1 > 0) {
      for (var j = 0; j < randomPage1; j++, index1++) {
          bnGrpListAtag1[index1] = bnGrpList1[j].innerHTML;
      }
  }

  if (bnGrpList1.length > 1) {
        	/* 131205 */
        	var bnGrpListAtag1_planned = [];

        	for (var j = 0; j < bnGrpList1.length; j++) {
        		bnGrpListAtag1_planned[j] = bnGrpList1[j].innerHTML;
        	}
        	layer_banner_all.items = bnGrpListAtag1_planned;
        	/* //1311205 */
  }

  $("#navigallery1").val(randomPage1);  //임프레션 집계 추가
  AdBanner(randomPage1);  //임프레션 집계 추가

  var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");
  /* //HTML 파싱 */

  gallery1 = new SwipeView('#bnGrp', {
      numberOfPages: bnGrpListAtag1.length,
      hastyPageFlip: true,
      flickTime: 1000 // 4초후 
  });

  // Load initial data
  for (i = 0; i < 3; i++) {
      if (1 == bnGrpListAtag1.length) {
          page = i == 0 || 2 ? bnGrpListAtag1.length - 1 : i - 1;
      }
      else {
          page = i == 0 ? bnGrpListAtag1.length - 1 : i - 1;
      }

      el = document.createElement('span');
      el.innerHTML = bnGrpListAtag1[page];
      gallery1.masterPages[i].appendChild(el)

      el.width = bnGrpListAtag1[page].width;
      el.height = bnGrpListAtag1[page].height;
      el.onload = function () { this.className = ''; }
  }

  gallery1.onFlip(function () {
  	var el,
			upcoming,
			i;

  	for (i = 0; i < 3; i++) {
  		upcoming = gallery1.masterPages[i].dataset.upcomingPageIndex;

  		if (upcoming != gallery1.masterPages[i].dataset.pageIndex) {
  			el = gallery1.masterPages[i].querySelector('span');
  			el.innerHTML = bnGrpListAtag1[upcoming];

  			$(".mainBannerLazyImage").lazyload({
  				event: "lazyevent"
  			});

  			$(".mainBannerLazyImage").trigger("lazyevent");

			var next = getBannerPageIndex(gallery1.pageIndex);
  			document.querySelector('#bnIndex12 .selected').className = '';
  			dots12[next].className = 'selected';
  		}
  	}

  });

  document.querySelector('#bnIndex12 .selected').className = '';
  dots12[randomPage1].className = 'selected';

  function getBannerPageIndex(pageIndex) {

  	if (randomPage1 + pageIndex >= bnGrpListAtag1.length)
  		return randomPage1 + pageIndex - bnGrpListAtag1.length;

  	return pageIndex + randomPage1;
  }

  var gallery3,
		el,
		i,
		page,
		dots3 = document.querySelectorAll('#bnIndex3 p');

  //HTML 파싱
  var bnGrpList3 = $("#bnGrp3 ol");
  var bnGrpListAtag3 = [];
  for (var j = 0; j < bnGrpList3.length; j++) {
      bnGrpListAtag3[j] = bnGrpList3[j].innerHTML;
  }
  var globalBnGrpListAtag3 = bnGrpListAtag3.join(",");
  //HTML 파싱

  gallery3 = new SwipeView('#bnGrp3', {
      numberOfPages: bnGrpListAtag3.length,
      hastyPageFlip: true,
      flickTime: 0 // 0은 작동안함
  });

  // Load initial data
  for (i = 0; i < 3; i++) {
      if (1 == bnGrpListAtag3.length) {
          page = i == 0 || 2 ? bnGrpListAtag3.length - 1 : i - 1;
      }
      else {
          page = i == 0 ? bnGrpListAtag3.length - 1 : i - 1;
      }

      el = document.createElement('ol');
      el.innerHTML = bnGrpListAtag3[page];
      gallery3.masterPages[i].appendChild(el)

      el.width = bnGrpListAtag3[page].width;
      el.height = bnGrpListAtag3[page].height;
      el.onload = function () { this.className = ''; }
  }

  gallery3.onFlip(function () {
      var el,
			upcoming,
			i;

      for (i = 0; i < 3; i++) {
          upcoming = gallery3.masterPages[i].dataset.upcomingPageIndex;

          if (upcoming != gallery3.masterPages[i].dataset.pageIndex) {
              el = gallery3.masterPages[i].querySelector('ol');
              el.innerHTML = bnGrpListAtag3[upcoming];

              $(".gmarketBestLazyImage").lazyload({
              	event: "lazyevent"
              });

              $(".gmarketBestLazyImage").trigger("lazyevent");
          }
      }

      document.querySelector('#bnIndex3 .selected').className = '';
      dots3[gallery3.pageIndex].className = 'selected';

  });

  var gallery4,
		el,
		i,
		page,
		dots4 = document.querySelectorAll('#bnIndex4 p');

  var bnGrpList4 = $("#bnGrp4 ul");
  var bnGrpListAtag4 = [];
  for (var j = 0; j < bnGrpList4.length; j++) {
      bnGrpListAtag4[j] = bnGrpList4[j].innerHTML;
  }
  var globalBnGrpListAtag4 = bnGrpListAtag4.join(",");

  gallery4 = new SwipeView('#bnGrp4', {
      numberOfPages: bnGrpListAtag4.length,
      hastyPageFlip: true,
      flickTime: 0 // 0은 작동안함
  });

  // Load initial data
  for (i = 0; i < 3; i++) {
      if (1 == bnGrpListAtag4.length) {
          page = i == 0 || 2 ? bnGrpListAtag4.length - 1 : i - 1;
      }
      else {
          page = i == 0 ? bnGrpListAtag4.length - 1 : i - 1;
      }

      el = document.createElement('ul');
      el.innerHTML = bnGrpListAtag4[page];
      gallery4.masterPages[i].appendChild(el)

      el.width = bnGrpListAtag4[page].width;
      el.height = bnGrpListAtag4[page].height;
      el.onload = function () { this.className = ''; }
  }

  gallery4.onFlip(function () {

  	try {

  		var el,
			upcoming,
			i;

  		for (i = 0; i < 3; i++) {
  			upcoming = gallery4.masterPages[i].dataset.upcomingPageIndex;

  			if (upcoming != gallery4.masterPages[i].dataset.pageIndex) {
  				el = gallery4.masterPages[i].querySelector('ul');
  				el.innerHTML = bnGrpListAtag4[upcoming];

  				$(".mobilePlanLazyImage").lazyload({
  					event: "lazyevent"
  				});

  				$(".mobilePlanLazyImage").trigger("lazyevent");
  			}
  		}

  		document.querySelector('#bnIndex4 .selected').className = '';
  		dots4[gallery4.pageIndex].className = 'selected';
  	}
  	catch (ex) {
  		alert(ex.message);
  	}

  });

//]]>

	var todayDate = new Date();

	function fnToday(){		
        todayDate = new Date(todayDate.getTime() + 1 * 24 * 60 * 60 * 1000);
		document.cookie = "PopupT=N; path=/;domain=gmarket.co.kr; expires=" + todayDate.toGMTString() + ';'
	}

	function fnAll(){
        todayDate = new Date(todayDate.getTime() + 365 * 24 * 60 * 60 * 1000);
		document.cookie = "PopupT=N; path=/;domain=gmarket.co.kr; expires=" + todayDate.toGMTString() + ';'
	}

    function deletePopupT(str){
        todayDate = new Date(todayDate.getTime() - 365 * 24 * 60 * 60 * 1000);
		document.cookie = "PopupT=N; path=/;domain=gmarket.co.kr; expires=" + todayDate.toGMTString() + ';'
        alert("PopupT 쿠키 지움 ");
	}

		
	function getCookie(name){ 
		var nameOfCookie = name + "="; 
		var x = 0; 
		while ( x != document.cookie.length ) 
		{ 
				var y = (x+nameOfCookie.length); 
				if ( document.cookie.substring( x, y ) == nameOfCookie ) { 
						if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 ) 
								endOfCookie = document.cookie.length; 
						return unescape( document.cookie.substring( y, endOfCookie ) ); 
				} 
				x = document.cookie.indexOf( " ", x ) + 1; 
				if ( x == 0 ) 
						break; 
		} 
		return ""; 
	}

	var c_name = "pcid";
	var appYn = "N";

    function appGetCookie() {
        if (document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;


                return unescape(document.cookie.substring(c_start, c_end));
                /*if (unescape(document.cookie.substring(c_start, c_end)) == "") {
                    appYn = "N";
                } else {
                    appYn = "Y";
                }*/

            }
        }
        return "";// appYn;
    }

//임프레션 start

  function  gallery1PREV(){
   var prevpoint =  $("#navigallery1").val();
   prevpoint = parseInt(prevpoint) - 1;
   if(prevpoint <= -1){
    prevpoint = parseInt(bnGrpList1.length) -1;
      $("#navigallery1").val(prevpoint);
   }
   else{
      $("#navigallery1").val(prevpoint);
   } 

    AdBanner(prevpoint); 
  }

  function gallery1NEXT(){
   var prevpoint =  $("#navigallery1").val();
   prevpoint = parseInt(prevpoint) + 1;
   if(bnGrpList1.length <= prevpoint){
      $("#navigallery1").val(0);
      prevpoint = 0;
   }
   else{
      $("#navigallery1").val(prevpoint);
   }

   AdBanner(prevpoint);

  }

function  AdBanner(code){
var bancode = "";
switch(code)
    {
    case 0 :
    bancode = "1_1";
    break;
    case 1 :
    bancode = "1_2";
    break;
    case 2 :
    bancode = "1_3";
    break;
    case 3 :
    bancode = "1_4";
    break;
    case 4 :
    bancode = "1_5";
    break;
    case 5 :
    bancode = "1_6";
    break;
    case 6 :
    bancode = "1_7";
    break;
    case 7 :
    bancode = "1_8";
    break;
    case 8 :
    bancode = "1_9";
    break;
    case 9 :
    bancode = "1_10";
    break;
    case 10 :
    bancode = "1_11";
    break;
    case 11 :
    bancode = "1_12";
    break;
    case 12 :
    bancode = "1_13";
    break;
    case 13 :
    bancode = "1_14";
    break;
    case 14 :
    bancode = "1_15";
    break;
    }

     $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?main_banimp=" + bancode );
   
}

function  AdTodayGood(code){

        switch(code)
        {
             case 0 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_1");
             break;
            }else{
             var banimp =  code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
              break;
            }     
            case 1 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_2");
             break;
            }else{
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 2 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_3");
             break;
            }else{
             var banimp =  code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 3 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_4");
             break;
            }else{
             var banimp =  code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 4 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_5");
             break;
            }else{
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 5 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_6");
             break;
            }else{
             var banimp =  code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 6 :
             if (hidTodaySpecialCnt.value > code){
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_7");
             break;
            }else{
             var banimp =  code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 7 :
            if (hidTodaySpecialCnt.value > code){
            $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_8");
             break;
            }else{
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 8 :
            if (hidTodaySpecialCnt.value > code){
            $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_9");
             break;
            }else{
             var banimp =  code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 9 :
            if (hidTodaySpecialCnt.value > code){
            $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_10");
             break;
            }else{
            var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 10 :
            if (hidTodaySpecialCnt.value > code){
            $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_11");
             break;
            }else{
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 11 :
            if (hidTodaySpecialCnt.value > code){
            $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banimp=1_12");
             break;
            }else{
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            }
            case 12 :
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            case 13 :
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
             break;
            case 14 :
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
            break;
            case 15 :
             var banimp = code - hidTodaySpecialCnt.value;
             banimp = banimp +1;
             $.post("http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banimp=1_" + banimp);
            break;
        }
}

function  AdBannerClick(code){

var bancode = "";
switch(code)
{
case 1 :
bancode = "1_1";
break;
case 2 :
bancode = "1_2";
break;
case 3 :
bancode = "1_3";
break;
case 4 :
bancode = "1_4";
break;
case 5 :
bancode = "1_5";
break;
case 6 :
bancode = "1_6";
break;
case 7 :
bancode = "1_7";
break;
case 8 :
bancode = "1_8";
break;
case 9 :
bancode = "1_9";
break;
case 10 :
bancode = "1_10";
break;
case 11 :
bancode = "1_11";
break;
case 12 :
bancode = "1_12";
break;
case 13 :
bancode = "1_13";
break;
case 14 :
bancode = "1_14";
break;
case 15 :
bancode = "1_15";
break;
}

    var MobileForm = $("#MainWiseLogForm");
      MobileForm.attr("target", "ifrMainWiseLogForm");
      MobileForm.attr("action", "http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?main_banclick=" + bancode);
      MobileForm.submit();
}

function  AdTodayGoodClick(fcd){

    switch(fcd)
    {
        case 703300002:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300002&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_1" );
        MobileForm.submit();
        break;
        case 703300003:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300003&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_2" );
        MobileForm.submit();
        break;
        case 703300004:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300004&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_3" );
        MobileForm.submit();
        break;
        case 703300005:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300005&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_4"  );
        MobileForm.submit();
        break;
        case 703300006:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300006&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_5"  );
        MobileForm.submit();
        break;
        case 703300007:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300007&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_6"  );
        MobileForm.submit();
        break;
        case 703300008:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300008&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_7"  );
        MobileForm.submit();
        break;
        case 703300009:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300009&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_8" );
        MobileForm.submit();
        break;
        case 703300010:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300010&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_9"  );
        MobileForm.submit();
        break;
        case 703300011:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300011&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_10"  );
        MobileForm.submit();
        break;
        case 703300012:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300012&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_11"  );
        MobileForm.submit();
        break;
        case 703300013:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300013&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?sale_banclick=1_12"  );
        MobileForm.submit();
        break;
        case 703300014:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300014&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banclick=1_1"  );
        MobileForm.submit();
        break;   
        case 703300015:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300015&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banclick=1_2"  );
        MobileForm.submit();
        break;
        case 703300016:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300016&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banclick=1_3"  );
        MobileForm.submit();
        break;
        case 703300017:
        var MobileForm = $("#MainWiseLogForm");
        MobileForm.attr("target", "ifrMainWiseLogForm");
        MobileForm.attr("action", "http://sna.gmarket.co.kr/?fcd=703300017&url=http://m.gmarket.co.kr/Event/plan_display_wiselog.asp?good_banclick=1_4"  );
        MobileForm.submit();
        break;
    }
}

function SnaUrl(fcd){ 
   $.post("http://sna.gmarket.co.kr/?fcd=" + fcd);
}

//임프레션 end

</script>

<form id="MainWiseLogForm" name="MainWiseLogForm" method="post" >
<iframe id="ifrMainWiseLogForm" name="ifrMainWiseLogForm" src="about:blank"  height="0" width="0" style="display:none;"></iframe>
</form>
