@using GMKT.GMobile.Constant;
@using GMobile.Data.Tiger;
@using GMobile.Data.DisplayDB;
@using GMobile.Data.Diver;

@model GMKT.GMobile.Web.Models.HomeModel
@{
    

	PageAttr.IsMain = true;
	string strPopupYn = "N";
	string strNType = string.Empty;
	string strNKind = string.Empty;
	string strNContent = string.Empty;
	string strAppCheck = "N";


    string BannerString = "";

    if (Model.HomeAdBanner != null && Model.HomeAdBanner.Count > 0)
    { 
        string[] BannerList = new string[Model.HomeAdBanner.Count];
        int bannerFcdCode = 704300001;
        for(int i=0; i< Model.HomeAdBanner.Count; i++)
        {
            BannerList[i] = string.Format("'<div class=\"li\"><a href=\"{0}\"><img src=\"{1}\" /></a></div>'", @GlobalFunction.GetSnaUrl(PageAttr.IsMain, bannerFcdCode.ToString(), Model.HomeAdBanner[i].BnLinkUrl), Model.HomeAdBanner[i].BnImgPath);
            bannerFcdCode++;
        }
        
        BannerString = String.Join(",", BannerList).ToString();
    }
    
	string strAppInfo = string.Empty;
	string strIpadPopupYn = "N";

	if (Request.Cookies["app_info"] != null &&
			!string.Empty.Equals(Request.Cookies["app_info"].Value))
	{
		strAppInfo = Request.Cookies["app_info"].Value.ToUpper();
		string[] arrAppInfo = strAppInfo.Split(':');

		if ((arrAppInfo[0] == "IPHONE") && (arrAppInfo[2] == "IPAD"))
		{
			strIpadPopupYn = "Y";
		}

	}


	if (PageAttr.IsIphone == true || PageAttr.IsIpod == true)
	{
		strNType = "I";
	}
	else if (PageAttr.IsAndroid == true)
	{
		strNType = "A";
	}
	else
	{
		strNType = "";
	}

    if (Model.PopupList.Count > 0)
    {
        for (int k = 0; k < Model.PopupList.Count; k++)
        {
            if (strNType == Model.PopupList[k].NType && Model.PopupList[k].NKind == "A")
            {
                strNContent = Model.PopupList[k].NContent;
                strPopupYn = "Y";
            }
        }
    }

	if (PageAttr.IsIphoneApp || PageAttr.IsAndroidApp)
	{
		strAppCheck = "Y";
	}

	string GmarketAppURL = "";
	string G9AppUrl = "";
	if (PageAttr.IsAndroid)
	{
		GmarketAppURL = "market://details?id=com.ebay.kr.gmarket";
		G9AppUrl = "market://details?id=com.ebay.kr.g9";
	}
	else
	{
		GmarketAppURL = "http://itunes.apple.com/kr/app/gmarket/id340330132?mt=8";

		if (PageAttr.IsIpad)
		{
			G9AppUrl = "http://itunes.apple.com/kr/app/id688158993?mt=8";
		}
		else
		{
			G9AppUrl = "http://itunes.apple.com/kr/app/id781174192?mt=8";
		}
	}
}
    <hr />

    <!-- CONTENT -->
	<div id="content" class="ctns">
		<div class="resps_wraper">
			<div class="display_bnr">
				<div class="bnr_w">
					<div id="bnrList" class="lst"></div>
					<div class="h_page">
						<a href="javascript:;" id="hotPrev" class="prev" onclick="spcListScroller.prev();">이전</a>
						<a href="javascript:;" id="hotNext" class="next" onclick="spcListScroller.next();">다음</a>
						<div id="bnrPage" class="page"><span class="pag">1</span>/<span class="pag2">10</span></div>
						<a href="javascript:;SnaUrlFooter('704300030');" class="bnr_all">배너모두보기</a>
					</div>
				</div>
				<div class="sevlist_cnt">
@if (Model.HomeIcon != null && Model.HomeIcon.Count > 0) {
	int homeIconFcdCode = 704300100;
    foreach (var Icon in Model.HomeIcon) {
        <a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, homeIconFcdCode.ToString(), Icon.IconLnkUrl)"><span class="ico"><img src="@(Icon.IconImageUrl)" alt="@(Icon.IconText)" />@if(Icon.IsIconNew == true) { <span class="new">N</span> } </span></a>
        homeIconFcdCode++;
    }
}
				</div>
			</div>
			<div class="resps_gow"></div>
		</div>
		<div class="service_vw">
			<a href="#" class="sev_mr" onclick="SnaUrlFooter('704300105'); popBlockUI('layer_allsv');return false;">더보기</a>
		</div>
@if (Model.SuperDeal != null && Model.SuperDeal.Count > 0 && Model.SuperDealCategoryList != null && Model.SuperDealCategoryList.Count > 0)
{ 
		<div class="super_deal">
			<div class="m_title m_title2">
				<h3>
					<a href="javascript:;" class="tit" onclick="javascript:ViewTodaySuperDeal();">슈퍼딜</a>
					<span class="s_tit">오늘의 슈퍼딜</span>
				</h3>
				<div class="cate_area">
					<a href="javascript:;SnaUrlFooter('704400001');" class="btn_view">전체보기</a>
					<div class="cate_view">
						<ul>
					@{
						int GROUP_COUNT = 3;
						int superDealCategoryFcdcode = 704400002;
						for (int lineIndex = 0; lineIndex < Model.SuperDealCategoryList.Count / GROUP_COUNT; lineIndex++)
						{
						<li>
							@for (int i = lineIndex * GROUP_COUNT; i < (lineIndex + 1) * GROUP_COUNT; i++)
							{
								if (Model.SuperDealCategoryList[i] != null)
								{
									if (i== 0)
									{
									<a href="javascript:ViewSuperDealItem('@Model.SuperDealCategoryList[i].Code', @superDealCategoryFcdcode);" class="@Model.SuperDealCategoryList[i].CssName selected">@Model.SuperDealCategoryList[i].Name</a>
									}
									else
									{
									<a href="javascript:ViewSuperDealItem('@Model.SuperDealCategoryList[i].Code', @superDealCategoryFcdcode);" class="@Model.SuperDealCategoryList[i].CssName">@Model.SuperDealCategoryList[i].Name</a>
									}
								}
								superDealCategoryFcdcode++;
								if (i == Model.SuperDealCategoryList.Count -1)
								{
									break;
								} 
							}
						</li>
						}
					}
						</ul>
					</div>
				</div>
			</div>
			<span class="ico_loading" style="display:none">로딩중</span>
			<ul id="list_superdeal">
            @{
				foreach (var item in Model.SuperDeal)
				{
					string linkURL = GlobalFunction.GetSnaUrl(PageAttr.IsMain, "704800001", item.LinkURL);
					string buyCount = "";
					if (item.IsSoldOut)
					{
						linkURL = "javascript:;";
					}
					buyCount = item.BuyCount.ToString("#,##0") + "개 구매";
                
                <li>
					<a href="@linkURL" class="noBorder">
						<div class="pimg">
							<span class="img"><img src="@Urls.MobileImageUrlV2/loading_640X240.gif" data-original="@item.ImageURL" /></span>
						</div>
						<div class="prod_ct">
						    <div class="pd_b1">
								<span class="tx1">@item.ItemSubTitle</span>
								<span class="tx2">@item.ItemTitle</span>
						    </div>
						@if (item.UnitPrice != null && item.UnitPrice.Length > 0)
						{
							<span class="unit_cost">(@item.UnitPrice)</span>
						}
							<div class="pd_b2">
                            @if (item.IsSoldOut == false && item.Price.Equals("무료") == false && item.DiscountRate != 0)
							{
								<div class="rate">@item.DiscountRate<span class="pc">%</span></div>
							}
								<div class="price">
									<span class="origin">@item.OriginalPrice</span>
									<span class="sale">@item.Price</span>
								</div>
								<div class="labbox">
                                @if (item.DeliveryInfo == "무료")
								{<span class="free">무료배송</span>}
								@if (item.ShowBuyCount == true)
								{<span class="number">@buyCount</span>}
								</div>
							</div>
						</div>
					</a>
                    @if (item.IsSoldOut)
					{
					<div class="sold_out"><span>품절되었습니다.</span></div>
					}
				</li>
				}
             }
			</ul>
		</div>
}
		<div class="serv_wraper">
			<div class="serv_dgo">
				<div class="m_title">
					<h3>서비스 바로가기</h3>
				</div>
				<div class="sevlist_wp">
                @if (Model.HomeService != null && Model.HomeService.Count > 0)
				{
					int serviceFCDCode = 704500001;
					foreach (var service in Model.HomeService)
					{
						if (service.TagYn == "Y")
						{
                            <a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, serviceFCDCode.ToString(), service.ServiceLnkUrl)"><span class="ico"><img src="@(service.ServiceImageUrl)" alt="" /><span class="new">N</span></span><span class="s_name">@(service.ServiceText)</span></a>
						}
						else
						{
                            <a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, serviceFCDCode.ToString(), service.ServiceLnkUrl)"><span class="ico"><img src="@(service.ServiceImageUrl)" alt="" /></span><span class="s_name">@(service.ServiceText)</span></a>
						}
						serviceFCDCode++;
					}
				}
				</div>
			</div>
		</div>
		<div class="botm_dgo">
			<a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "704600001", GmarketAppURL)" class="go1">G마켓 앱 설치하기</a>
			<a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "704600002", G9AppUrl)" class="go2">G9 앱 설치하기</a>
		</div>

		<div id="view_bnr_all">
			<div class="lay_tit"><strong>추천 이벤트</strong></div>
			<div class="list_bnr"></div>
			<a class="close" href="#"><span>닫기</span></a>
            <!--140305 닫기추가-->
			<span class="cls">
            <button type="button" class="close"><span>닫기</span></button>
		</div>

		<div class="layer_allsv" id="layer_allsv">
			<div class="lay_wp">
				<h3>서비스 전체보기</h3>
				<div class="sevlist_wp">
                @if (Model.HomeService != null && Model.HomeService.Count > 0)
				{
					int serviceFCDCode = 704500001;
					foreach (var service in Model.HomeService)
					{
						if (service.TagYn == "Y")
						{
                            <a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, serviceFCDCode.ToString(), service.ServiceLnkUrl)"><span class="ico"><img src="@(service.ServiceImageUrl)" alt="@(service.ServiceText)" /><span class="new">N</span></span><span class="s_name">@(service.ServiceText)</span></a>   
						}
						else
						{ 
                            <a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, serviceFCDCode.ToString(), service.ServiceLnkUrl)"><span class="ico"><img src="@(service.ServiceImageUrl)" alt="@(service.ServiceText)" /></span><span class="s_name">@(service.ServiceText)</span></a>
						}
						serviceFCDCode++;
					}
				}
				</div>
				<a href="#" class="lay_clse" onclick="popBlockUI('layer_allsv');return false;">닫기</a>
			</div>
		</div>
	</div>
	<!-- //CONTENT -->

@section scripts
{

<script id="superdeal_item_template" type="text/x-handlebars-template">
{{#each Items}}
	<li>
		<a href="{{getLinkUrl LinkURL IsSoldOut}}" class="noBorder"">
			<div class="pimg">
				<span class="img"><img src="{{ImageURL}}" /></span>
			</div>
			<div class="prod_ct">
				<div class="pd_b1">
					<span class="tx1">{{ItemSubTitle}}</span>
					<span class="tx2">{{ItemTitle}}</span>
				</div>
				{{#if UnitPrice}}
				<span class="unit_cost">({{UnitPrice}})</span>
				{{/if}}
				<div class="pd_b2">
					{{renderDiscountRate IsSoldOut Price DiscountRate}}
					<div class="price">
					<span class="origin">{{OriginalPrice}}</span>
					<span class="sale">{{Price}}</span>
					<div class="labbox">
					{{renderDeliveryInfo DeliveryInfo}}
					{{#if ShowBuyCount}}
					<span class="number">{{addComma BuyCount}}개 구매</span>
					{{/if}}
					</div>
				</div>
				</div>
			</div>
		</a>
		{{#if IsSoldOut}}
		<div class="sold_out"><span>품절되었습니다.</span></div>
		{{/if}}
	</li>	
{{/each}}
</script>
<script type="text/javascript">
	$(document).ready(function () {
        topBanerList = setDataArray(topBanerList, 1);
	    spcListScroller = swipeGmk(topBanerList, "#bnrList", "bnrPage", true);

		Handlebars.registerHelper('getLinkUrl', HHgetLinkUrl);
		Handlebars.registerHelper('renderDiscountRate', HHrenderDiscountRate);
		Handlebars.registerHelper('renderDeliveryInfo', HHrenderDeliveryInfo);
		Handlebars.registerHelper('addComma', HHaddComma);

   		//var PopupYn = "@strPopupYn";
		//var AppChk = "@strAppCheck";
		//var IpadPopupYn = "@strIpadPopupYn";

//			if (AppChk == 'N') {//app이 아닐때
//				if (PopupYn == "Y") {
//					if (getCookie("PopupT") != "N") {
//						displayLayers('lay_notice', 'mask', '');
//						popBlockUI2('lay_notice');
//					}
//				}
//			} else if (AppChk == 'Y') {
//				if (IpadPopupYn == "Y") {
//					if (getCookie("PopupT") != "N") {
//						displayLayers('ipadlyr', 'mask', '');
//						popBlockUI2('ipadlyr');
//					}
//				}
//			}

        setTimeout(function () {
		    displayLayer("progress_icon", "none");
	    }, 100);

        /* landing Banner 9 */
        var em = eModule
            , apps = em.apps
            , landing = apps.landing;

        landing.init({
            pageName: 'Home',
            landingType: '@Model.LandingBanner.Type',
            imageUrl: '@Model.LandingBanner.ImageUrl',
            description: '@Model.LandingBanner.Description',
            campaign: '@Model.Campaign.Name',
            medium: '@Model.Campaign.Medium',
            mediumSource: '@Model.Campaign.MediumSource',
	        mediumContent: '@Model.Campaign.MediumContent',
            term: '@Model.Campaign.Keyword'
        });

        $("#lay_notice").on('click','#goToApp' , function(e){
            e.preventDefault();
            landing.installApp();
        }).on('click', '#landingClose', function(e){
            e.preventDefault();
            landing.close();
        });
        /* landing Banner 9 */

		$("#list_superdeal li img").lazyload({
			effect: "fadeIn",
			threshold: 350
		});
	});

	var selectedSuperDealCode = "0";

	function HHgetLinkUrl(linkUrl, isSoldOut) {
		if (isSoldOut == true || linkUrl == undefined || linkUrl == "") {
			return new Handlebars.SafeString('javascript:;');
		}

		try {
			var fcdCode = 704800001;
			fcdCode = fcdCode + parseInt(selectedSuperDealCode);
			var superDealItemLinkUrl = "http://sna.gmarket.co.kr/?fcd=" + fcdCode + "&url=" + encodeURIComponent(linkUrl);
			return new Handlebars.SafeString(superDealItemLinkUrl);

		}  catch (e) {}
		
		return new Handlebars.SafeString('');
	}

	function HHrenderDiscountRate(isSoldOut, price, discountRate) {
		var discountRateHtml = "";
		if (isSoldOut == false && price != "무료" && discountRate != 0) {
			discountRateHtml = '<div class="rate">' + discountRate + '<span class="pc">%</span></div>';
		}
		return new Handlebars.SafeString(discountRateHtml);
	}

	function HHrenderDeliveryInfo(deliveryInfo) {
		var deliveryInfoHtml = "";
		if (deliveryInfo == "무료") {
			deliveryInfoHtml = '<span class="free">무료배송</span>';
		}
		return new Handlebars.SafeString(deliveryInfoHtml);
	}

	function HHaddComma(nStr) {
		nStr += '';
		x = nStr.split('.');
		x1 = x[0];
		x2 = x.length > 1 ? '.' + x[1] : '';
		var rgx = /(\d+)(\d{3})/;
		while (rgx.test(x1)) {
			x1 = x1.replace(rgx, '$1' + ',' + '$2');
		}
		return new Handlebars.SafeString(x1 + x2);
	}

	function ViewTodaySuperDeal() {
		if (selectedSuperDealCode == "0") {
			return;
		}
		ViewSuperDealItem("0", 704400002);
		$('.cate_area .cate_view li>a').first().trigger('click');
	}

	function ViewSuperDealItem(code, fcdCode) {
		if (selectedSuperDealCode == code) {
			return;
		}

		if (fcdCode != undefined && fcdCode != '') {
			SnaUrlFooter(fcdCode);
		}

		$(".ico_loading").show();
		$.ajax({
			type: "POST",
			url: "/Home/GetSuperDealItems",
			dataType: "json",
			data: {
				code: code
			},
			error: function (request, status, error) {
				$(".ico_loading").hide();
			},
			success: function (result) {
				if (result != null && result != undefined) {
					selectedSuperDealCode = code;
					var template = Handlebars.compile($('#superdeal_item_template').html());
					$('#list_superdeal').html(template({ Items: result }));
					$(".ico_loading").hide();
				}
			}
		});
	}

    var topBanerList = [@Html.Raw(BannerString)];

	function swipeGmk(data, areaId, pageId, random, auto)
	{
		var dots;
		var tempSwipe = new SwipeView(areaId, { numberOfPages: data.length, autoSwipe:auto });
		if(pageId != null && pageId != '')
		{
			$('.pag').text(tempSwipe.pageIndex + 1);	
			$('.pag2').text(data.length);
		}

		for (var i=0; i<3; i++) 
		{
			var page = i==0 ? data.length-1 : data.length==1 ? 0 : i-1;
			tempSwipe.masterPages[i].innerHTML = data[page];
		}

		tempSwipe.onFlip(function () {
			var upcoming;

			for (var i=0; i<3; i++) 
			{
				upcoming = tempSwipe.masterPages[i].dataset.upcomingPageIndex;

				if (upcoming != tempSwipe.masterPages[i].dataset.pageIndex) {
					tempSwipe.masterPages[i].innerHTML = data[upcoming];
				}	
			}
			if(pageId != null && pageId != '')
			{
				$('.pag').text(tempSwipe.pageIndex + 1);	
			}
		});
		
		var index = 0;

		if(random)
		{
			index = Math.floor(Math.random() * data.length) % data.length;
			tempSwipe.goToPage(index);
		}
		if(auto)
		{
			tempSwipe.t = setTimeout(function() {tempSwipe.next();}, 3000);
		} 

		return tempSwipe;
	}

	function setDataArray(data, dispCnt){
		if(dispCnt > 1)
		{
			var totDispCnt = data.length;
			var totPage = Math.floor(data.length / dispCnt);
			var tmpArr = new Array();
			var tmpHtml = '';
			for(var i=0; i < totPage; i++)
			{
				for(var j = 0; j < dispCnt; j++){
					tmpHtml += data[i*dispCnt+j];
				}
				tmpArr[i] = tmpHtml;
				tmpHtml = '';
			}	
			return tmpArr;
		} else {
			return data;
		}
	}
	
	//래퍼 높이값 자동 조절
	window.onload = function(){playResponse();changeCtext('bnrList');};

	if (typeof orientationchange != "undefined"){
		$(window).on("orientationchange", function(){
			playResponse();
			changeCtext('bnrList');
		});
	} else{
		$(window).on("resize",function(){
			playResponse();
			changeCtext('bnrList');
		});
	};

	function changeCtext(id){
		var wrapObj = $('#' + id);
		var bnrImg = wrapObj.find('a > img');
		var bnrImgHeight = bnrImg.height();//이미지높이값
		wrapObj.css('height',bnrImgHeight+'px');//래퍼높이값 조절
		
		//ios7에서 높이값 잡지 못하는 버그	
		$('#swipeview-slider').children().height(bnrImgHeight);
	};

//    var todayDate = new Date();

//	function fnToday(){		
//        todayDate = new Date(todayDate.getTime() + 1 * 24 * 60 * 60 * 1000);
//		document.cookie = "PopupT=N; path=/;domain=gmarket.co.kr; expires=" + todayDate.toGMTString() + ';'
//	}

//	function fnAll(){
//        todayDate = new Date(todayDate.getTime() + 365 * 24 * 60 * 60 * 1000);
//		document.cookie = "PopupT=N; path=/;domain=gmarket.co.kr; expires=" + todayDate.toGMTString() + ';'
//	}

//	function getCookie(name){ 
//		var nameOfCookie = name + "="; 
//		var x = 0; 
//		while ( x != document.cookie.length ) 
//		{ 
//				var y = (x+nameOfCookie.length); 
//				if ( document.cookie.substring( x, y ) == nameOfCookie ) { 
//						if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 ) 
//								endOfCookie = document.cookie.length; 
//						return unescape( document.cookie.substring( y, endOfCookie ) ); 
//				} 
//				x = document.cookie.indexOf( " ", x ) + 1; 
//				if ( x == 0 ) 
//						break; 
//		} 
//		return ""; 
//	}

</script>

<script type="text/javascript">
	var layer_banner_all = {}

	$(window).load(function () {
		layer_banner_all.items = topBanerList;
		var $box_list_bnr = $('#view_bnr_all')
		var $list_bnr = $('#view_bnr_all .list_bnr');
		var $list_bnr_close = $box_list_bnr.find('.close');
		var box_list_items = '';
		$('a.bnr_all').on('click', function () {
			$box_list_bnr.show();
			$('#wrap').addClass('no_highlight');
			$("<div id='mask' selected='true'></div>").appendTo("#wrap");
			for (var i = 0; i < layer_banner_all.items.length; i++) {
				box_list_items += layer_banner_all.items[i];
			}
			$list_bnr.html(box_list_items);
			setTimeout(function () {
				$('#wrap #mask').on('click', function (e) {
					if (e.target.getAttribute('id') == 'mask') {
						$('#wrap').removeClass('no_highlight');
						$('#wrap #mask').off();
						layer_banner_all.items = [];
						$box_list_bnr.hide();
						$("#wrap #mask").remove();
					}
				});
			}, 100);
		});
		$list_bnr_close.on('click', function () {
			$('#wrap #mask').off();
			layer_banner_all.items = [];
			$('#wrap').removeClass('no_highlight');
			setTimeout(function () {
				$box_list_bnr.hide();
				$("#wrap #mask").remove();
			}, 300)
			return false;
		});
		//		if ($('#lay_notice').css('display') == 'block') {
		//                    $("<div id='mask' selected='true'></div>").appendTo("#wrap");
		//        }
	});
</script>

<script type="text/javascript">
	var responMain = {};
	var flag_resp;
	responMain.$resWrap = $('.resps_wraper'); //상단
	responMain.$servGoWrap = $('.serv_wraper'); //하단
	responMain.$reServWp = responMain.$resWrap.find('.resps_gow'); //상단의 빈div
	responMain.$servGoHTML = responMain.$servGoWrap.html(); //하단 바로가기 컨텐츠

	function playResponse() {
		responMain.$winWidth = $(window).width();
		responMain.$resFlag = responMain.$reServWp.html(); //상단의 빈div의 html
		if (responMain.$winWidth >= 610) {
			if (responMain.$resFlag == '') {
				responMain.$servGoWrap.html('');
				responMain.$reServWp.append(responMain.$servGoHTML);
				responMain.$resWrap.addClass('res');
			}
		} else {
			if (responMain.$resFlag != '') {
				responMain.$reServWp.html('');
				responMain.$servGoWrap.append(responMain.$servGoHTML);
				responMain.$resWrap.removeClass('res');
			}
		}
	}
</script>

}

@section scriptfiles
{
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/main.css" />
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
}

@section iframes
{
<form id="MainWiseLogForm" name="MainWiseLogForm" method="post" >
<iframe id="ifrMainWiseLogForm" name="ifrMainWiseLogForm" src="about:blank"  height="0" width="0" style="display:none;"></iframe>
</form>
}