@{
    ViewBag.Title = "ChangeCount";
}
@using GMKT.GMobile.Data;
@model GMKT.GMobile.Web.Models.SuperDealModel

<style type="text/css">
body { -webkit-user-select:auto; }
</style>


</br>
오늘의 슈퍼딜 API 캐쉬 데이터(최대 10분)
<ul id="superdeallist">
@foreach (SuperDealItem si in Model.Items)
{
	<li>@si.GoodsCode  @si.ItemTitle == 구매수량 : @si.BuyCount // 남은수량 : @si.RemainCount // ShowBuyCount:@si.ShowBuyCount // ShowRemainCount:@si.ShowRemainCount // SoldOut : @si.IsSoldOut</li>
}
</ul>
</br>
### 상품번호는 정확하게 / 수량은 숫자로!!! ###</br>
1. 한정수량이 Y가 아닌 경우에는 남은수량 데이터를 가지고 오지 않기 때문에 무조건 0으로 표시됨</br>
2. 판매수량은 노출시작/종료 기간이 한달 이내인 경우만 조회가 됨</br>
상품번호<input id="gd_no" type="text" name="gd_no" value="" class=""></br>
업데이트할 구매수량<input id="buy_count" type="text" name="buy_count" value="" class=""></br>
업데이트할 남은수량<input id="remain_count" type="text" name="remain_count" value="" class=""></br>
<button id="apply" type="button" class="prev">적용버튼</button></br>
</br>
<script type="text/javascript">
	$(document).ready(function () {
		$("#apply").bind("click", function (e) {
			validation();
		})
	});

	function validation() {
		var gdno;
		gdno = $("#gd_no").val();
		if (gdno == "") {
			alert("상품번호를 입력하세요");
			return false;
		} 

		var buycount = $("#buy_count").val();
		if (buycount == "") {
			alert("구매수량을 입력하세요");
			return false;
		}

		var remaincount = $("#remain_count").val();
		if (remaincount == "") {
			alert("남은수량을 입력하세요");
			return false;
		}

		$.ajax({
			type: "POST",
			url: "/superdeal/updatecount",
			dataType: "json",
			aync: false,
			data: {
				gdno: gdno,
				buycount: buycount,
				remaincount: remaincount
			},
			error: function (request, status, error) {
				alert('오류가 발생 했습니다. 잠시후 다시 시도해 주세요');
			},
			success: function (data) {
				if (data != null && data != undefined) {
					alert(data.msg);
				}
			}
		});
		return true;
	}
</script>