@using GMKT.GMobile.Data;
@model GMKT.GMobile.Web.Models.SuperDealModel
@{
	PageAttr.IsMain = true;
	Layout = "~/Views/Shared/_Layout_SuperDeal.cshtml";
}
<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="hotdeal_cont">
		<div class="mbest_wrap">
			<!-- super_deal_sub -->
			<div class="super_deal super_deal_sub">
		@GlobalFunction.GetSuperDealCategory(Model.ThemeCategory,ViewBag.DispType,ViewBag.GroupNo,ViewBag.SubNo)
					<div class="bx_sdeal">
						<ul class="lst_prd" id="list_superdeal">
						@{ var i = 0;  }
							@foreach (GMKT.GMobile.Data.HomeMainItem item in Model.ThemeItems)
							{
									if (i < 20)
									{
										@GlobalFunction.GetSuperDealItem(item, PageAttr.IsMain, false, Urls.MobileImageUrlV2, "716000055", false, "716000057","716000058","716000056");
									}
									else
									{
										@GlobalFunction.GetSuperDealItem(item, PageAttr.IsMain, true, Urls.MobileImageUrlV2, "716000055", false, "716000057", "716000058", "716000056");
									}
				
									i++;
							}
						</ul>
					</div>
			</div>			</div>	@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "superdeal", ShareFcdCode = "716000059", ShortcutFcdCode = "716000060" })
	

	
	@if (!PageAttr.IsAndroidApp && !PageAttr.IsIphoneApp)
 {
	<a onclick="javascript:window.scrollTo(0, 1);" class="btn_top_main btn_top_bar">Top으로 이동</a>
	<div id="rviLayer" style="display:none;" class="recent_wrap"></div>
 }

</div>
<!-- //CONTENT -->
<script type="text/javascript">
	var MWebUrl = "@ViewBag.MWebUrl";
</script>
@section scripts
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=20160728"></script>

<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/swiper.min.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/PdsLogSender.js"></script>
<!--script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/masonry.pkgd.min.js"></!--script-->

<script type="text/javascript">
	this.SuperDealUtil = {};
	var selectDispType = "@ViewBag.DispType";
	var selectGroupNo = "@ViewBag.GroupNo";
	window.onload = function () {
		
	}
	$(function () {
		masonryUpdate();

	});


	$(document).ready(function () {
		$(".superdeal_lazy").lazyload({
			effect: "fadeIn",
			threshold: 400
		});

		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);
		//스토어

		KakaoInit();
		ShareTo("kakaotalk");


	});
	var masonryUpdate = function () {

		//$('.lst_prd').masonry({
		//	// options
		//	itemSelector: '.box',
		//	percentPosition: true
		//});

	}
	var ShareTo = function (type) {
		var dataName = "G마켓 슈퍼딜";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "슈퍼딜";
				break;
			default:
				break;
		}
		var data = {
			"name": dataName,
			"url": "@Urls.MobileWebUrl" + "/SuperDeal",
			"title": ""
		};

		if (type == "kakaotalk") {
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		}
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data))
		}
	}


</script>
}
</div>