@using GMKT.GMobile.Data;
@model GMKT.GMobile.Web.Models.SuperDealModel

@{
	bool isMCategory = false;
	if (!String.IsNullOrEmpty(ViewBag.selectedGdmcCd))
	{
		isMCategory = true;
	}
}
<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="hotdeal_cont">
		<div class="ecpn_tit best type2">
			<h3>
				<a class="tit" onclick="javascript:ViewSuperDealItem('000000000','710900001');">슈퍼딜</a>
				<span class="tit_wrap">
				@if (Model != null && Model.Category != null && Model.Category.Count > 0)
				{
					<strong class="s_tit"><a onclick="javascript:SuperDealTitleCode();"><span class="in_txt">@Model.Category[0].Name</span> <span class="ico_arr">전체보기</span></a></strong>
				}
				else
				{
					<strong class="s_tit"><a onclick="javascript:SuperDealTitleCode();"><span class="in_txt">오늘의 슈퍼딜</span> <span class="ico_arr">전체보기</span></a></strong>
				}
					<strong class="t_dep"><a onclick="javascript:SnaUrlFooter('710900003');"><span class="in_txt">전체</span> <span class="ico_arr">보기</span></a></strong>
				</span>
			</h3>
			<div class="cate_area">
				<div class="cate_view">
					<ul class="cate_lst hotdeal">
				@{
					int GROUP_COUNT = 4;
					int superDealCategoryFcdcode = 710900005;
					for (int lineIndex = 0; lineIndex < Model.Category.Count / GROUP_COUNT; lineIndex++)
					{ 
						<li>
						@for (int i = lineIndex * GROUP_COUNT ; i < (lineIndex + 1) * GROUP_COUNT ; i++)
						{
							if (Model.Category[i] != null)
							{
								string cssSelected = (Model.Category[i].Code == ViewBag.selectedGdlcCd) ? "cate_sect selected" : "cate_sect";
								string cssAll = (i == 0) ? "btn_cate all" : "btn_cate";
								string superDealMCode = String.Empty;
							<div class="@cssSelected">
							<a href="javascript:;" class="@cssAll" id="@Model.Category[i].Code" onclick="GoSuperDealCategoryPage('@Model.Category[i].Code', '@superDealCategoryFcdcode');">
								<!--[D] 비활성 아이콘이미지, 활성 아이콘 이미지 순 나열 -->
								<img src="@Model.Category[i].IconOffURL" alt="" />
								<img src="@Model.Category[i].IconOnURL" alt="" />								<span class="tit">@Model.Category[i].Name</span>
							</a>
								@if (Model.Category[i].ChildCategoryList != null && Model.Category[i].ChildCategoryList.Count > 0)
								{
									<ul class="cate_sub_lst">
									@foreach (CategoryInfoV2 ci in Model.Category[i].ChildCategoryList)
									{
									string subLinkUrl = Urls.MobileWebUrl + "/SuperDeal/SuperDealList?ShopGdlcCd=" + Model.Category[i].Code + "&ShopGdmcCd=" + ci.Code;
									<li><a href="@subLinkUrl" onclick="GoSuperDealCategoryPage('@Model.Category[i].Code', '@superDealCategoryFcdcode', '@ci.Code');" id="@ci.Code">@ci.Name</a></li>
									}
									</ul>
								}
							</div>
							}
							//superDealCategoryFcdcode++; 710900005하나로 통일
						}
						</li>
					}
				}
					</ul>
				</div>
			</div>
		</div>
		@*<div class="mbest_wrap">
			<div class="super_deal sp_deal"><!--슈퍼딜일 경우 : sp_deal-->
				<ul>
	@foreach (SuperDealItem si in Model.Items)
	{
		string linkURL = si.LinkURL;
		string buyCount = "";
		if (si.IsSoldOut)
		{
			linkURL = "javascript:;";
		}
		buyCount = si.BuyCount.ToString("#,##0") + "개 구매";
					<li>
						<a href="@GlobalFunction.GetSnaUrl(true, "711000001", linkURL)">
							<div class="pimg">
								<span class="img"><img src="@si.ImageURL" /></span>
							@if (si.IsSoldOut){<div class="sold_out_v2"><span>품절되었습니다.</span></div>}
							</div>
							<div class="prod_ct">
								<div class="pd_b1">
									<span class="tx1">@si.ItemSubTitle</span>
									<span class="tx2">@si.ItemTitle</span>
								</div>
								<!-- 객단가 -->
		@if (si.UnitPrice != null && si.UnitPrice.Length > 0)
		{
								<span class="unit_cost">(@si.UnitPrice)</span>
		}
								<div class="pd_b2">
		@if (si.IsSoldOut == false && si.Price.Equals("무료") == false && si.DiscountRate != 0)
		{
									<div class="rate">@si.DiscountRate<span class="pc">%</span></div>
		}
									<div class="price">
		@if (si.IsSoldOut)
		{
										<span class="sale">SOLD OUT</span>		}
		else
		{
										<span class="origin">@si.OriginalPrice</span>
										<span class="sale">@si.Price</span>
		}
									</div>
									<div class="labbox info_bx">
										@if (si.DeliveryInfo == "무료"){<span class="ico_del">무료배송</span>}
										@if (si.ShowBuyCount == true){<span class="number">@buyCount</span>}
									</div>
								</div>
							</div>
						</a>
					</li>
	}
				</ul>
			</div>
		</div>*@
		<div class="mprd_wrap type2">
			<ul class="mprd_lst" id="list_superdeal">
			@foreach (SuperDealItem si in Model.Items)
			{
				string selectedItemCssName = "";
				if (!String.IsNullOrEmpty(ViewBag.GdNo) && ViewBag.GdNo == si.GoodsCode)
				{
					selectedItemCssName = "sel";
				}

				string linkUrl = GlobalFunction.GetSnaUrl(true, "711000002", si.LinkURL);
				if (si.IsSoldOut)
				{
					linkUrl = "javascript:;";
				}

				bool isDiscount = true;	   
				if (!String.IsNullOrEmpty(si.DiscountPrice) && si.DiscountPrice.Equals("0"))
				{
					isDiscount = false;
				}
				<li class="@selectedItemCssName">
					<a href="@linkUrl">
						<div class="img_bx">
							<img src=@si.ImageURL alt="" />
							@if (si.IsSoldOut)
							{
							<div class="sold_out_v3"><span>품절되었습니다.</span></div>
							}
							@if (si.IsTpl)
							{
							<span class="ico_smart">스마트배송</span>
							}
							else if (!String.IsNullOrEmpty(si.DeliveryInfo) && si.DeliveryInfo.Equals("무료"))
							{
							<span class="ico_del">무료배송</span>
							}
						</div>
						<div class="info_bx @(isDiscount ? "" : "no_sale")">
							<strong class="tit">@si.ItemTitle</strong>
							@if (si.IsSoldOut == false && !String.IsNullOrEmpty(si.Price) && si.Price.Equals("무료") && si.DiscountRate > 0)
							{
							<span class="per">@si.DiscountRate<span>%</span><span class="blind">할인</span></span>
							}
							<div class="price_box">
								@if (isDiscount)
								{
								<span class="per_price"><span class="blind">정가</span>@si.OriginalPrice</span>
								}
								<strong class="price"><span class="blind">할인가</span>@si.Price</strong>
							</div>
						</div>
					</a>
				</li>	
			}
			</ul>
		</div>
	</div>

	@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "superdeal", ShareFcdCode = "704600013", ShortcutFcdCode = "704600014" })
	@if (!PageAttr.IsAndroidApp && !PageAttr.IsIphoneApp){
	<a onclick="javascript:window.scrollTo(0, 1);" class="btn_top_main">Top으로 이동</a>
	<div id="rviLayer" style="display:none;" class="recent_wrap"></div>
 }
</div>
<!-- //CONTENT -->
@section scriptfiles
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=20160728"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/PdsLogSender.js"></script>
}

@section scripts
{

<script id="superdeal_item_template" type="text/x-handlebars-template">
{{#each Items}}
	{{#ifIsSelectedItem GoodsCode}}
	<li class="sel">
	{{else}}
	<li>	{{/ifIsSelectedItem}}
		<a href="{{getLinkUrl LinkURL IsSoldOut}}">
			<div class="img_bx">
				<img src={{ImageURL}} alt="">
				{{#if IsSoldOut}}
				<div class="sold_out_v3"><span>품절되었습니다.</span></div>
				{{/if}}
				{{renderDeliveryInfo DeliveryInfo IsTpl}}
			</div>
			{{#ifDiscount DiscountPrice}}
			<div class="info_bx">
			{{else}}
			<div class="info_bx no_sale">
			{{/ifDiscount}}
				<strong class="tit">{{{ItemTitle}}}</strong>
				{{renderDiscountRate IsSoldOut Price DiscountRate}}
				<div class="price_box">
					{{#ifDiscount DiscountPrice}}
					<span class="per_price"><span class="blind">정가</span>{{OriginalPrice}}</span>
					{{/ifDiscount}}
					<strong class="price"><span class="blind">할인가</span>{{Price}}</strong>
				</div>
			</div>
		</a>
	</li>
{{/each}}
</script>
<script type="text/javascript">
	function UpdateLCategoryInfo() {
		var $this = $('.ecpn_tit .cate_lst .btn_cate[id="@ViewBag.selectedGdlcCd"]');
		$this.parents('.ecpn_tit .cate_area').siblings('.ecpn_tit h3').removeClass('fl_bx');
		var txtDeal3 = $('.ecpn_tit .s_tit .in_txt');
		var txtCate2 = $this.text();
		txtDeal3.html(txtCate2)
		if (txtDeal3.show()) {
			$this.siblings('.cate_area .btn_view').removeClass('selected');
			$('.ecpn_tit .s_tit').removeClass('selected');
			$('.ecpn_tit .cate_view').hide().removeClass("on dep1 dep2");
			txtDeal3.siblings('.ecpn_tit .btn_view').show();
			$('.ecpn_tit .t_dep').show();
			$('.ecpn_tit .t_dep .btn_view').show();
			$('.ecpn_tit .t_dep').addClass('on');
		}
		$('.ecpn_tit h3 .s_tit').removeClass('on');
		//}
		if ($this.parents('li').hasClass('all')) {
			$('.t_dep').hide();
			$('.ecpn_tit h3').addClass('fl_bx');
			$('.ecpn_tit h3 .s_tit').addClass('on');
		}
		if ($this.hasClass('all')) {
			$('.t_dep').hide();
			$('.ecpn_tit h3').addClass('fl_bx');
			$('.ecpn_tit h3 .s_tit').addClass('on');
		}
		$('.ecpn_tit .t_dep .in_txt').html('전체');
		$('.ecpn_tit .t_dep').removeClass('selected');
	}

	function UpdateMCategoryInfo() {
		var txtDeal = $('.super_deal .s_tit');
		var txtDeal2 = $('.ecpn_tit .t_dep .in_txt');

		var $this = $('#' + '@ViewBag.selectedGdmcCd');

		var txtCate = $this.text();
		$this.parents('.super_deal .cate_view').hide();
		$('.super_deal .btn_view').removeClass('selected');
		$('.cate_area .cate_view li a').each(function () {
			$this.removeClass('selected');
		});
		$this.addClass('selected');
		if (!$this.parents().hasClass('super_deal')) {
			$('.ecpn_tit h3 .t_dep').show();
			$('.cate_view').hide().removeClass("on dep2 dep1");
			$('.ecpn_tit .cate_lst').css('padding-bottom', 0);
			$('.ecpn_tit h3 .t_dep').removeClass('selected');
			$('.ecpn_tit .t_dep').addClass('on');
			if (!$this.parents().hasClass('best')) {
				txtDeal2.html(txtCate);
			}
			else {
				txtDeal2.html(txtCate);
			}
		}
		else { txtDeal.html(txtCate); }
	}

	$(document).ready(function () {
		@if (isMCategory)
		{
			<text>UpdateLCategoryInfo();UpdateMCategoryInfo();</text>
		}
		else
		{
			<text>UpdateLCategoryInfo();</text>
		}
		//$('.ecpn_tit .cate_lst .btn_cate[id="@ViewBag.selectedGdlcCd"]').trigger('click')

		Handlebars.registerHelper('getLinkUrl', HHgetLinkUrl);
		Handlebars.registerHelper('renderDiscountRate', HHrenderDiscountRate);
		Handlebars.registerHelper('renderDeliveryInfo', HHrenderDeliveryInfo);

		Handlebars.registerHelper('ifDiscount', function (val, options) {
			if (val != "0") return options.fn(this);
			else return options.inverse(this);
		});

		Handlebars.registerHelper('ifIsSelectedItem', function (val, options) {
			if (val == "@ViewBag.GdNo") return options.fn(this);
			else return options.inverse(this);
		});

		KakaoInit();
		ShareTo("kakaotalk");

	});

	var ShareTo = function (type) {
		var dataName = "G마켓 슈퍼딜";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "슈퍼딜";
				break;
			default:
				break;
		}
		var data = {
			"name": dataName,
			"url": "@Urls.MobileWebUrl" + "/SuperDeal/SuperDealList",
			"title": ""
		};

		if (type == "kakaotalk") {
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		}
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data));
		}
	}


	var selectedSuperDealCode = "000000000";

	function HHgetLinkUrl(linkUrl, isSoldOut) {
		if (isSoldOut == true || linkUrl == undefined || linkUrl == "") {
			return new Handlebars.SafeString('javascript:;');
		}

		try {
			var fcdCode = 711000002;
			var superDealItemLinkUrl = "http://sna.gmarket.co.kr/?fcd=" + fcdCode + "&url=" + encodeURIComponent(linkUrl);
			return new Handlebars.SafeString(superDealItemLinkUrl);

		}  catch (e) {}
		
		return new Handlebars.SafeString('');
	}

	function HHrenderDiscountRate(isSoldOut, price, discountRate) {
		var discountRateHtml = "";
		if (isSoldOut == false && price != "무료" && discountRate != 0) {
			discountRateHtml = '<span class="per">' + discountRate + '<span>%</span><span class="blind">할인</span></span>';
		}
		return new Handlebars.SafeString(discountRateHtml);
	}

	function HHrenderDeliveryInfo(deliveryInfo, isTpl) {
		var deliveryInfoHtml = "";
		if (isTpl == true) {
			deliveryInfoHtml = '<span class="ico_smart">스마트배송</span>';
		}
		else if (deliveryInfo == "무료") {
			deliveryInfoHtml = '<span class="ico_del">무료배송</span>';
		}
		return new Handlebars.SafeString(deliveryInfoHtml);
	}

	function SuperDealTitleCode() {
		var title = $('.s_tit .in_txt').text();
		var isSubCategoryStyle = $('.t_dep').attr('style');
		if (title == "오늘의 슈퍼딜" && isSubCategoryStyle == "display: none;") {
			SnaUrlFooter(710700001);
		} else {
			SnaUrlFooter(710900002);
		}
	}

	function ViewSuperDealItem(code, fcdCode) {

//무조건 갱신 요청
//		if (selectedSuperDealCode == code) {
//			return;
//		}

		if (code == "000000000") {
			location.href = "@Urls.MobileWebUrl/SuperDeal";
			return;
		}

		if (fcdCode != undefined && fcdCode != '') {
			SnaUrlFooter(fcdCode);
		}

		$(".ico_loading").show();
		$.ajax({
			type: "POST",
			url: "/Home/GetSuperDealItems",
			dataType: "json",
			data: {
				code: code
			},
			error: function (request, status, error) {
				$(".ico_loading").hide();
			},
			success: function (result) {
				if (result != null && result != undefined) {
					selectedSuperDealCode = code;
					var template = Handlebars.compile($('#superdeal_item_template').html());
					$('#list_superdeal').html(template({ Items: result }));
					$(".ico_loading").hide();

					if (code == "000000000") {
						$(".mbest_wrap").show();
						$(".mprd_wrap").hide();
					} else {
						$(".mbest_wrap").hide();
						$(".mprd_wrap").show();
					}
				}
			}
		});
	}

	function GoSuperDealCategoryPage(lCode, fcdCode, mCode) {
		if (lCode == "000000000") {
			location.href = "@Urls.MobileWebUrl/SuperDeal";
			return;
		}

		if (fcdCode != undefined && fcdCode != '') {
			SnaUrlFooter(fcdCode);
		}

		var nextUrl = "@Urls.MobileWebUrl/SuperDeal/SuperDealList?ShopGdlcCd=" + lCode;
		if (mCode) {
			nextUrl = nextUrl + "&ShopGdlcCd=" + mCode;
		}
		location.href = nextUrl;
	}
</script>
}