@{
	string pCache = this.GetPCache();
}

<script type="text/javascript">
	function checkAndroid(homeURL) {
		try {
			var app_pcid = getAppCookieValue("pcid");
			var app_navimode = getAppCookieValue("navigation_mode");

			// 안드로이드 어플일 경우 스킴처리.
			if (app_pcid.length > 0 && app_pcid.substring(0, 1) == "3") {
				document.location.href = "gmarket://home";
			} else if (app_pcid.length > 0 && app_pcid.substring(0, 1) == "4" && app_navimode == "pc") {
				document.location.href = "http://www.gmarket.co.kr";
			} else {
				document.location.href = homeURL;
			}
		}
		catch (ex) {
		}
	}
</script>

<!-- G마켓 간략 HEADER -->
	<div id="hd_slim">
		<h1><a href="javascript:checkAndroid('@Urls.MobileWebUrl')">Gmarket</a></h1>
		<h2 class="hp">검색</h2>
		<!-- SEARCH -->
		<div class="scb_wrap">
			<div class="scb">
				<form id="search" name="searchForm" action="@Urls.MobileWebUrl/Search/Search" method="get" onsubmit="doSubmit(); return false;">
					<fieldset>
						<span class="scb_sub">
							<input type="text" id="scb_ip" name="topKeyword" onkeydown="startSuggest2();" onkeyup="clearBoxBtn();" value="" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" />

							<!-- SEARCH LAYER -->
							<span class="scb_lyr" id="scb_lyr">
								<ul id="recommand_keyword">
								</ul>
								<span class="cls">
									<button type="button" onclick="hdScbKeyEvent('scb_ip', 'scb_del', 'scb_lyr', 'N');"><span>닫기</span></button>
								</span>
							</span>
							<!-- //SEARCH LAYER -->

						</span>
						<button type="button" class="del" id="scb_del" onclick="javascript:clearTopSearch();">입력내용삭제</button>
						<button type="submit" class="sc">검색</button>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- //SEARCH -->

		<button type="button" class="all" id="all_btn" onclick="displayLayer2('all_lyr', 'all_btn', 'block');return false;">전체보기 펼치기</button>

		<!-- ALL VIEW LAYER -->
		<div class="all_lyr" id="all_lyr">

			<!-- CATEGORY -->
			<div class="ctgr_wrap">
				<p><span>카테고리</span></p>
				<ul class="ctgr" id="ctgr0">
					<li class="ctgr1"><a href="#" onclick="showCategory_slim(0, 0);return false;">패션/브랜드</a></li>
					<li class="ctgr2"><a href="#" onclick="showCategory_slim(1, 0);return false;">잡화/화장품</a></li>
					<li class="ctgr3"><a href="#" onclick="showCategory_slim(2, 0);return false;">스포츠/자동차</a></li>
				</ul>
				<div class="ctgr_sub" id="ctgr_sub0">
					<ul>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000003&" + pCache)">여성의류</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000046&" + pCache)">남성의류</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000063&" + pCache)">스몰/빅사이즈 의류</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000070&" + pCache)">언더웨어/잠옷</a></li>
					</ul>
				</div>
				<div class="ctgr_sub" id="ctgr_sub1">
					<ul>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000049&" + pCache)">신발/구두/운동화</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000064&" + pCache)">가방/지갑/패션잡화</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000027&" + pCache)">쥬얼리/시계/선글라스</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000005&" + pCache)">화장품/향수/이미용</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000071&" + pCache)">바디/헤어/목욕/위생</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000096&" + pCache)">수입명품</a></li>
					</ul>
				</div>
				<div class="ctgr_sub" id="ctgr_sub2">
					<ul>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000058&" + pCache)">골프클럽/의류/용품</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000017&" + pCache)">등산/낚시/캠핑/스키</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000037&" + pCache)">스포츠/헬스/수영/자전거</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000043&" + pCache)">스포츠의류/운동화</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000030&" + pCache)">자동차용품/모터싸이클</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000079&" + pCache)">블랙박스/네비/하이패스</a></li>
					</ul>
				</div> 
				<ul class="ctgr" id="ctgr1">
					<li class="ctgr4"><a href="#" onclick="showCategory_slim(3, 1);return false;">디지털/가전</a></li>
					<li class="ctgr5"><a href="#" onclick="showCategory_slim(4, 1);return false;">유아동/식품</a></li>
					<li class="ctgr6"><a href="#" onclick="showCategory_slim(5, 1);return false;">가구/리빙/건강</a></li>
				</ul>
				<div class="ctgr_sub" id="ctgr_sub3">
					<ul>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000002&" + pCache)">노트북/데스크탑</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000055&" + pCache)">PC부품/액세서리</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000082&" + pCache)">모니터/프린터/잉크</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000075&" + pCache)">저장장치/메모리</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000056&" + pCache)">휴대폰/액세서리</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000033&" + pCache)">디카/DSLR/미러리스</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000072&" + pCache)">태블릿/MP3/이어폰/게임</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000032&" + pCache)">TV/냉장고/세탁기/음향가전</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000008&" + pCache)">밥솥/믹서/오븐/주방가전</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000092&" + pCache)">청소기/이미용/생활가전</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000077&" + pCache)">매트/히터/가습기/난방가전</a></li>
						<li><a href="#" class="notxt"></a></li>
					</ul>
				</div>
				<div class="ctgr_sub" id="ctgr_sub4">
					<ul>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000057&" + pCache)">기저귀/분유/이유식</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000073&" + pCache)">물티슈/생리대/성인기저귀</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000006&" + pCache)">유아용품/출산용품/임부복</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000035&" + pCache)">유아동의류</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000042&" + pCache)">장난감/교육완구/인형</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000095&" + pCache)">유아동신발/잡화/가방</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000036&" + pCache)">라면/통조림/과자/조미료</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000020&" + pCache)">쌀/과일/정육/수산물</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000094&" + pCache)">커피/생수/차/음료</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000068&" + pCache)">건강식품/다이어트/홍삼</a></li>
					</ul>
				</div>
				<div class="ctgr_sub" id="ctgr_sub5">
					<ul>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000031&" + pCache)">가구/DIY</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000039&" + pCache)">침구/커튼/블라인드</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000014&" + pCache)">생활/수납/욕실/청소</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000093&" + pCache)">조명/벽지/인테리어</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000074&" + pCache)">세제/세면/제지/일용잡화</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000085&" + pCache)">주방/조리기구/식기</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000083&" + pCache)">건강/안마/비데/의료용품</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000076&" + pCache)">공구/안전용품/산업/기계</a></li>
					</ul>
				</div> 
				<ul class="ctgr off" id="ctgr2">
					<li class="ctgr7"><a href="#" onclick="showCategory_slim(6, 2);return false;">도서/문구/여행</a></li>
				</ul>
				<div class="ctgr_sub" id="ctgr_sub6">
					<ul>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000028&" + pCache)">도서/음반/DVD</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000038&" + pCache)">애견/사료/애완용품</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000013&" + pCache)">여행/레저/호텔/항공권</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000045&" + pCache)">문구/학용품/사무/용지</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000048&" + pCache)">e쿠폰/외식/생활쿠폰</a></li>
						<li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000041&" + pCache)">꽃/원예/팬시/이벤트용품</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000091&" + pCache)">피아노/악기/취미/프라모델</a></li>
                        <li><a href="@GlobalFunction.GetSnaUrl(PageAttr.IsMain, "701000003", Urls.MobileWebUrl + "/Category/Category?lcId=100000084&" + pCache)">백화점/제화/기타 상품권</a></li>
					</ul>
				</div> 
			</div>
			<!-- //CATEGORY -->

			<!-- MAJOR SERVICE --> <!-- 20131001 수정 -->
			<div class="mjr_svc">
				<p><span>주요 서비스</span></p>
				<div class="hd_go_cont">
					@{Html.RenderAction("ServiceList", "Home");}
				</div>
			</div>
			<!-- //MAJOR SERVICE --> <!-- 20131001 수정 -->

			<div class="cls">
				<button type="button" onclick="displayLayer2('all_lyr', 'all_btn', 'none');return false;"><span>닫기</span></button>
			</div>

		</div>
		<!-- //ALL VIEW LAYER -->

	</div>
	<!--// G마켓 간략 HEADER -->
