@{
	ViewBag.Title = "List";
	Layout = "_ShopLayout.cshtml";
}
@using GMKT.GMobile.Web.Models;
@using GMKT.GMobile.Data;
@using GMobile.Data.Voyager;
@using GMKT.GMobile.Util;

@model ShopSearchModel

<style type="text/css">
	.type_default .small, .type_img .small { display: inline; }
	.type_default .big, .type_img .big { display: none; }
	.type_img_big .small { display: none; }
	.type_img_big .big { display: inline; }
</style>

@{
	if (false == string.IsNullOrEmpty(Model.CategoryName))
	{
		Html.RenderAction("HistoryAdd", "Shop", new { alias = Model.Alias, actionName = "List", message = Model.CategoryName, url = Request.Url });
	}
	else
	{
		Html.RenderAction("HistoryAdd", "Shop", new { alias = Model.Alias, actionName = "List", message = Model.CategoryCode, url = Request.Url });
	}
}

@if (!String.IsNullOrEmpty(@Model.CategoryName))
{
	string strClassFold = Model.IsMoreCategpry ? "" : "on";
	string strClassSubCategory = Model.IsMoreCategpry ? "display:none" : "";
<!-- 카테고리 -->
<div class="ms_category">
	<h3><span class="sel_cate ms_clr_font">@Model.CategoryName</span>	@if (Model.CategoryInfo.Count > 0) { <span class="fold"><a id="link_shopcatelists" href="javascript:fold_shopcatelist();" class="@strClassFold"><span class="ico_splt_2">펼쳐보기</span></a></span>	} </h3>
	<ul id="shopcatelists" style="@strClassSubCategory">
	@foreach (CategoryModel category in Model.CategoryInfo)
	{ 
		<li><a href="@Url.Action("List", "Shop", new { category = category.Id, prevcate = @Model.CategoryCode, isshop = @Model.IsShopCategory.ToString().ToLower() })">@category.Name <strong>(@category.ItemCount)</strong><span class="ico_splt_2"></span></a></li>
	}
	</ul>
	@if (!String.IsNullOrEmpty(Model.prevCateCode) && !String.IsNullOrEmpty(Model.prevCateName))
	{
	<h3><a href="javascript:GoPrev(@Model.prevCateCode);" class="splt_prev"><span class="ico_splt_2"></span><span class="txt">이전</span></a><span class="sel_cate ms_clr_font">@Model.prevCateName</span></h3>
	}
</div>
<!-- //카테고리 -->
}

<!-- 상품 전시유형/정렬순서 변경 -->
<div class="prod_list_view_type">
	<div class="sortType">
		<select id="selListSort">
			<option value="@Convert.ToInt32(DisplayOrder.SellPointDesc)">판매인기순</option>
			<option value="@Convert.ToInt32(DisplayOrder.New)">신규등록순</option>
			<option value="@Convert.ToInt32(DisplayOrder.ConPointDesc)">상품평많은순</option>
			<option value="@Convert.ToInt32(DisplayOrder.DiscountPriceDesc)">할인액높은순</option>
			<option value="@Convert.ToInt32(DisplayOrder.SellPriceDesc)">가격높은순</option>
			<option value="@Convert.ToInt32(DisplayOrder.SellPriceAsc)">가격낮은순</option>
		</select>
	</div>
	<ul class="viewType">
		<li id="liViewTypeList" class="type1"><a href="javascript:change_listtypeandupdate('list');"><span class="ico_splt_2">리스트형</span></a></li>
		<li id="liViewTypeImage" class="type2 on"><a href="javascript:change_listtypeandupdate('img');"><span class="ico_splt_2">이미지형</span></a></li>
		<li id="liViewTypeBigImage" class="type3"><a href="javascript:change_listtypeandupdate('big');"><span class="ico_splt_2">큰이미지형</span></a></li>
	</ul>
</div>
<!-- //상품 전시유형/정렬순서 변경 -->

<!-- 상품 목록 -->
<div class="prod_sub">
	<div class="prod_list">
		<ul id="list_result" class="type_img">
		</ul>
	</div>

	<div class="prod_btm_func">
		<div class="paging">
			<span class="pg_btn first"><a onclick="getPageListAndGoTop(1);return false;" title="맨앞 페이지" href="javascript:;">처음</a></span>
			<span class="pg_btn prev"><a onclick="getPageListAndGoTop(params.currentPageNo - 1);return false;" title="이전 페이지" href="javascript:;">이전</a></span>
			<span class="pg_pages"></span>
			<span class="pg_btn next"><a onclick="getPageListAndGoTop(params.currentPageNo + 1);return false;" title="다음 페이지" href="javascript:;">다음</a></span>
			<span class="pg_btn last"><a onclick="getPageListAndGoTop(params.lastPage);return false;" title="맨뒤 페이지" href="javascript:;">마지막</a></span>
		</div>
		<div class="btn_top"><button type="button" class="btn_page_top splt_bg_2 btn_bg" onclick="javascript:window.scrollTo(0, 1);">TOP</button></div>
	</div>
</div>
<!-- //상품 목록 -->
 
@section Templates {
<script id="list_result_template" type="text/x-handlebars-template">
	{{#each Items}}
	<li class="lazy_page_{{PageNo}}"">
		<a href="javascript:;" onclick="shopController.addHistoryAndGo('Item', '', '{{VipUrl}}', '{{ImagePath}}', '{{ErrorMessage}}')">
			<span class="prd_img">
				<img class="lazyImage small" src="@Urls.MobileImageUrlV2/shop/img/lazy_395x395.gif" data-original="{{ImagePath}}" alt="">
				<img class="lazyImage big" src="@Urls.MobileImageUrlV2/shop/img/lazy_395x395.gif" data-original="{{BigImagePath}}" data-onerror="{{OnErrorBigImagePath}}" alt="">
			</span>
			<span class="dim"></span>
			<span class="prd_info">
				<span class="desc">{{Name}}</span>
                <span class="price">
                {{#ifJoin SellPrice}}
                <span>가입상품</span>
                {{else}}
                <em>{{SellPrice}}</em><span>원</span>
                {{/ifJoin}}
				{{#if DiscountRate}}
					<span class="discount">{{DiscountRate}}%</span>
				{{/if}}
				<span class="favorite _favoriteFunc" data-goodscode="{{ItemID}}"><span class="ico_splt_2">관심상품</span></span>
				</span>
				<span class="icons">
					{{#if IsDeliveryFree}}
						<img src="@Urls.MobileImageUrlV2/shop/ico/ico_ship_free.gif" width="47" height="19" alt="무료배송">
					{{/if}}
				</span>
			</span>
		</a>
	</li>    
	{{/each}}
</script>
}

@section Scripts 
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/grapnel.min.js"></script>
<script type="text/javascript">
	var PAGE_SIZE = 20;
	var PAGENATION_SIZE = 5;
	var params =
	{
		totalCount: parseInt("@Model.TotalCount")
		, shopAlias: "@Model.Alias"
		, keyword: "@Model.Keyword"
		, category: "@Model.CategoryCode"
		, isshop: "@Model.IsShopCategory"
		, pageSize: PAGE_SIZE
		, lastPage: Math.ceil(parseInt("@Model.TotalCount") / PAGE_SIZE)
		, sort: @Model.Sort
		, currentListType: "img"
		, currentPageNo: 1
		, needPageListAjax : true
	};	
</script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/shop/ShopList_v3.js?dummy=20150515"></script>
}