@{
	Layout = "_ShopLayout.cshtml";
}

@using GMKT.GMobile.Data
@using GMKT.GMobile.Web.Controllers
@using GMKT.GMobile.Web.Models

@model NoticeM

<!-- 미니샵/스토어 공지사항 -->
<div class="m_notice_list_wrap">
	<h3>공지사항</h3>
	<div class="notice_list notice_view">
		<dl>
			<dt>
				<a href="javascript:;">@Model.Title</a>
@if (Model.IsNew)
{
				<span class="new ms_clr_bg">NEW</span>
}
				<span class="data">@Model.Date</span>
			</dt>
			<dd>@Html.Raw(Model.Body)</dd>
		</dl>
	</div>
	<div class="btn_list_view">
		<span class="btn_left">
@if (false == string.IsNullOrEmpty(Model.PreviousNoticeLink))
{
			<a href="@Model.PreviousNoticeLink" class="splt_prev02"><span class="ico_splt_2"></span><span class="txt">이전글</span></a>
}
@if (false == string.IsNullOrEmpty(Model.NextNoticeLink))
{
			<a href="@Model.NextNoticeLink" class="splt_next"><span class="txt">다음글</span><span class="ico_splt_2"></span></a>
}
		</span>
		<span class="btn_right">
			<a href="@Model.NoticeListLink" class="splt_view"><span class="ico_splt_2"></span><span class="txt">목록보기</span></a>
		</span>
	</div>
</div>
<!-- //미니샵/스토어 공지사항 -->