@{
	Layout = "_ShopLayout.cshtml";
}

@using GMKT.GMobile.Data
@using GMKT.GMobile.Web.Controllers
@using GMKT.GMobile.Web.Models
@using Newtonsoft.Json

@model NoticeListM

<!-- 미니샵/스토어 공지사항 -->
<div class="m_notice_list_wrap">
	<h3>공지사항</h3>
@if (false == string.IsNullOrEmpty(Model.ShopIntroduction))
{
	<h4>@Model.ShopIntroduction</h4>
}
	<div class="m_notice_list">
		<div class="m_notice_list_top">
			<form id="notice_list_form" action="" method="GET">
				<input type="hidden" name="alias" value="@Model.Alias" />
				<select class="titType" name="type">
					<option value="">전체</option>
					<option value="1" @(Model.Type != null && (byte)Model.Type == 1 ? "selected='selected'" : "")>배송관련</option>
					<option value="2" @(Model.Type != null && (byte)Model.Type == 2 ? "selected='selected'" : "")>주문관련</option>
					<option value="3" @(Model.Type != null && (byte)Model.Type == 3 ? "selected='selected'" : "")>상품관련</option>
					<option value="4" @(Model.Type != null && (byte)Model.Type == 4 ? "selected='selected'" : "")>이벤트</option>
					<option value="5" @(Model.Type != null && (byte)Model.Type == 5 ? "selected='selected'" : "")>기타</option>
				</select>
				<div class="notice_input_box">
					<input type="text" name="keyword" value="@Model.Keyword" />
				</div>
				<a href="javascript:;" class="tit_search" id="a_srp" onclick="notice_list_form.submit();"><span class="ico_splt_2"></span><span class="txt">검색</span></a>
			</form>
		</div>

		<div class="notice_list">
			<ul id="notice_wrapper">
@if (Model.NoticeCount > 0 && Model.NoticeList != null && Model.NoticeList.Count > 0)
{
	foreach (var eachNoticeList in Model.NoticeList)
	{
				<li>
					<a href="@Url.Action("Notice", "Shop", new { alias = Model.Alias, no = eachNoticeList.No, type = Model.Type, keyword = Model.Keyword })">@eachNoticeList.Title</a>
		@if (eachNoticeList.IsNew)
		{
					<span class="new ms_clr_bg">NEW</span>
		}
					<span class="data">@eachNoticeList.PostDate.ToString("yyyy-MM-dd")</span>
				</li> 
	}
}
else
{
				<li>
					공지사항이 없습니다.
				</li>
}
			</ul>
		</div>

		<div class="prod_btm_func">
@if (Model.HasMoreButton && Model.MoreCount > 0)
{
			<button type="button" class="btn_more_prod" id="show_more"><em id="more_count">@Model.MoreCount</em><span class="splt_bg_1">개 더보기</span></button>
			<span id="no_more_notice" class="nodata" style="display: none;">더 이상 불러올 정보가 없습니다.</span>
}
			<button type="button" class="btn_page_top splt_bg_2 btn_bg" onclick="window.scrollTo(0, 1);">TOP</button>
		</div>
	</div>
</div>
<!-- //미니샵/스토어 공지사항 -->

@if (Model.HasMoreButton && Model.MoreCount > 0)
{
	@section Templates
	{
		<script type="text/x-handlebars-template" id="noticelist_template">
			{{#each list}}
				<li>
					<a href="@Url.Action("Notice", "Shop", new { alias = Model.Alias, no = "No", type = Model.Type, keyword = Model.Keyword }).Replace("no=No", "no={{No}}")">{{Title}}</a>
					{{#if IsNew}}
						<span class="new ms_clr_bg">NEW</span>
					{{/if}}
					<span class="data">{{PostDate}}</span>
				</li>
			{{/each}}
		</script>
	}
}

@section ScriptConst
{
	<script type="text/javascript">
		Const.MORE_NOTICE_LIST_URL = "@Url.Action("GetMoreNoticeList", "Shop")";
		Const.MORE_NOTICE_LIST_PARAM = @Html.Raw(JsonConvert.SerializeObject(new { type = Model.Type, keyword = Model.Keyword }));
		Const.NOTICE_COUNT = @Model.NoticeCount;
	</script>
}

@section Scripts
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/shop/NoticeListController.js?dummy=201312111000"></script>
	<script type="text/javascript">
		var noticeListController = new NoticeListController();
	</script>
}