@{
    ViewBag.Title = "SearchTest";
	//Layout = "_ShopLayout.cshtml";
}
@using Arche.Data.Voyager;
@using GMobile.Data.Voyager;
@using GMKT.GMobile.Web.Models;
@using GMKT.GMobile.Util;

@model ShopTestModel

<h2>카테고리정보만</h2>
<ul>
@foreach (GMKT.GMobile.Data.CategoryInfoT cate in Model.Categoryinfo)
{
	<li>
		<span>@cate.Id @cate.Name @cate.ItemCount</span>개
	</li>
}
</ul>

 <br /><br /><br />

<h2>그냥 아이템 검색</h2>
<ul>
@foreach (GMobile.Data.Voyager.SearchItemT item in Model.Items)
 {
	<li>
		<img src="@BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "S")" />
		<span>@item.GdNo</span>
		<span>@item.Name</span>
	</li>
	<br />
 }
</ul>
 
 <br /><br /><br />

<h2>카테고리정보랑 아이템둘다</h2>
<h3>총 @Model.SearchResult.TotalCount 개</h3>
<br />

<ul>
@foreach (GMKT.GMobile.Data.CategoryInfoT cate in Model.SearchResult.CategoryInfo)
{
	<li>
		<span>@cate.Name @cate.ItemCount</span>개
	</li>
}
</ul>
<ul>
@foreach (GMobile.Data.Voyager.SearchItemT item in Model.SearchResult.Items)
{
	<li>
		<img src="@BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "S")" />
		<span>@item.GdNo</span>
		<span>@item.Name</span>
	</li>
	<br />
}
</ul>