@{
	ViewBag.Title = "Search";
	Layout = "_ShopLayout.cshtml";
}
@using GMKT.GMobile.Web.Models;
@using GMKT.GMobile.Data;
@using GMobile.Data.Voyager;

@model ShopSearchModel

<style type="text/css">
	.type_default .small, .type_img .small { display: inline; }
	.type_default .big, .type_img .big { display: none; }
	.type_img_big .small { display: none; }
	.type_img_big .big { display: inline; }
</style>

@{Html.RenderAction("HistoryAdd", "Shop", new { alias = Model.Alias, actionName = "Search", message = Model.Keyword, url = Request.Url });}

<div class="ms_search">
	<!-- 상품 검색결과 -->
	<div class="ms_srcArea">
	@if (Model.IsContainCategorySearch == true)
	{
		<!-- 검색결과 상단 (Back버튼) -->
		<div class="ms_data_tit ms_data_tit_back"><!-- back버튼 추가시 ms_data_tit_back클래스 추가 -->
		<a href="javascript:history.back();" class="btn_back"><span class="ico_splt_2">Back</span></a>
		<h3>
			<span class="tit ms_clr_font ">@Model.Keyword</span>
			<span class="count"><strong class="ms_clr_font">@Model.CategoryInfo.Count</strong>개의 카테고리 / <strong class="ms_clr_font">@Model.TotalCount.ToString("#,##0")</strong>개의 상품</span>
		</h3>
		</div>
		<!-- //검색결과 상단 (Back버튼)  -->
	}
	else
	{
		<!-- 검색결과 상단 -->
		<div class="ms_data_tit">
			<h3>
				<span class="tit ms_clr_font">@Model.Keyword</span>
				<span class="count"><strong class="ms_clr_font">@Model.CategoryInfo.Count</strong>개의 카테고리 / <strong class="ms_clr_font">@Model.TotalCount.ToString("#,##0")</strong>개의 상품</span>
			</h3>
		</div>
		<!-- //검색결과 상단 -->
	}
	</div>
	<!-- //상품 검색결과 -->

	<!-- 상품검색결과 목록 -->
	<div class="cate_listW" id="cate_listW" style="display: ">
		<ul class="cate_list">
		@foreach (CategoryModel category in Model.CategoryInfo)
		{
			string subCategoryClass = "";
			if (category.HasSubCategory == true)
			{
				subCategoryClass = "ico_splt_2";
			}
			if (category.IsDisplayCategory == true)
			{
				<li><a href="@category.LinkUrl">@category.Name <strong>(@category.ItemCount)</strong><span class="@subCategoryClass"></span></a></li>
			}
			else
			{
				<li style="display:none"><a href="@category.LinkUrl">@category.Name <strong>(@category.ItemCount)</strong><span class="@subCategoryClass"></span></a></li>
			}
		}
		</ul>
		@if (Model.IsMoreCategpry == true)
		{
			<a id="srpViewMoreCategory" href="javascript:OpenCloseMoreCategory(true);" class="btn_more" >검색결과 더보기&nbsp;&nbsp;<span class="ico_splt_2"></span></a>
			<a id="srpViewCloseCategory" href="javascript:OpenCloseMoreCategory(false);" class="btn_close" style="display:none">닫기&nbsp;&nbsp;<span class="ico_splt_2"></span></a>
		}
	</div>
	<!-- //상품검색결과 목록 -->
</div>

<!-- 상품 전시유형/정렬순서 변경 (리스트형) -->
<div class="prod_list_view_type">
	<div class="sortType">
		<select id="selListSort">
			<option value="@Convert.ToInt32(DisplayOrder.SellPointDesc)">판매인기순</option>
			<option value="@Convert.ToInt32(DisplayOrder.New)">신규등록순</option>
			<option value="@Convert.ToInt32(DisplayOrder.ConPointDesc)">상품평많은순</option>
			<option value="@Convert.ToInt32(DisplayOrder.DiscountPriceDesc)">할인액높은순</option>
			<option value="@Convert.ToInt32(DisplayOrder.SellPriceDesc)">가격높은순</option>
			<option value="@Convert.ToInt32(DisplayOrder.SellPriceAsc)">가격낮은순</option>
		</select>
	</div>
	<ul class="viewType">
		<li id="liViewTypeList" class="type1"><a href="javascript:change_listtypeandupdate('list');"><span class="ico_splt_2">리스트형</span></a></li>
		<li id="liViewTypeImage" class="type2 on"><a href="javascript:change_listtypeandupdate('img');"><span class="ico_splt_2">이미지형</span></a></li>
		<li id="liViewTypeBigImage" class="type3"><a href="javascript:change_listtypeandupdate('big');"><span class="ico_splt_2">큰이미지형</span></a></li>
	</ul>
</div>
<!-- //상품 전시유형/정렬순서 변경 (리스트형) -->

<!-- 상품 목록 리스트형 -->
<div class="prod_sub">
	<div class="prod_list">
		<ul id="list_result" class="type_img">
		</ul>
	</div>

@if (Model.TotalCount > 0)
{
	<div class="prod_btm_func">
		<div class="paging">
			<span class="pg_btn first"><a onclick="getPageListAndGoTop(1);return false;" title="맨앞 페이지" href="javascript:;">처음</a></span>
			<span class="pg_btn prev"><a onclick="getPageListAndGoTop(params.currentPageNo - 1);return false;" title="이전 페이지" href="javascript:;">이전</a></span>
			<span class="pg_pages"></span>
			<span class="pg_btn next"><a onclick="getPageListAndGoTop(params.currentPageNo + 1);return false;" title="다음 페이지" href="javascript:;">다음</a></span>
			<span class="pg_btn last"><a onclick="getPageListAndGoTop(params.lastPage);return false;" title="맨뒤 페이지" href="javascript:;">마지막</a></span>
		</div>
		<div class="btn_top"><button type="button" class="btn_page_top splt_bg_2 btn_bg" onclick="javascript:window.scrollTo(0, 1);">TOP</button></div>
	</div>
}
else
{
	 <div class="prod_btm_func">
		<span id="ShopNodata" class="nodata">'@Model.Keyword' 검색 결과를 찾을 수 없습니다.</span><br />
		<span class="nodata">검색어가 올바른지 재 확인 하신 후<br />정확하게 다시 입력해 주세요.</span>
	 </div>
}
</div>

@section Templates
{
<script id="list_result_template" type="text/x-handlebars-template">
	{{#each Items}}
	<li class="lazy_page_{{PageNo}}"">
		<a href="javascript:;" onclick="shopController.addHistoryAndGo('Item', '', '{{VipUrl}}', '{{ImagePath}}', '{{ErrorMessage}}')">
			<span class="prd_img">
				<img class="lazyImage small" src="@Urls.MobileImageUrlV2/shop/img/lazy_395x395.gif" data-original="{{ImagePath}}" alt="">
				<img class="lazyImage big" src="@Urls.MobileImageUrlV2/shop/img/lazy_395x395.gif" data-original="{{BigImagePath}}" data-onerror="{{OnErrorBigImagePath}}" alt="">
			</span>
			<span class="dim"></span>
			<span class="prd_info">
				<span class="desc">{{Name}}</span>
				<span class="price">
                {{#ifJoin SellPrice}}
                <span>가입상품</span>
                {{else}}
                <em>{{SellPrice}}</em><span>원</span>
                {{/ifJoin}}
				{{#if DiscountRate}}
					<span class="discount">{{DiscountRate}}%</span>
				{{/if}}
				<span class="favorite _favoriteFunc" data-goodscode="{{ItemID}}"><span class="ico_splt_2">관심상품</span></span>
				</span>
				<span class="icons">
					{{#if IsDeliveryFree}}
						<img src="@Urls.MobileImageUrlV2/shop/ico/ico_ship_free.gif" width="47" height="19" alt="무료배송">
					{{/if}}
				</span>
			</span>
		</a>
	</li>    
	{{/each}}
</script>
}

@section Scripts
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/grapnel.min.js"></script>
<script type="text/javascript">
	var PAGE_SIZE = 20;
	var PAGENATION_SIZE = 5;
	var params =
	{
		totalCount: parseInt("@Model.TotalCount")
		, shopAlias: "@Model.Alias"
		, keyword: "@Model.Keyword"
		, category: "@Model.CategoryCode"
		, isshop: "@Model.IsShopCategory"
		, pageSize: PAGE_SIZE
		, lastPage: Math.ceil(parseInt("@Model.TotalCount") / PAGE_SIZE)
		, sort: @Model.Sort
		, currentListType: "img"
		, currentPageNo: 1
		, needPageListAjax : true
	};
</script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/shop/ShopList_v3.js?dummy=20150515"></script>
}
