@using GMKT.GMobile.Data;
@using GMKT.GMobile.Web.Models
@model ShopWingModel
			<div id="ms_side">
				<!-- 카테고리 -->
				<div class="aside_ctgr aside_section">
					<h3 class="ms_clr_font">카테고리</h3>
					<ul class="ctgr_list">
					@foreach (CategoryModel cate in Model.CategoryList)
					{
						<li><a href="@cate.LinkUrl" class="splt_bg_1"><strong>@cate.Name</strong><span>(@cate.ItemCount)</span></a></li>
					}
					</ul>
				</div>
				<!-- //카테고리 -->

			@if (ViewBag.Mobile !=null && ViewBag.Mobile.ShopInfo != null && ViewBag.Mobile.ShopInfo.ShopLevel != null && ViewBag.Mobile.ShopInfo.ShopLevel.ToUpper() == "P")
			{
				<!-- 공지사항 -->
				<div class="aside_notice aside_section">
					<h3 class="ms_clr_font">공지사항</h3>
					<ul class="ntc_list">
				@if (Model.NewsList == null || Model.NewsList.Count <= 0)
				{
						<li class="nodata splt_bg_1">공지사항이 없습니다</li> 
				}
				else
				{
					for (int idxNews = 0; idxNews < Model.NewsList.Count && idxNews < 3; idxNews++)
					{
						<li><a href="@Url.Action("Notice", "Shop", new {no=Model.NewsList[idxNews].No})" class="splt_bg_1"><strong>@Model.NewsList[idxNews].Title</strong><span>@Model.NewsList[idxNews].PostDate.ToString("yyyy-MM-dd")</span></a></li>
					}
				}
					</ul>
					<a href="@Url.Action("NoticeList", "Shop")" class="btn_more">더보기<span> +</span></a>
				</div>
				<!-- //공지사항 -->
			}
				
				<!-- 상품 -->
				<div class="aside_new aside_section">
					<h3 class="ms_clr_font">미니샵 신상품</h3>
					<div class="prod_list">
						<ul class="type_side">							
						@foreach (ShopItemModel item in Model.ItemList)
						{
							<li>
								<a href="@item.VipUrl" onclick="shopController.addHistoryAndGo('Item', '', '@item.VipUrl', '@item.ImagePath', '@item.ErrorMessage')">
									<span class="prd_img"><img src="@BizUtil.GetGoodsImagePath(item.ItemID.ToString(), "S")" alt="@item.ItemID" /></span>
									<span class="dim"></span>
									<span class="prd_info">
										<span class="desc">@item.Name</span>
										<span class="price">@if (item.SellPrice == "2") { <em>가입상품</em> } else { <em>@item.SellPrice</em><span>원</span> }
										<span class="favorite _favoriteFunc" data-goodscode="@item.ItemID"><span class="ico_splt_2">관심상품</span></span></span>
									</span>
								</a>
							</li>
						}
						</ul>
					</div>
					<a href="@Url.Action("List", "Shop", new {sort=@Convert.ToInt32(DisplayOrder.New)})" class="btn_more">더보기<span> +</span></a>
				</div>
				<!-- //상품 -->

			</div>