@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models.EventV2;
@using GMKT.GMobile.Data;
@using GMKT.Web.Context;

@model PluszoneModel
@{
    bool usePcApply = DateTime.Now >= new DateTime(2016, 11, 1, 0, 0, 0); //2016년11월1일 부터 PC 가능
    bool IsTestIdCheck = GMobileWebContext.Current.UserProfile.LoginID == "lyj0707" || GMobileWebContext.Current.UserProfile.LoginID == "test4plan" || GMobileWebContext.Current.UserProfile.LoginID == "lyk028" || GMobileWebContext.Current.UserProfile.LoginID == "momoharry";
 }

<!-- CONTENT -->
	<div id="content" class="ctns">
		@Html.Partial("Event/_NavigationBar", @Model.NaviIcons, new ViewDataDictionary { { "selectTab", "출석체크" } })
        

		@if (!string.IsNullOrEmpty(Model.TopBanner.ImageUrl))
  {
        <div class="banner_box">
			<img src="@Model.TopBanner.ImageUrl" alt="@Model.TopBanner.ImageAlt" />
		</div>
  }
  
  @{
      string attendance = "";
      if (PageAttr.IsLogin)
      {
          attendance = Model.AttendanceCount.ToString();
      }
      else
      {
          attendance = "?";
      }
}		

		<div class="box_pluszone01">
       @if (!PageAttr.IsApp && PageAttr.Exid == GMKT.Web.Membership.ExIdAppEnum.None && !usePcApply && !IsTestIdCheck)
       {
	    <!-- WPR-3933   -->
            <div class="rltt_wrap_main">
				<div class="rltt_toapp">
					<div class="rltt_div">
						<img src="//pics.gmkt.kr/mobile/main/img_pluszon_rltt_pc.jpg" alt="모바일과 PC 어디서나 출석체크! 이제 PC에서도 출석체크가 가능합니다." />
						<p class="blind">출석에 따라 최대 300스마일 포인트 증정</p>
					</div>
				</div>
			</div>
         <!-- // WPR-3933  -->
       }
       else
       {
			<div class="box_flex01">
				<!-- 룰렛 -->
				<div class="rltt_wrap_main">
					<div class="rltt">
                        <img src="@Model.Roulette.ImageMobile" alt="룰렛" class="rltt_img" id="rlttImage" />                                          
                        <img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/rullet/img_pzone_pin2.png" alt="핀" class="rltt_pin"/>
					<a href="javascript:SnaUrlFooter('710000015');" class="rltt_start" id="rlttStart"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/rullet/btn_pzone_start2.png" alt="룰렛돌리고 출석체크하고 START" /></a>
					</div>
				</div>
		        <!-- //룰렛 -->
            </div>
       
        <div class="box_flex02">		
				<!-- 달력 -->
				<div class="atnd_wrap_main">
					<div class="atnd">
						<div class="box_state">
@if (PageAttr.IsLogin)
{
    string displayCustName = "";
    if (string.IsNullOrEmpty(GMobileWebContext.Current.UserProfile.CustName) == false)
    {
        if (GMobileWebContext.Current.UserProfile.CustName.Length > 4)
        {
            displayCustName = string.Format("{0}...", GMobileWebContext.Current.UserProfile.CustName.Substring(0, 4));
        }
        else
        {
            displayCustName = GMobileWebContext.Current.UserProfile.CustName;
        }
    }
							<!-- 로그인 후 -->
                            <div class="login">
								<span class="btn_login">@(displayCustName)님</span>
							</div>
							<!-- //로그인 후 -->
}
else
{
							<!-- 로그인 전 -->
							<div class="login"><a class="btn_login" href="@Urls.MemberOnlyLoginUrl">로그인을 해주세요</a></div>
							<!-- //로그인 전 -->
}    
							<div class="date">
								<strong>이번달 출석일수</strong>
								<span class="day">@attendance<span>일</span></span>
							</div>
						</div>
						<table summary="출석한날 표시 달력">
							<caption>출석체크 달력</caption>
							<thead>
								<tr>
									<th scope="col">S</th>
									<th scope="col">M</th>
									<th scope="col">T</th>
									<th scope="col">W</th>
									<th scope="col">T</th>
									<th scope="col">F</th>
									<th scope="col">S</th>
								</tr>
							</thead>
							<tbody>
@{
int i, currentDay = 1;
								
								<tr>
	@for (i = 0; i < Model.StartDayOfThisMonth; i++)
 {
									<td></td>
 }
							
	@for (i = 0; i < 7 - Model.StartDayOfThisMonth; i++)
 {
     if (Model.AttendanceDate != null && Model.AttendanceDate.Contains(currentDay))
     {
										<td><div><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/img_pzone_cir.png" alt="" />@currentDay</div></td>
     }
     else
     {
										<td>@currentDay</td>
     }
     currentDay++;
 }
								</tr>
				 
 while (currentDay <= Model.EndDayOfThisMonth)
 {
									<tr>
		@for (i = 0; i < 7 && currentDay <= Model.EndDayOfThisMonth; i++)
  {
      if (Model.AttendanceDate != null && Model.AttendanceDate.Contains(currentDay))
      {
											<td><div><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/img_pzone_cir.png" alt="" />@currentDay</div></td>
      }
      else
      {
											<td>@currentDay</td>
      }
      currentDay++;
  }
		@for (; i < 7; i++)
  {
										<td></td>
  }
									</tr>
 }
}
							</tbody>
						</table>
					</div>
				</div>
				<!-- //달력 -->
			
        @if (Model.PluszoneCouponList != null && Model.PluszoneCouponList.Count > 0)
        {
                <!-- 경품응모 -->
				<div class="ent_wrap_main" id="entry_prod">
					<!--140225-->
					<div class="m_title">
						<h3>열심히 출석한 당신, 응모하세요!</h3>
						<a href="#" class="btn_more" onclick="popBlockUI('layer_bef');return false;"><span>혜택안내</span></a>
					</div>
					<!--//140225-->
					<div class="entry_prod">
						<ul class="entry_lst">
@{
    string bannerUrl = string.Empty;
    int eidCnt = 1;
    int lastDate = DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month);
   
}
                            @foreach (var eachBanner in Model.PluszoneCouponList)
                            {
                                if (PageAttr.IsLogin == false)
                                {
                                    bannerUrl = string.Format("javascript:fnApplyAlertLogin('{0}');", @Urls.MemberOnlyLoginUrl);
                                }
                                else
                                {
                                    if (eidCnt == 1)
                                    {
                                        if (Model.AttendanceCount >= 10)
                                        {
                                            bannerUrl = string.Format("javascript:RouletteMileageDrawEveryDay('{0}','{1}','{2}')", eachBanner.EidEncryptedString[0], eachBanner.EidEncryptedString[1], eidCnt);
                                        }
                                        else
                                        {

                                            bannerUrl = string.Format("javascript:alert('10회 이상 출석 체크 후 응모해주세요.');");
                                        }
                                    }
                                    else if (eidCnt == 2)
                                    {
                                        if (Model.AttendanceCount >= 15)
                                        {
                                            bannerUrl = string.Format("javascript:RouletteMileageDrawEveryDay('{0}','{1}','{2}')", eachBanner.EidEncryptedString[0], eachBanner.EidEncryptedString[1], eidCnt);
                                        }
                                        else
                                        {
                                            bannerUrl = string.Format("javascript:alert('15회 이상 출석 체크 후 응모해주세요.');");
                                        }
                                    }
                                    else if (eidCnt == 3)
                                    {
                                        if (Model.AttendanceCount >= lastDate)
                                        {
                                            bannerUrl = string.Format("javascript:RouletteMileageDrawEveryDay('{0}','{1}','{2}')", eachBanner.EidEncryptedString[0], eachBanner.EidEncryptedString[1], eidCnt);
                                        }
                                        else
                                        {
                                            bannerUrl = string.Format("javascript:alert('100% 출석 후 응모 가능합니다.');");
                                        }
                                    }
                                    else
                                    {
                                        bannerUrl = string.Format("javascript:alert('응모 조건을 확인해주세요.');");
                                    }
                                }                              
                                    <li>
                                        <div class="img_bx"><img src="@eachBanner.BannerUrl" alt="" /></div>
                                        <span class="txt_bx"> 
                                            <span class="txt">@eachBanner.Title</span>
								            <a href="@bannerUrl" class="btn_entry">응모하기</a>
                                        </span>
                                    </li>                                
                                eidCnt++;
                            }
                        </ul>
					</div>
				</div>
				<!-- //경품응모 -->
        }
		</div>           

       }

		</div>


		<div class="box_dot_main">
			@if (Model.MobileBanner != null && Model.MobileBanner.Count > 0)
   {
       int bannerNo = 16;
			<div class="box_benefit_main">
                <div class="m_title"><h3>HOT EVENT</h3></div>
				<div class="banner_box">
					<div id="bnGrp">
						<ul>
                            
                            @foreach (var eachBanner in Model.MobileBanner)
                            {
                                if (!String.IsNullOrEmpty(eachBanner.ImageMobile))
                                {
							<li><a href="@eachBanner.MobileUrl" onclick="javascript:SnaUrlFooter('7100000@(bannerNo)');"><img src="@eachBanner.ImageMobile" alt="@eachBanner.Alt" /></a></li>
                                    bannerNo++;
                                }
                            }
						</ul>
					</div>
                    
					<div id="bnTurn" class="bn_eturn">
						<button type="button" id="prev" class="prev" onclick="gallery1.prev();return false;"><span></span></button>
						<button type="button" id="next" class="next" onclick="gallery1.next();return false;"><span></span></button>
					</div>
				</div>	
				<script type="text/javascript">
				    /* 이미지 높이값 고정 */
				    $(window).on("resize", function () {
				        setImgHeight();
				    });
				    function setImgHeight() {
				        var $bnr_img = $('#bnGrp a img');
				        $bnr_img.height($bnr_img.width() * 0.422); //0.422 : 배너 가로세로 비율
				    }
				    setImgHeight();
				    /* //이미지 높이값 고정 */

				    var gallery1,
						el,
						i,
						page,
						dots1 = document.querySelectorAll('#bnTurn button');
				    /* HTML 파싱 */
				    var bnGrpList1 = $("#bnGrp li");

				    if (1 < bnGrpList1.length) {

				        var bnGrpListAtag1 = [];

				        for (var j = 0; j < bnGrpList1.length; j++) {
				            bnGrpListAtag1[j] = bnGrpList1[j].innerHTML;
				        }
				        var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");

				        /* //HTML 파싱 */

				        gallery1 = new SwipeView('#bnGrp', {
				            numberOfPages: bnGrpListAtag1.length,
				            hastyPageFlip: true,
				            flickTime: 1000
				        });

				        // Load initial data
				        for (i = 0; i < 3; i++) {

				            if (1 == bnGrpListAtag1.length) {
				                page = i == 0 || 2 ? bnGrpListAtag1.length - 1 : i - 1;
				            }
				            else {
				                page = i == 0 ? bnGrpListAtag1.length - 1 : i - 1;
				            }
				            el = document.createElement('span');
				            el.innerHTML = bnGrpListAtag1[page];
				            gallery1.masterPages[i].appendChild(el)

				            el.width = bnGrpListAtag1[page].width;
				            el.height = bnGrpListAtag1[page].height;
				            el.onload = function () { this.className = ''; }
				        }

				        gallery1.onFlip(function () {
				            var el,
								upcoming,
								i;

				            for (i = 0; i < 3; i++) {
				                upcoming = gallery1.masterPages[i].dataset.upcomingPageIndex;

				                if (upcoming != gallery1.masterPages[i].dataset.pageIndex) {
				                    el = gallery1.masterPages[i].querySelector('span');
				                    el.innerHTML = bnGrpListAtag1[upcoming];
				                }
				            }

				            setImgHeight(); //140307추가
				        });

				        flicking("bnGrp", "prev", "next");

				    } else if (1 == bnGrpList1.length) {

				        var bnGrpListAtag1 = [];

				        for (var j = 0; j < bnGrpList1.length; j++) {
				            bnGrpListAtag1[j] = bnGrpList1[j].innerHTML;
				        }
				        var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");
				        /*140128*/
				        var elSpan = document.createElement('span');
				        elSpan.innerHTML = globalBnGrpListAtag1;
				        document.querySelector('#bnGrp').appendChild(elSpan);
				        //$("#bnGrp").append(globalBnGrpListAtag1);
				        /* //140128*/

				        flicking("bnGrp", "prev", "next");
				    } 
				</script>		
			</div>
   }
   
   @if( (DateTime.Now <= new DateTime(2016, 11, 1, 0, 0, 0)))
   {
        <!--인기기획전-->
       if (Model.ShoppingPlanList.PlanList != null && Model.ShoppingPlanList.PlanList.Count > 0)
       {
			<div class="box_exhibit_main01">
				<div class="m_title">
					<h3>인기 기획전</h3>
					<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList" class="btn_more" onclick="SnaUrlFooter('710000031');return true;"><span>더보기</span></a>
				</div>
                <div class="tab_supd">
					<div class="box_wp" id="supdTab">
						<div id="supdTabCnt" class="supd_cnt">
							<ul>
						        <li class="on"><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList" onclick="javascript:SnaUrlFooter('710000030')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate01_press@2x.png" alt="" /></span>기획전 전체</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G01" onclick="javascript:SnaUrlFooter('710000032')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate02@2x.png" alt="" /></span>패션의류</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G02" onclick="javascript:SnaUrlFooter('710000033')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate03@2x.png" alt="" /></span>신발/잡화</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G03" onclick="javascript:SnaUrlFooter('710000034')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate04@2x.png" alt="" /></span>화장품/헤어</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G07" onclick="javascript:SnaUrlFooter('710000035')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate05@2x.png" alt="" /></span>식품</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G04" onclick="javascript:SnaUrlFooter('710000036')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate06@2x.png" alt="" /></span>유아동/출산</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G08" onclick="javascript:SnaUrlFooter('710000037')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate07@2x.png" alt="" /></span>생활/주방/건강</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G09" onclick="javascript:SnaUrlFooter('710000038')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate08@2x.png" alt="" /></span>가구/침구</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G05" onclick="javascript:SnaUrlFooter('710000039')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate09@2x.png" alt="" /></span>스포츠/자동차</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G06" onclick="javascript:SnaUrlFooter('710000040')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate10@2x.png" alt="" /></span>컴퓨터/전자</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G10" onclick="javascript:SnaUrlFooter('710000041')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate11@2x.png" alt="" /></span>도서/음반</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G11" onclick="javascript:SnaUrlFooter('710000042')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate12@2x.png" alt="" /></span>여행</a></li>
							    <li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G12" onclick="javascript:SnaUrlFooter('710000043')"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate13@2x.png" alt="" /></span>e쿠폰/티켓</a></li>
							</ul>
						</div>
						<button type="button" class="prev_p off">왼쪽으로</button>
						<button type="button" class="next_p off">오른쪽으로</button>
					</div>
				</div>	
           
                <div class="event_lst" id="dataListAjax">
                    <ul>
@{
           int intCount = 1;
           string strCount = "";
}
                    
                    @foreach (GMobile.Data.DisplayDB.MobilePlanT eachShopPlan in Model.ShoppingPlanList.PlanList)
                    {
                        if (string.IsNullOrEmpty(eachShopPlan.MobileThumbImageUrl) == true) { continue; }
                        if (intCount >= 10)   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
                        {
                            strCount = string.Format("7032000{0}", intCount);
                        }
                        else
                        {
                            strCount = string.Format("70320000{0}", intCount);
                        }
                        <li><a href="@Urls.MobileWebUrl/Display/SpecialShopping?lcId=@eachShopPlan.GdlcCd&sid=@eachShopPlan.Sid"><img src="@eachShopPlan.MobileThumbImageUrl" alt="@eachShopPlan.Title" /></a></li>                    
                        intCount++;
                    }
					</ul>
					<!--button type="button" class="btn_more">목록 더보기</button-->
			    </div>
                @{
                    if (@Model.ShoppingPlanList.pageNo != 0)
                    {
                        string customParam = "groupCd=" + Model.ShoppingPlanList.groupCd;
                        @GMobileHelper.PagingUp(Model.ShoppingPlanList.pageNo, 10, (int)Model.ShoppingPlanList.PlanList[0].TotalCounts, 10, Urls.MobileWebUrl + "/Display/SpecialShoppingList", "pageNo", "|", customParam);
                    }
                }
            </div>
       }
            
            <div class="layer_allsv" id="layer_allsv">
				<div class="lay_wp">
					<h3>인기 기획전 전체보기</h3>
					<div class="sevlist_wp">
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G01" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop01@2x.png" alt=""></span><span class="s_name">패션의류</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G02" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop02@2x.png" alt=""></span><span class="s_name">신발/잡화</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G03" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop03@2x.png" alt=""></span><span class="s_name">화장품/헤어</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G04" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop04@2x.png" alt=""></span><span class="s_name">유아동/출산</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G07" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop05@2x.png" alt=""></span><span class="s_name">식품</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G08" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop06@2x.png" alt=""></span><span class="s_name">생활/주방/건강</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G09" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop07@2x.png" alt=""></span><span class="s_name">가구/침구</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G05" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop08@2x.png" alt=""></span><span class="s_name">스포츠/자동차</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G06" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop09@2x.png" alt=""></span><span class="s_name">컴퓨터/전자</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G10" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop10@2x.png" alt=""></span><span class="s_name">도서/음반</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G11" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop11@2x.png" alt=""></span><span class="s_name">여행</span></a>
						<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G12" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop12@2x.png" alt=""></span><span class="s_name">e쿠폰/티켓</span></a>
					</div>
					<a href="#" class="lay_clse noBorder noBorder" onclick="popBlockUI('layer_allsv');return false;">닫기</a>
				</div>
			</div>
   }


     <script type="text/javascript">

         // 이벤트 응모 스크립트 (.NET)
         function CommonApplyEventPlatformMobile(Str, encStr, groupYn, lang) {
             document.cookie = "ECif" + "=" + escape(encStr) + "; path=/;domain=gmarket.co.kr";
             groupYn = (typeof groupYn == "undefined") ? "N" : groupYn;
           
             var openerURL = encodeURIComponent(document.URL);   // encodeURIComponent로 인코딩 2014-05-26 
             window.document.location.href = "@Urls.EventNetRoot/eventplatform/apply?epif=" + Str + "&groupYn=" + groupYn + "&lang=" + lang + "&isMobile=Y&openerURL=" + openerURL;  

//CS 건으로 인한 엥커처리 제외 2016-11-29 NIS783
//             var openerURL = document.URL;
//             if (openerURL.indexOf("#entry_prod") > 0) {
//                 openerURL = openerURL.replace(/#entry_prod/g, '');
//             }
//             openerURL = encodeURIComponent(openerURL);   // encodeURIComponent로 인코딩 2014-05-26
//             var anchor = "entry_prod";
 //             window.document.location.href = "@Urls.EventNetRoot/eventplatform/apply?epif=" + Str + "&groupYn=" + groupYn + "&lang=" + lang + "&isMobile=Y&openerURL=" + openerURL + "&anchor=" + anchor;

             return;
         }

         var scrollTab = null;
         var currentX = -1;
         var $maxItemLI = $('#supdTabCnt li');
         var $maxItemUL = $('#supdTabCnt ul');
         //var screenSize = $(window).width();	
         var maxValue = ($maxItemLI.width()) * $maxItemLI.length;
         $maxItemUL.css('width', maxValue + 'px');

         $(window).on("load resize", function () { // orientationchange
             initIscroll('supdTabCnt', maxValue);

             if (scrollTab) {
                 if (currentX > 0) {
                     scrollTab.currPageX = currentX;
                     scrollTab.scrollToPage(currentX, 0, 0);
                 }
                 if (currentX == -1) {
                     var nav = $("#supdTabCnt li");
                     var index;
                     for (var i = 0; i < nav.length; i++) {
                         if ($(nav)[i].className.indexOf('on') > -1) {
                             index = i;
                             break;
                         }
                     }
                     scrollTab.scrollToPage(index - 1, 0, 0);
                 }
             }
         });

         function initIscroll(id, max) {
             var targetId = id;
             if (max > document.getElementById(targetId).offsetWidth) {
                 if (scrollTab == null) scrollTab = new iScroll(targetId, { hScrollbar: false, vScrollbar: false, useTransform: true, snap: 'li',
                     onScrollEnd: function () {
                         var ul = document.getElementById(targetId).querySelector('ul');
                         var sideBtns = document.getElementById('supdTab').querySelectorAll('button');
                         var pos = parseInt(ul.style.left.replace('px', ''));
                         var matrix = $('#supdTabCnt ul').css('-webkit-transform');
                         var values = matrix.split('(')[1].split(')')[0].split(',');
                         var valuesX = values[4];
                         if (valuesX < 0) {
                             $(sideBtns[0]).removeClass('off');
                             $(sideBtns[0]).attr('onclick', 'scrollTab.scrollToPage("prev", 0);');
                         } else {
                             $(sideBtns[0]).addClass('off');
                             $(sideBtns[0]).attr('onclick', '');
                         }
                         if (document.getElementById(targetId).offsetWidth + Math.abs(valuesX) < ul.offsetWidth) {
                             $(sideBtns[1]).removeClass('off');
                             $(sideBtns[1]).attr('onclick', 'scrollTab.scrollToPage("next", 0);');
                         } else {
                             $(sideBtns[1]).addClass('off');
                             $(sideBtns[1]).attr('onclick', '');
                         }
                     }
                 });
             } else {
                 var sideBtns = document.getElementById(targetId).querySelectorAll('button');
                 $(sideBtns[0]).addClass('off');
                 $(sideBtns[0]).attr('onclick', '');
                 $(sideBtns[1]).addClass('off');
                 $(sideBtns[1]).attr('onclick', '');
             }
         }
				</script>
		</div>

@if (!PageAttr.IsIphone && !PageAttr.IsIpad && !PageAttr.IsIpod)
{
    if (PageAttr.IsAndroidApp)
    {
        <div class="botm_dgo botm_dgo2">
            <a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/Pluszone", "", "G마켓 플러스존", "", "", PageAttr))" onclick="SnaUrlFooter('704600009');" class="go1 noBorder">공유하기</a>
		    <a onclick="MobileAppUtil.SendScheme('attendance');SnaUrlFooter('704600010');" class="go2 noBorder">바로가기 추가</a>
        </div>
    }
    else
    {
        <div class="botm_dgo botm_dgo2">
		    <a href="javascript:popBlockUI('layer_sns');SnaUrlFooter('704600009');" class="go1 noBorder">공유하기</a>
		    <a href="javascript:MobileAppUtil.SendAppScheme('Attendance', 500);" onclick="SnaUrlFooter('704600010');" class="go2 noBorder">바로가기 추가</a>
        </div>
    }
}
else
{

    if (PageAttr.IsIphoneApp)
    {
        <div class="add_homego add_homego2">
		    <a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/Pluszone", "", "G마켓 플러스존", "", "", PageAttr))" onclick="SnaUrlFooter('704600009');">공유하기</a>
        </div>
    }
    else
    {
        <div class="add_homego add_homego2">
            <a href="javascript:popBlockUI('layer_sns');" onclick="SnaUrlFooter('704600009');">공유하기</a>
        </div>
    }

}
		<div class="share_sns" id="layer_sns">
			<h4 class="tit">공유하기</h4>

			<div class="sns">
				<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
			</div>
			<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
		</div>		

        <!--140225 혜택레이어 추가-->
		<div class="layer_allsv bef2" id="layer_bef">
			<img src="@Model.MobileGuidePopupImageUrl" alt="플러스존 혜택안내" />
			<!--[D] 대체텍스트 제공 -->
			<div class="blind">
				<h3 >플러스존 혜택안내</h3>
				<ul>
				<li>이벤트 기간 : 매월 1일부터 말일까지</li>
				<li>룰렛 혜택은 ID당 1일 1회 응모 가능 합니다. (PC와 Mobile은 중복응모 불가)</li>
				<li>
					혜택 이용조건
					<ul>
					<li>1천원쿠폰 / 무료배송 쿠폰 : 발급 후 7일까지 사용 가능, 바로접속 구매시 사용가능/1만원 이상 구매시 사용가능</li>
					<li>G스탬프 : 발급 후 30일까지 사용가능 (미사용시 자동소멸)</li>
					<li>마일리지 : 발급 후 90일까지 사용가능 (미사용시 자동소멸)</li>
					</ul>
				</li>
				<li>이벤트는 당사 사정에 의하여 사전 고지 없이 변경 또는 종료 될 수 있습니다</li>
			</ul>
			</div>
			<a href="#" class="lay_clse" onclick="popBlockUI('layer_bef');return false;">닫기</a>
		</div>
		<!--//140225 혜택레이어 추가-->
		<a href="javascript:;" class="btn_top_bar">Top으로 이동</a>
	</div>
	<!-- //CONTENT -->

@section scriptfiles
{
<script type="text/javascript" src="~/Scripts/jQueryRotate.2.2.js"></script>
<script type="text/javascript" src="~/Scripts/Pluszone.js?dummy=201312030821"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=1"></script>
}

@section scripts
{
<script type="text/javascript">
	var ShareTo = function (type) {
		var dataName = "G마켓 플러스존";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "플러스존";
				break;
			default:
				break;
		}
		var data = {
			"name": dataName,
			"url": "http://mobile.gmarket.co.kr/Pluszone",
			"title": ""
		};
		if (type == "kakaotalk") {
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		}
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data))
		}
	}

	$(document).ready(function () {

	    KakaoInit();
	    ShareTo("kakaotalk");

	    setTimeout(function () {
	        displayLayer("progress_icon", "none");
	    }, 100);

	    /* landing Banner */
	    var em = eModule
                    , apps = em.apps
                    , landing = apps.landing;

	    landing.init({
	        pageName: 'Pluszone',
	        landingType: '@Model.LandingBanner.Type',
	        imageUrl: '@Model.LandingBanner.ImageUrl',
	        description: '@Model.LandingBanner.Description',
	        campaign: '@Model.Campaign.Name',
	        medium: '@Model.Campaign.Medium',
	        mediumSource: '@Model.Campaign.MediumSource',
	        mediumContent: '@Model.Campaign.MediumContent',
	        term: '@Model.Campaign.Keyword'
	    });

	    $("#lay_notice").on('click', '#goToApp', function (e) {
	        e.preventDefault();
	        landing.installApp();
	    }).on('click', '#landingClose', function (e) {
	        e.preventDefault();
	        landing.close();
	    });
	    /* landing Banner */


	    @if(!PageAttr.IsApp && PageAttr.Exid == GMKT.Web.Membership.ExIdAppEnum.None && !usePcApply && !IsTestIdCheck){

         string mobileWebUrl = @Urls.MobileWebUrl.Replace("http://", "");

        <text>

        $(".btn_entry").click(function(e){
            e.preventDefault();

            if ("@PageAttr.IsApp" == "False") {
	            if (confirm("출석체크는 앱에서만 가능합니다.\n앱 다운로드 페이지로 이동하시겠습니까?")) {
	                document.location = "@Urls.MobileWebUrl/AppGate?gmarketAction=openwindow&gmarketParameters=title%3D%25ED%2594%258C%25EB%259F%25AC%25EC%258A%25A4%25EC%25A1%25B4%26targetUrl%3Dhttp%253A%252F%252F" + "@mobileWebUrl" +   "%252FPluszone&instant=Y"
	                return false;
	            }
	            else {
	                return false;
	            }

	        }
        });

	    $(".rltt_app_apply_btn").click(function (e) {
	        e.preventDefault();

	        if ("@PageAttr.IsApp" == "False") {
	            if (confirm("출석체크는 앱에서만 가능합니다.\n앱 다운로드 페이지로 이동하시겠습니까?")) {
	                document.location = "@Urls.MobileWebUrl/AppGate?gmarketAction=openwindow&gmarketParameters=title%3D%25ED%2594%258C%25EB%259F%25AC%25EC%258A%25A4%25EC%25A1%25B4%26targetUrl%3Dhttp%253A%252F%252F" + "@mobileWebUrl" +   "%252FPluszone&instant=Y"
	                return false;
	            }
	            else {
	                return false;
	            }

	        }
	    });

        $(".rltt_app_btn").click(function (e) {
	        e.preventDefault();

	        if ("@PageAttr.IsApp" == "False") {
	            if (confirm("출석체크는 앱에서만 가능합니다.\n앱 다운로드 페이지로 이동하시겠습니까?")) {
	                document.location = "@Urls.MobileWebUrl/AppGate?gmarketAction=openwindow&gmarketParameters=title%3D%25ED%2594%258C%25EB%259F%25AC%25EC%258A%25A4%25EC%25A1%25B4%26targetUrl%3Dhttp%253A%252F%252F" + "@mobileWebUrl" +   "%252FPluszone&instant=Y"
	                return false;
	            }
	            else {
	                return false;
	            }

	        }
	    });
        </text>
     }

	    var isRlttStartOn = false;

	    $("#rlttStart").click(function (e) {
	        e.preventDefault();

	        if (false == isRlttStartOn) {

	            if ("@{@PageAttr.IsLogin}" == "True" && "@{@Model.IsApply}" == "False") {

                    if("@{@GMobileWebContext.Current.UserProfile.IsForeigner}" == "True"){                                                           
                        if (confirm("Please click ‘OK’ for participation on global website if you are a member of Gmarket Global.") ) {                                             
                            document.location.href = "@Urls.GlobalMobileWebUrl/PlusZone";  
                            return false;                      
                        }
                        else {
	                        return false;
	                    }
                    }

	                var isSimpleBuyer = "@{@GMobileWebContext.Current.UserProfile.IsSimpleBuyer}";
	                if (isSimpleBuyer == "True") {
	                    var returnUrl = "@Urls.MemberSignInRootSecure/mobile/SelfAuthGate/SelfAuthGate?returnUrl=" + "@Urls.MobileWebUrl/Pluszone";
	                    document.location.href = returnUrl;
	                }
	                else {

	                    //displayLayer("progress_icon", "initial"); for app
	                    isRlttStartOn = true;

	                    $.ajax({
	                        type: "GET",
	                        url: "@Urls.EventNetRoot/PluszoneEventPlatform/Attendance",
	                        dataType: "jsonp",
	                        data: {
	                            openerURL: location.href,
	                            isMobile: "Y",
	                            lang: "KO"
	                        },
	                        jsonp: "callback",
	                        success: function (result) {
	                            displayLayer("progress_icon", "none");

	                            if (result.msgcode == "-1000") {
	                                alert(result.message);
	                            } else if (result.msgcode == "-2000") {
	                                alert("로그인이 필요합니다.");

	                                document.location.href = "@Urls.MemberOnlyLoginUrl";
	                            }
	                            else if (result.msgcode === '-3001' || result.msgcode === '-3002') {
	                                var returnUrl = "@Urls.MemberSignInRootSecure/mobile/SelfAuthGate/SelfAuthGate?returnUrl=" + "@Urls.MobileWebUrl/Pluszone";
	                                document.location.href = returnUrl;
	                            }
	                            else if (result.msgcode == "S301" || result.msgcode == "G301") {
	                                var pieAngle = 360 * 2;
	                                var animateAngle = (pieAngle - parseInt((result.rulletnum) - 1) * 36 - 19);

	                                $("#rlttImage").rotate({
	                                    duration: 10000,
	                                    animateTo: animateAngle,
	                                    callback: function () {
	                                        displayLayer("progress_icon", "initial");
	                                        document.location.href = "@Urls.EventNetRoot" + result.msggourl;
	                                    } //end callback
	                                });
	                            } else {
	                                document.location.href = "@Urls.EventNetRoot" + result.msggourl;
	                            }

	                        },
	                        error: function (result) {
	                            displayLayer("progress_icon", "none");
	                            alert("오류가 발생했습니다.");
	                        }

	                    });
	                }
	            } else if ("@{@PageAttr.IsLogin}" == "True") {
	                var isSimpleBuyer = "@{@GMobileWebContext.Current.UserProfile.IsSimpleBuyer}";
	                if (isSimpleBuyer == "True") {
	                    var returnUrl = "@Urls.MemberSignInRootSecure/mobile/SelfAuthGate/SelfAuthGate?returnUrl=" + "@Urls.MobileWebUrl/Pluszone";
	                    document.location.href = returnUrl;
	                }
	                else {
	                    alert("이미 출석 체크하였습니다.");
	                }
	            } else {
	                alert("로그인이 필요합니다.");

	                document.location.href = "@Urls.MemberOnlyLoginUrl";
	            }

	            isRlttStartOn = false;
	        }
	    });
	});

    $(document).ready(function () {

    });

    (function () {
			GMobile = {};
    	GMobile.FromWhereType = {
    		AndroidApp: 1,
    		iOSApp: 2,
    		Web: 3
    	};

    	GMobile.UserAgent = function () {
    		if (GMobile.UserAgent.prototype._singletonInstance) {
    			return GMobile.UserAgent.prototype._singletonInstance;
    		}

    		GMobile.UserAgent.prototype._singletonInstance = this;

    		var regex = new RegExp("MobileApp/(.+)\s*\\((.+)\s*;\s*(.+)\s*;\s*(.+)\s*\\)");

    		var indexOfSchemaVersion = 1;
    		var indexOfOS = 2;
    		var indexOfVersion = 3;
    		var indexOfIdentifier = 4;

    		this.getFromWhere = function () {
    			if (typeof navigator !== "undefined" && navigator != null && typeof navigator.userAgent === "string") {
    				var matches = regex.exec(navigator.userAgent);

    				if (matches != null && matches.length > indexOfOS) {
    					var os = matches[indexOfOS];

    					if (os !== undefined) {
    						os = os.trim().toLowerCase();

    						if (os === "android") {
    							return GMobile.FromWhereType.AndroidApp;
    						} else if (os === "ios") {
    							return GMobile.FromWhereType.iOSApp;
    						}
    					}
    				}
    			}

    			return GMobile.FromWhereType.Web;
    		};
    	};

    	GMobile.UserAgent.getInstance = function () {
    		return new GMobile.UserAgent();
    	};

    	GMobile.fromWhere = GMobile.UserAgent.getInstance().getFromWhere();
    	GMobile.isApp = (GMobile.fromWhere == GMobile.FromWhereType.AndroidApp || GMobile.fromWhere == GMobile.FromWhereType.iOSApp);
			if(GMobile.isApp){
				$('a.btn_top_main').remove();
			}
    }());






//룰렛 출석횟수 마일리지 응모
function RouletteMileageDrawEveryDay(Str, encStr, eidCnt) {
     if ("@{@PageAttr.IsLogin}" == "True"){
        $.ajax({
            type: "POST",            
            url: "/PlusZone/RouletteMileageDrawEveryDay", // the URL of the controller action method
            data: {
                str: Str,
                encStr: encStr,
                eidCnt: eidCnt
            }, // optional data
            success: function (result) {
                // do something with result
                eval(result);

            },
            error: function (req, status, error) {
                // do something with error   
            }
        });
    } else {
        goLogin();
    }
}

</script>  


}
