@model GMKT.GMobile.Web.Models.G9GateModel

@{
    //Layout = null;
}

@section Css{
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/common.css">
}
@section scripts
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>

<script type="text/javascript">
	var isApp = "@PageAttr.IsApp".toLowerCase() == "true";

	window.onload = function () {
		location.replace("@Html.Raw(Model.RedirectUrl)");
	}

	function goBack() {
		if (isApp) {
			location.href = "gmarket://webview?action=goback";
		} else {
			if (history.length > 1) {
				history.back();
			} else {
				self.close();
			}
		}
	}
</script>
}

<div id="header" class="head_v1">
	<div class="inner">
		<a href="javascript:goBack();"><h1 class="h_sub"><span class="logo">Gmarket</span></h1></a>
	</div>
</div>

<hr>

<!-- container -->
<div id="container">
	<div id="content" class="g9_gate">
		<section class="bx_loading">
			<!-- [D] 비로그인시 <p class="usr_name"> 삭제 -->
@if(Model.IsLogin)
{
			<p class="usr_name">@(Model.CustName)님</p>
}
			<p class="txt01"><span class="blind">G마켓 아이디로 이용가능!</span></p>
			<p class="txt02"><span class="blind">패밀리 G9로 이동중</span></p>
			<span class="loadbar"><img class="img_loading" src="@(Urls.MobileImagePics)/mobile/gate_roading.gif" alt="로딩중">	</span>
			<div class="banner">
				<a href="@Model.BannerLandingUrl"><img src="@Model.BannerImageUrl" alt="@Model.BannerAlt"></a>
			</div>
		</section>
	</div>
</div>
<!-- //container -->
<hr>