@using GMKT.GMobile.Web.Models;
@model FaqModel
@{
	//ViewData["Title"] = "FaqList";

	if (!string.IsNullOrEmpty(Request["catecd"]))
	{
		Model.DefaultCd = Request["catecd"];
	}
}
<script type="text/javascript">
	window.onload = function () {

		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);
	}

	$(function () {
		var search = $("#txtSearch");
		var searchClick = $("#searchClick");

		$("#sc").click(
		function () { search.val(''); });

		search.keydown(function () {
			if (event.keyCode == "13") {
				searchClick.click();
			}
		});

		// 질문 검색시 자주묻는질문 페이지로 이동.
		searchClick.click(
		function () {
			var search = $("#txtSearch").val();

			if (search != "" && search != "undefined" && search != null) {

				location.href = "@Urls.MobileWebUrl/customercenter/FaqSearch?search=" + encodeURIComponent(search);
			}
			else {
				alert('검색어를 입력해주세요');
			}
		});
	});	

	var curPage = 2;
	var curCateCd = "@Model.DefaultCd";

	function FaqListPage() {
		FaqList(curPage, curCateCd);
	}

	function FaqList(pageIndex, cateCd) {
			
		$("#li" + curCateCd).removeAttr("class");
		$("#li" + cateCd).addClass("on");

		var _FaqList = $('#FaqList');
		var _pageIndex = $('#pageIndex');
		if (pageIndex == 1) {
			curPage = 1;
			_FaqList.html('');
		}

		//$("#empty").show();

		$.ajax({
			type: 'POST',
			dataType: 'json',
			url: "GetFaqList",
			data: {
    			"cateCd": cateCd,
				"search": "",
				"pageIndex": pageIndex
			},
			success: function (result) {

				curCateCd = result.DefaultCd;

				if (result.Items.length == 0) {
					$("#moreThen").hide();
					curPage = 1;
					_FaqList.html('');
					return;
				}

				//$("#empty").hide();
				$("#moreThen").show();
				curPage = result.NextPageNo;

				if (curPage == 0) {
					$("#moreThen").hide();
				}
				var PageNo = result.PageNo;

				_pageIndex.html(PageNo);

				for (var i = 0; i < result.Items.length; i++) {
					var _item = result.Items[i];
					_FaqList.append("<li><a href=\"javascript:fnFaqDetail('" + _item.seqNo + "');\"><span class=\"num\">" + _item.rnum + "</span>" + _item.title + "</a></li>");
				}
			},
			error: function (result) {
				alert("오류가 발생했습니다.");
			}
		});
	}

	// 질문 클릭시 질문 상세 보여주기.
	function fnFaqDetail(seq) {
		location.href = "@Urls.MobileWebUrl/customercenter/FaqDetail?seq=" + seq + "&catecd=" + curCateCd + "&type=faqlist";
	}

</script>
<!-- CONTENTS -->
<div id="contents" class="cts">
	<div class="cstm_ct">
		<h3 class="tit">
			모바일 고객센터<span class="arr">&gt;</span>자주묻는질문</h3>
		<div class="of_ques often">
			<div class="inpt">
				<span class="inpt_wp"><input type="text" id="txtSearch" placeholder="질문을 입력하세요" /><a href="javascript:" id="sc" class="del">검색어 삭제</a></span><a href="javascript:" class="btn_qus" id="searchClick"><span>질문검색</span></a></div>
		</div>
		<ul class="tab_ques">
	@foreach (var item in Model.FaqCategoryList)
	{ 
				<li id="li@(@item.cd)" @if (item.cd == Model.DefaultCd)
		{ <text>class="on"</text> }><a href="javascript:FaqList(1,'@item.cd');">@item.cdNm</a></li>
	}
		</ul>

		<div class="ques_listw">
			<ul class="ques_list" id="FaqList">
	@foreach (var item in Model.Items)
	{
				<li><a href="javascript:fnFaqDetail('@item.seqNo');"><span class="num">@item.rnum</span>@item.title</a></li>
	}
			</ul>
		</div>
		@*<div id="empty" style="display:none;">데이터없음</div>*@
		<div class="com_more" id="moreThen"  @if(Model.NextPageNo < 2){<text>style="display:none;"</text>}>
			<a href="javascript:FaqListPage();" class="more">더보기(<span id='pageIndex'>1</span>/@Model.PageCnt)</a>
		</div>
	</div>
</div>
<!--// CONTENTS -->
