@{
	Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<!-- SKIP NAVI -->
<div class="hp">
	<a href="#content">본문 바로가기</a>
</div>
<!-- //SKIP NAVI -->

<!-- HEADER -->
<div id="head" class="head_sfc">
	<div id="header_wrapper">
		<div class="hd_wrap full type2" id="header_st2">
			<!-- SEARCH -->
			<div id="header_search_layer" class="scb_hd">
				<div class="scb">
					<form id="search" name="searchForm" action="@Urls.MobileWebUrl/Search/Search" method="get" onsubmit="doSubmit(); return false;" accept-charset="utf-8">
						<fieldset>
							<div class="scb_sub">
								<input id="scb_ip" type="text" name="topKeyword" onkeyup="sendKeywordOnce();" value="" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" /> 
								<label for="scb_ip" class="hp">상품검색하기</label>
							</div>
							<button id="scb_del" type="button" class="del_btn" style="display: none;" onclick="clearTopSearch();"><span>입력내용 삭제</span></button>
							<button type="submit" class="sc_btn"><span>검색</span></button>
						</fieldset>
					</form>
				</div>
			</div>
			<!-- //SEARCH -->
			<div class="cancl_btn">
			@if (PageAttr.Exid == GMKT.Web.Membership.ExIdAppEnum.SFC)
			{
				<a href="gmarketsfc://webview?action=goback" class="btn_close" ><span>닫기</span></a>
				
			}
			else
			{
				<a href="javascript:history.back();" class="btn_close"><span>닫기</span></a>
			}
			</div>
		</div>
	</div>
</div>
<!-- //HEADER --><iframe id="getRecentItems" width="0" height="0" style="border: 0; display: none;"></iframe><script type="text/javascript">
	var __MOBILE_WEB_URL_SECURE = "@Urls.MobileWebUrlSecure";

	var $getRecentItemsIframe = $("#getRecentItems");

	var headerExtendedLayerController, recentItemsController, recentKeywordsController;

	$(document).ready(function () {
		$('#scb_ip').click(function (e) { $(this).focus(); });
		$("#scb_ip").trigger('click');

		$getRecentItemsIframe.load(function () {
			recentItemsController = new RecentItemsController(false, "#getRecentItems");
			recentKeywordsController = new RecentKeywordsController(false, "#getRecentItems");

			headerExtendedLayerController = new HeaderExtendedLayerController(recentItemsController, recentKeywordsController);
		});
		$getRecentItemsIframe.attr("src", "@Urls.MobileWebUrlSecure/Common/RecentThings");
	});
</script><div class="section_srch" id="list_recent">
	@*최근검색어*@
	<div id="header_recent_wrapper">
		<div id="header_have_recent_keyword" style="display: none;">
			<ul class="srch_lst" id="header_recent_keyword_wrapper">
			</ul>

			<div class="btn_wrap" id="header_view_more" style="display: none;"> 
				<button type="button" id="viewAllRecentKeywords" class="btn_more">더보기</button>
			</div>
		
			<div class="btn_wrap" id=""> 
				<button type="button" class="btn_gray" id="offRecentKeywords">자동저장 OFF</button>
				<button type="button" class="btn_gray" id="removeAllRecentKeywords">전체삭제</button>
			</div>
		</div>

		<div class="empty_wrap" id="header_no_recent_keyword" style="display: none;">
			<p class="empty_txt">최근에 검색하신 상품이 없습니다.</p>
		</div>
		
		<div class="empty_wrap" id="header_off_recent_keyword" style="display: none;">
			<p class="empty_txt">최근 검색어 자동저장 기능을 <br />사용하시면 편리해요.</p>
			<a href="#" class="btn_gray" id="onRecentKeywords">자동저장 ON</a>
		</div>
	</div>
	@*//최근 검색어*@

	@* 추천검색어 영역 *@	<div id="scb_lyr" style="display: none;">
		<ul class="relat_lst" id="relate_keyword"> @*연관검색어*@
		</ul>
		<ul class="srch_lst" id="recommend_keyword" style="display:none;"> @*추천검색어*@
		</ul>
	</div>
	@* //추천검색어 영역 *@

	@*최근 본 상품*@
	<div class="scroll_wrap" id="list_recent_right">
		<div class="scroll_inner" id="scroll_in">
			<ul class="recent_lst" id="header_recent_item_wrapper">
			</ul>
		</div>
	</div>
		
	<ul style="display:none;">
		<li class="more" id="li_view_more_recent_item" style="display: none;">
			<a href="@Urls.MMyGUrl/Favorite/RecentItems" class="btn_more">더보기</a>
		</li>
	</ul>

	<div class="scroll_wrap" id="header_no_recent_item">
		<p class="empty_txt">최근에 본 상품이 없습니다.</p>
	</div>
	@*//최근 본 상품*@</div><script type="text/x-handlebars-template" id="headerRecentItem">
	{{#each list}}
		<li id="header_item_{{goodsCode}}">
			<a href="@Urls.MItemWebURL/Item?goodscode={{goodsCode}}" class="recent_prd"><img src="{{imageUrl}}" alt="" /></a>
			<a href="#" class="btn_del" onclick="headerExtendedLayerController.recentItemsLayer.removeRecentItem('{{goodsCode}}'); return false;"><span class="sp_srch">삭제</span></a>
		</li>
	{{/each}}
</script>

<script type="text/x-handlebars-template" id="headerRecentKeyword">
	{{#each list}}
		<li>
			<a href="#" class="srch_txt" onclick="goSearch('{{keyword}}'); return false;"><span>{{keyword}}</span></a>
			<a href="#" class="btn_del" onclick="headerExtendedLayerController.recentKeywordsLayer.removeRecentKeyword('{{keyword}}', this); return false;"><span class="sp_srch">삭제</span></a>
		</li>
	{{/each}}
</script>