@model GMKT.GMobile.Web.Models.TireSmartFinderM

@section Css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/cpplpsrp.css?v=1" />
	<style type="text/css">
		.tire_optlst .mask
		{
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 9999;
		}
	</style>
}
<div id="content" class="ctns">
	<div class="mw_wrap case">
		<div class="fix_banner_wrap">
			<div class="fix_banner">
				<p class="serv_txt">최저가 타이어와 무료장착 검색</p>
				<h2 class="tire_tit"><span class="blue">타이어</span> 스마트 파인더</h2>
				<a href="#" id="go_back" class="btn_return">돌아가기</a>
			</div>
		</div>
		<div class="tire_contbx">
			<ul class="tire_tab">
				<li class="on" id="find_tab0"><a href="#" onclick="tabView(2,'find_tab',0,'find_cnt');return false;"><span class="sp_mw ico_tire"></span>사이즈로 검색</a></li>
				<li class="off" id="find_tab1"><a href="#" onclick="tabView(2,'find_tab',1,'find_cnt');return false;"><span class="sp_mw ico_car"></span>차종으로 검색</a></li>
			</ul>

			@* 사이즈로 검색 *@
			<div id="find_cnt0" class="tire_cont">
				<div class="view_bx">
					<img src="@Urls.MobileImagePics/mobile/lpsrp/img_tire_srch.jpg" alt="타이어 옆면의 숫자를 확인한 후, 아래 박스를 터치하고 입력 해주세요" />
					<div class="inp_bx">
						<input type="tel" pattern="[0-9]*" id="tire_inp" title="단면폭" placeholder="단면폭" />
						<input type="tel" pattern="[0-9]*" id="tire_inp2" title="편평비" placeholder="편평비" />
						<input type="tel" pattern="[0-9]*" id="tire_inp3" title="지름" placeholder="지름" />
					</div>
				</div>
				<ul class="tire_info">
					<li>단면폭 : 타이어가 지면에 닿는 부분</li>
					<li>편평비 : 타이어 단면폭에 대한 높이의 비율</li>
					<li>지름 : 타이어 원형의 지름</li>
				</ul>
				<h3 class="tireinfo_tit"><span class="in">장착 서비스</span> <a href="#" class="sp_mw btn_more" onclick="popBlockUI('layer_bef');return false;">서비스 자세히 보기</a></h3>

				<div class="tire_btnbx">
					<a href="#" id="size_search_cancel" class="btn_cancle">취소</a>
					<button id="size_search_go" type="button" class="btn_tiremore">타이어 검색</button>
				</div>
			</div>
			@* //사이즈로 검색 *@

			@* 차종으로 검색 *@
			<div id="find_cnt1" class="tire_cont" style="display:none">
				<div class="view_bx"><img src="@Urls.MobileImagePics/mobile/lpsrp/img_car_srch.jpg" alt="제조사, 모델" /></div>
				<ul class="tire_optlst">
					<li>
						<label for="tire_opt5" class="blind">제조사</label>
						<span class="inp_wrap">
							<select id="tire_opt5">
								<option value="0">제조사를 선택해주세요.</option>
	@foreach (var eachMClass in Model.MClassList)
	{ 
								<option value="@eachMClass.MClassSeq">@eachMClass.MClassNm</option>
	}
							</select>
							<span class="sp_mw"></span>
						</span>
					</li>
					<li>
						<div id="tire_opt6_mask" class="mask"></div>
						<label for="tire_opt6" class="blind">차종</label>
						<span class="inp_wrap">
							<select id="tire_opt6">
								<option value="0">차종을 선택해주세요.</option>
							</select>
							<span class="sp_mw"></span>
						</span>
					</li>
				</ul>
				<h3 class="tireinfo_tit"><span class="in">장착 서비스</span> <a href="#" class="sp_mw btn_more" onclick="popBlockUI('layer_bef');return false;">서비스 자세히 보기</a></h3>

				<div class="tire_btnbx">
					<a href="#" id="car_search_cancel" class="btn_cancle">취소</a>
					<button id="car_search_go" type="button" class="btn_tiremore">타이어 검색</button>
				</div>
			</div>
			@* //차종으로 검색 *@
		</div>

		@* 장착 서비스 레이어 *@
		<div class="layer_allsv bef2" id="layer_bef">
			<div class="ly_svinfo">
				<h4 class="ly_tit">타이어 장착 서비스?</h4>
				<ul class="ly_infolst">
					<li><span class="sp_mw ico_step1"></span> <span class="num">STEP 01</span>저렴하고 간편하게 G마켓에서 주문</li>
					<li><span class="sp_mw ico_step2"></span> <span class="num">STEP 02</span>주문 및 발송정보 핸드폰 발송</li>
					<li><span class="sp_mw ico_step3"></span> <span class="num">STEP 03</span>내가 지정한 장착점으로 무료배송</li>
					<li><span class="sp_mw ico_step4"></span> <span class="num">STEP 04</span>예약된 장착점에서 무료장착</li>
				</ul>
				<a href="#" class="btn_close" onclick="popBlockUI('layer_bef');return false;"><span class="sp_mw">닫기</span></a>
			</div>
		</div>
		@* //장착 서비스 레이어 *@
	</div></div>@section scripts
{
	<script id="model_template" type="text/x-handlebars-template">
		<option value="0">차종을 선택해주세요.</option>
		{{#each this}}
			<option value="{{SClassSeq}}">{{SClassNm}}</option>
		{{/each}}
	</script>

	<script type="text/javascript">
		var isApp = @PageAttr.IsApp.ToString().ToLower();

		if (typeof gmHeader !== "undefined" && gmHeader !== null) {
			gmHeader.setCurrentKeyword("@Model.Keyword");
		}
	</script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/page/TireSmartFinder.js"></script>
}