<div class="box_exhibit_main02">
	<div class="m_title"><h3>기획전 바로가기</h3></div>
	<ul class="list_exhibit02">
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G01"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img01.png" alt="패션의류"/><span>패션의류</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G02"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img02.png" alt="신발/잡화"/><span>신발/잡화</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G03"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img03.png" alt="화장품/헤어"><span>화장품/헤어</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G04"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img04.png" alt="유아동/출산"><span>유아동/출산</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G07"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img05.png" alt="식품"><span>식품</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G08"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img06.png" alt="생활/주방/건강"><span>생활/주방/건강</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G09"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img07.png" alt="가구/침구"><span>가구/침구</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G05"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img08.png" alt="스포츠/자동차"><span>스포츠/자동차</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G06"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img09.png" alt="컴퓨터/전자"><span>컴퓨터/전자</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G10"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img10.png" alt="도서/음반"><span>도서/음반</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G11"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img11.png" alt="여행"><span>여행</span></a></li>
	<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G12"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/exhibit_img12.png" alt="e쿠폰/티켓"><span>e쿠폰/티켓</span></a></li>
	</ul>			
</div>