@using GMKT.GMobile.Data

@model GMKT.GMobile.Data.LookV2BrandLp


@section scripts{	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
}


<div id="content">
	<h2 class="blind">패션</h2>
	<div class="look_renewal">
		<div class="look_cont sub_cont">
			<div class="look_list_box brand lp">
				<ul>
					<li class="wide">
						<a>
							<span class="Img_box"><img src="@Model.ImageUrl" alt="" /></span>
							<span></span>
						</a>
					</li>
				@foreach (LookV2Item item in Model.Items)
				{
					<li>
						<a href="@item.LandingUrl">
							<span class="img_box"><img src="@item.ImageUrl" alt="" /></span>
							<span class="info_box">
								<span class="info01">@item.GoodsName</span>
								<strong class="price">@item.Price
									@if (int.Parse(item.DiscountRate) > 0)
									{
									<span>@item.DiscountRate%</span>
									}
								</strong>
							</span>
						</a>
					</li>
				}
				</ul>
			</div>
		</div>
		@*@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel{SchemeName="lookV2", ShareFcdCode="", ShortcutFcdCode=""})*@
		@* fcd코드 세팅*@

		<a href="#" class="btn_top_main">Top으로 이동</a>
	</div>

	<script type="text/javascript">
		GMobile = {};
		GMobile.FromWhereType = {
			AndroidApp: 1,
			iOSApp: 2,
			Web: 3
		};

		GMobile.UserAgent = function () {
			if (GMobile.UserAgent.prototype._singletonInstance) {
				return GMobile.UserAgent.prototype._singletonInstance;
			}

			GMobile.UserAgent.prototype._singletonInstance = this;

			var regex = new RegExp("MobileApp/(.+)\s*\\((.+)\s*;\s*(.+)\s*;\s*(.+)\s*\\)");

			var indexOfSchemaVersion = 1;
			var indexOfOS = 2;
			var indexOfVersion = 3;
			var indexOfIdentifier = 4;

			this.getFromWhere = function () {
				if (typeof navigator !== "undefined" && navigator != null && typeof navigator.userAgent === "string") {
					var matches = regex.exec(navigator.userAgent);

					if (matches != null && matches.length > indexOfOS) {
						var os = matches[indexOfOS];

						if (os !== undefined) {
							os = os.trim().toLowerCase();

							if (os === "android") {
								return GMobile.FromWhereType.AndroidApp;
							} else if (os === "ios") {
								return GMobile.FromWhereType.iOSApp;
							}
						}
					}
				}

				return GMobile.FromWhereType.Web;
			};
		};

		GMobile.UserAgent.getInstance = function () {
			return new GMobile.UserAgent();
		};

		GMobile.fromWhere = GMobile.UserAgent.getInstance().getFromWhere();
		GMobile.isApp = (GMobile.fromWhere == GMobile.FromWhereType.AndroidApp || GMobile.fromWhere == GMobile.FromWhereType.iOSApp);
		if (GMobile.isApp) {
			$('a.btn_top_main').remove();
		}
	</script>
</div>