@model List<GMKT.GMobile.Data.LookContents>
<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="look_box">
		<h2 class="loc_tit">LOOK <span>&gt;</span> 컨텐츠 전체보기</h2>

		<ul class="look_lst">

@foreach (var eachContents in Model)
{
	string seletedClass = string.Empty;
	if (@eachContents.ContentsSeq == ViewBag.selectedContentId) {
		seletedClass = "class=selected";
	}
			<li @seletedClass>
				<a href="@eachContents.LandingUrl">
					<span class="lk_title">
						<strong>@eachContents.Title</strong>
						<span>@eachContents.GroupName</span>
					</span>
					<span class="img_wrap"><img src="@eachContents.BannerImageUrl" /></span>
				</a>
			</li>
}
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function () {
			if ($("li.selected").length > 0) {
				scrollToSelected();
			}
		}, 100);
	});

	function scrollToSelected() {
		if (($(document).height() - $("li.selected a").offset().top) < $(window).height()) {
			$(window).scrollTop($(document).height());
		}
		else {
			$(window).scrollTop($('li.selected a').offset().top);
		}
		//$('html, body').animate({ scrollTop: $("li.selected a").offset().top }, 'fast');
	}
</script>
<!-- //CONTENT -->