@model GMKT.GMobile.Data.LookContentsDetail

<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="look_box">
		<h2 class="loc_tit">@Model.GroupName</h2>

		<a href="#" class="btn_share" onclick="popBlockUI('layer_sns');return false;">공유하기</a>

		<div class="new_area">
			@Html.Raw(Model.Html)
		</div>

		<ul class="best_lst">
@for (var i = 0; i < Model.Items.Count; i++)
{
			<li>
				<a href="@(Urls.MItemUrl)?goodscode=@Model.Items[i].GoodsCode">
					<span class="img_box">
						<img src="@Model.Items[i].ImageUrl" alt="@Model.Items[i].GoodsName">
					</span>

					<span class="txt_box">
						<strong class="prd_tit">@Model.Items[i].GoodsName</strong>

						<span class="price_box">
	@if (Model.Items[i].DiscountRate != 0)
	{
							<strong class="per_price"><span class="blind">할인율</span>@Model.Items[i].DiscountRate<span class="per">%</span></strong>
							<span class="origin_price"><span class="blind">정가</span>@Model.Items[i].SellPrice.ToString("N0")</span>
	}
	else
	{ 
							<span class="origin_price"><span class="blind">정가</span></span>
	}
							
							<strong class="sale_price"><span class="blind">할인가</span>@Model.Items[i].AdCouponPrice.ToString("N0")</strong>
						</span>

						<span class="option_bx">
	@if (false == string.IsNullOrEmpty(Model.Items[i].Shipping))
	{
		if (Model.Items[i].Shipping == "무료배송")
		{
							<span class="opt_free">무료배송</span>
		}
		else if (Model.Items[i].Shipping == "스마트배송")
		{
							<span class="opt_smart">스마트배송</span>
		}
		else
		{
							<span class="opt_delivery">@Model.Items[i].Shipping</span>
		}
	}
						</span>
					</span>
				</a>
			</li>	
}
		</ul>
	</div>

	<div class="share_sns" id="layer_sns">
		<h4 class="tit">공유하기</h4>
		<div class="sns">
			<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
		</div>
		<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
	</div>
</div>
<!-- //CONTENT -->

@section scripts
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>

	<script type="text/javascript">
		var ShareTo = function (type) {
			var dataName = "G마켓 LOOK";
			switch (type) {
				case MobileSnsUtil.snsType().KAKAOTALK:
					dataName = "LOOK";
					break;
				default:
					break;
			}
			var data = {
				"name": dataName,
				"url": location.href,
				"title": ""
			};
			if (type == "kakaotalk") {
				KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
			}
			else {
				var sender = MobileSnsUtil.sns(type).sender;
				sender.send(type, new SnsParam(type, data))
			}
		};

		$(function () {
			KakaoInit();
			ShareTo("kakaotalk");
		});
	</script>
}