@using GMKT.GMobile.Data

@section scripts{	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
}

<!-- CONTENT -->
<div id="content">
	<h2 class="blind">패션</h2>
	<div class="look_renewal">
		<div class="look_cate_wrap" id ="SohoCategory">
			
		</div>
		<div class="look_cont sub_cont">
			<div class="look_list_box soho">
				<div id="SohoDetail"></div>
				<div id="btnSohoMore"><a href="#" class="btn_look_more">SOHO 더보기<span></span></a></div>
			</div>
		</div>
		<a href="#" class="btn_top_main">Top으로 이동</a>
	</div>

	<script id="soho_gallery_template" type="text/x-handlebars-template">
		<ul class="soho_list">
		{{#each BestItems}}
			<li>
				<a href="{{LandingUrl}}">
					<span class="img_box">
						<img src="{{ImageUrl}}" alt=""/>
						<span class="price">{{Price}}</span>
					</span>
				</a>
			</li>
		{{/each}}
		</ul>
	</script>
	<script id="soho_category_template" type="text/x-handlebars-template">
		<ul class="look_cate">
			{{#each Categories}}
			<li><a href="#" value="{{LCategoryCode}}">{{LCategoryName}}</a></li>
			{{/each}}
		</ul>
	</script>


	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/page/LookV2SohoController.js"></script>
</div>