@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;
@using System.Text;

@model GMKT.GMobile.Web.Models.EventV2.GStampGMileageModel.GStampDataModel

<!--임시 for test-->
@*<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/320/main_2013.css?v=201409010000" />*@
@*<link rel="stylesheet" type="text/css" href="http://mdev.gmarket.co.kr/HTML/Gmarket/css/320/main_2013.css" />
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/320/main_2014_2.css?v=9" />*@

<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/main.css" />
<!-- CONTENT -->
<div id="content" class="ctns">
	
	@Html.Partial("Event/_NavigationBar", @Model.NaviIcons, new ViewDataDictionary { { "selectTab", "G스탬프" }})


	<div class="banner_box">
	@if (Model.TopBanner != null && Model.TopBanner.Count > 0)
	{
			<img src="@Model.TopBanner[0].ImageUrl" alt="@Model.TopBanner[0].Alt" />
	}
	</div>
	<div class="box_dot_main">
		<div class="box_exhibit_main01">
			<div class="box_coupon">
				<div class="tab_box">
					<ul>
					<li class="on" id="find_tab0"><a href="javascript:SnaUrlFooter('710200001');" onclick="tabView(2,'find_tab',0,'find_cnt');">경품 교환</a></li>
					<li class="off" id="find_tab1"><a href="javascript:SnaUrlFooter('710200002');" onclick="tabView(2,'find_tab',1,'find_cnt');">쿠폰 교환</a></li>
					</ul>
				</div>
				<div class="tab_cont" id="find_cnt0">
					<h3 class="blind">경품 교환</h3>
	@if (PageAttr.IsLogin == true)
	{
					<p class="ch_tit">모바일에서 간편하게!<strong>G스탬프 경품교환</strong></p>
					<dl class="ch_stamp">
					<dt>나의 보유 G스탬프</dt>
					<dd><strong>@Model.PossibleGStampCount</strong>장</dd>
					</dl>     
             <p class="cf_entry"><a href="http://sna.gmarket.co.kr/?fcd=704000004&url=@Urls.MobileWebUrl/Event/EventList">당첨내역 확인</a></p>
    }
 else
 {
					<a href = "@Urls.MemberOnlyLoginUrl"><p class="ch_tit">모바일에서 간편하게!<strong>G스탬프 경품교환</strong></p>
					<dl class="ch_stamp">
					<dt>나의 보유 G스탬프</dt>
					<dd><strong>?</strong>장</dd>
					</dl></a>
 }
					
	@if (Model.TodayStampDealBanner != null && Model.TodayStampDealBanner.Count > 0)
 {
     if (Model.TodayStampDealBanner[0].ExchangeEid != null)
     {
         string todayExchangeUrl = string.Empty;
         todayExchangeUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GStamp"), Model.TodayStampDealBanner[0].ExchangeEid.EidString, Model.TodayStampDealBanner[0].ExchangeEid.EncryptString);
     }
					<div class="m_title">
						<h3><span>@DateTime.Now.Month.ToString()월 @DateTime.Now.Day.ToString()일</span> 단하루! 스탬프딜</h3>
						<dl class="ch_count">
						<dt>남은시간</dt>
						<dd id="eventLeftTime" sellenddatemilliseconds="@Convert.ToDateTime(Model.TodayStampDealBanner[0].DisplayEndDate).ToJavaScriptMilliseconds()"></dd>
						</dl>
					</div>
					<div class="banner_box2">						
						<img src="@Model.TodayStampDealBanner[0].ImageMobile" alt="이미지 대체텍스트" />						
		@if (Model.TodayStampDealBanner[0].EntryEid != null)
  {
      string todayEntryUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GStamp"), Model.TodayStampDealBanner[0].EntryEid.EidString, Model.TodayStampDealBanner[0].EntryEid.EncryptString);
						<a href="@todayEntryUrl" onclick="javascript:SnaUrlFooter('710200003');"><button type="button">-<strong>@Model.TodayStampDealBanner[0].EntryEid.NeedsStampAmount</strong>장<br /> 응모</button></a>
  }
						
		@if (Model.TodayStampDealBanner[0].CompleteExchange)
  {
      string className = (Model.TodayStampDealBanner[0].EntryEid == null) ? "" : "change";			
						<button type="button" disabled="disabled" class=@className>-<strong>@Model.TodayStampDealBanner[0].ExchangeEid.NeedsStampAmount</strong>장<br /> 교환</button>			
  }
  else if (Model.TodayStampDealBanner[0].ExchangeEid != null)
  {
      string className = (Model.TodayStampDealBanner[0].EntryEid == null) ? "" : "change";
      string todayExchangeUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GStamp"), Model.TodayStampDealBanner[0].ExchangeEid.EidString, Model.TodayStampDealBanner[0].ExchangeEid.EncryptString);			
					<a href="@todayExchangeUrl" onclick="javascript:SnaUrlFooter('710200004');"><button type="button" class=@className>-<strong>@Model.TodayStampDealBanner[0].ExchangeEid.NeedsStampAmount</strong>장<br /> 교환</button></a>						
  }
					</div>
 }
					<div class="m_title">
						<h3>모바일전용 경품교환</h3>
					</div>

					<div class="change_box change none_flk" id="bnGrp4">
						<ol class="change_lst">
	@if (Model.StampExchangeBanner != null && Model.StampExchangeBanner.Count > 0)
 {
     int exchangeCount = Model.StampExchangeBanner.Count;
     for (int j = 0; j < exchangeCount; j++)
     {
         string className = (Model.StampExchangeBanner[j].EntryEid == null || Model.StampExchangeBanner[j].ExchangeEid == null) ? "one" : "";
						<li class=@className>
							<img src="@Model.StampExchangeBanner[j].ImageMobile" width="129" height="125" alt="@Model.StampExchangeBanner[j].BannerNm" />
							<ul>
			@if (Model.StampExchangeBanner[j].EntryEid != null)
   {
       string entryUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GStamp"), Model.StampExchangeBanner[j].EntryEid.EidString, Model.StampExchangeBanner[j].EntryEid.EncryptString);

							<li>
								<a href="@entryUrl"><button type="button" class="btn_cp blue">응모</button></a>
								<span>G스탬프<strong>-@Model.StampExchangeBanner[j].EntryEid.NeedsStampAmount 장</strong></span>
							</li>
   }
		   @if (Model.StampExchangeBanner[j].ExchangeEid != null)
     {							
							<li>
				@if (Model.StampExchangeBanner[j].CompleteExchange)
    {
								<button type="button" class="btn_cp green" disabled="disabled">마감</button>
    }
    else
    {
        string exchangeUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GStamp"), Model.StampExchangeBanner[j].ExchangeEid.EidString, Model.StampExchangeBanner[j].ExchangeEid.EncryptString);
								<a href="@exchangeUrl"><button type="button" class="btn_cp green">교환</button></a>
    }
								<span>G스탬프<strong>-@Model.StampExchangeBanner[j].ExchangeEid.NeedsStampAmount 장</strong></span>
							</li>
     }
							</ul>
						</li>		
     }
 }
						</ol>
					</div>
				</div>
				<div class="tab_cont tab_cont2" id="find_cnt1" style="display:none">
					<h3 class="blind">쿠폰 교환</h3>

	@if (PageAttr.IsLogin == true)
 {
					<p class="ch_tit">모바일에서 간편하게!<strong>G스탬프 경품교환</strong></p>
					<dl class="ch_stamp">
					<dt>나의 보유 G스탬프</dt>
					<dd><strong>@Model.PossibleGStampCount</strong>장</dd>
					</dl>
                     <p class="cf_entry"><a href="http://sna.gmarket.co.kr/?fcd=704000004&url=@Urls.MobileWebUrl/Event/EventList">당첨내역 확인</a></p>
 }
 else
 {
					<a href="@Urls.MemberOnlyLoginUrl"> <p class="ch_tit">모바일에서 간편하게!<strong>G스탬프 경품교환</strong></p>
					<dl class="ch_stamp">
					<dt>나의 보유 G스탬프</dt>
					<dd><strong>?</strong>장</dd>
					</dl></a>     
 }

	@if (Model.ExchangeCouponBanner != null && Model.ExchangeCouponBanner.Count > 0)
 {
					<div class="change_box none_flk" id="bnGrp5">
					<ol class="change_lst">
		@for (int j = 0; j < Model.ExchangeCouponBanner.Count; j++)
  {
						<li>
							<img src="@Model.ExchangeCouponBanner[j].ImageMobile" width="132" height="60" alt="" />
							<ul>
		@if (Model.ExchangeCouponBanner[j].EIDInfoList.Count > 0)
  {
      foreach (GMKT.GMobile.Data.EventV2.EIDInfoT eidInfo in Model.ExchangeCouponBanner[j].EIDInfoList)
      {
          string eventPlatformUrl = string.Empty;
          if (eidInfo.Eid != "" && eidInfo.Eid != null)
          {
              string[] encryptEid = eidInfo.Eid.Split(',');
              eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GStamp"), encryptEid[0].Trim().Replace("'", ""), encryptEid[1].Trim().Replace("'", ""));
          }
          else
          {
              continue;
          }

          if (eidInfo.EtcSetupContent == "ENTRY_EID")
          {
							<li>
								<a href="@eventPlatformUrl"><button type="button" class="btn_cp blue">응모</button></a>
								<span>G스탬프<strong>- @eidInfo.AppMinusCnt 장</strong></span>
							</li>
          }
          else
          {
							<li class="change"><!-- [D] 교환하기 버튼 class="change" 추가 -->
								<a href="@eventPlatformUrl"><button type="button" class="btn_cp green">교환</button></a>
								<span>G스탬프<strong>- @eidInfo.AppMinusCnt 장</strong></span>
							</li>
          }
      }
  }
							</ul>
						</li>
  }
						</ol>
					</div>
 }
				</div>
			</div>
	@if (Model.Notice != null && Model.Notice.Length > 0)
 {
			<div class="notice_box">
				<h4>NOTICE 꼭! 확인하세요.</h4>
				<ul>
		@foreach (string str in Model.Notice)
  {
			<li>@str</li>
  }
				</ul>
			</div>
 }	
		</div>
			
		@Html.Partial("Event/_PromotionList")
			
	</div>
		
	<div class="add_homego add_homego2">
@if (!PageAttr.IsIphone && !PageAttr.IsIpad && !PageAttr.IsIpod)
{

    if (PageAttr.IsAndroidApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/GStamp", "", "G마켓 G스탬프", "", "", PageAttr))">공유하기</a>
    }
    else
    {	
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
else
{
    if (PageAttr.IsIphoneApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/GStamp", "", "G마켓 G스탬프", "", "", PageAttr))">공유하기</a>
    }
    else
    {
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
    </div>
	<div class="share_sns" id="layer_sns">
		<h4 class="tit">공유하기</h4>

		<div class="sns">
			<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
		</div>
		<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
	</div>	
	
    <div class="layer_allsv bef2 stamp_close" id="layer_stampClose" style="display: block;">			
            <img src="@Urls.MobileImagePics/mobile/main/layer/layer_gstampservice_close.png" alt="">                                          
			<!--[D] 대체텍스트 제공 -->
			<div class="blind">
				<h3>G스탬프 서비스 종료 안내</h3>
				<p>안녕하세요. G마켓에서 응모권으로 사용하는 G스탬프의 발급 및 사용이 2016년 8월 5일에 종료됨을 안내 드립니다.
				기존 G스탬프는 1장당 스마일포인트 100으로 전환하여 지급할 예정입니다.&nbsp;
				향후 G스탬프에서 제공하던 혜택들은 스마일 포인트로 전환하여 서비스 할 예정으로 앞으로도 많은 이용 부탁드립니다.
				</p>
				<h4>[변경 서비스 안내]</h4>
				<ul>
				<li>구매 후 상품평 작성 시 G스탬프 선택 제공 → 스마일 포인트 단일 제공으로 변경</li>
				<li>구매 후 프리미엄 상품평 작성시 G스탬프 제공 → 스마일 포인트 제공으로 변경</li>
				<li>G스탬프를 이용한 이벤트 응모 (그린카펫 등) → 스마일 포인트 응모로 변경</li>
				<li>G스템프 딜 → 종료</li>
				</ul>
			</div>
			<div class="day_input">
				<span> <input type="checkbox" name="sevenDay" id="sevenDay" ><label for="sevenDay"> 7일간 그만보기</label></span>
				<a href="javascript:void(closeWin('layer_stampClose','layer_stampClose'));" class="close">닫기</a>

			</div>
			<a href="#" class="lay_clse  noBorder" onclick="popBlockUI('layer_stampClose');return false;">닫기</a>
		</div>
    	<script type="text/javascript">
    	   
		</script>
</div>
<!-- //CONTENT -->
<div id="mask"></div>

@section scriptfiles
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
}

<script type="text/javascript">
    var ShareTo = function (type) {
        var dataName = "G마켓 G스탬프";
        switch (type) {
            case MobileSnsUtil.snsType().KAKAOTALK:
                dataName = "G스탬프";
                break;
            default:
                break;
        }
        var data = {
            "name": dataName,
            "url": "http://mobile.gmarket.co.kr/GStamp",
            "title": ""
        };
        if (type == "kakaotalk") {
            KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
        }
        else {
            var sender = MobileSnsUtil.sns(type).sender;
            sender.send(type, new SnsParam(type, data))
        }
    }

$(document).ready(function () {
    KakaoInit();
    ShareTo("kakaotalk");

	var obj = $("#bnGrp5 ol li");
	for(var i=0; i< obj.length; i++){
		if($(obj[i]).children("ul").children("li").length == 1){ $(obj[i]).addClass("one");}
	}
});

var UsedItemTimerController = function (nowMilliSeconds) {
	var that = this;

	// refresh timer
	var $eventLeftTime = $("#eventLeftTime");
	setInterval(function () {
		sSellEndDateMilliseconds = Number($eventLeftTime.attr('sellenddatemilliseconds'));
		sRemainDateTime = makeRemainDt(nowMilliSeconds, sSellEndDateMilliseconds);
		$eventLeftTime.text(sRemainDateTime);
		nowMilliSeconds += 1000;
	}, 1000); // 1 sec

	function makeRemainDt(cSec, tSec) {
		var sec = tSec - cSec;

		var miMilli = 1000 * 60;
		var hrMilli = miMilli * 60;
		var dyMilli = hrMilli * 24;

		var day = Math.floor(sec / dyMilli);
		var sday = "";
		var aa = sec % dyMilli;
		var hh = chkNumUnderTen(Math.floor(aa / hrMilli));
		aa = sec % hrMilli;
		var mm = chkNumUnderTen(Math.floor(aa / miMilli));
		aa = aa % miMilli;
		var ss = chkNumUnderTen(Math.floor(aa / 1000));

		var result = "";
		if (parseInt(sec) > 0) {
			if (day >= 1) {
				result += day + "일 ";
			}

			result += hh + ":" + mm + ":" + ss;
		}
		return result;
	}

	function chkNumUnderTen(i){
		if(i >=0 && i < 10) return "0"+i;
		else return i;
	}
};

var nowMilliSeconds = @DateTime.Now.ToJavaScriptMilliseconds();
var timeController = new UsedItemTimerController(nowMilliSeconds);

</script>

<script language="JavaScript">

    function setCookies1(name, value, expires) {
        document.cookie = name + "=" + escape(value) +
    "; path=/; expires=" + expires.toGMTString();
    }

    function closeWin(objname, pop) {
        var isChecked = $("#sevenDay").is(':checked');        
        if (isChecked) {
            var expdate = new Date();
            expdate.setTime(expdate.getTime() +  1000 * 3600 * 24 * 7);  //7일간
            //expdate.setTime(expdate.getTime() - 1); // 쿠키 삭제조건
            setCookies1(pop, "done", expdate);           
        }
        popBlockUI('layer_stampClose'); return false;
    }

    function getCookies1(Name) {
        var search = Name + "=";
        offset = document.cookie.indexOf(search);
        if (document.cookie.length > 0) { 
            if (offset != -1) { 
                offset += search.length;                
                end = document.cookie.indexOf(";", offset);                
                if (end == -1)
                    end = document.cookie.length;
                return unescape(document.cookie.substring(offset, end));
            }
        }
    }


</script>


<script language="javascript"  type="text/javascript">
    var datenow = new Date();
    var specificDate = new Date("8/05/2016");

    if (getCookies1("layer_stampClose") == "done" || datenow > specificDate) {
        document.getElementById('layer_stampClose').style.display = 'none';
        document.getElementById('mask').style.display = 'none';
    }
</script>




