@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;
@using System.Text;

@model GMKT.GMobile.Web.Models.EventV2.GStampGMileageModel.GMileageDataModel

@*<!--임시 for test-->
<link rel="stylesheet" type="text/css" href="http://mdev.gmarket.co.kr/HTML/Gmarket/css/320/main_2013.css" />
*@

<!-- CONTENT -->
<div id="content" class="ctns">
	
	@Html.Partial("Event/_NavigationBar", @Model.NaviIcons, new ViewDataDictionary { { "selectTab", "SmilePoint" }})
	<div class="banner_box">
	@if (Model.TopBanner != null && Model.TopBanner.Count > 0)
{
	<img src="@Model.TopBanner[0].ImageUrl" alt="@Model.TopBanner[0].Alt" />
}
	</div>
	@Html.Partial("Event/_SmilePointBanner")
	<div class="box_dot_main">
		<div class="box_exhibit_main01">
			<div class="box_coupon">
				<div class="my_view">
@if (PageAttr.IsLogin == true)
{
					<p class="ch_tit">모바일에서 간편하게!<strong>Smile Point 혜택</strong></p>
					<ul class="my_mile">
					<li>
						<span class="in_tit">나의 보유 포인트</span>
						<strong class="in_my">@Model.Balance.ToString("#,##0")<span>P</span></strong>
					</li>
					<li class="use">
						<span class="in_tit">소멸 예정 포인트</span>
						<strong class="in_my">@Model.ExpirableBalance.ToString("#,##0")<span>P</span></strong>
					</li>
					</ul>
}
else { 
					<a href = "@Urls.LoginUrl"><p class="ch_tit">모바일에서 간편하게!<strong>Smile Point 혜택</strong></p></a>
					<ul class="my_mile">
					<li>
						<span class="in_tit">나의 보유 포인트</span>
						<strong class="in_my">?<span>P</span></strong>
					</li>
					<li class="use">
						<span class="in_tit">소멸 예정 포인트</span>
						<strong class="in_my">?<span>P</span></strong>
					</li>
					</ul>
}
				</div>
@if (Model.ExchangeCouponBanner != null && Model.ExchangeCouponBanner.Count > 0)
{
				<div class="m_title">
					<h3>쿠폰 교환</h3>
				</div>
				<div class="change_box mileage">
					<ul class="change_lst">
	@foreach (GMKT.GMobile.Web.Models.EventV2.GStampGMileageModel.ExchangeCouponModel coupon in Model.ExchangeCouponBanner)
	{
		string eventPlatformUrl = string.Empty;
		eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "GMileage"), coupon.EncryptEid[0].Trim().Replace("'", ""), coupon.EncryptEid[1].Trim().Replace("'", ""));
					<li>
						<img src="@coupon.ImageMobile" width="132" height="60" alt="@coupon.Alt" />
						<a href="@eventPlatformUrl"><button type="button" class="btn_cp green">교환하기</button></a>
						<span>Smile Point<strong>-@coupon.AppMinusCnt</strong></span>
					</li>
	}
					</ul>
				</div>
}
			</div>
@*		<div class="box_coupon">
				<div class="m_title">
					<h3>현금잔고 &amp; ALL마일리지 전환</h3>
				</div>
				<ul class="mile_lst">
				<li>
					<span class="ico_ball">01</span>
					<strong>1만 마일리지 이상<br>현금잔고로 전환!</strong>
					<img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/img_mile.jpg" height="56" alt="이미지 대체텍스트" />
					<a href="http://mmyg.gmarket.co.kr/GMileage/GMileage" onclick="javascript:SnaUrlFooter('710200010');"><button type="button" class="btn_cp blue">현금잔고 전환</button></a>
				</li>
				<li>
					<span class="ico_ball">02</span>
					<strong>보유 마일리지 전액<br>ALL마일리지로 전환!</strong>
					<img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/img_mile2.jpg" height="56" alt="이미지 대체텍스트" />
					<a href="http://mmyg.gmarket.co.kr/GBank/GBankBook" onclick="javascript:SnaUrlFooter('710200011');"><button type="button" class="btn_cp blue">ALL 마일리지 전환</button></a>
				</li>
				</ul>
			</div>
		</div>*@
		<div class="box_coupon">
			<div class="m_title">
				<h3>Smile Cash</h3>
			</div>
			<ul class="mile_lst mile_lst_v3">
				<li>
					<span class="ico ico1"></span>
					<p>새로운 결제수단 Smile Cash를 <br>현금처럼 사용하세요. <br>충전과 환불도 자유롭게 !</p>
				</li>
				<li>
					<span class="ico ico2"></span>
					<p>G마켓은 물론,<br>G9와 옥션 에서도 사용 가능!</p>
				</li>
			</ul>
			<button type="button" class="btn_cp blue btn_cash" onclick="goCash();">나의 Smile Cash 확인하기</button>
		</div>

		<div class="box_coupon">
			<div class="m_title">
				<h3>Smile Cash 전환</h3>
			</div>
			<ul class="mile_lst mile_lst_v2">
			<li>
				<strong>1만 포인트가 넘으면 Smile Cash로 바꾸자!</strong>
				<img src="@Urls.MobileImagePics/mobile/main/img_mile3.jpg" height="55" alt="">
				<a href="@Urls.MMyGUrl/GBank/SmilePoint"><button type="button" class="btn_cp blue">Smile Cash로 전환하기</button></a>
			</li>
			</ul>
		</div>

		
	</div>
		@Html.Partial("Event/_PromotionList")
	</div>
	<div class="add_homego add_homego2">
@if (!PageAttr.IsIphone && !PageAttr.IsIpad && !PageAttr.IsIpod)
{
    
    if (PageAttr.IsAndroidApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/GMileage", "", "G마켓 Smile Point", "", "", PageAttr))">공유하기</a>
    }
    else
    {	
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
else
{
    if (PageAttr.IsIphoneApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/GMileage", "", "G마켓 Smile Point", "", "", PageAttr))">공유하기</a>
    }
    else
    {
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
    </div>
	<div class="share_sns" id="layer_sns">
		<h4 class="tit">공유하기</h4>

		<div class="sns">
			<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
		</div>
		<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
	</div>	
</div>
<!-- //CONTENT -->
<script type="text/javascript">
    var ShareTo = function (type) {
    	var dataName = "G마켓 Smile Point";
        switch (type) {
            case MobileSnsUtil.snsType().KAKAOTALK:
            	dataName = "Smile Point";
                break;
            default:
                break;
        }
        var data = {
            "name": dataName,
            "url": "http://mobile.gmarket.co.kr/GMileage",
            "title": ""
        };
        if (type == "kakaotalk") {
            KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
        }
        else {
            var sender = MobileSnsUtil.sns(type).sender;
            sender.send(type, new SnsParam(type, data))
        }
    }


    $(document).ready(function () {
        KakaoInit();
        ShareTo("kakaotalk");
    });

	function goCash() {
    	location.href = '@(Urls.MMyGUrl)/GBank/SmileCash';
	}
</script>

@section scriptfiles
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
}