@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html />
<html lang="ko">
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="@Urls.ScriptUrl/mobile/css/common.css" rel="stylesheet" type="text/css" />
        <link href="@Urls.ScriptUrl/mobile/css/event.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="content" class="ctns"></div>
        <script src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/jquery-2.1.1.min.js"></script>
				<script src="@Urls.ScriptUrl/js/mobile/guidGeneration.js"></script>  
        <script src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule_v1.js"></script>        
        
        <script type="text/javascript">
            document.domain = "gmarket.co.kr";
            function CommonApplyEventPlatformMobile(Str, encStr) {
                document.cookie = "ECif" + "=" + escape(encStr) + "; path=/;domain=gmarket.co.kr";
                groupYn = (typeof groupYn == "undefined") ? "N" : groupYn;
                var openerURL = encodeURIComponent(document.URL);

                window.document.location.href = "@Urls.EventNetRoot" + "/eventplatform/apply?epif=" + Str + "&groupYn=" + groupYn + "&isMobile=Y&openerURL=" + openerURL;
                return;
            }

            $(document).ready(function () {
                var em = eModule,
                utils = em.utils,
                globals = em.globals,
                apps = em.apps;
                
                apps.snsBoard.init({
                    el: '#content',
                    boardID: '@Request.QueryString["id"]',
                    domain: '@Urls.MobileWebUrl',
                    loginDomain: '@Urls.MWebUrl',
                    facebookReturnDomain: '@Urls.MobileWebUrl',
                    shortenDomain: '@Urls.MWebUrl',
                    gmarketLogin: '@PageAttr.IsLogin'
                });
                $('#content')
                    .on('click', 'textarea', function () {
                        apps.snsBoard.loginCheck();
                    })
                    .on('click', '.js-open-reply', function (e) {
                        e.preventDefault();
                        if (apps.snsBoard.loginCheck()) {
                            apps.snsBoard.reply($(this));
                            $(this).removeClass('js-open-reply').addClass('js-close-reply');
                        } else {
                            return false;
                        }
                    })
                    .on('click', '.js-close-reply', function (e) {
                        e.preventDefault();
                        if (apps.snsBoard.loginCheck()) {
                            apps.snsBoard.cancel($(this));
                            $(this).removeClass('js-close-reply').addClass('js-open-reply');
                        } else {
                            return false;
                        }
                    })
                    .on('click', '.js-submit-post', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        if (apps.snsBoard.loginCheck()) {
                            var $form = $(this).closest('form');
                            apps.snsBoard.submit($form);
                        }
                    })
                    .on('click', '.js-delete-post', function (e) {
                        e.preventDefault();
                        if (apps.snsBoard.loginCheckOnlyGmarket()) {
                            var id = $(this).closest('li').data('id');
                            apps.snsBoard.del(id);
                        } else {
                            return false;
                        }
                    })
                    .on('change', '.js-selected-sns', function (e) {
                        if (apps.snsBoard.loginCheckOnlyGmarket()) {

                            apps.snsBoard.snsselect($(this));
                        } else {
                            return false;
                        }
                    })
                    .on('click', '.js-log-out', function (e) {
                        e.preventDefault();
                        apps.snsBoard.logout();
                    });

            });
        </script>
    </body>
</html>