@using GMKT.GMobile.Util;

@helper SayHello(int FontSize, string Text)
{
	<div style="font-size:@(FontSize)">@Text</div>
}

@helper PageNavi(int CurrentPage, int RowPerPage, int TotalCount, string ListUrl, string PageNoKey, string CustomParam, string SearchKeyword)
{
	<script type="text/javascript">
		function goNaviList(pageNo) {
			if (pageNo < 1) {
				alert("첫번째 페이지입니다. 이전 페이지로 이동하실 수 없습니다.");
				return;
			} else {
				goNaviFormSubmit(pageNo);
			}
		}

		function goNaviFormSubmit(pageNo) {
			document.getElementById("movePageNo").value = pageNo;
			document.pagingForm.searchKeyword.value = encodeURIComponent('@SearchKeyword');  //쿠키에 세팅할때 에러가 안나게 하기 위해서.

			var timestamp = new Date().getTime();
			document.pagingForm.action = '@ListUrl'+ "?tValue=" + timestamp;

			document.pagingForm.submit();
		}
	</script>

  int naviPageViewCnt = 5; //화면상에 보여줄 숫자의 갯수  ( <   1  2  3  4  5  > )
  int totalPageCnt = 1;  //총페이지수 = 총로우수 / 화면상에 보여주는 로우수
  totalPageCnt = TotalCount / RowPerPage;
  if (TotalCount % RowPerPage > 0) {
		totalPageCnt++;
  }

  int totalBlock = totalPageCnt/naviPageViewCnt; //페이지 이동셋
  int block = CurrentPage/naviPageViewCnt;

	if (totalPageCnt%naviPageViewCnt > 0) {
		totalBlock++;
	}

	if (CurrentPage % naviPageViewCnt > 0) {
		block++; //현재블럭표시
	}

	int firstPage = (block-1)*naviPageViewCnt + 1;
	int lastPage = block*naviPageViewCnt;

	if(totalBlock <= block) {
	 	lastPage = totalPageCnt;
	}

		<!-- PAGING -->
		<form id="paging" name="pagingForm" action="@ListUrl" method="get">
		<div class="pagenation3">	
@if (block > 1){ 
        <a href="javascript:goNaviList('<%=(@firstPage- 1) %>');"  class="prev"><img src="@Urls.MobileImageUrlV2/480/btn_prev.gif" alt="이전" /></a>
} else {
        <a href="#"  class="prev" alt="첫페이지"><img src="@Urls.MobileImageUrlV2/480/btn_prev.gif" alt="이전" /></a>
}

@for(int dpage = firstPage; dpage <= lastPage; dpage++) {
	if (CurrentPage == dpage) { 
            <span><a href="#" class="on">@dpage</a></span>
	} else { 
            <span><a href="javascript:goNaviList(@dpage)">@dpage</a></span>
	}
}

@if(block < totalBlock){ 
        <a href="javascript:goNaviList('@(lastPage+1)');" class="next"><img src="@Urls.MobileImageUrlV2/480/btn_next.gif" alt="다음" /></a>
} else { 
        <a href="#" class="next" alt="마지막페이지"><img src="@Urls.MobileImageUrlV2/480/btn_next.gif" alt="다음" /></a>
}
    </div>
@{	
	string[] paramArray = CustomParam.Split('&');
}

@for ( int i = 0; i < paramArray.Length ; i++ ) {
        if ( paramArray[i] != null && !"".Equals(paramArray[i])
            && paramArray[i].IndexOf("=") > 0 ) {
            string key   = paramArray[i].Substring(0, paramArray[i].IndexOf("="));
            string value = paramArray[i].Substring(paramArray[i].IndexOf("=")+1);

		<input type="hidden" name="@key" value="@value"/>
        }
    }
    <input type="hidden" name="searchKeyword" value="@SearchKeyword"/>
    <input type="hidden" id="movePageNo" name="@PageNoKey" value="@CurrentPage" />
</form>
<!-- //PAGING -->
}

@helper PagingUp(int CurrentPage, int RowPerPage, int TotalCount, int SanctionPage, string ListUrl, string PageNoKey, string PageNumStr, string CustomParam)
{
    int lastPage = (TotalCount / RowPerPage) + (TotalCount % RowPerPage == 0 ? 0 : 1);
    
<script type="text/javascript">
	// 페이지 리스트 ajax 가져오기
    function autoPaging() {
    	var totalCount = @TotalCount ;	//총 리스트 수
    	var rowPerPage = @RowPerPage ;	//한페이지에
    	var customParam = "@CustomParam".replace(/&amp;/g, "&");	// 개별 파라미터
    	var listUrl = "@ListUrl" ;			// 이동  URL

        //page처리
        var pageNo = document.getElementById("pageNo"); // 현재 페이지
        var currentPage =document.getElementById("pageNo").value; // 변경 되는 페이지
        if(pageNo > @lastPage) {
    		alert( "총 페이지 수 보다 높은 페이지로 이동은 안됩니다.");
    		document.pagingForm.pageingPageNo.value = 1;
    		return  ;
    	}//end if

        var nTotalPage = (totalCount/rowPerPage) + (totalCount%rowPerPage == 0 ? 0 : 1);
    	var element = document.getElementById("pagingUi");

    	currentPage = Number(currentPage)+1;
    	if(currentPage > Number(nTotalPage-1) || Number(nTotalPage) < 0) {
    			element.style.display = "none";
		}else{
			if(Number(currentPage) > Number(@SanctionPage)) {
				element.style.display = "none";
				//currentPage =Number(currentPage)-1;
		    }
	 	}
    	pageNo.value = currentPage;
    	customParam += "&pageNo=" +currentPage
    				+"&pageNumStr=" + document.getElementById("pageNumStr").value
    				+"&pageNoKey=@PageNoKey" ;
        try {
        /*
	        $.ajax({
		        type: "POST",
		        url: listUrl,
		        async: false,
		        cache: false,
		        success: function (data) {
                    appendShoppingList(data.list, currentPage);
		        },
		        error: function (msg) { alert(msg); }
	        });

            
            */
            fn_getValueByAjax(listUrl,
                    "POST",
                    customParam,
                    false,
                    function(jsonData){
                        var data = eval('(' + jsonData + ')');
                        appendShoppingList(data.list, currentPage);
                    },
                    "text");
            return true;
        } catch ( err ) {
            alert('catch error : ' + err);
        }
    }
	// 리스트 보여주기
    function appendShoppingList(data, pageNo) {
        document.getElementById("dataListAjax").innerHTML += data;// 리스트 보여주기
        //document.getElementById("pageNumStr").value = pageNumStr;	// 게시물 번호
        document.getElementById("pageNo").value = pageNo;
        UL_layoutFix(".horizontal_list", true);
    }// 응답
 </script>

    if (TotalCount > RowPerPage)
    {
            <div id="pagingUi" class="pagenation">
				<!-- 더보기 -->
				<input type="hidden" id="pageNo" name="pageNo" value="1">
				<input type="hidden" id="pageNumStr" name="pageNumStr" value="@PageNumStr">
				<a id="pagingUi" href="javascript:autoPaging();" class="more">더보기</a>
                <!--button id="pagingUi" type="button" class="btn_more" onclick="autoPaging();">목록 더보기</button-->
				<!-- //더보기 -->            </div>    }
    
<form id="paging" name="pagingForm" action="@ListUrl" method="get">
@{
    string[] paramArray = CustomParam.Split('&');

    for (int i = 0; i < paramArray.Length; i++)
    {
        if (paramArray[i] != null && !"".Equals(paramArray[i]) && paramArray[i].IndexOf("=") > 0)
        {
            String key = paramArray[i].Substring(0, paramArray[i].IndexOf("="));
            String value = paramArray[i].Substring(paramArray[i].IndexOf("=") + 1);
<input type="hidden" name="@key" value="@value"/>
        }
    }
}
<input type="hidden" name="@PageNoKey" value="@CurrentPage" />

</form>
}