@using GMKT.GMobile.Util;
@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;
@using GMobile.Data.DisplayDB;

@using GMKT.Web.Context 

@model DisplayModel
@{
	//ViewData["Title"] = "SpecialShopping";
	// 성인여부 체크
	// Login 시 Adult 체크
	bool isAdult = false;
	if (PageAttr.IsLogin)
	{
			@* 
			2013-06-10 이윤호 
			GMKTWebContext -> GMobileWebContext
			*@
		isAdult = BizUtil.IsAdultUser(GMobileWebContext.Current.UserProfile.CustNo);
	}

	bool isMobileAllHtml = false;
	PageAttr.ViewFooter = true;
	PageAttr.IsMain = true;
}

@section Css
{
  <link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/category.css" />
}

<style type="text/css">
	.xLoop = {}
</style>
<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/common/front.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>

<script type="text/javascript">
	window.onload = function () {
		setTimeout(function () {
			displayLayer("progress_icon", "none");
			//document.getElementById("contents").scrollIntoView();
		}, 100);
		GNB_layoutFix("#gnbList");

		/* landing Banner */
		var em = eModule
            , apps = em.apps
            , landing = apps.landing;

		landing.init({
			pageName: 'SpecialShopping',
			landingType: '@Model.LandingBanner.Type',
			imageUrl: '@Model.LandingBanner.ImageUrl',
			description: '@Model.LandingBanner.Description',
			campaign: '@Model.Campaign.Name',
			medium: '@Model.Campaign.Medium',
			mediumSource: '@Model.Campaign.MediumSource',
			mediumContent: '@Model.Campaign.MediumContent',
			term: '@Model.Campaign.Keyword'
		});

		$("#lay_notice").on('click', '#goToApp', function (e) {
			e.preventDefault();
			landing.installApp();
		}).on('click', '#landingClose', function (e) {
			e.preventDefault();
			landing.close();
		});
		/* landing Banner */
	}


    function visibilityLayer(type) {
			//	$('.evt .horizontal_list ul').css('padding','0');
        if (type == "image") {
            document.getElementById("listDiv").className = "horizontal_list v2";
            UL_layoutFix(".horizontal_list v2", true);
            document.getElementById("btnViewImg").src = "@Urls.MobileImageUrlV2/480/btn_view_img_on.gif";
            document.getElementById("btnViewList").src = "@Urls.MobileImageUrlV2/480/btn_view_list.gif";
            $('.horizontal_list').find('.ico_free').each(function (idx) {
            	$(this).attr('class', 'ico_free');
            });
					  $('.horizontal_list').find('.pay').each(function (idx) {
					  	$(this).attr('class', 'ico_del');
					  });
        } else {            
            UL_layoutUnFix(".horizontal_list v2", true);
            document.getElementById("btnViewImg").src = "@Urls.MobileImageUrlV2/480/btn_view_img.gif";
            document.getElementById("btnViewList").src = "@Urls.MobileImageUrlV2/480/btn_view_list_on.gif";
            document.getElementById("listDiv").className = "vertical_list";

            $('.vertical_list').find('.ico_free').each(function (idx) {
            	$(this).attr('class','ico_free type');
            });
            $('.vertical_list').find('.ico_del').each(function (idx) {
            	$(this).attr('class', 'pay');
            });
        }
    }

    function VisiblePageView() {
		var page = $("#pageNo").val();
		var gno = $("#showGroup").val();
		
		if (page == "") page = 1;
		var j = 0;
		var k = 0;
		$("#dataListAjax li").each(function (idx) {
			if (gno == '') {
				k++;
				if (j < (page * 10)) {
					$(this).parent().show();
					$(this).show();
					j++;
				} else {
					$(this).hide();
				}
			} else {
				if ($(this).attr("id").indexOf(gno) > 0) {
					k++;
					if (j < (page * 10)) {
						$(this).show();
						j++;
					} else {
						$(this).hide();
					}
				} else {
					$(this).hide();
				}
			}
		});

		page++;
		$("#pageNo").val(page);

        var pageAlpha = 0;

        var $lastShownUl = $('#dataListAjax li[style="display: list-item;"]').last().parent();
        var $shownLiListOfLastShownUl = $lastShownUl.find('li[style="display: list-item;"]');
        var $allLiListOfLastShownUl = $lastShownUl.find('li');
        if($shownLiListOfLastShownUl.length < $allLiListOfLastShownUl.length && $shownLiListOfLastShownUl.length % 2 == 1){
            $allLiListOfLastShownUl.eq($shownLiListOfLastShownUl.length).show();
            pageAlpha = 1;
        }

		if (((page - 1) * 10) + 1 + pageAlpha > k || k < 1) {
			$("#pagingUi").hide();
		} else {
			$("#pagingUi").show();
		}

		allItemMoreView();

        
					
	}

	function selected_group(gNo) {
		$("#showGroup").val(gNo);
		$("#pageNo").val(1);
		$("#pagingUi").show();
		setGrouptitle(gNo);		
	}

	function setGrouptitle(gNo) {
		var _type = $("#_g_" + gNo + "_displayType").val();
		var _tot_cnt = $("#_g_total_groupcnt").val();
		var _cnt = $("#_g_" + gNo + "_gCnt").val();

		if(_cnt == '0'){
			$("#txtGroupTitle_0").hide();
			$("#imgGroupTitle_0").hide();
		} else {
			$('.tit_type').each(function () {
				if ($(this).data('title') == 'g') {
					$(this).hide();
					@foreach (var g in Model.groupInfos){
						@:$("[data-group@(g.GID)='@(g.GID)']").hide();
					}
				}
			});
			$("[data-group" + gNo + " ='" + gNo + "']").show();
			$("[data-group" + gNo + " ='" + gNo + "']").css('padding','10px');
			$('#tit_type_' + gNo).show();
		}
			
		$("#showGroup").val(gNo);
		VisiblePageView();
	}

	function initializeGroupView(){
		$('.tit_type').each(function () {
			if ($(this).data('title') == 'g') {
				$(this).hide();
			}
		});
		
		@if(Model.groupInfos.Count > 0 && Model.groupInfos[0].GID != null) {
			@:$("[data-group" + @(Model.groupInfos[0].GID) + " ='" + @(Model.groupInfos[0].GID) + "']").show();
			@:$("[data-group" + @(Model.groupInfos[0].GID) + " ='" + @(Model.groupInfos[0].GID) + "']").css('padding','10px');
			@:$('#tit_type_' + @(Model.groupInfos[0].GID)).show();
		}

		$("#showGroup").val("");
		$("#pageNo").val(1);
		VisiblePageView();
	}
</script>

	<!-- CONTENT -->
  <input type="hidden" name="sid" id="sid" value="@Model.sid" />
	@if (!string.IsNullOrEmpty(@Model.Plan.MobileAllHtml))
 {
	 int nSid = 0;
	 if (int.TryParse(Model.Plan.MobileAllHtml, out nSid))
	 {
				@Html.Action("EventShoppingGroupList", new { groupNo = Model.Plan.MobileAllHtml, bannerImageUrl = Model.Plan.MobileBannerImageUrl })
		 isMobileAllHtml = true;
	 }
 }

	@if (string.IsNullOrEmpty(@Model.Plan.MobileBannerImageUrl))
 {
		<!-- SPECIAL TITLE -->
		<!--<p class="spcl_tit9">@Model.Plan.Title</p> -->
		<!-- //SPECIAL TITLE -->
 }

 <div id="content" class="ctns evt">
	@if (!isMobileAllHtml)
 {
	@:<div class="ban_wrap">
		@:<div class="bn_grp ban" id="bnGrp">

	 if (!string.IsNullOrEmpty(@Model.Plan.MobileBannerImageUrl))
	 {
			<ul>
				<li>
					@Html.Raw(@Model.Plan.MobileBannerImageUrl)
				</li>
			</ul>
	 }
	 else
	 {
		 if (string.IsNullOrEmpty(Model.Plan.BannerUrl) == false)
		 { 
			<div class="plan_top_banner"> 
				<span class="banner"><img src="@Model.Plan.BannerUrl" width="198" height="83" alt="" /></span>
				<span class="category"></span>
				<span class="title"></span>
			</div>
		 }
	 }

	 @:</div>
	@:</div>	
 }
	
		<!-- //BANNER -->


@if (@Model.totalCount > 0)
{		
		<!-- 기존소스 -->
		<!-- PRODUCT ALIGN -->
		<div class="view_type">
			<div class="view_type_sub">	<!-- 20120823 -->
				<div class="p_right">
					<div class="viewmd">
						<ul>
							<li><a href="javascript:;" onClick="visibilityLayer('image');return false; "><img src="@Urls.MobileImageUrlV2/480/btn_view_img_on.gif" alt="이미지리스트" id="btnViewImg" /></a></li>
							<li><a href="javascript:;" onClick="visibilityLayer('list');return false;"><img src="@Urls.MobileImageUrlV2/480/btn_view_list.gif" alt="리스트" id="btnViewList" /></a></li>
						</ul>
					</div>
				</div>
				<div class="p_left">
					<div class="filter_group">
						<a href="#" id="group_view">상품 분류 전체 보기</a>
						<div class="box">
							<ul class="opt_plus">
								<li onclick="initializeGroupView();">
									<input type="radio" name="opt_rdo" id="opt_0" class="inp_rdo">
									<label for="opt_0">상품 분류 전체 보기</label>
								</li>
							@foreach (var g in Model.groupInfos)
			 {
				 if (Model.GoodsItems.Where(a => a.Gid == g.GID).Count() < 1)
				 {
					 continue;
				 }
				 if (g.MobileExposeYn == "N")
				 {
					 continue;
				 }
							<li onclick="selected_group('@g.GID');">
								<input type="radio" name="opt_rdo" id="opt_@g.GID" class="inp_rdo">
								<label for="opt_@g.GID">@g.GroupNm</label>
							</li>
			 }
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<div class="horizontal_list v2" id="listDiv">

	@foreach (var g in Model.groupInfos)
 {
		<!-- 타이틀 -->
	 if (Model.GoodsItems.Where(a => a.Gid == g.GID).Count() < 1)
	 {
		 continue;
	 }

	 string szDataGroup = "data-group" + g.GID;
		<div class="tit_type" id="tit_type_@g.GID" data-title="g"  style="display:none;">		
			@if (g.GroupImgDisplayType == "B")
	 {	
			<!-- 이미지형 -->
			<span class="img_area v2" id="imgGroupTitle_0" style="display:;"><img src="@g.GroupNameImage" alt="" /></span>
	 }
	 else
	 {
			<!-- 텍스트형 -->
			<p class="txt_area" id="txtGroupTitle_0" style="display:;"><span class="empty"></span><span class="txt">@g.GroupNm</span></p>
	 }
		</div>
		<!-- //타이틀 -->
		
	
		<!-- VERTICAL LIST -->
		
			<ul id="dataListAjax" @szDataGroup="@g.GID">
@{
	 foreach (var item in Model.GoodsItems)
	 {
		 if (g.GID != item.Gid)
		 {
			 continue;
		 }

		 string goodsImagePath = "";
		 string linkUrl = Urls.MItemWebURL + "/Item?goodscode=" + item.GdNo;
		 string onClickStr = "";
		 if (item.adult_yn != null && item.adult_yn.Equals("Y"))
		 {
			 if (PageAttr.IsAdultUse && PageAttr.IsLogin)
			 {
				 goodsImagePath = BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "M");
			 }
			 else if (PageAttr.IsLogin && !isAdult) // 미성년자
			 {
				 goodsImagePath = Model.listView.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
				 onClickStr = "alert('죄송합니다.\\n성인만 구매 가능한 상품입니다.'); return false;";
			 }
			 else if (PageAttr.IsLogin && !PageAttr.IsAdultUse && isAdult)  // 성인이지만 성인인증 절차 필요
			 {
				 goodsImagePath = Model.listView.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
				 linkUrl = "/Common/AdultGoodsViewAgree?goodsNo=" + @item.GdNo;
			 }
			 else if (!PageAttr.IsLogin) // Login 필요
			 {
				 goodsImagePath = Model.listView.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
				 linkUrl = ConstDef._GMW_LOGIN_AD_URL + "?rtnurl=" + HttpUtility.UrlEncode(linkUrl) + "&adultUseLoinCheck=Y";
			 }
			 else
			 {
				 goodsImagePath = BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "M");
			 }
		 }
		 else
		 {
			 goodsImagePath = BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "M");
		 }

		 string delivery = string.IsNullOrEmpty(item.delivery_info) ? " " : item.delivery_info;

				<li id="g_@String.Concat(item.Gid, "_", item.GdNo)" style="display:;" class="xLoop" data-group="@item.Gid">
					<a class="anchor" href="@linkUrl" onclick="@onClickStr">
                    <!-- 수동입력일 경우 품절/무료배송/스마트배송 처리 -->
                    @if (item.GroupKind == "1")
                    {
                        <span class="thumbnail_wrap">
							<img class="thumbnail" src="@goodsImagePath" alt="" onerror="this.src='@Urls.MobileImageUrlV2/480/no_img_208.png';" />
                            @if (item.sell_price == 0)
                            {
                                <span class="ico_soldout"><span class="blind">품절되었습니다.</span></span>
                            }
						</span>
                        
                        <span class="goods_name">@item.GdNm</span>

						<span class="goods_info">
							<div class="align_l">
							@if (item.sell_price == 0)
                            {
                                <span class="txt_sold">SOLD OUT</span>
                            }
                            else
                            {
                                if (item.RegisterProductYN == "Y")
                                {
							        <span class="price" style="text-decoration:none;">&nbsp;</span>
							        <span class="sale_price">가입상품</span>
                                }
                                else if (item.discount_price == 0)
                                {
							        <span class="price" style="text-decoration:none;">&nbsp;</span>
							        <span class="sale_price">@CurrencyUtil.ToMoney((@item.sell_price).ToString(), false)</span>
                                }
                                else if (item.sell_price == item.discount_price)
                                {
								    <span class="price" style="text-decoration:none;">@CurrencyUtil.ToMoney((@item.sell_price).ToString(), false)</span>
								    <span class="sale_price">&nbsp;</span>
                                }
                                else
                                {
								    <span class="price">@CurrencyUtil.ToMoney(@item.sell_price.ToString(), false)</span>
								    <span class="sale_price">@CurrencyUtil.ToMoney((@item.sell_price - @item.discount_price).ToString(), false)</span>
                                }
                            }
							</div>
							@if (item.DistrType == "TL")
                            {
                                <span class="ico_smart">스마트배송</span>
                            }
                            else if (item.DeliveryFeeCondition == "X" || ((item.DeliveryFeeCondition == "M" || item.DeliveryFeeCondition == "R") && item.BasisMoney < item.sell_price))
                            {
                                <span class="ico_free2"><span class="blind">무료배송</span></span>
                            }
                            else
                            {
                                if (delivery != null && delivery.Equals("무료"))
                                { 
							        <span class="ico_free">무료배송</span>
                                }
                                else if (delivery == " ")
                                {
							        <span></span>
                                }
                                else if (Char.IsNumber(delivery.Replace("원", ""), 0))
                                { 
							        <span class="fee">배송비 @item.delivery_info</span>
                                }
                                else
                                {
							        <span class="ico_del">@Html.Raw((@delivery ?? " ").Replace("디지털쿠폰<br/>(방문사용)", "e쿠폰"))</span>
                                }
                            }
						</span>
                    }
                    else
                    {
						<span class="thumbnail_wrap">
							<img class="thumbnail" src="@goodsImagePath" alt="" onerror="this.src='@Urls.MobileImageUrlV2/480/no_img_208.png';" />
						</span>

						<span class="goods_name">@item.GdNm</span>

						<span class="goods_info">
							<div class="align_l">
							@if (item.discount_price == 0)
							{
							<span class="price" style="text-decoration:none;">&nbsp;</span>
							<span class="sale_price">@CurrencyUtil.ToMoney((@item.sell_price).ToString(), false)</span>
							}
							else if(item.sell_price == item.discount_price)
							{
								<span class="price" style="text-decoration:none;">@CurrencyUtil.ToMoney((@item.sell_price).ToString(), false)</span>
								<span class="sale_price">&nbsp;</span>
							}
							else{
								<span class="price">@CurrencyUtil.ToMoney(@item.sell_price.ToString(), false)</span>
								<span class="sale_price">@CurrencyUtil.ToMoney((@item.sell_price - @item.discount_price).ToString(), false)</span>
							}
							</div>
							@if (delivery != null && delivery.Equals("무료"))
			 { 
							<span class="ico_free">무료배송</span>
			 }
			 else if (delivery == " ")
			 {
							<span></span>
			 }
			 else if (Char.IsNumber(delivery.Replace("원", ""), 0))
			 { 
							<span class="fee">배송비 @item.delivery_info</span>
			 }
			 else
			 {
							<span class="ico_del">@Html.Raw((@delivery ?? " ").Replace("디지털쿠폰<br/>(방문사용)", "e쿠폰"))</span>
			 }
						
						</span>
                    }
					</a>
				</li>
	 }
}
			</ul>
			<input type="hidden" id="showGroup" />
					
		<!--// VERTICAL LIST -->
		<!-- //기존소스 -->
 }
</div>

		<!-- PAGENATION -->
		<div id="pagingUi" class="pagenation v2" style="display:none;">
			<input type="hidden" id="pageNo" name="pageNo" value="1">
			<input type="hidden" id="pageNumStr" name="pageNumStr" value="|">
			<a href="javascript:VisiblePageView();" class="more">상품 더보기</a>
		</div>
}

	<script type="text/javascript">
		UL_layoutFix(".horizontal_list v2", true);
	</script>

	</div>
	

	<div style="display:none;">
		<input type="hidden" id="_g_total_groupcnt" value="@Model.groupInfos.Count()" />
		@foreach (var m in Model.groupInfos)
	{ 
		<input type="hidden" id="_g_@(m.GID)_displayType" value="@m.GroupImgDisplayType" />
		<input type="hidden" id="_g_@(m.GID)_titleImage" value="@m.GroupNameImage" />
		<input type="hidden" id="_g_@(m.GID)_titleText" value="@m.GroupNm" />
		<input type="hidden" id="_g_@(m.GID)_gCnt" value="@Model.GoodsItems.Where(a => a.Gid == m.GID).Count()" />
		<span id="_g_@(m.GID)_titleHtml">@Html.Raw(m.GroupNameHtml)</span>
	}			
		<script type="text/javascript">
			VisiblePageView();

			@foreach (var g in Model.groupInfos)
	 {
		 var hi = 0;
						
				@:console.log('@(g.GID) = ' + $("[data-group@(g.GID)='@(g.GID)'] > li").filter(":visible").length);
				@:if($("[data-group@(g.GID)='@(g.GID)'] > li").filter(":visible").length < 1){
					@:$("[data-group@(g.GID)='@(g.GID)']").css('padding','0');
				@:}
			}


			function allItemMoreView(){
				$('.xLoop').each(function (idx) {
					if ($(this).css('display') != 'none') {
						$('#tit_type_' + $(this).data('group')).show();
					}
				});
			}
		</script>
	</div>
	<!-- //CONTENT -->


	<hr />