@using GMKT.GMobile.Web.Models;	
@model DisplayModel
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/main.css" /> 
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#rlttStart").click(function (e) {
			e.preventDefault();
			$("#rlttImage").rotate({
				duration: 10000, //돌아가는 시간
				animateTo: 1800, //몇도를 돌릴 것인지. ex) 360 한바퀴 돌아감
				callback: function () {
					//다 돌아간 다음에 기술할 내용.
				} //end callback
			});
		});
	});
</script>	
<hr />
<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="box_dot_main">
		<div class="box_benefit_main2">
			<!--div class="m_title">
				<h3>인기 기획전</h3>
			</div//-->
			<div class="tab_supd">
				<div class="box_wp" id="supdTab">
					<div id="supdTabCnt" class="supd_cnt">
						<ul>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList" onclick="javascript:SnaUrlFooter('710300001');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate01@2x.png" alt="" /></span>기획전 전체</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G01" onclick="javascript:SnaUrlFooter('710300003');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate02@2x.png" alt="" /></span>패션의류</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G02" onclick="javascript:SnaUrlFooter('710300004');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate03@2x.png" alt="" /></span>신발/잡화</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G03" onclick="javascript:SnaUrlFooter('710300005');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate04@2x.png" alt="" /></span>화장품/헤어</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G07" onclick="javascript:SnaUrlFooter('710300007');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate05@2x.png" alt="" /></span>식품</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G04" onclick="javascript:SnaUrlFooter('710300006');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate06@2x.png" alt="" /></span>유아동/출산</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G08" onclick="javascript:SnaUrlFooter('710300008');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate07@2x.png" alt="" /></span>생활/주방/건강</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G09" onclick="javascript:SnaUrlFooter('710300009');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate08@2x.png" alt="" /></span>가구/침구</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G05" onclick="javascript:SnaUrlFooter('710300010');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate09@2x.png" alt="" /></span>스포츠/자동차</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G06" onclick="javascript:SnaUrlFooter('710300011');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate10@2x.png" alt="" /></span>컴퓨터/전자</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G10" onclick="javascript:SnaUrlFooter('710300012');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate11@2x.png" alt="" /></span>도서/음반</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G11" onclick="javascript:SnaUrlFooter('710300013');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate12@2x.png" alt="" /></span>여행</a></li>
							<li><a href="@Urls.MobileWebUrl/Display/SpecialShoppingList?groupCd=G12" onclick="javascript:SnaUrlFooter('710300014');"><span class="ic"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_cate13@2x.png" alt="" /></span>e쿠폰/티켓</a></li>
						</ul>
					</div>
					<button type="button" class="prev_p off">왼쪽으로</button>
					<button type="button" class="next_p off">오른쪽으로</button>
				</div>
			</div>	
				
			<script type="text/javascript">

				var groupNo = '@Model.groupCd';
				if (groupNo === '') {
					var $li = $('#supdTabCnt').find('li:nth(0)');
					$li.addClass('on');
					var newImageUrl = $li.find('img').prop('src').replace('@("@")2x.png', '_press@2x.png');
					$li.find('img').prop('src', newImageUrl);
				}
				else {
					$('#supdTabCnt').find('li').find('a').each(function (index, element) {
						if (index > 0) {
							var $element = $(element);
							var thisGroupNo = $element.prop('href').match(/\groupCd=G\d\d/)[0].split('=')[1];
							if (thisGroupNo == groupNo) {
								$element.parent('li').addClass('on');
								// 이미지 교체
								var newImgUrl = $element.find('img').prop('src').replace('@("@")2x.png', '_press@2x.png');
								$element.find('img').prop('src', newImgUrl);
							}
						}
					});
				}

				var scrollTab = null;
				var currentX = -1;
				var $maxItemLI = $('#supdTabCnt li');
				var $maxItemUL = $('#supdTabCnt ul');
				//var screenSize = $(window).width();	
				var maxValue = ($maxItemLI.width()) * $maxItemLI.length;
				$maxItemUL.css('width', maxValue + 'px');

				$(window).on("load resize", function () { // orientationchange
					initIscroll('supdTabCnt', maxValue);

					if (scrollTab) {
						if (currentX > 0) {
							scrollTab.currPageX = currentX;
							scrollTab.scrollToPage(currentX, 0, 0);
						}
						if (currentX == -1) {
							var nav = document.getElementById('supdTabCnt').querySelectorAll('li');
							var index;
							for (var i = 0; i < nav.length; i++) {
								if ($(nav)[i].className.indexOf('on') > -1) {
									index = i;
									break;
								}
							}
							scrollTab.scrollToPage(index - 1, 0, 0);
						}
					}
				});

				function initIscroll(id, max) {
					var targetId = id;
					if (max > document.getElementById(targetId).offsetWidth) {
						if (scrollTab == null) scrollTab = new iScroll(targetId, { hScrollbar: false, vScrollbar: false, useTransform: false, snap: 'li',
							onScrollEnd: function () {
								var ul = document.getElementById(targetId).querySelector('ul');
								var sideBtns = document.getElementById('supdTab').querySelectorAll('button');
								var pos = parseInt(ul.style.left.replace('px', ''));
								if (pos < 0) {
									$(sideBtns[0]).removeClass('off');
									$(sideBtns[0]).attr('onclick', 'scrollTab.scrollToPage("prev", 0);');
								} else {
									$(sideBtns[0]).addClass('off');
									$(sideBtns[0]).attr('onclick', '');
								}
								if (document.getElementById(targetId).offsetWidth + Math.abs(pos) < ul.offsetWidth) {
									$(sideBtns[1]).removeClass('off');
									$(sideBtns[1]).attr('onclick', 'scrollTab.scrollToPage("next", 0);');
								} else {
									$(sideBtns[1]).addClass('off');
									$(sideBtns[1]).attr('onclick', '');
								}
							}
						});
					} else {
						var sideBtns = document.getElementById(targetId).querySelectorAll('button');
						$(sideBtns[0]).addClass('off');
						$(sideBtns[0]).attr('onclick', '');
						$(sideBtns[1]).addClass('off');
						$(sideBtns[1]).attr('onclick', '');
					}
				}
			</script>
			@if (Model.totalCount > 0)
{
			<!-- 기획전 배너 140220-->
			<div class="event_lst">
				<ul id="dataListAjax">
@for (int i = 0; i < Model.planList.Count; i++)
{
					<li>
						<a href="@Urls.MobileWebUrl/Display/SpecialShopping?lcId=@Model.planList[i].GdlcCd&sid=@Model.planList[i].Sid">
							<img src="@Model.planList[i].MobileThumbImageUrl" alt="@Model.planList[i].Title" />
						</a>
					</li>
}
				</ul>
			</div>
			<!-- //기획전 배너 140220-->
if (@Model.pageNo != 0)
{
  string customParam = "groupCd=" + Model.groupCd;
        
@GMobileHelper.PagingUp(Model.pageNo, 10, Model.totalCount, 10, Urls.MobileWebUrl + "/Display/SpecialShoppingList", "pageNo", "|", customParam);
}

}
else
{
			<!-- 기획전_결과없음 -->
			<div class="event_lst">
				<p class="none_evt">진행 중인 기획전이 없습니다.</p>
			</div>
}
		</div>
			
		<div class="layer_allsv" id="layer_allsv">
			<div class="lay_wp">
				<h3>인기 기획전 전체보기</h3>
				<div class="sevlist_wp">
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop01@2x.png" alt=""></span><span class="s_name">패션의류</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop02@2x.png" alt=""></span><span class="s_name">신발/잡화</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop03@2x.png" alt=""></span><span class="s_name">화장품/헤어</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop04@2x.png" alt=""></span><span class="s_name">유아동/출산</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop05@2x.png" alt=""></span><span class="s_name">식품</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop06@2x.png" alt=""></span><span class="s_name">생활/주방/건강</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop07@2x.png" alt=""></span><span class="s_name">가구/침구</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop08@2x.png" alt=""></span><span class="s_name">스포츠/자동차</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop09@2x.png" alt=""></span><span class="s_name">컴퓨터/전자</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop10@2x.png" alt=""></span><span class="s_name">도서/음반</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop11@2x.png" alt=""></span><span class="s_name">여행</span></a>
					<a href="#" class="noBorder noBorder"><span class="ico"><img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/main/ic_pluszone/msd_catepop12@2x.png" alt=""></span><span class="s_name">e쿠폰/티켓</span></a>
				</div>
				<a href="#" class="lay_clse noBorder noBorder" onclick="popBlockUI('layer_allsv');return false;">닫기</a>
			</div>
		</div>
	</div>
    <div class="add_homego add_homego2"><a href="javascript:popBlockUI('layer_sns');">공유하기</a></div>
	<div class="share_sns" id="layer_sns">
		<h4 class="tit">공유하기</h4>

		<div class="sns">
			<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
		</div>
		<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
	</div>	
</div>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript">
	var ShareTo = function (type) {
	    var dataName = "G마켓 인기기획전";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "인기기획전";
				break;
			default:
				break;
		}
		var data = {
			"name": dataName,
			"url": "http://mobile.gmarket.co.kr/Display/SpecialShoppingList?groupCd=@Model.groupCd",
			"title": ""
		};
		if (type == "kakaotalk") {
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		}
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data))
		}
	}

	$(document).ready(function () {

	    KakaoInit();
	    ShareTo("kakaotalk");
    });
</script>
<!-- //CONTENT -->
<hr />
