@using GMKT.GMobile.Constant;

@using GMKT.Web.Context 

@{
    // 성인여부 체크
    // Login 시 Adult 체크
    bool isAdult = false;
    if (PageAttr.IsLogin)
    {
			@* 
			2013-06-10 이윤호 
			GMKTWebContext -> GMobileWebContext
			*@
			isAdult = BizUtil.IsAdultUser(GMobileWebContext.Current.UserProfile.CustNo);
		}

		Layout = "";

		foreach (var item in Model.Items)
		{
			string goodsImagePath = "";
			string linkUrl = Urls.MItemWebURL + "/Item?goodscode=" + item.gd_no;
			string onClickStr = "";
			if (item.adult_yn.Equals("Y"))
			{
				if (PageAttr.IsAdultUse && PageAttr.IsLogin)
				{
					goodsImagePath = BizUtil.GetGoodsImagePath(item.gd_no.ToString(), "M2");
				}
				else if (PageAttr.IsLogin && !isAdult) // 미성년자
				{
					goodsImagePath = Model.listView.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
					onClickStr = "alert('죄송합니다.\\n성인만 구매 가능한 상품입니다.'); return false;";
				}
				else if (PageAttr.IsLogin && !PageAttr.IsAdultUse && isAdult)  // 성인이지만 성인인증 절차 필요
				{
					goodsImagePath = Model.listView.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
					linkUrl = "/Common/AdultGoodsViewAgree?goodsNo=" + @item.gd_no;
				}
				else if (!PageAttr.IsLogin) // Login 필요
				{
					goodsImagePath = Model.listView.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
					linkUrl = ConstDef._GMW_LOGIN_AD_URL + "?rtnurl=" + HttpUtility.UrlEncode(linkUrl) + "&adultUseLoinCheck=Y";
				}
				else
				{
					goodsImagePath = BizUtil.GetGoodsImagePath(item.gd_no.ToString(), "M2");
				}
			}
			else
			{
				goodsImagePath = BizUtil.GetGoodsImagePath(item.gd_no.ToString(), "M2");
			}     
				<li>
					<a class="anchor" href="@linkUrl" onclick="@onClickStr">
						<span class="thumbnail_wrap">
							<img class="thumbnail" src="@goodsImagePath" alt="" onerror="this.src='@Urls.MobileImageUrlV2/480/no_img_208.png';" />
						</span>
						<span class="goods_name">@item.gd_nm</span>
						<span class="goods_info">
        @if (item.discount_price == 0)
				{
							<span class="price" style="text-decoration:none;">&nbsp;</span>
							<span class="sale_price">@CurrencyUtil.ToMoney((@item.sell_price - @item.discount_price).ToString(), true)</span>
				}
				else
				{
							<span class="price">@CurrencyUtil.ToMoney(@item.sell_price.ToString(), true)</span>
							<span class="sale_price">@CurrencyUtil.ToMoney((@item.sell_price - @item.discount_price).ToString(), true)</span>
				}

        @if (item.delivery_info.Equals("무료"))
				{
							<span class="free">무료배송</span>
				}
				else if (Char.IsNumber(item.delivery_info, 0))
				{
							 <span class="fee">배송비 @item.delivery_info</span>
				}
				else
				{
							<span class="pay">@Html.Raw(@item.delivery_info.Replace("디지털쿠폰<br/>(방문사용)", "e쿠폰"))</span>
				}
						</span>
					</a>
				</li>
    }
}
