@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;

@model PluszoneModel

<!--link rel="stylesheet" type="text/css" href="@Urls.MobileWebUrl/css/480/@PageAttr.MainCss" media="screen, projection"/-->

<script type="text/javascript" src="~/Scripts/jQueryRotate.2.2.js"></script>

<script type="text/javascript" src="~/Scripts/Pluszone.js?dummy=201312030821"></script>

<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);

		var isRlttStartOn = false;

		$("#rlttStart").click(function (e) {
			e.preventDefault();

			if (false == isRlttStartOn) {
				if ("@{@PageAttr.IsLogin}" == "True" && "@{@Model.IsApply}" == "False") {
					displayLayer("progress_icon", "initial");
					isRlttStartOn = true;

					$.ajax({
						type: "POST",
						url: "@Urls.EventNetRoot/PluszoneEventPlatform/Attend",
						data: {
							openerURL: location.href,
							isMobile: "Y",
							lang: "KO"
						},
						dataType: "jsonp",
						success: function (result) {
							displayLayer("progress_icon", "none");

							if (result.msgcode == "-1000") {
								alert(result.message);
							} else if (result.msgcode == "-2000") {
								alert("로그인이 필요합니다.");

								document.location.href = "@Urls.LoginUrl";
							} else if (result.msgcode == "S301" || result.msgcode == "G301") {
								var animateAngle = 1800 + (Math.floor(Math.random() * 26) + 2) + ANGLE_BETWEEN_ITEMS * (parseInt(result.rulletnum) - 1) - 0.5;

								$("#rlttImage").rotate({
									duration: 10000,
									animateTo: animateAngle,
									callback: function () {
										displayLayer("progress_icon", "initial");
										document.location.href = "@Urls.EventNetRoot" + result.msggourl;
									} //end callback
								});
							} else {
								document.location.href = "@Urls.EventNetRoot" + result.msggourl;
							}

						},
						error: function (result) {
							displayLayer("progress_icon", "none");
							alert("오류가 발생했습니다.");
						}
					});
				} else if ("@{@PageAttr.IsLogin}" == "True") {
					alert("이미 출석 체크하였습니다.");
				} else {
					alert("로그인이 필요합니다.");

					document.location.href = "@Urls.LoginUrl";
				}

				isRlttStartOn = false;
			}
		});
	});

    var url="Intent://CreateGServiceShortcut?page=Pluszone#Intent;action=android.intent.action.VIEW;category=android.intent.category.BROWSABLE;scheme=gmarket;package=com.ebay.kr.gmarket;end";

    function getAndroidVersion() {
        var androidVersion = -1; // def value, for non-Android devices
        var ua = navigator.userAgent.toLowerCase();
        var androidIndex = ua.indexOf('android');

        if (androidIndex != -1) {
            var versionStartIndex = androidIndex + 8;
            var versionEndIndex = ua.indexOf(';', versionStartIndex);

            androidVersion = parseFloat(ua.slice(versionStartIndex, versionEndIndex));
        }

        return androidVersion;
    }

    function checkApplicationInstall() {
        if (getAndroidVersion() >= 4.3) window.location.href = url;
        else {
            var iframe = document.createElement("iframe");
            iframe.id = "checkframe";
            iframe.name = "checkframe";
            iframe.style.width = "0px";
            iframe.style.height = "0px";
            iframe.style.display = "none";
            document.body.appendChild(iframe);

            document.checkframe.location = "gmarket://CreateGServiceShortcut?page=Pluszone";
            setTimeout("checkApplicationInstall_callback()", 500);
        }
    }

    function checkApplicationInstall_callback() {
        try {
            
            var s = document.checkframe.document.body.innerHTML;				
            $("#checkframe").remove();
        } catch (e) {
            document.location = "market://details?id=com.ebay.kr.gmarket";
        }
    }

    function sendScheme() {
        
        var appVersion = checkAppVersion();
        
        if (appVersion != '' && parseInt(appVersion) <= 335) {            
            if (confirm("고객님 G마켓 앱의 업데이트가 필요합니다.") == false) {
                return;
            } else {                
                document.location = "market://details?id=com.ebay.kr.gmarket";
            }            
        }
        else {
            var iframe = document.createElement("iframe");
            iframe.id = "checkframe";
            iframe.name = "checkframe";
            iframe.style.width = "0px";
            iframe.style.height = "0px";
            iframe.style.display = "none";
            document.body.appendChild(iframe);

            document.checkframe.location = "gmarket://CreateGServiceShortcut?page=Pluszone";
            setTimeout("checkApplicationInstall_callback2()", 500);           
        }
    }

    function checkApplicationInstall_callback2() {
        try {

            var s = document.checkframe.document.body.innerHTML;
            $("#checkframe").remove();
        } catch (e) {
            
        }
    }

    function checkAppVersion() {
        var sName = "appversion";
	    var aCookie = document.cookie.split("; ");

	    for (var i = 0; i < aCookie.length; i++) {
		    var aCrumb = aCookie[i].split("=");
		    if (sName == aCrumb[0])
			    return unescape(aCrumb[1]);
	    }
	    return null;
    }

    $(document).ready(function () {

    });
</script>

<!-- CONTENT -->
<div id="content" class="ctns">
		
	<div class="mkt">
		<div class="pzone">
			<h3>플러스존</h3>

			<!-- 룰렛 -->
			<div class="rltt_wrap">
				<p class="rltt_tit">매일매일 100%당첨!<span class="ben">플러스존의 <span>특별한 혜택</span></span></p> <!-- 20130311 수정 -->
				<div class="rltt">
					<img src="@Urls.MobileImageUrlV2/640/txt_pzone_rltt.png" alt="매일 룰렛 돌리고 100% 당첨" class="rltt_txt" />
					<img src="@Urls.MobileImageUrlV2/640/img_pzone_dice.png" alt="주사위" class="rltt_dice" />
					<!-- 수정 날싸 지정 -->
					@{
						DateTime nowDate = DateTime.Now;
						DateTime changeDate = new DateTime(2014, 2, 1, 0, 0, 0);
						int compareDate = DateTime.Compare(nowDate, changeDate);
						
						if (compareDate < 0) 
						{
						<img src="@Urls.MobileImageUrlV2/640/img_pzone_rltt.png" alt="룰렛" class="rltt_img" id="rlttImage" />
						}
						
						else 
						{
						<img src="@Urls.MobileImageUrlV2/640/(new)img_pzone_rltt.png" alt="룰렛" class="rltt_img" id="rlttImage" />
						}
					}
					<img src="@Urls.MobileImageUrlV2/640/img_pzone_pin.png" alt="핀" class="rltt_pin" />
					<a href="#" class="rltt_start" id="rlttStart"><img src="@Urls.MobileImageUrlV2/640/btn_pzone_start.png" alt="룰렛돌리고 출석체크하고 START" /></a>
				</div>
			</div>
			<!-- //룰렛 -->

@{
	string attendance = "";
	if ( PageAttr.IsLogin )
	{
		attendance = Model.AttendanceCount.ToString();
	}
	else
	{
		attendance = "?";
	}
}
			<!-- 달력 -->
			<div class="atnd_wrap">
				<div class="atnd">
					<p class="today">TODAY IS<span>@{@Model.Today.Year}년 @{@Model.Today.Month}월 @{@Model.Today.Day}일</span></p>
					<p class="date">이번달<br />나의출석일수<br /><span>@attendance</span>일</p>							
					<table summary="출석한날 표시 달력">
						<caption>출석체크 달력</caption>
						<thead>
							<tr>
								<th scope="col">S</th>
								<th scope="col">M</th>
								<th scope="col">T</th>
								<th scope="col">W</th>
								<th scope="col">T</th>
								<th scope="col">F</th>
								<th scope="col">S</th>
							</tr>
						</thead>
						<tbody>
@{
	int i, currentDay = 1;
								
								<tr>
	@for (i = 0; i < Model.StartDayOfThisMonth; i++)
	{
									<td></td>
	}
							
	@for (i = 0;i < 7-Model.StartDayOfThisMonth; i++)
	{
		if (Model.AttendanceDate != null && Model.AttendanceDate.Contains(currentDay))
		{
										<td><p><img src="@Urls.MobileImageUrlV2/640/img_pzone_cir.png" alt="" /></p>@currentDay</td>
		}
		else
		{
										<td>@currentDay</td>
		}
		currentDay++;
	}
								</tr>
				 
	while(currentDay <= Model.EndDayOfThisMonth)
	{
									<tr>
		@for (i = 0; i < 7 && currentDay <= Model.EndDayOfThisMonth; i++)
		{
			if (Model.AttendanceDate != null && Model.AttendanceDate.Contains(currentDay))
			{
											<td><p><img src="@Urls.MobileImageUrlV2/640/img_pzone_cir.png" alt="" /></p>@currentDay</td>
			}
			else
			{
											<td>@currentDay</td>
			}
			currentDay++;
		}
		@for (; i < 7; i++)
		{
										<td></td>
		}
									</tr>
	}
}
						</tbody>
					</table>
				</div>
			</div>
			<!-- //달력 -->

			<!-- 경품응모 -->
			<div class="ent_wrap">
				<p>매월 10회이상 출석시 <span class="ent">출석경품 <span>응모!</span></span></p>
			<div align = "center">
			<table>
@{
	int columnCount = 0;
}

@foreach (var eachBanner in Model.PluszoneCouponList)
{ 
@:
	if (columnCount % 2 == 0)
	{
@:		<tr>
	}
	
@:			<td style= "border:2px solid #abcee5">	
	
@:	
	if (Model.AttendanceCount >= PluszoneModel.REQUIRED_ATTENDANCE_COUNT)
	{
@:							<a href="@Url.Action("CommonApplyEventPlatformGmarket", "Pluszone")?str=@eachBanner.EidEncryptedString[0]&encStr=@eachBanner.EidEncryptedString[1]">
	}
	else if (PageAttr.IsLogin == false)
	{
@:							<a href="javascript:fnApplyAlertLogin('@Urls.LoginUrl');">
	}
	else
	{
@:							<a href="javascript:fnApplyAlertAttendance();">
	}
@:								<img src="@eachBanner.BannerUrl" alt="@eachBanner.Title" style= "max-width: 140px;"/>
@:							</a>
@:			</td>
@:
	if (columnCount % 2 != 0)
	{
@:		</tr>
	}

	columnCount++;

}
			</table>
			</div>
			</div>
			<!-- //경품응모 -->
			
			<script type="text/javascript">
			</script> 
			
@{
	DateTime endDay = DateTime.Parse("2014-01");
	DateTime toDay = DateTime.Parse(DateTime.Now.ToString("yyyy-MM"));	
 }
			<!-- 혜택안내 -->
			<div class="info">
				<p>플러스존 <span>혜택안내</span></p>
				<ul>
					<li>이벤트 기간 : <span>매월 1일부터 말일</span></li>
					<li>참여 대상 : <span>플러스존 접속회원<span class="txt">(ID당 1일 1회, 웹과모바일은 중복 응모 불가)</span></span></li>
					<li>쿠폰 사용기간 : <span>발급 후 1주일, 바로접속 구매시 사용가능<span class="txt2">1천원쿠폰(1만원이상), 2천원쿠폰(2만원이상),<br />3천원쿠폰(3만원이상), 무료배송쿠폰(1만원이상)</span></span></li> <!-- 20130311 수정 -->
					
	@if (DateTime.Compare(endDay, toDay) > 0)
 {	
					<li>스탬프 사용기간 : <span>발급 후 90일</span></li>
					<li>마일리지 사용기간 : <span>발급 후 180일</span></li>
 }
 else
 { 
					<li>스탬프 사용기간 : <span>발급 후 30일</span></li>
					<li>마일리지 사용기간 : <span>발급 후 90일</span></li>
 }
				</ul>
			</div>
			<!-- //혜택안내 -->

		</div>

		<!-- 이벤트/쿠폰/혜택 전체보기 (공통) -->
		<div class="mkt_all_wrap">
			<div class="mkt_all">
				<p>이벤트/쿠폰/혜택 <span class="all1">전체보기</span></p>
				<a href="@Url.Action("MyBenefitHome", "EventZone")" class="all2">모두보기</a>
			</div>
			<ul>
				<li class="mkt_nav1"><a href="#">플러스존</a></li>
				<li class="mkt_nav2"><a href="@Url.Action("MyBenefitCoupon", "EventZone")">전회원할인</a></li>
				<li class="mkt_nav3"><a href="@Url.Action("MyBenefit", "EventZone")">등급혜택</a></li>
				<li class="mkt_nav4"><a href="@Url.Action("MyBenefitVip", "EventZone")">VIP사은품</a></li>
				<li class="mkt_nav5"><a href="@Url.Action("Index", "GStamp")">G스탬프</a></li>
			</ul>
		</div>
		<!-- //이벤트/쿠폰/혜택 전체보기 (공통) -->
		
        <!--모바일 홈 바로가기-->        
        @*class="go_homebnr"*@
        @if (!PageAttr.IsIphone)
		{
			if (PageAttr.IsAndroidApp)
			{
                <div class="go_homebnr"><a onclick="sendScheme()" ><img src="@Urls.MobileImageUrlV2/640/banner/go_home2.jpg" alt="플러스존 홈화면 바로가기 추가" /></a>
                </div>      
			}
			else
			{
			    <div class="go_homebnr"><a onclick="checkApplicationInstall()" ><img src="@Urls.MobileImageUrlV2/640/banner/go_home2.jpg" alt="플러스존 홈화면 바로가기 추가" /></a>
                </div>
              }
         } 
	    <!--모바일 홈 바로가기-->
        	
	</div>
	
</div>
<!-- //CONTENT -->