@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;
@using GMKT.GMobile.Data;

@model PluszoneModel

<!-- CONTENT -->
	<div id="content" class="ctns">
		<div class="ecpn_tit">
			<h3>플러스존</h3>
		</div>		
		<div class="box_pluszone01">
			<div class="box_flex01">
				<!-- 룰렛 -->
				<div class="rltt_wrap_main">
					<div class="rltt">
					<!-- 수정 날싸 지정 -->
					@{
						DateTime nowDate = DateTime.Now;
						DateTime changeDate = new DateTime(2014, 2, 1, 0, 0, 0);
						int compareDate = DateTime.Compare(nowDate, changeDate);
						
						if (compareDate < 0) 
						{
						<img src="@Urls.MobileImageUrlV2/640/img_pzone_rltt.png" alt="룰렛" class="rltt_img" id="rlttImage" />
						}
						
						else 
						{
						<img src="@Urls.MobileImageUrlV2/640/(new)img_pzone_rltt.png" alt="룰렛" class="rltt_img" id="rlttImage" />
						}
					}
					<img src="@Urls.MobileImageUrlV2/640/img_pzone_pin.png" alt="핀" class="rltt_pin" />
					<a href="#" class="rltt_start" id="rlttStart"><img src="@Urls.MobileImageUrlV2/640/btn_pzone_start.png" alt="룰렛돌리고 출석체크하고 START" /></a>
					</div>
				</div>
				<!-- //룰렛 -->
@{
	string attendance = "";
	if ( PageAttr.IsLogin )
	{
		attendance = Model.AttendanceCount.ToString();
	}
	else
	{
		attendance = "?";
	}
}		
            </div>
			
			<div class="box_flex02">			
            <!-- 140221_수정 -->
				<!-- 달력 -->
				<div class="atnd_wrap_main">
					<div class="atnd">
						<div class="box_state">
@if (PageAttr.IsLogin)
{
    string displayCustName = "";
    if (string.IsNullOrEmpty(GMKTWebContext.Current.UserProfile.CustName) == false)
    {
        if (GMKTWebContext.Current.UserProfile.CustName.Length > 4)
        {
            displayCustName = string.Format("{0}...", GMKTWebContext.Current.UserProfile.CustName.Substring(0, 4));
        }
        else {
            displayCustName = GMKTWebContext.Current.UserProfile.CustName;
        }
    }
							<!-- 로그인 후 -->
							<div class="grade">
								@(displayCustName)님
    @if (GMKTWebContext.Current.UserProfile.BuyerGrade == GMKT.Framework.BuyerGradeEnum.SVIP)
    { 
        @:<span class="m_flag svip"><span>svip</span></span>
    }
    else if (GMKTWebContext.Current.UserProfile.BuyerGrade == GMKT.Framework.BuyerGradeEnum.VIP)
    { 
        @:<span class="m_flag vip"><span>vip</span></span>
    }
    else if (GMKTWebContext.Current.UserProfile.BuyerGrade == GMKT.Framework.BuyerGradeEnum.Gold)
    { 
        @:<span class="m_flag gold"><span>gold</span></span>
    }
    else if (GMKTWebContext.Current.UserProfile.BuyerGrade == GMKT.Framework.BuyerGradeEnum.Silver)
    { 
        @:<span class="m_flag silver"><span>silver</span></span>
    }
    else if (GMKTWebContext.Current.UserProfile.BuyerGrade == GMKT.Framework.BuyerGradeEnum.New)
    { 
        @:<span class="m_flag new"><span>new</span></span>
    }
							
							</div>
							<!-- //로그인 후 -->
}
else 
{
							<!-- 로그인 전 -->
							<div class="login"><a class="btn_login" href="@Urls.LoginUrl"><span>로그인</span></a></div>
							<!-- //로그인 전 -->
}    
							<div class="date">
								<strong>이번달 출석일수</strong>
								<span class="day">@attendance<span>일</span></span>
							</div>
						</div>
						<table summary="출석한날 표시 달력">
							<caption>출석체크 달력</caption>
							<thead>
								<tr>
									<th scope="col">S</th>
									<th scope="col">M</th>
									<th scope="col">T</th>
									<th scope="col">W</th>
									<th scope="col">T</th>
									<th scope="col">F</th>
									<th scope="col">S</th>
								</tr>
							</thead>
							<tbody>
@{
	int i, currentDay = 1;
								
								<tr>
	@for (i = 0; i < Model.StartDayOfThisMonth; i++)
	{
									<td></td>
	}
							
	@for (i = 0;i < 7-Model.StartDayOfThisMonth; i++)
	{
		if (Model.AttendanceDate != null && Model.AttendanceDate.Contains(currentDay))
		{
										<td><p><img src="@Urls.MobileImageUrlV2/640/img_pzone_cir2.png" alt="" /></p>@currentDay</td>
		}
		else
		{
										<td>@currentDay</td>
		}
		currentDay++;
	}
								</tr>
				 
	while(currentDay <= Model.EndDayOfThisMonth)
	{
									<tr>
		@for (i = 0; i < 7 && currentDay <= Model.EndDayOfThisMonth; i++)
		{
			if (Model.AttendanceDate != null && Model.AttendanceDate.Contains(currentDay))
			{
											<td><p><img src="@Urls.MobileImageUrlV2/640/img_pzone_cir2.png" alt="" /></p>@currentDay</td>
			}
			else
			{
											<td>@currentDay</td>
			}
			currentDay++;
		}
		@for (; i < 7; i++)
		{
										<td></td>
		}
									</tr>
	}
}
							</tbody>
						</table>
					</div>
				</div>
				<!-- //달력 -->
@{	
				<!-- 9/4 오전 12시 ~ 9/21 오후 6시 -->	
				DateTime bannerStartDate = new DateTime(2014, 9, 4, 12, 0, 0);
				DateTime bannerEndDate = new DateTime(2014, 9, 21, 18, 0, 0);				
				
				if (!PageAttr.IsApp && nowDate.CompareTo(bannerStartDate) >= 0 && nowDate.CompareTo(bannerEndDate) < 0)
				{
				<div class="banner_area_main">				
					<a href="@Urls.MWebUrl/Event/2014/09/0904_mobile/event.asp"><img src="@Urls.MobileImageUrlV2/640/banner/pzone_banner_640x130.jpg" alt=""></a>
				</div>
				}
}
@if (Model.PluszoneCouponList != null && Model.PluszoneCouponList.Count > 0)
{
                <!-- 경품응모 -->
				<div class="ent_wrap_main">
					<!--140225-->
					<div class="m_title">
						<h3>매월 10회 이상 출석 시 경품 응모</h3>
						<a href="#" class="btn_more" onclick="popBlockUI('layer_bef');return false;"><span>혜택안내</span></a>
					</div>
					<!--//140225-->
					<div class="entry_prod">
						<ul>
@{
    bool isOdd = true;
    string bannerUrl = string.Empty;
}
                            @foreach (var eachBanner in Model.PluszoneCouponList)
                            {
                                if (Model.AttendanceCount >= PluszoneModel.REQUIRED_ATTENDANCE_COUNT)
                                {
                                    bannerUrl = string.Format("{0}?str={1}&encStr={2}", Url.Action("CommonApplyEventPlatformGmarket", "Pluszone"), eachBanner.EidEncryptedString[0], eachBanner.EidEncryptedString[1]);
                                }
                                else if (PageAttr.IsLogin == false)
                                {
                                    bannerUrl = string.Format("javascript:fnApplyAlertLogin('{0}');", @Urls.LoginUrl);
                                }
                                else
                                {
                                    bannerUrl = string.Format("javascript:fnApplyAlertAttendance();");
                                }

                                if (isOdd == true)
                                {
                                    <li><a href="@bannerUrl">
								    <img src="@eachBanner.BannerUrl" alt="" />
								    <span>응모하기</span>
							        </a></li>
                                }
                                else
                                { 
                                    <li class="complete"><a href="@bannerUrl">
								    <img src="@eachBanner.BannerUrl" alt="" />
								    <span>응모하기</span>
							        </a></li>
                                }
                            }
                        </ul>
					</div>
				</div>
				<!-- //경품응모 -->
}
			</div>
		</div>

		<div class="box_dot_main">
			@if (Model.CouponBenefitItem != null && Model.CouponBenefitItem.Count > 0)
            { 
			<div class="box_benefit_main">
				<div class="m_title"><h3>쿠폰/혜택 바로가기</h3></div>
				<ul class="box_links">
                    @foreach (CouponBenefitItem eachCouponBenefitItem in Model.CouponBenefitItem)
                    {
                        if (string.IsNullOrEmpty(eachCouponBenefitItem.BenefitName) == true) { continue; }
                        
                        <li class="link01">
						    <a href="@eachCouponBenefitItem.LinkUrl">
							    <img src="@eachCouponBenefitItem.ImagePath" alt="" />
							    <span>@(new HtmlString(eachCouponBenefitItem.BenefitName))</span>
						    </a>
					    </li>
                    }
				</ul>			
			</div>
            }
            @if (Model.MobileShopPlanList != null && Model.MobileShopPlanList.Count > 0)
            {
			<div class="box_exhibit_main01">
				<div class="m_title">
					<h3>인기 기획전</h3>
					<a href="@Urls.MobileWebUrl/Display/SpecialShoppingList" class="btn_more"><span>더보기</span></a>
				</div>
				<ul class="list_exhibit">
@{
                int intCount = 1;
                string strCount = "";
}
                @foreach (MobileShopPlan eachShopPlan in Model.MobileShopPlanList)
                {
                    if (string.IsNullOrEmpty(eachShopPlan.MobileThumbImageUrl) == true) { continue; }
                    if (intCount >= 10)   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
                    {
                        strCount = string.Format("7032000{0}", intCount);
                    }
                    else
                    {
                        strCount = string.Format("70320000{0}", intCount);
                    }
                    <li><a href="@eachShopPlan.LinkUrl"><img src="@eachShopPlan.MobileThumbImageUrl" alt="" /></a></li>                    
                    intCount++;
                }
				</ul>			
			</div>
            }
            @if (Model.PopularPlanQuickLink != null && Model.PopularPlanQuickLink.Count > 0)
            { 
			<div class="box_exhibit_main02">
				<div class="m_title"><h3>기획전 바로가기</h3></div>
				<ul class="list_exhibit02">
                    @foreach (PopularPlanQuickLink eachPopularPlanQuickLink in Model.PopularPlanQuickLink)
                    {
                        if (string.IsNullOrEmpty(eachPopularPlanQuickLink.PopularPlanName) == true) { continue; }

                        <li><a href="@eachPopularPlanQuickLink.LinkUrl"><img src="@eachPopularPlanQuickLink.ImagePath" alt="" /><span>@eachPopularPlanQuickLink.PopularPlanName</span></a></li>
                    }
				</ul>			
			</div>
            }
		</div>

		@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "attendance", ShareFcdCode = "", ShortcutFcdCode = "", TargetUrl = Urls.MobileWebUrl + "/Pluszone", Title = "G마켓 출석체크" })

		<div class="share_sns" id="layer_sns">
			<h4 class="tit">공유하기</h4>
			<div class="sns">
				<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
			</div>
			<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
		</div>		

        <!--140225 혜택레이어 추가-->
		<div class="layer_allsv bef" id="layer_bef">
			<div class="lay_wp">
				<h3>플러스존 혜택안내</h3>
				<ul class="guide_bef">
@if (DateTime.Now < new DateTime(2014, 4, 1, 0, 0, 0))
{
					<li><span class="ttx">이벤트 기간</span>
						매월 1일부터 말일
					</li>
					<li><span class="ttx">참여 대상</span>
						플러스존 접속회원<br />
						(ID당 1일 1회, 웹과모바일은 중복 응모 불가)
					</li>
					<li><span class="ttx">쿠폰 사용기간</span>
						발급 후 1주일, 바로접속 구매시 사용가능<br />
						1천원쿠폰(1만원이상), 2천원쿠폰(2만원이상),<br />
						3천원쿠폰(3만원이상), 무료배송쿠폰(1만원이상)
					</li>
					<li><span class="ttx">스탬프 사용기간</span>
						발급 후 30일</li>
					<li><span class="ttx">마일리지 사용기간</span>
						발급 후 90일
					</li>
}
else
{
					<li><span class="ttx">이벤트 기간</span>
						매월 1일부터 말일
					</li>
					<li><span class="ttx">참여 대상</span>
						플러스존 접속회원<br />
						(ID당 1일 1회, 웹과 모바일은 중복 응모 불가)
					</li>
					<li><span class="ttx">쿠폰 사용기간</span>
						발급 후 1주일, 바로접속 구매시 사용가능<br />
						1천원쿠폰/무료배송쿠폰 : 1만원이상 구매시<br />
						사용가능
					</li>
					<li><span class="ttx">스탬프 사용기간</span>
						발급 후 30일간 사용가능(이후 자동소멸)</li>
					<li><span class="ttx">마일리지 사용기간</span>
						발급 후 90일간 사용가능(이후 자동소멸)
					</li>
}
				</ul>
				<a href="#" class="lay_clse" onclick="popBlockUI('layer_bef');return false;">닫기</a>
			</div>
		</div>
		<!--//140225 혜택레이어 추가-->
		
	</div>
	<!-- //CONTENT -->

@section scriptfiles
{
<script type="text/javascript" src="~/Scripts/jQueryRotate.2.2.js"></script>
<script type="text/javascript" src="~/Scripts/Pluszone.js?dummy=201312030821"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
}

@section scripts
{
<script type="text/javascript">
    var ShareTo = function (type) {
        var dataName = "G마켓 출석체크";
        switch (type) {
            case MobileSnsUtil.snsType().KAKAOTALK:
                dataName = "출석체크";
                break;
            default:
                break;
        }
        var data = {
            "name": dataName,
            "url": "@Urls.MobileWebUrl" + "/Pluszone",
            "title": ""
        };
        if (type == "kakaotalk") {
            KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
        }
        else {
            var sender = MobileSnsUtil.sns(type).sender;
            sender.send(type, new SnsParam(type, data))
        }
    }

    $(document).ready(function () {

        KakaoInit();
        ShareTo("kakaotalk");

        setTimeout(function () {
            displayLayer("progress_icon", "none");
        }, 100);

        var isRlttStartOn = false;

        $("#rlttStart").click(function (e) {
            e.preventDefault();

            if (false == isRlttStartOn) {
                if ("@{@PageAttr.IsLogin}" == "True" && "@{@Model.IsApply}" == "False") {
                    //displayLayer("progress_icon", "initial"); for app
                    isRlttStartOn = true;

                    $.ajax({
                        type: "POST",
                        url: "@Urls.EventNetRoot/PluszoneEventPlatform/Attend",
                        data: {
                            openerURL: location.href,
                            isMobile: "Y",
                            lang: "KO"
                        },
                        dataType: "jsonp",
                        success: function (result) {
                            displayLayer("progress_icon", "none");

                            if (result.msgcode == "-1000") {
                                alert(result.message);
                            } else if (result.msgcode == "-2000") {
                                alert("로그인이 필요합니다.");

                                document.location.href = "@Urls.LoginUrl";
                            } else if (result.msgcode == "S301" || result.msgcode == "G301") {
                                var animateAngle = 1800 + (Math.floor(Math.random() * 26) + 2) + ANGLE_BETWEEN_ITEMS * (parseInt(result.rulletnum) - 1) - 0.5;

                                $("#rlttImage").rotate({
                                    duration: 10000,
                                    animateTo: animateAngle,
                                    callback: function () {
                                        displayLayer("progress_icon", "initial");
                                        document.location.href = "@Urls.EventNetRoot" + result.msggourl;
                                    } //end callback
                                });
                            } else {
                                document.location.href = "@Urls.EventNetRoot" + result.msggourl;
                            }

                        },
                        error: function (result) {
                            displayLayer("progress_icon", "none");
                            alert("오류가 발생했습니다.");
                        }

                    });
                } else if ("@{@PageAttr.IsLogin}" == "True") {
                    alert("이미 출석 체크하였습니다.");
                } else {
                    alert("로그인이 필요합니다.");

                    document.location.href = "@Urls.LoginUrl";
                }

                isRlttStartOn = false;
            }
        });
    });

    $(document).ready(function () {

    });
</script>  
}
