@using GMKT.GMobile.Data.EventV2
@model List<NavigationIconT>

@{
	bool isDev = Request.Url.Host.IndexOf("dev") > -1 || Request.Url.Host.IndexOf("local") > -1 || Request.Url.Host.IndexOf("md") > -1;
	string iacMemUrl = isDev ? "https://test101memberssl.auction.co.kr" : "https://memberssl.auction.co.kr";
	string iacProUrl = "http://promotion.auction.co.kr/";
}  

<div id="content" class="ctns">	
	@Html.Partial("Event/_NavigationBar", @Model, new ViewDataDictionary { { "selectTab", "쿠폰존" } })
	<div class="layer_allsv ly_benefit benefit_wrap">
		<div class="lay_wp">
			<div class="bx_grade">
				<div class="ico">최고 등급 크로스 혜택</div>
				<p class="dsc">회원님은 G마켓 최고 등급인 <strong class="tx">SVIP</strong>회원으로 <br />이번 달 옥션에서도 최고 등급인 <strong class="tx2">VIP</strong>혜택을 받을 수 있습니다. <span>지금 등급 연동에 동의하시고 G마켓, 옥션 모두 <br />최고 등급 혜택을 받으세요!</span></p> 
				<a href="@(iacProUrl)/promotion/mobile/eventview.aspx?txtMD=01D3A455E0&subMenu=이달의쿠폰" class="bef_info">
					<dl class="blind"> 
				    <dt>옥션 VIP 혜택</dt> 
				    <dd>할인쿠폰</dd> 
				    <dd>VIP 무료반품쿠폰</dd> 
				    </dl> 
				</a>
				<div class="bx_agree"> 
				    <p> 회원님께 옥션 VIP혜택을 제공하기 위해 양 사이트간 연계정보 또는 <strong>사업자번호</strong>가 활용됩니다.  동의하시겠습니까?  </p> 
			    </div> 
				<div class="bx_info"> 
				    <p>G마켓/옥션 최고 등급 확인 및 혜택 제공의 [통합서비스운영] 을 위한 연계 정보(CI) 또는 <strong>사업자번호</strong> 활용에 동의하며, 해당 연계정보(CI)또는 <strong>사업자번호</strong>는 회원탈퇴 5일 이내 또는 서비스 종료일까지 보관됩니다.</p> 
			    </div> 
				<button type="button" onclick="agreeCross();return false;" class="btn_cp blue click_a">동의 후 옥션 VIP되기</button>
			</div>
		</div>
	</div>	<!-- [D] 동의완료 레이어 -->	<div class="layer_allsv ly_benefit" id="layer_cpinfo10" style="display: none;">
		<div class="lay_wp">
			<h3>동의완료</h3>
			<div class="bx_grade">
				<h4 class="tit_agree">동의해주셔서 감사합니다.</h4>
				<p class="tx_agree">지금 바로 옥션에서 최고 등급 혜택을 받을 수 있습니다.</p>
				<div class="btn_area">
					<button type="button" class="btn_cp click_a" onclick="goCouponzone();">닫기</button>
					<a href="javascript:;" class="btn_cp blue click_a" onclick="goAuction();">옥션 VIP 혜택 받으러 가기</a>
				</div>
			</div>
			<a href="javascript:;" class="lay_clse" onclick="popBlockUI('layer_cpinfo10');return false;">닫기</a>
		</div>
	</div>	<div class="layer_allsv ly_benefit" id="layer_cpinfo11" style="display: none;">
		<div class="lay_wp">
			<h3>동의완료</h3>
			<div class="bx_grade">
				<h4 class="tit_agree">동의해주셔서 감사합니다.</h4>
				<p class="tx_agree">아직 옥션 회원이 아니시군요!<br>옥션 회원가입 후 본인인증하시면<br> 최고 등급 혜택을 받을 수 있습니다</p>
				<div class="btn_area">
					<button type="button" class="btn_cp click_a" onclick="goCouponzone();">닫기</button>
					<a href="javascript:;" class="btn_cp blue click_a" onclick="goAuctionMember();">옥션 회원가입하고 VIP혜택 받기</a>
				</div>
			</div>
			<a href="javascript:;" class="lay_clse" onclick="popBlockUI('layer_cpinfo11');return false;">닫기</a>
		</div>
	</div>	<!--//쿠폰안내 레이어 추가-->
</div>

@section scripts{<script type="text/javascript">
	function agreeCross() {
		$.ajax({
		    type: "Get",
			url: "/Couponzone/SetMemberGradeCross",
			dataType: "json",
			async: false,
			error: function (request, status, error) {
				alert(error);
			},
			success: function (data) {
				if (data.code == "Success") {
					//$("#cross_recommend").hide();
					//$("#cross_complete").show();
					//popBlockUI('layer_cpinfo9');

					if (data.msg != undefined && data.msg == "A2") {
						popBlockUI('layer_cpinfo11');
					} else {
						popBlockUI('layer_cpinfo10');
					}
				} else {
					alert(data.msg);
				}
			}
		});
	}

	function goAuctionMember() {
	    location.href = "@(iacMemUrl)/Membership/Signup/m/SignupCompanyOnMobile.aspx";
	}

	function goAuction() {
		location.href = "@(iacProUrl)/promotion/mobile/eventview.aspx?txtMD=01D3A455E0&subMenu=이달의쿠폰";
	}

	function goCouponzone() {
		location.href = "@(Urls.MobileWebUrl)/Couponzone";
	}
</script>
}