@using System.Web;
@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models.EventV2;
@using GMKT.GMobile.Data;
@using GMKT.GMobile.Data.EventV2;
@using GMKT.GMobile.Web.Controllers.EventV2;

@model TotalCouponzoneModel
@{
    int month = DateTime.Now.Month;
    int day = DateTime.Now.Day;
    int hour = DateTime.Now.Hour;

    bool useMonthlyCoupon = DateTime.Now >= new DateTime(2016, 11, 1, 0, 0, 0);
    bool useMonthlyCouponNew = DateTime.Now >= new DateTime(2016, 12, 1, 0, 0, 0);
}    

<script type="text/javascript">
var isSelectedSpecialCoupon = function(){
	return false;
};

var COUPON_TYPE = {
	GRADE: "g",
	MEMBER: "m",
	SPECIAL: "s",
	MONTHLY: "mo",
	MONTHLY_NO_TIMECHECK: "mo2"
};

window.onload = function () {
    setTimeout(function () {
		if(isSelectedSpecialCoupon()) {
			$("html, body").scrollTop($('#divSpecialCoupon').offset().top);
		} else {
		}        
    }, 100);
		if(window.location.hash === '#specialcoupon'){
			setTimeout(function () {
        $("html, body").scrollTop($('#divSpecialCoupon').offset().top);
	    }, 200);
		}		
}

var islogin = "@(PageAttr.IsLogin)";
function fnApplyCouponPack(cType, cNos, cLevel) {
    if (islogin == "False") {
        goLogin(location.href);
        return;
    } else {   
        $.ajax({
            type: "Get",
            url: "/Couponzone/ApplyCouponPack",
            dataType: "json",
            data: {
                "cType": cType,
                "cNos": cNos,
                "cLevel": cLevel
            },
            async: false,
            error: function (request, status, error) {
                alert(error);
            },
            success: function (result) {
                if(result.success)
                {
                    if(result.errorCode == 0)
                    {
						$("#btnMberCpnDown").hide();
						$("#btnMberCpnDownDone").show();
						popBlockUI("layer_cpinfo7");						
						//alert("성공적으로 발급 받으셨습니다.");						                       
                    }else{
                        alert(result.errorMsg);
                    }

                }
            }
        });
    }
}

function goUrl(url){
    location.href = url;
}

function goLogin(url , msg ) {

    if(msg != undefined )
    {
        alert(msg)
    }
    document.location.href = "@Urls.MemberOnlyLoginUrl&URL="+url;
 }

function checkCouponValidation(type, val, checkType){
    $.ajax({
        type:"POST",
        url:"/Couponzone/CouponValidCheck",
        datatype:"json",
        data:{
            "checkType":checkType
        },
        async:false,
        success:function(result){
            if(result.resultCode){
                checkTime(type, val);            
            }
            else{
                alert(result.resultMessage);
                if(result.resultType == "GOLOGIN"){
                    location.href = "@Urls.MemberOnlyLoginUrl&URL=@Urls.MobileWebUrl/Couponzone";
                }
                return false;
            }
        },
        error: function(req,stat,err){

        }
    });
    
}


function checkTime(type, val) {
    var d = 1;
    var t = 9;
	
    type = (type || "").toLowerCase();

    if (type == COUPON_TYPE.GRADE) {
        if (@(day) == d && @(hour) < t){
            alert("등급별 쿠폰은 매월 "+d+"일 "+t+":00시부터 발급됩니다.");
        }else{
            goUrl(val);
        }
    } else if (type == COUPON_TYPE.MEMBER) {
        if (@(day) == d && @(hour) < t){
            alert("전회원 할인쿠폰은 매월 "+d+"일 "+t+":00시부터 발급됩니다.");
        }else{
            fnApplyCouponPack('mc', val);
        }
    } else if (type == COUPON_TYPE.SPECIAL) {
        if (@(day) == d && @(hour) < t){
            alert("스페셜 쿠폰은 매월 "+d+"일 "+t+":00시부터 발급됩니다.");
        }else{
            goUrl(val);
        }
    } else if (type == COUPON_TYPE.MONTHLY) {
	if (@(day) == d && @(hour) < t){
		alert("이달의 스페셜 쿠폰은 매월 "+d+"일 "+t+":00시부터 발급됩니다.");
        }
	else{
            goUrl(val);
        }
    } else if (type ==  COUPON_TYPE.MONTHLY_NO_TIMECHECK) {
    	goUrl(val);
    }
}
</script>
<!-- CONTENT -->
	<div id="content" class="ctns">
        <div class="coupon_wrap">        @Html.Partial("Event/_NavigationBar", @Model.NaviIcons, new ViewDataDictionary { { "selectTab", "쿠폰존" } })                    
     <div class="swiper_section coupon_banner">                      
        <div class="swiper-container">
      @if (Model.Couponzone.ProCouponBanner.Count > 0)
      {		 
		    <div class="swiper-wrapper" id="bnGrp">							  
					    @foreach (PromotionBannerInfoT i in Model.Couponzone.ProCouponBanner)
         {
             if (!String.IsNullOrEmpty(i.ImageMobile))
             {	<!-- 이미지 확인-->
                                <div class="swiper-slide">
								        <span class="img_area"><img src="@i.ImageMobile" alt="@i.Alt" /></span>
                                </div>	
             }
         }							    
		    </div>                                                                                         
      }   
       <!-- Add Pagination -->
					    <div class="swiper-pagination"></div>			 
         </div>			
            <script type="text/javascript">
					    /* 이미지 높이값 고정 */
					    $(window).on("resize", function () {
					        setImgHeight();
					    });
					    function setImgHeight() {
					        var $bnr_img = $('#bnGrp a img');
					        $bnr_img.height($bnr_img.width() * 0.422); //0.422 : 배너 가로세로 비율
					    }
					    setImgHeight();
					    /* //이미지 높이값 고정 */

					    var gallery1,
							el,
							i,
							page,
							dots1 = document.querySelectorAll('#bnTurn button');
					    /* HTML 파싱 */
					    var bnGrpList1 = $("#bnGrp li");

					    if (1 < bnGrpList1.length) {

					        var bnGrpListAtag1 = [];

					        for (var j = 0; j < bnGrpList1.length; j++) {
					            bnGrpListAtag1[j] = bnGrpList1[j].innerHTML;
					        }

					        var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");
					        /* //HTML 파싱 */

					        gallery1 = new SwipeView('#bnGrp', {
					            numberOfPages: bnGrpListAtag1.length,
					            hastyPageFlip: true,
					            flickTime: 1000
					        });

					        // Load initial data
					        for (i = 0; i < 3; i++) {

					            if (1 == bnGrpListAtag1.length) {
					                page = i == 0 || 2 ? bnGrpListAtag1.length - 1 : i - 1;
					            }
					            else {
					                page = i == 0 ? bnGrpListAtag1.length - 1 : i - 1;
					            }
					            el = document.createElement('span');
					            el.innerHTML = bnGrpListAtag1[page];
					            gallery1.masterPages[i].appendChild(el)

					            el.width = bnGrpListAtag1[page].width;
					            el.height = bnGrpListAtag1[page].height;
					            el.onload = function () { this.className = ''; }
					        }

					        gallery1.onFlip(function () {
					            var el,
									upcoming,
									i;

					            for (i = 0; i < 3; i++) {
					                upcoming = gallery1.masterPages[i].dataset.upcomingPageIndex;

					                if (upcoming != gallery1.masterPages[i].dataset.pageIndex) {
					                    el = gallery1.masterPages[i].querySelector('span');
					                    el.innerHTML = bnGrpListAtag1[upcoming];
					                }
					            }
					            setImgHeight();
					        });

					        flicking("bnGrp", "prev", "next");

					    } else if (1 == bnGrpList1.length) {

					        var bnGrpListAtag1 = [];

					        for (var j = 0; j < bnGrpList1.length; j++) {
					            bnGrpListAtag1[j] = bnGrpList1[j].innerHTML;
					        }
					        var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");
					        var elSpan = document.createElement('span');
					        elSpan.innerHTML = globalBnGrpListAtag1;
					        document.querySelector('#bnGrp').appendChild(elSpan);

					        flicking("bnGrp", "prev", "next");
					    } 
					</script>               </div>            <!-- 등급별 쿠폰 영역 //-->            <div class="bx_coupon">
                @if (PageAttr.IsLogin)
                {
                    <h2 class="tit_user @Model.BuyerGradeBenefit.ClassName"><strong class="txt_name">@Model.BuyerGradeBenefit.DisplayCustName</strong>님은 소중한 <strong class="txt_grade">@Model.BuyerGradeBenefit.MyGrade</strong> 입니다</h2>
                }
                else
                {
                    <h2 class="tit_user"><strong class="tx" onclick="goLogin(location.href,'로그인 후 확인 가능합니다');">로그인</strong> 후 구매등급혜택을 확인하세요</h2>
                }
				<div class="info_img">					
                      <img src="@Urls.MobileImagePics/mobile/main/img_coupon.jpg" alt="">
					<dl class="blind">
					<dt>FAMILY</dt>
					<dd>12개월 4건 이하. 1장 할인쿠폰</dd>
					<dt>VIP</dt>
					<dd>12개월 5건 이하. 2장 할인쿠폰</dd>
					<dt>SVIP</dt>
					<dd>12개월 80건 이상. 4장 할인쿠폰</dd>
					</dl>
				</div>
				<div class="bx_info">
					<dl class="grade_info">
					<dt class="tit">새로워진 G마켓 멤버십</dt>
					<dd class="txt">G마켓 멤버십 등급이 SVIP, VIP, FAMILY로 새로워집니다.<br>한번 SVIP 고객은 일 년 내내 SVIP 혜택이 유지됩니다.<br>구매건수에 따라 매 월 1일 등급이 상향 조정되며 등급이 높아질수록 혜택은 더블이 됩니다.</dd>
					</dl>
				</div>
			</div>            @if (PageAttr.IsLogin)
            {            <div class="bx_coupon"  id ="bx_grade">
				<h3 class="tit_coupon">등급 전용 혜택</h3>
				<h4 class="stit_coupon">@Model.BuyerGradeBenefit.MyGrade @Model.BuyerGradeBenefit.DisplayCustName 고객님은 매월 @CouponzoneController.GetGradeCouponCnt(Model.BuyerGradeBenefit.MyGrade)번 할인</h4>
				<ul class="lst_coupon">
                @if (Model.BuyerGradeBenefit.CurrentGradeModel != null)
                {
                    foreach (var data in @Model.BuyerGradeBenefit.CurrentGradeModel)
                    {
                        string gradeCouponUrl = "";

                        if (data.EidEncryptedString != null)
                        {
                            if (data.EidEncryptedString.Length == 2)
                            {
                                if (Model.BuyerGradeBenefit.MyGrade == "SVIP" && data.EventImageAlt.IndexOf("10%") >= 0)
                                {
                                    gradeCouponUrl = string.Format("{0}?str={1}&encStr={2}&returlUrl={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketEx", "Couponzone"), data.EidEncryptedString[0].Trim().Replace("'", ""), data.EidEncryptedString[1].Trim().Replace("'", ""), Urls.MobileWebUrl + "/Couponzone");
                                    //if (!Model.MemberGradeCross.GradeAgreeYn)
                                    //{
                                    //    //동의하지 않은 회원은 쿠폰 발급 후 동의 페이지로 이동
                                    //    if (Model.BuyerGradeBenefit.CustType == "PC" || Model.BuyerGradeBenefit.CustType == "EC")
                                    //    {
                                    //        gradeCouponUrl = string.Concat(gradeCouponUrl, "/AgreeCrossCorp");
                                    //    }
                                    //    else
                                    //    {
                                    //        gradeCouponUrl = string.Concat(gradeCouponUrl, "/AgreeCross");
                                    //    }
                                    //}
                                }
                                else
                                {
                                    gradeCouponUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), data.EidEncryptedString[0].Trim().Replace("'", ""), data.EidEncryptedString[1].Trim().Replace("'", ""), "bx_grade");
                                }
                            }
                        }
                        <li>
					        <div class="coupon_area">
						        <img src="@data.EventImageMobile" class="img_cp" alt="@data.EventImageAlt">

                                @if (data.DownloadedCoupon > 0)
                                {
						        <button type="button" class="btn_coupon" disabled="disabled">쿠폰 받기</button>
                                }
                                else
                                {
                                    <button type="button" class="btn_coupon" onclick="checkTime('g','@gradeCouponUrl')">쿠폰 받기</button>
                                }                                
					        </div>
				        </li>
                    }
                }
				</ul>
				<a href="#layerCoupon" class="btn_view" onclick="popBlockUI('layerCoupon');return false;">자세히보기</a>
			</div>
                
            <div id="layerCoupon" class="ly_cp bef2">
				<h4 class="ly_tit">등급 기준 및 등급 전용 혜택</h4>
				<div class="ly_tab">
					<a href="#gradeCoupon" class="btn_tab on">등급 전용 혜택</a>
					<a href="#gradeBenefit" class="btn_tab">등급 기준</a>
				</div>
                @if (@Model.Couponzone.GradeCoupon != null)
                {
				<div id="gradeCoupon" class="ly_cont">
					<p class="ly_txt">등급별 누릴 수 있는 전용 혜택입니다. </p>
					<dl class="ly_grade">

                    @for (int gi = 0; gi < @Model.Couponzone.GradeCoupon.Count; gi++)
                    {
					<dt class="tit_grade"><span class="sp_coupon tit_@Model.Couponzone.GradeCoupon[gi].Grade.ToLowerInvariant()">@Model.Couponzone.GradeCoupon[gi].Grade</span></dt>
                        if (@Model.Couponzone.GradeCoupon[gi].List != null)
                        {
                        <dd class="grade_info">
						    <ul class="lst_coupon">
                            @foreach (var data in @Model.Couponzone.GradeCoupon[gi].List)
                            {
						    <li>
							    <div class="coupon_area">
								    <img src="@data.EventImageMobile" class="img_cp" alt="@data.EventImageAlt">
							    </div>
						    </li>
                            }
						    </ul>
					    </dd>
                        }
                    }
					</dl>
                    <div class="bx_info">
						<dl class="grade_info">
						<dt class="tit">등급 전용 혜택 안내</dt>
						<dd class="txt">ID당 1회 발급 가능하며, 당월 1일 9시부터 말일 자정까지 발급 / 사용가능<br>양곡, 상품권, 순금, 중고상품, e쿠폰, 실시간항공권 등 일부 상품 제외<br>등급 전용 혜택은 당사 사정에 따라 변경될 수 있음</dd>
						</dl>
					</div>
				</div>
                }
				<div id="gradeBenefit" class="ly_cont" style="display:none">
					<p class="ly_txt ly_txt_v2 ly_svip"><strong class="txt_name">@Model.BuyerGradeBenefit.DisplayCustName</strong>님은 소중한 <strong class="txt_grade">@Model.BuyerGradeBenefit.MyGrade</strong> 고객님입니다.<br>다음 달 <strong class="txt_grade">@Model.BuyerGradeBenefit.NextGrade</strong>으로 승급하시려면, 구매건수 <strong class="txt_grade">@Model.BuyerGradeBenefit.PurchaseCount</strong>건이 필요합니다.</p>
					<div class="info_img">						
                        <img src="@Urls.MobileImagePics/mobile/main/img_coupon.jpg" alt="">
						<dl class="blind">
						<dt>FAMILY</dt>
						<dd>12개월 4건 이하. 1장 할인쿠폰</dd>
						<dt>VIP</dt>
						<dd>12개월 5건 이하. 2장 할인쿠폰</dd>
						<dt>SVIP</dt>
						<dd>12개월 80건 이상. 4장 할인쿠폰</dd>
						</dl>
					</div>
					<div class="bx_info">
						<dl class="grade_info">
						<dt class="tit">G마켓 멤버십</dt>
						<dd class="txt">G마켓 멤버십 등급은 SVIP, VIP, FAMILY입니다.<br>최근 1년간의 구매건수에 따라 매월 1일 등급이 조정되며 등급이 높아질수록 혜택은 더블이 됩니다.<br>한번 상향된 등급은 1년간 유지되어 한번 SVIP 고객은 일 년 내내 SVIP 혜택이 유지됩니다.<br>SVIP 고객님은 고객센터 연결 시 빠른 문제해결을 위해 SVIP 전용 고객센터로 자동 연결됩니다.<br>구매건수는 결제완료 시 +1, 취소 및 반품 시 -1로 계산됩니다.</dd>
						</dl>
					</div>
				</div>
				<button type="button" class="btn_close" onclick="popBlockUI('layerCoupon');"><span class="sp_coupon">레이어 닫기</span></button>                
			</div>
            }
            else
            {
                if (@Model.Couponzone.GradeCoupon != null)
                {
                    <div class="bx_coupon">
				        <h3 class="tit_coupon">등급 전용 혜택</h3>
				        <div class="swiper_section coupon_swiper">
					        <div class="swiper-container">
						        <div class="swiper-wrapper">
                                    @for (int gi = 0; gi < @Model.Couponzone.GradeCoupon.Count; gi++)
                                    {
							        <div class="swiper-slide">
								        <h4 class="stit_coupon">@Model.Couponzone.GradeCoupon[gi].Grade 고객님은 매월 @CouponzoneController.GetGradeCouponCnt(Model.Couponzone.GradeCoupon[gi].Grade)번 할인</h4>
								        <ul class="lst_coupon lst_@Model.Couponzone.GradeCoupon[gi].Grade.ToLowerInvariant()">
                                        @if (@Model.Couponzone.GradeCoupon[gi].List != null)
                                        {
                                            foreach (var data in @Model.Couponzone.GradeCoupon[gi].List)
                                            {
                                            <li>
									            <div class="coupon_area">
										            <img src="@data.EventImageMobile" class="img_cp" alt="@data.EventImageAlt">
									            </div>
								            </li>
                                            }
                                        }
								        </ul>
							        </div>
                                    }
						        </div>
						        <!-- Add Pagination -->
						        <div class="swiper-pagination"></div>
					        </div>
				        </div>
				        <a href="#layerCoupon" class="btn_view" onclick="goLogin(location.href,'로그인 후 확인 가능합니다');">자세히보기</a>
			        </div>
                }
            }            <!-- 등급별 쿠폰 영역 //-->     @if (useMonthlyCouponNew || Model.IsTestIdCheck)
     {   
        <!-- 이달의 쿠폰 영역 //--> <!-- new 2016 이달의 쿠폰 12월 -->
			<div class="bx_coupon bx_coupon_v3"  id="coupon_list">
				<h3 class="tit_coupon">이달의 스페셜 혜택</h3>
	    @foreach (MonthlyCouponT monthlyCoupon in Model.MonthlyCoupon)
     {
                <h4 class="stit_coupon">@Html.Raw(monthlyCoupon.Title)</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="@monthlyCoupon.ImageUrl" class="img_cp" alt="@monthlyCoupon.Text">
					     @if (monthlyCoupon.HasTag)
          {
                            <span class="sp_coupon ico_mobile">모바일</span>
          }
                        @if (monthlyCoupon.DownloadedCoupon > 0)
                        {
                            <!-- [D] 다운받기 완료시 disabled="disabled" 추가 -->
                            <button type="button" class="btn_coupon" disabled="disabled">쿠폰받기 완료</button>                                
                        }
                        else
                        {
                            string eventPlatformUrl = string.Empty;
                            if (monthlyCoupon.EidEncryptedString != null && monthlyCoupon.EidEncryptedString.Length == 2)
                            {
                                eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), monthlyCoupon.EidEncryptedString[0].Trim().Replace("'", ""), monthlyCoupon.EidEncryptedString[1].Trim().Replace("'", ""), "coupon_list");
                            }                                    
                            <button type="button" class="btn_coupon" onclick="checkCouponValidation('@monthlyCoupon.CouponType', '@eventPlatformUrl', '@monthlyCoupon.CheckType');">쿠폰 받기</button>                                       
                        }

					</div>
				</li>
				</ul>
     }						               
                <a href="#layerCouponSpecial" class="btn_view" onclick="popBlockUI('layerCouponSpecial');return false;">자세히보기</a>
			</div>
         
         	<div id="layerCouponSpecial" class="ly_cp bef2">
    			<h4 class="ly_tit">이달의 스페셜 혜택 안내</h4>
    			<ul class="lst_dsc">
    			    <li><strong class="tit">이벤트 기간 :</strong> 2016. 12. 01 - 12. 31 </li>
    			    <li><strong class="tit">패션 / 뷰티 10% 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>모바일에서 브랜드패션, 패션의류, 잡화, 뷰티 카테고리 (순금 제외) 구매시 사용가능</li>
    			    <li><strong class="tit">리빙 / 레저 10% 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>모바일에서 스포츠, 홈데코, 문구, 취미, 자동차, 공구 카테고리 구매시 사용가능</li>
    			    <li><strong class="tit">마트 / 식품 5% 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>모바일에서 식품, 생필품 카테고리 (양곡 제외) 구매시 사용가능</li>
    			    <li>본 이벤트는 당사 사정에 따라 사전고지 없이 조기 종료될 수 있습니다.</li>
    			</ul>
    			<button type="button" class="btn_close" onclick="popBlockUI('layerCouponSpecial');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>
          <!-- 이달의 쿠폰 영역 //-->

          <!-- 스마일 쿠폰 영역 //-->
			<div class="bx_coupon bx_coupon_v2" id="coupon_list_smile">
				<h3 class="tit_coupon"><span class="sp_coupon ico_sp">SmilePay</span> 전용 혜택</h3>
				
            @foreach (MonthlyCouponT monthlyCoupon1 in Model.MonthlyCoupon1)
            {
                <h4 class="stit_coupon">@Html.Raw(monthlyCoupon1.Title)</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="@monthlyCoupon1.ImageUrl" class="img_cp" alt="@monthlyCoupon1.Text">
                       @if (monthlyCoupon1.HasTag)
                       {
                                    <span class="txt_tag">앱<br />전용</span>
                       }
						
                                @if (monthlyCoupon1.DownloadedCoupon > 0)
                                {
								<!-- [D] 다운받기 완료시 disabled="disabled" 추가 -->
							        <button type="button" class="btn_coupon" disabled="disabled">쿠폰받기 완료</button>
                                }
                                else
                                {
                                    string eventPlatformUrl = string.Empty;
                                    if (monthlyCoupon1.EidEncryptedString != null && monthlyCoupon1.EidEncryptedString.Length == 2)
                                    {
                                        eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), monthlyCoupon1.EidEncryptedString[0].Trim().Replace("'", ""), monthlyCoupon1.EidEncryptedString[1].Trim().Replace("'", ""), "coupon_list_smile");
                                    }                                    
                                    <button type="button" class="btn_coupon" onclick="checkCouponValidation('@monthlyCoupon1.CouponType', '@eventPlatformUrl', '@monthlyCoupon1.CheckType');">쿠폰 받기</button>        
                                }

					</div>
				</li>
				</ul>
            }          				                	
                <a href="#layerCouponSmilepay" class="btn_view" onclick="popBlockUI('layerCouponSmilepay');return false;">자세히보기</a>		
			</div>
         	<div id="layerCouponSmilepay" class="ly_cp bef2">
				<h4 class="ly_tit">스마일페이 전용 혜택 안내</h4>
				<ul class="lst_dsc">
    				<li><strong class="tit">이벤트 기간 :</strong> 2016. 12. 01 - 12. 31 </li>
    				<li><strong class="tit">스마일페이 1천원 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>스마일 페이 등록 후 결제 시 사용가능<br>양곡, 상품권, 순금, 중고상품, e쿠폰, 실시간항공권 제외</li>
    				<li>본 이벤트는 당사 사정에 따라 사전고지 없이 조기 종료될 수 있습니다.</li>
				</ul>
				<button type="button" class="btn_close" onclick="popBlockUI('layerCouponSmilepay');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>
            <!-- 스마일 쿠폰 영역 //-->
         
          <!--이달의 카드 혜택 쿠폰 영역 11월 사용안함 //-->
        @*    <div class="bx_coupon bx_coupon2" style="display:none">
				<h3 class="tit_coupon">이달의 카드 혜택</h3>
				<h4 class="stit_coupon">현대카드 이용 시 30% 할인</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="//picsdev.gmkt.kr/mobile/main/coupon/img_card_cp01.jpg" class="img_cp" alt="30% 할인쿠폰. 1만5천원이상 구매시 최대1만원">
						<button type="button" class="btn_coupon">쿠폰 받기</button>
					</div>
				</li>
				</ul>
				<a href="#" class="btn_view">자세히보기</a>
			</div>
        *@
          <!--이달의 카드 혜택 쿠폰 영역 //-->
         
          <!-- 웰컴 혜택 쿠폰 영역 //-->
			<div class="bx_coupon bx_coupon2" id="welcome">
				<h3 class="tit_coupon">웰컴 혜택</h3>

			  @foreach (MonthlyCouponT monthlyCoupon2 in Model.MonthlyCoupon2)
     {
                <h4 class="stit_coupon">@Html.Raw(monthlyCoupon2.Title)</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="@monthlyCoupon2.ImageUrl" class="img_cp" alt="@monthlyCoupon2.Text">
					     @if (monthlyCoupon2.HasTag)
          {
                            <span class="sp_coupon ico_mobile">모바일</span>
          }
                        @if (monthlyCoupon2.DownloadedCoupon > 0)
                        {
                            <!-- [D] 다운받기 완료시 disabled="disabled" 추가 -->
                            <button type="button" class="btn_coupon" disabled="disabled">쿠폰받기 완료</button>                                
                        }
                        else
                        {
                            string eventPlatformUrl = string.Empty;
                            if (monthlyCoupon2.EidEncryptedString != null && monthlyCoupon2.EidEncryptedString.Length == 2)
                            {
                                eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), monthlyCoupon2.EidEncryptedString[0].Trim().Replace("'", ""), monthlyCoupon2.EidEncryptedString[1].Trim().Replace("'", ""), "welcome");
                            }                                    
                            <button type="button" class="btn_coupon" onclick="checkCouponValidation('@monthlyCoupon2.CouponType', '@eventPlatformUrl', '@monthlyCoupon2.CheckType');">쿠폰 받기</button>                                       
                        }

					</div>
				</li>
				</ul>
     }						

				                
                <a href="#" class="btn_view" onclick="popBlockUI('layerCouponWelcome');return false;">자세히보기</a>
			</div>
         	<div id="layerCouponWelcome" class="ly_cp bef2">
				<h4 class="ly_tit">웰컴 혜택 안내</h4>
				<ul class="lst_dsc">
				    <li><strong class="tit">이벤트 기간 :</strong> 2016. 12. 01 - 12. 31 </li>
				    <li><strong class="tit">신규가입 30% 할인</strong><br>당월 신규가입 고객 ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>디지털, 가전, 컴퓨터, 양곡, 상품권, 순금 , 중고상품, e쿠폰, 실시간항공권, 일부 도서 제외</li>
				    <li><strong class="tit">2016년 첫구매 30% 할인</strong><br>2016년에 구매가 없는 고객 ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>디지털, 가전, 컴퓨터, 양곡, 상품권, 순금 , 중고상품, e쿠폰, 실시간항공권, 일부 도서 제외</li>
				</ul>
				<button type="button" class="btn_close" onclick="popBlockUI('layerCouponWelcome');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>
          <!-- 웰컴 혜택 쿠폰 영역 //-->
     }
     else if (useMonthlyCoupon)
     {
        <!-- 이달의 쿠폰 영역 //--> <!-- new 2016 이달의 쿠폰 11월 -->
			<div class="bx_coupon bx_coupon_v3"  id="coupon_list">
				<h3 class="tit_coupon">이달의 스페셜 혜택</h3>
	    @foreach (MonthlyCouponT monthlyCoupon in Model.MonthlyCoupon)
     {
                <h4 class="stit_coupon">@Html.Raw(monthlyCoupon.Title)</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="@monthlyCoupon.ImageUrl" class="img_cp" alt="@monthlyCoupon.Text">
					     @if (monthlyCoupon.HasTag)
          {
                            <span class="sp_coupon ico_mobile">모바일</span>
          }
                        @if (monthlyCoupon.DownloadedCoupon > 0)
                        {
                            <!-- [D] 다운받기 완료시 disabled="disabled" 추가 -->
                            <button type="button" class="btn_coupon" disabled="disabled">쿠폰받기 완료</button>                                
                        }
                        else
                        {
                            string eventPlatformUrl = string.Empty;
                            if (monthlyCoupon.EidEncryptedString != null && monthlyCoupon.EidEncryptedString.Length == 2)
                            {
                                eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), monthlyCoupon.EidEncryptedString[0].Trim().Replace("'", ""), monthlyCoupon.EidEncryptedString[1].Trim().Replace("'", ""), "coupon_list");
                            }                                    
                            <button type="button" class="btn_coupon" onclick="checkCouponValidation('@monthlyCoupon.CouponType', '@eventPlatformUrl', '@monthlyCoupon.CheckType');">쿠폰 받기</button>                                       
                        }

					</div>
				</li>
				</ul>
     }						               
                <a href="#layerCouponSpecial" class="btn_view" onclick="popBlockUI('layerCouponSpecial');return false;">자세히보기</a>
			</div>
         
         	<div id="layerCouponSpecial" class="ly_cp bef2">
    			<h4 class="ly_tit">이달의 스페셜 혜택 안내</h4>
    			<ul class="lst_dsc">
    			    <li><strong class="tit">이벤트 기간 :</strong> 2016. 11. 01 - 11. 30 </li>
    			    <li><strong class="tit">패션 / 뷰티 10% 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>모바일에서 브랜드패션, 패션의류, 잡화, 뷰티 카테고리 (순금 제외) 구매시 사용가능</li>
    			    <li><strong class="tit">리빙 / 레저 10% 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>모바일에서 스포츠, 홈데코, 문구, 취미, 자동차, 공구 카테고리 구매시 사용가능</li>
    			    <li><strong class="tit">마트 / 식품 5% 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>모바일에서 식품, 생필품 카테고리 (양곡 제외) 구매시 사용가능</li>
    			    <li>본 이벤트는 당사 사정에 따라 사전고지 없이 조기 종료될 수 있습니다.</li>
    			</ul>
    			<button type="button" class="btn_close" onclick="popBlockUI('layerCouponSpecial');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>
          <!-- 이달의 쿠폰 영역 //-->

          <!-- 스마일 쿠폰 영역 //-->
			<div class="bx_coupon bx_coupon_v2" id="coupon_list_smile">
				<h3 class="tit_coupon"><span class="sp_coupon ico_sp">SmilePay</span> 전용 혜택</h3>
				
            @foreach (MonthlyCouponT monthlyCoupon1 in Model.MonthlyCoupon1)
            {
                <h4 class="stit_coupon">@Html.Raw(monthlyCoupon1.Title)</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="@monthlyCoupon1.ImageUrl" class="img_cp" alt="@monthlyCoupon1.Text">
                       @if (monthlyCoupon1.HasTag)
                       {
                                    <span class="txt_tag">앱<br />전용</span>
                       }
						
                                @if (monthlyCoupon1.DownloadedCoupon > 0)
                                {
								<!-- [D] 다운받기 완료시 disabled="disabled" 추가 -->
							        <button type="button" class="btn_coupon" disabled="disabled">쿠폰받기 완료</button>
                                }
                                else
                                {
                                    string eventPlatformUrl = string.Empty;
                                    if (monthlyCoupon1.EidEncryptedString != null && monthlyCoupon1.EidEncryptedString.Length == 2)
                                    {
                                        eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), monthlyCoupon1.EidEncryptedString[0].Trim().Replace("'", ""), monthlyCoupon1.EidEncryptedString[1].Trim().Replace("'", ""), "coupon_list_smile");
                                    }                                    
                                    <button type="button" class="btn_coupon" onclick="checkCouponValidation('@monthlyCoupon1.CouponType', '@eventPlatformUrl', '@monthlyCoupon1.CheckType');">쿠폰 받기</button>        
                                }

					</div>
				</li>
				</ul>
            }          				                	
                <a href="#layerCouponSmilepay" class="btn_view" onclick="popBlockUI('layerCouponSmilepay');return false;">자세히보기</a>		
			</div>
         	<div id="layerCouponSmilepay" class="ly_cp bef2">
				<h4 class="ly_tit">스마일페이 전용 혜택 안내</h4>
				<ul class="lst_dsc">
    				<li><strong class="tit">이벤트 기간 :</strong> 2016. 11. 01 - 11. 30 </li>
    				<li><strong class="tit">스마일페이 1천원 할인</strong><br>ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>스마일 페이 등록 후 결제 시 사용가능<br>양곡, 상품권, 순금, 중고상품, e쿠폰, 실시간항공권, 일부 도서 제외</li>
    				<li>본 이벤트는 당사 사정에 따라 사전고지 없이 조기 종료될 수 있습니다.</li>
				</ul>
				<button type="button" class="btn_close" onclick="popBlockUI('layerCouponSmilepay');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>
            <!-- 스마일 쿠폰 영역 //-->
         
          <!--이달의 카드 혜택 쿠폰 영역 11월 사용안함 //-->
        @*    <div class="bx_coupon bx_coupon2" style="display:none">
				<h3 class="tit_coupon">이달의 카드 혜택</h3>
				<h4 class="stit_coupon">현대카드 이용 시 30% 할인</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="//picsdev.gmkt.kr/mobile/main/coupon/img_card_cp01.jpg" class="img_cp" alt="30% 할인쿠폰. 1만5천원이상 구매시 최대1만원">
						<button type="button" class="btn_coupon">쿠폰 받기</button>
					</div>
				</li>
				</ul>
				<a href="#" class="btn_view">자세히보기</a>
			</div>
        *@
          <!--이달의 카드 혜택 쿠폰 영역 //-->
         
          <!-- 웰컴 혜택 쿠폰 영역 //-->
			<div class="bx_coupon bx_coupon2" id="welcome">
				<h3 class="tit_coupon">웰컴 혜택</h3>

			  @foreach (MonthlyCouponT monthlyCoupon2 in Model.MonthlyCoupon2)
     {
                <h4 class="stit_coupon">@Html.Raw(monthlyCoupon2.Title)</h4>
				<ul class="lst_coupon">
				<li>
					<div class="coupon_area">
						<img src="@monthlyCoupon2.ImageUrl" class="img_cp" alt="@monthlyCoupon2.Text">
					     @if (monthlyCoupon2.HasTag)
          {
                            <span class="sp_coupon ico_mobile">모바일</span>
          }
                        @if (monthlyCoupon2.DownloadedCoupon > 0)
                        {
                            <!-- [D] 다운받기 완료시 disabled="disabled" 추가 -->
                            <button type="button" class="btn_coupon" disabled="disabled">쿠폰받기 완료</button>                                
                        }
                        else
                        {
                            string eventPlatformUrl = string.Empty;
                            if (monthlyCoupon2.EidEncryptedString != null && monthlyCoupon2.EidEncryptedString.Length == 2)
                            {
                                eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), monthlyCoupon2.EidEncryptedString[0].Trim().Replace("'", ""), monthlyCoupon2.EidEncryptedString[1].Trim().Replace("'", ""), "welcome");
                            }                                    
                            <button type="button" class="btn_coupon" onclick="checkCouponValidation('@monthlyCoupon2.CouponType', '@eventPlatformUrl', '@monthlyCoupon2.CheckType');">쿠폰 받기</button>                                       
                        }

					</div>
				</li>
				</ul>
     }						

				                
                <a href="#" class="btn_view" onclick="popBlockUI('layerCouponWelcome');return false;">자세히보기</a>
			</div>
         	<div id="layerCouponWelcome" class="ly_cp bef2">
				<h4 class="ly_tit">웰컴 혜택 안내</h4>
				<ul class="lst_dsc">
				    <li><strong class="tit">이벤트 기간 :</strong> 2016. 11. 01 - 11. 30 </li>
				    <li><strong class="tit">신규가입 30% 할인</strong><br>당월 신규가입 고객 ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>디지털, 가전, 컴퓨터, 양곡, 상품권, 순금 , 중고상품, e쿠폰, 실시간항공권, 일부 도서 제외</li>
				    <li><strong class="tit">2016년 첫구매 30% 할인</strong><br>2016년에 구매가 없는 고객 ID당 1회 발급 가능하며 발급 후 말일 자정까지 사용가능<br>디지털, 가전, 컴퓨터, 양곡, 상품권, 순금 , 중고상품, e쿠폰, 실시간항공권, 일부 도서 제외</li>
				</ul>
				<button type="button" class="btn_close" onclick="popBlockUI('layerCouponWelcome');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>
          <!-- 웰컴 혜택 쿠폰 영역 //-->
     }
    
		
         
   
    @if (Model.ExchangeCouponBanner != null)
    {
            <!-- 쿠폰교환 쿠폰 영역 //-->
			<div class="bx_coupon" id="ExchangeCoupon">
				<h3 class="tit_coupon">쿠폰 교환</h3>
				<h4 class="stit_coupon">스마일 포인트로 원하는 쿠폰을 교환해보세요</h4>
				<div class="swiper_section coupon_swiper">
					<div class="swiper-container">
						<div class="swiper-wrapper">
                        
                        @{int cpnCnt = 0;}
                        @{bool drawHeader = true;}
                        @{bool drawFooter = true;}
    	                                        
                                @for (int ei = 0; ei < Model.ExchangeCouponBanner.Count; ei++)
                                {//for       

                                    if (drawHeader)
                                    {    
                                          @:<div class="swiper-slide">								    
						                  @:<ul class="lst_coupon lst_exchange">
                                        drawHeader = false;
                                    }

                                    if (Model.ExchangeCouponBanner[ei].EIDInfoList.Count > 0)
                                    {
                                        foreach (var eidInfo in Model.ExchangeCouponBanner[ei].EIDInfoList)
                                        {//foreach
                                            string eventPlatformUrl = string.Empty;
                                            if (eidInfo.Eid != "" && eidInfo.Eid != null)
                                            {
                                                string[] encryptEid = eidInfo.Eid.Split(',');
                                                eventPlatformUrl = string.Format("{0}?str={1}&encStr={2}&anchor={3}", Urls.MobileWebUrl + Url.Action("CommonApplyEventPlatformGmarketAnchor", "Couponzone"), encryptEid[0].Trim().Replace("'", ""), encryptEid[1].Trim().Replace("'", ""), "ExchangeCoupon");
                                            }
                                            //
                                            if (eidInfo.EtcSetupContent == "ENTRY_EID" && eidInfo.Eid != "")
                                            {
                                                    <li>
                                                        <div class="coupon_area"> 
                                                            <img src="@Model.ExchangeCouponBanner[ei].ImageMobile" class="img_cp" alt="@Model.ExchangeCouponBanner[ei].Alt"> 
                                                            <p class="tx">Smile Point<strong>-@eidInfo.AppMinusCnt</strong></p>                                                                                            
                                                            <button type="button" class="btn_coupon" onclick="goUrl('@eventPlatformUrl')">응모하기</button>                                             
                                                        </div> 
                                                    </li> 
                                                cpnCnt++;
                                            }
                                            else if (eidInfo.EtcSetupContent == "EXCHANGE_EID" && eidInfo.Eid != "")
                                            {
                                                    <li>
                                                        <div class="coupon_area"> 
                                                            <img src="@Model.ExchangeCouponBanner[ei].ImageMobile" class="img_cp" alt="@Model.ExchangeCouponBanner[ei].Alt"> 
                                                            <p class="tx">Smile Point<strong>-@eidInfo.AppMinusCnt</strong></p>                                                                                            
                                                            <button type="button" class="btn_coupon" onclick="goUrl('@eventPlatformUrl')">교환하기</button>                                             
                                                        </div> 
                                                    </li>  
                                                cpnCnt++;
                                            }

                                        }//foreach
                                    }

                                    if ((drawFooter && cpnCnt % 4 == 0) || cpnCnt == Model.ExchangeCouponBanner.Count) //풋터 
                                    {                                                                  
                                        @:</ul>	                        				
		                                @:</div>
                                        drawFooter = false;
                                    }

                                    if (cpnCnt % 4 == 0)
                                    {
                                        drawHeader = true;
                                        drawFooter = true;
                                    }
                                    //for
                                }
      
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
                 
                 <a href="#" class="btn_view" onclick="popBlockUI('layerCouponExchange');return false;">자세히보기</a>			
			</div>            <!-- 쿠폰교환 쿠폰 영역 //-->
@*        	<div id="layerCouponExchange" class="ly_cp bef2">
				<h4 class="ly_tit">할인쿠폰 교환안내</h4>
				<ul class="lst_dsc lst_dsc_v2">
				    <li>발급일로부터 14일간 바로접속시 사용할 수 있습니다</li>
				    <li>쿠폰 교환에 사용하신 스마일포인트는 취소 및 복구되지 않습니다</li>
				    <li>스마일포인트 교환 쿠폰은 G마켓 쿠폰과 중복 사용 불가합니다</li>
				    <li>일부 환금성 카테고리는 사용이 제한됩니다<br>(순금 / 골드바 / 돌반지 / 상품권 카테고리)</li>
				    <li>무료배송 쿠폰은 중복 쿠폰과 동시 적용되지 않습니다</li>
				</ul>
				<button type="button" class="btn_close" onclick="popBlockUI('layerCouponExchange');"><span class="sp_coupon">레이어 닫기</span></button>
 			</div>*@
        
        
        <div class="layer_allsv bef2" id="layerCouponExchange">
			<img src="@Model.Couponzone.MobileGuidePopup.ExchangeCouponGuideImageUrl" alt="">
			<div class="blind">
				<h3>쿠폰교환 안내</h3>
			</div>
			<a href="javascript:;" class="lay_clse" onclick="popBlockUI('layerCouponExchange');return false;">닫기</a>
		</div>
        
        
    }    @if (!PageAttr.IsApp)
{
		<a href="javascript:;" class="btn_top_bar">Top으로 이동</a>
}        </div>
    </div>

	<!-- 공유하기 -->
  <div class="add_homego add_homego2">
@if (!PageAttr.IsIphone && !PageAttr.IsIpad && !PageAttr.IsIpod)
{

    if (PageAttr.IsAndroidApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/Couponzone", "", "G마켓 쿠폰존", "", "", PageAttr))">공유하기</a>
    }
    else
    {	
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
else
{
    if (PageAttr.IsIphoneApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/Couponzone", "", "G마켓 쿠폰존", "", "", PageAttr))">공유하기</a>
    }
    else
    {
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
        </div>
  <div class="share_sns" id="layer_sns">
			<h4 class="tit">공유하기</h4>
			<div class="sns">
				<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
				<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
			</div>
			<a href="javascript:;" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
		</div>		   <!-- 공유하기 -->

		<!-- 쿠폰안내 레이어 추가-->
			
		<div class="layer_allsv bef2" id="layer_cpinfo5">
			<img src="http://image.gmarket.co.kr/mobile/mobile.gmarket/images/640/main/layer/layer_get_cnt1.png" alt="">
			<div class="blind">
				<h3>쿠폰존</h3>
				<p>구매할수록 더 큰 할인혜택! 마트 상품 1회 이상 구매 고객님께 발급됩니다.(당월기준)</p>
				<p>
					<strong>대상카테고리</strong>
					기저귀/분유,물티슈/생리대,출산/유아용품,신선식품,가공/즉석식품,커피/음료 건강식품,화장지/세제,바디/헤어
				</p>
			</div>
			<a href="javascript:;" class="btn_cp_get">쿠폰받기</a>
			<a href="javascript:;" class="lay_clse" onclick="popBlockUI('layer_cpinfo5');return false;">닫기</a>
		</div>
		
		<div class="layer_allsv bef2" id="layer_cpinfo6">
			<img src="http://image.gmarket.co.kr/mobile/mobile.gmarket/images/640/main/layer/layer_get2_cnt1.png" alt="">
			<div class="blind">
				<h3>쿠폰존</h3>
				<p>구매할수록 더 큰 할인혜택! 마트 상품 1회 이상 구매 고객님께 발급됩니다.(당월기준)</p>
				<p>
					<strong>대상카테고리</strong>
					기저귀/분유,물티슈/생리대,출산/유아용품,신선식품,가공/즉석식품,커피/음료 건강식품,화장지/세제,바디/헤어
				</p>
			</div>
			<a href="javascript:;" class="btn_cp_get type">쿠폰받기</a>
			<a href="http://m.gmarket.co.kr/Event/gmom/m_index.asp" class="btn_cp_get type2">G맘클럽VIP회원가입</a>
			<a href="javascript:;" class="lay_clse" onclick="popBlockUI('layer_cpinfo6');return false;">닫기</a>
		</div>

		<div class="layer_allsv bef2" id="layer_cpinfo7">
            <dl class="coupon_noti">
            <dt>총<strong>@(Model.Couponzone.MemberCoupon.Count)장</strong>의 쿠폰을 받으셨습니다.</dt>
				<dd>발급받은 쿠폰은 나의쇼핑정보 G통장의 <br>내쿠폰함에서 확인 가능합니다.</dd>
				<dd class="box_coupon"><button type="button" class="btn_cp blue click_a" onclick="popBlockUI('layer_cpinfo7');return false;">확인</button></dd>
            </dl>
			<a href="javascript:;" class="lay_clse noBorder noBorder" onclick="popBlockUI('layer_cpinfo7');return false;">닫기</a>
		</div>
        <div class="layer_allsv bef2" id="layer_cpinfo8" style="display: none; top: 2430px;">
			<img src="@Urls.MobileImageShortUrl/mobile.gmarket/images/640/coupon/layer/layer_cardcp_info.png" alt="">
			<!--[D] 대체텍스트 제공 -->
			<div class="blind">
				<h3>보너스쿠폰 사용안내</h3>
				<ul>
				<li>할인쿠폰 사용기간은 발급 후 3일간 입니다.</li>
				<li>할인쿠폰은 매일 선착순으로 ID당 1회 발급됩니다.</li>
				<li>제휴사이트를 통해 접속시 사용할 수 없으며, 최대 5천원까지 할인됩니다.</li>
				<li>상품별 할인을 제외한 타쿠폰과 중복하여 사용할 수 없습니다.</li>
				<li>일부 카테고리에 사용이 제한될 수 있습니다. (e쿠폰, 순금/돌반지, 상품권 등 환금성 카테고리)</li>
				<li>당사 사정에 의해 별도 고지 없이 변경 또는 종료될 수 있습니다.</li>
				</ul>
			</div>
			<a href="javascript:;" class="lay_clse" onclick="popBlockUI('layer_cpinfo8');return false;">닫기</a>
		</div>
	
		
		<!--//쿠폰안내 레이어 추가-->


	<!-- //CONTENT -->

@section scripts
{
<script type="text/javascript">
    function getMartCouponLayerImgUrl(priority) {
        switch (priority) {
            case 1: return "http://image.gmarket.co.kr/service_image/2015/08/27/20150827092432977954_0_0.png";
            case 2: return "http://image.gmarket.co.kr/service_image/2015/08/27/20150827092442863457_0_0.png";
            case 3: return "http://image.gmarket.co.kr/service_image/2015/08/27/20150827092446592216_0_0.png";
            case 4: return "http://image.gmarket.co.kr/service_image/2015/08/27/20150827092452518663_0_0.png";
        }

        return "http://image.gmarket.co.kr/service_image/2015/08/27/20150827092432977954_0_0.png";
    }

    function layerInterrupt5(img, eventPlatformUrl) {
        var $div = $('#layer_cpinfo5');
        $div.find('img').attr('src', img);
        $div.find('a.btn_cp_get').bind('click', function (event) {
            checkTime('s', eventPlatformUrl);
        });
    }

    function layerInterrupt6(img, eventPlatformUrl, isGmom) {
        var $div = $('#layer_cpinfo6');
        $div.find('img').attr('src', img);
        $div.find('a.btn_cp_get.type').bind('click', function (event) {
            if (isGmom) {
                checkTime('s', eventPlatformUrl);
            }
            else {
                alert('쿠폰 다운로드 대상이 아니십니다.\nG맘클럽에 가입해 주세요.');
            }
        });
    }
</script>
}

@section scriptfiles
{
<script type="text/javascript" src="~/Scripts/jQueryRotate.2.2.js"></script>
<script type="text/javascript" src="~/Scripts/Pluszone.js?dummy=201312030821"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/AppGateModule.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/swiper.min.js?v=1"></script>
}
