@model GMKT.GMobile.Web.Models.MartContentsModel

<!-- CONTENT -->
<div id="content" class="ctns mart_w">
	<div class="bx_html">
		@Html.Raw(HttpUtility.UrlDecode(@Model.Contents.Contents))
	</div>
	<!-- 상품리스트 -->
	<div class="mart_wrap">
		<!-- [D] 상품 2줄형 -->
		<h4 class="item_tit" id="tit_goods"><span>관련 상품</span></h4>
		<div class="bx_mart mart_type3" id="goods_lst"></div>
		<!-- //[D] 상품 2줄형 -->

		<h4 class="item_tit"><span>다른 글 보기</span></h4>
		<div class="others_view" id="contents_lst"></div>

	</div>
	<!-- //상품리스트-->

	<!-- 공유하기 레이어 -->
	@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "mart", ShareFcdCode = "704600007", ShortcutFcdCode = "704600008", TargetUrl = string.Empty, Title = string.Empty })
	<!-- //공유하기 레이어 -->
		
	<a href="#" class="btn_top_main btn_top_bar">Top으로 이동</a>
</div>
<!-- //CONTENT -->
@section scripts
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery.bxslider.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		KakaoInit();
		ShareTo("kakaotalk");
	});

	var ShareTo = function (type) {
		var dataName = "G마켓 마트";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "마트";
				break;
			default:
				break;
		}

		var data = {
			"name": dataName,
			"url": "@Urls.MobileWebUrl" + "/Mart",
			"title": ""
		};

		if (type == "kakaotalk")
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data));
		}
	};

	(function (GMobile, undefined) {
		(function (Mart, undefined) {
			(function (Data, undefined) {
				Data.ItemList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ItemList));
				Data.ContentsList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ContentsList));
			})(Mart.Data = Mart.Data || {});
			Mart.isContents = true;
			Mart.mItemWebUrl = "@Urls.MItemWebURL";
			Mart.mobileWebUrl = "@Urls.MobileWebUrl";
			Mart.contentsSeq = @Model.contentsSeq;
		})(GMobile.Mart = GMobile.Mart || {});
	})(window.GMobile = window.GMobile || {});
</script>

<script id="mart_contents_template" type="text/x-handlebars-template">
<ul>
	{{#each ContentsList}}
		{{getContentsListStartTag}}
			<li {{getContentsListClass ContentsSeq}}><a href="{{getContentsUrl ContentsSeq}}">{{Title}}</a></li>
		{{getContentsListEndTag}}
	{{/each}}
</ul>
</script>

<script id="mart_item_template" type="text/x-handlebars-template">
{{#each ItemList}}
<div class="inner">
	<a href="{{getVipUrl GoodsCode '715700005'}}" class="l_mart">
		<span class="thmb">
			<img src="{{ImageUrl}}" alt="" onError="this.src='@Urls.MobileImageUrlV2/480/no_img_208.png';">
			{{renderDeliveryTag DeliveryType}}
		</span>
		<span class="info">
			<strong class="tit">{{Title}}</strong>
			<span class="price_area">
				{{#ifGreaterThan 0 DiscountRate}}
				<span class="per">{{DiscountRate}}<span>%</span><span class="blind">할인</span></span>
				{{/ifGreaterThan}}
				<span class="price_dsc">
					{{#ifGreaterThan 0 DiscountRate}}
					<span class="per_price"><span class="blind">판매가</span>{{OriginalPrice}}</span>
					{{/ifGreaterThan}}
					<strong class="price"><span class="blind">할인가</span>{{DiscountPrice}}</strong>
				</span>					
			</span>
		</span>
	</a>
	{{#if IsSoldOut}}
	<div class="sold_out"><span>품절되었습니다.</span></div>
	{{/if}}
</div>
{{/each}}
</script>

<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/page/MartController.js"></script>
}
