@using GMKT.GMobile.Data
@model GMKT.GMobile.Web.Models.MartV3ViewModel

@{
	Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />

	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />
	<meta name="format-detection" content="telephone=no" />
	<title>마트홈 미리보기</title>
	<link rel="apple-touch-icon-precomposed" href="@Urls.MobileImageUrlV2/icon_01.png" />

	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/common.css?v=3" /> 
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/main.css?v=3" /> 

	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/handlebars-v1.1.2.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/GMobile.js?v=20160817"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/guidGeneration.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/swipeview.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/front_v4.js?v=4"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery.bxslider.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
</head>
<body>
	<!-- WRAPPER -->
	<div id="wrap">
		<!-- CONTENT -->
		<div id="content" class="ctns mart_w">
			<div class="display_bnr mart_bnr" id="top_banner">
				<div class="bnr_w">
					<div id="bnrList" class="lst"><div class="bnrbg"></div></div>
					<div class="h_page">
						<a href="javascript:;" id="hotPrev" class="prev" onclick="spcListScroller.prev();">이전</a>
						<a href="javascript:;" id="hotNext" class="next" onclick="spcListScroller.next();">다음</a>
						<div id="bnrPage" class="page"><span class="pag">1</span>/<span class="pag2">10</span></div>
					</div>
				</div>
			</div> 
	
			<span class="ico_loading" style="display:none">로딩중</span>
	
			<!--[D] 마트 서브카테고리  레이어팝업 -->
			<div id="ly_mart_smenu">
				<h3 class="ly_tit">마트 카테고리</h3>
				<div class="ly_cont" id="ly_scroll_cont">
					<ul id="category_lst_pop"></ul>
				</div>
				<a class="btn_close" onclick="popBlockUI('ly_mart_smenu');return false;">닫기</a>
				<div class="btm_close"><a onclick="popBlockUI('ly_mart_smenu');return false;">닫기</a></div>
			</div>
			<!--// [D] 마트 서브카테고리 레이어팝업 -->
	
			<div class="mart_wrap">
				<div class="lst_mart_cate">
					<ul class="direct_tit">
					<li class="dir1"><a>마트홈</a></li>
					<li class="dir2"><a href="javascript:SnaUrlPost('715600050', '@Urls.MobileWebUrl/Homeplus');">홈플러스</a></li>
					<li class="dir3"><a href="javascript:SnaUrlPost('715600051', '@Urls.MobileWebUrl/smartDelivery');">스마트배송</a></li>
					</ul>
					<ul class="lst_mrt" id="category_lst"></ul>
					<a onclick="popBlockUI3('ly_mart_smenu');SnaUrlPost('715600049');return false;" class="btn_all">전체보기</a>
				</div>

				<div id="contents_lst"></div>
			</div>
		</div>
		<!-- //CONTENT -->
	</div>
	<!--// WRAPPER -->	

	<script id="mart_topBanner_template" type="text/x-handlebars-template">
	<div class="li">
		{{#if LandingUrl}}
		<a href="{{getSnaUrl '713100006' LandingUrl}}">
		{{/if}}
		<img src="{{ImageUrl}}" alt="{{Title}}"/>
		{{#if LandingUrl}}
		</a>
		{{/if}}
	</div>
	</script>

	<script id="mart_group_template" type="text/x-handlebars-template">
	{{#each ItemGroupList}}
		{{#ifBannerType Type}}
			{{> PartialMartBanner}}
		{{/ifBannerType}}

		{{#ifItemType Type}}
			{{> PartialMartItem}}
		{{/ifItemType}}
	{{/each}}
	</script>

	<script id="mart_banner_template" type="text/x-handlebars-template">	
	{{#ifCategoryTitle Type}}
	<h3 class="{{printMartItemGroupCss Type}}"><span>{{Title}}</span></h3>
	{{else}}
	<div class="{{printMartItemGroupCss Type}}">
		{{#if LandingUrl}}
		<a href="{{getSnaUrl '713100006' LandingUrl}}">
		{{/if}}
			{{#if ImageUrl}}
			<img src="{{ImageUrl}}" alt="">
			{{else}}
			<h4>{{Title}}</h4>
			{{/if}}
		{{#if LandingUrl}}
		</a>
		{{/if}}
	</div>
	{{/ifCategoryTitle}}
	</script>

	<script id="mart_item_template" type="text/x-handlebars-template">
	<div class="{{printMartItemGroupCss Type}}">
		{{#each ItemList}}
		<div class="inner">
			<a href="{{getItemUrl ../Type LandingMartCategory GoodsCode LandingUrl}}" class="l_mart">
				{{#ifSelectedItem ../Type}}
				<strong class="sp_mart_new ico_selected">선택한 상품</strong>
				{{/ifSelectedItem}}
				<span class="thmb">
					<img src="{{ImageUrl}}" alt="" onError="this.src='@Urls.MobileImageUrlV2/480/no_img_208.png';">
					{{renderDeliveryTag DeliveryType}}
				</span>
				<span class="info">
					<strong class="tit">{{Title}}</strong>
					<span class="price_area">
						{{#ifGreaterThan 0 DiscountRate}}
						<span class="per">{{DiscountRate}}<span>%</span><span class="blind">할인</span></span>
						{{/ifGreaterThan}}
						<span class="price_dsc">
							{{#ifGreaterThan 0 DiscountRate}}
							<span class="per_price"><span class="blind">판매가</span>{{OriginalPrice}}</span>
							{{/ifGreaterThan}}
							<strong class="price"><span class="blind">할인가</span>{{DiscountPrice}}</strong>
						</span>					
					</span>
				</span>
			</a>
			{{#if IsSoldOut}}
			<div class="sold_out"><span>품절되었습니다.</span></div>
			{{/if}}
		</div>
		{{/each}}
	</div>
	</script>

	<script id="mart_brand_template" type="text/x-handlebars-template">
	<div class="lst_mart_cate mgt20">
		<ul class="direct_tit">
			<li class="dir4"><a>인기브랜드</a></li>
		</ul>
		<ul class="lst_mrt2" >
			{{#each BrandList}}
			{{getBrandListStartTag}}
				<li>
					<a href="{{getSnaUrl '715700006' LandingUrl}}"><img src="{{BrandImageUrl}}" alt="{{BrandNm}}" /></a>
				</li>
			{{getBrandListEndTag}}
			{{/each}}
		</ul>
	</div>
	</script>

	<script id="mart_category_template" type="text/x-handlebars-template">
	{{#each CategoryList}}
		{{#if ../IsSepared}}
			{{getCategoryListStartTag}}
		{{/if}}
		{{#if ../IsTop}}
			<li {{categorySelectedCss IsSelected}}><a href="{{getCategoryUrl ../../FcdPrefix MartGdmcCd Seq}}"><img src="{{ImageUrl}}" alt="{{MartCategoryNm}}" /><span>{{MartCategoryNm}}</span></a></li>
		{{else}}
			<li><a href="{{getCategoryUrl ../../FcdPrefix MartGdmcCd Seq}}"><img src="{{ImageUrl}}" alt="{{MartCategoryNm}}" /></a><span>{{MartCategoryNm}}</span></li>
		{{/if}}
		{{#if ../IsSepared}}
			{{getCategoryListEndTag}}
		{{/if}}
		{{setCategoryIndex}}
	{{/each}}
	</script>

	<script id="mart_timedeal_template" type="text/x-handlebars-template">
	</script>

	<script id="mart_contents_template" type="text/x-handlebars-template">
	{{#each ContentsList}}
	<a href="{{getContentsUrl ContentsSeq}}" class="mart_banner"><img src="{{BannerImage}}" alt="{{Title}}" /></a>
	{{/each}}
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			setTimeout(function () {
				displayLayer("progress_icon", "none");
			}, 100);
			
			TopBannerInit();
		});

		// top banner rolling
		var TopBannerInit = function () {
			var wdW = $(window).width();
			var responseRatio = 64;
			var imgW = 640;
			var imgH = 340;
			var tgH;
			if (wdW >= 610) {
				var w = wdW * responseRatio / 100;
				tgH = w * imgH / imgW;
			}
			else {
				tgH = wdW * imgH / imgW;
			}
			$("#bnrList").height(tgH);
			$(".bnrbg").remove();
		}

		//래퍼 높이값 자동 조절
		window.onload = function () { 
			changeCtext('bnrList'); 
		}

		if (typeof orientationchange != "undefined") {
			$(window).on("orientationchange", function () {
				changeCtext('bnrList');
			});
		}
		else {
			$(window).on("resize", function () {
				changeCtext('bnrList');
			});
		}

		function changeCtext(id) {
			var wrapObj = $('#' + id);
			var bnrImg = wrapObj.find('a > img');
			var bnrImgHeight = bnrImg.height(); //이미지높이값
			wrapObj.css('height', bnrImgHeight + 'px'); //래퍼높이값 조절

			//ios7에서 높이값 잡지 못하는 버그	
			$('#swipeview-slider').children().height(bnrImgHeight);
			//changeMenu();
		}
		// top banner rolling

		function martScroll() {
			var hCateScroll, vCateScroll;

			if ($("#scroll_mart_cate").length > 0)
				hCateScroll = new iScroll('scroll_mart_cate', { hScrollbar: false, vScrollbar: false, checkDOMChanges: true}); 

			if ($("#ly_scroll_cont").length > 0)
				vCateScroll = new iScroll('ly_scroll_cont', { hScrollbar: true, vScrollbar: true, checkDOMChanges: true}); 
		}
		document.addEventListener('DOMContentLoaded', martScroll, false);

		(function (GMobile, undefined) {
			(function (Mart, undefined) {
				(function (Data, undefined) {
					Data.TimeDeal = {};
					Data.ItemGroupList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ItemGroupList));
					Data.CategoryList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CategoryList));
					Data.BrandList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BrandList));
					Data.ContentsList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ContentsList));
					Data.BannerList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BannerList));
				})(Mart.Data = Mart.Data || {});
				Mart.isContents = false;
				Mart.isMain = true;
				Mart.mobileWebUrl = "@Urls.MobileWebUrl";
			})(GMobile.Mart = GMobile.Mart || {});
		})(window.GMobile = window.GMobile || {});
	</script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/page/MartController.js"></script>
</body>
</html>