@*@{
	Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		MemberLogin();
	});

	function MemberLogin() {
		if ($("#id").val() != "" && $("#pwd").val() != "") {
			$('#defaultForm').attr('action', '@Urls.MWebUrl/Login/Login_mw.asp').submit();
		} else {
			alert("id 또는 pwd 없습니다");
			document.location.href = @Urls.MobileWebUrl;

			// 그냥 홈으로 이동
			//		if (@ViewData["type"] == "B") {
			//			document.location.href = '@Html.Member2SslLink("Registration/MemberRegistrationBuyer")';
			//		} else {
			//			document.location.href = '@Html.Member2SslLink("Registration/MemberRegistrationSeller")';
			//		}		
		}
	}
</script>
</head>
<body>
<form name="defaultForm" id="defaultForm" method="post">
	<input type="hidden" name="UID" id="UID" value="@ViewData["id"]">
	<input type="hidden" name="PWD" id="PWD" value="@ViewData["pwd"]">
	<input type="hidden" name="rtnurl" id="rtnurl" value="@ViewData["url"]">
	<input type="hidden" name="command" value="login">
	<input type="hidden" name="lType" id="lType" value="MEM">
</form>
</body>
</html>*@