@{
    Layout = null;
	string fromWhere = ViewBag.FromWhere;
	string loginUrl = Urls.MobileWebUrl + "/Login/Login" + (String.IsNullOrEmpty(fromWhere) ? "" : String.Format("?fromWhere={0}", fromWhere));
	string shoppingUrl = String.IsNullOrEmpty(fromWhere) == true ? Urls.MobileWebUrl : loginUrl;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="format-detection" content="telephone=no" />
<title>Gmarket</title>
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/join.css" />
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/common.css" />
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/front_v4.js?v=4"></script>
<script type="text/javascript">
	window.onload = function () {
		setTimeout(function () {
			window.scrollTo(0, 1)
		}, 100);
	}
</script>
</head>
<body>

<!-- WRAPPER -->
<div id="wrap">
	
	<!-- SKIP NAVI -->
	<div class="hp">
		<a href="#content">본문 바로가기</a>
	</div>
	<!-- //SKIP NAVI -->

	<!-- HEADER -->
	<div class="join_head">
		<h1><a href="@Urls.MobileWebUrl"><span class="sp_join">Gmarket</span> <span class="txt">회원가입</span></a></h1>
		<ul class="join_status">
		<li>1 가입</li>
		<li>2 약관동의</li>
		<li>3 정보입력</li>
		<li class="selected">4 가입완료</li>
		</ul>
	</div>
	<!-- //HEADER -->

	<hr />
	
	<!-- CONTENT -->
	<div id="content" class="ctns">
		
		<div class="join_cnt">
			<div class="complete_cnt">
				<h3 class="join_txt">환영합니다!</h3>
				<p class="join_txt2">고객님의 <span>ID</span>는 <em>@ViewBag.loginId</em>입니다.</p>

				<div class="btn_bx">
					<a href="@shoppingUrl" class="btn btn_blue">쇼핑하기</a>
				</div>
				<a href="@loginUrl" class="btn_txt">로그인</a>
			</div>
		</div>
		
	</div>
	<!-- //CONTENT -->
	<hr />

	<!-- FOOTER -->
	
	<!-- //FOOTER -->

</div>
<!-- //WRAPPER -->

</body>
</html>