@{
	Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="format-detection" content="telephone=no" />
<title>Gmarket</title>
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/join.css" />
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/common.css" />
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/front_v4.js?v=4"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript">
	window.onload = function () {
		setTimeout(function () {
			window.scrollTo(0, 1)
		}, 100);
	}

	window.addEventListener('load', function () {
		setTimeout(function () {
			window.scrollTo(0, 1);
		}, 100);
	}, false);

	// 연관상품 레이어 - 연관상품이 노출되는 페이지에는 항상 노출되어야 합니다.
	var relScroll;
	function loaded() {
		relScroll = new iScroll('ly_rel_wrap', { hScrollbar: false, vScrollbar: true, checkDOMChanges: true });
		relScroll.scrollTo(0);
		setTimeout(function () {
			relScroll.refresh();
		}, 100);

		$(document).ready(function () {
			$(".ly_rel_wrap div:last-child div").css('border', '0').css('borderRadius', '0').css('backgroundColor', '#d4d4d4').css('width', '8px');
		});
	}
	document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);

</script>
</head>
<body style="background:#f1f1f1">
	<div class="ly_rel_wrap" id="ly_rel_wrap">
		<div class="scroll_box">
			<p>본 내용의 동의여부는 회원가입에 어떠한 영향도 미치지 않습니다.</p>
			 
			<p>개인정보의 취급위탁에 관한 사항</p>
			 
			<p>개인정보 취급위탁</p>
			 
			<p>회사는 서비스 향상을 위해서 아래와 같이 개인정보를 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다. </p>
			<p>또한 동의를 거부하시고자 하는 경우 회원정보변경을 통해 직접 탈퇴 진행 또는 고객센터로 요청할 수 있습니다. </p>
			<p>단,동의거부에 따른 서비스사용에 제한이 있을 수 있습니다.</p>
			 
			<p>- 고객센터 전화:1566-5701 </p>
			<p>- 고객센터 이메일:gmarket@corp.gmarket.co.kr </p>

			<p>개인정보취급위탁업체</p>

			<table>
			<colgroup><col width="10%"/> <col /><col /><col /></colgroup>
			<caption>개인정보 수집 이용 안내</caption>
			<thead>
			<tr>
			<th>번호</th>
			<th>수탁업체</th>
			<th>위탁업무 내용</th>
			<th>개인정보의 보유 및 이용기간</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>1</td>
			<td>(주)LG U+</td>
			<td>안심번호 위탁업무</td>
			<td>서비스 제공기간 종료시까지</td>
			</tr>
			</tbody>
			</table>
		</div>
	</div>
</body>
</html>