@using GMKT.GMobile.Web.Models;

@model GiftOrderDetail

@{
	ViewBag.Title = "G마켓 GIFT CARD";
}

<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/320/GiftCard/giftcard.css?v=7"/>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/giftcard.js?ver=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/front_v2.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript" language="javascript">
	function setOrderChoice(no) {
		if ("@{@PageAttr.IsLogin}" == "True") {
			//주문레이어 
			$("#HPOrder").hide();
			$("#PCOrder").hide();
			$("#GDOrder").hide();
			if (no == "01") {
				$("#HPOrder").show();
			}
			else if (no == "03") {
				$("#PCOrder").show();
			}
			else if (no == "04") {
				$("#GDOrder").show();
			}
		}
		else {
			document.location.href = "@Urls.LoginUrl";
		}
	}
	function AllAmtUpdate() {
		var AllAmt = 0;
		var amt = document.GiftCardOrderDetail.order_cnts.value;
		AllAmt = parseInt(amt);

		var orderP = document.GiftCardOrderDetail.order_price.value.toString().replace(/(\d)(?=(?:\d{3})+$)/g, "$1,");
		var AllPrice = parseInt(document.GiftCardOrderDetail.order_price.value) * AllAmt;
		document.GiftCardOrderDetail.order_cnts.value = AllAmt.toString();
		document.getElementById("orderQty").innerHTML = "<em>구매수량</em>GIFT CARD " + orderP + "원 X " + AllAmt.toString() + "장";
		document.getElementById("orderAmt").innerHTML = "<em>최종결제금액</em><strong>" + AllPrice.toString().replace(/(\d)(?=(?:\d{3})+$)/g, "$1,") + "</strong>원";
	}
	function setGoodsCodes() {
		var orderprice = document.GiftCardOrderDetail.order_price.value;
		if (document.GiftCardOrderDetail.OrderType.value == "03") {
			document.GiftCardOrderDetail.goods_type.value = "offline_token";
	
				//실서버용
				if (document.GiftCardOrderDetail.CardColor.value == "B") {
					if (orderprice == "10000") {
						document.GiftCardOrderDetail.goodscode.value = "522977152"; //?
						document.GiftCardOrderDetail.gd_nm.value = "10000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "30000") {
						document.GiftCardOrderDetail.goodscode.value = "488791597";
						document.GiftCardOrderDetail.gd_nm.value = "30000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "50000") {
						document.GiftCardOrderDetail.goodscode.value = "488791917";
						document.GiftCardOrderDetail.gd_nm.value = "50000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "100000") {
						document.GiftCardOrderDetail.goodscode.value = "488792128";
						document.GiftCardOrderDetail.gd_nm.value = "100000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "200000") {
						document.GiftCardOrderDetail.goodscode.value = "488792380";
						document.GiftCardOrderDetail.gd_nm.value = "200000원 G마켓 오프라인 선물권";
					}
				}
				else if (document.GiftCardOrderDetail.CardColor.value == "W") {
					if (orderprice == "10000") {
						document.GiftCardOrderDetail.goodscode.value = "522977988"; //?
						document.GiftCardOrderDetail.gd_nm.value = "10000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "30000") {
						document.GiftCardOrderDetail.goodscode.value = "522978328";
						document.GiftCardOrderDetail.gd_nm.value = "30000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "50000") {
						document.GiftCardOrderDetail.goodscode.value = "522978545";
						document.GiftCardOrderDetail.gd_nm.value = "50000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "100000") {
						document.GiftCardOrderDetail.goodscode.value = "522978826";
						document.GiftCardOrderDetail.gd_nm.value = "100000원 G마켓 오프라인 선물권";
					}
					else if (orderprice == "200000") {
						document.GiftCardOrderDetail.goodscode.value = "522979106";
						document.GiftCardOrderDetail.gd_nm.value = "200000원 G마켓 오프라인 선물권";
					}
				}
			
		}
		else {
			document.GiftCardOrderDetail.goods_type.value = "gmarket_token";

				//실서버용
				if (orderprice == "5000") {
					document.GiftCardOrderDetail.goodscode.value = "523514766"; //?
					document.GiftCardOrderDetail.gd_nm.value = "5000원 G마켓 온라인 선물권";
				}
				else if (orderprice == "10000") {
					document.GiftCardOrderDetail.goodscode.value = "523514613"; //?
					document.GiftCardOrderDetail.gd_nm.value = "10000원 G마켓 온라인 선물권";
				}
				else if (orderprice == "30000") {
					document.GiftCardOrderDetail.goodscode.value = "523514312";
					document.GiftCardOrderDetail.gd_nm.value = "30000원 G마켓 온라인 선물권";
				}
				else if (orderprice == "50000") {
					document.GiftCardOrderDetail.goodscode.value = "523514193";
					document.GiftCardOrderDetail.gd_nm.value = "50000원 G마켓 온라인 선물권";
				}
				else if (orderprice == "100000") {
					document.GiftCardOrderDetail.goodscode.value = "523513995";
					document.GiftCardOrderDetail.gd_nm.value = "100000원 G마켓 온라인 선물권";
				}
				else if (orderprice == "200000") {
					document.GiftCardOrderDetail.goodscode.value = "488714948";
					document.GiftCardOrderDetail.gd_nm.value = "200000원 G마켓 온라인 선물권";
				}
			
		}
	}
	function CardChange(stat) {
		document.GiftCardOrderDetail.CardColor.value = stat;
		setGoodsCodes();
	}
	function DesignChange(stat) {
		document.GiftCardOrderDetail.imgDesign.value = stat;
	}
	function MsgTypeChange(stat) {
		document.GiftCardOrderDetail.MsgType.value = stat;
	}
	function CheckStrLen(txta, maxlen) {
		var temp; //들어오는 문자값... 
		var msglen;
		msglen = maxlen * 2;
		var value = document.getElementById(txta).value; //document.form.Descr1.value;

		l = document.getElementById(txta).value.length;
		tmpstr = "";

		if (l == 0) {
			value = maxlen * 2;
		}
		else {
			for (k = 0; k < l; k++) {
				temp = value.charAt(k);

				if (escape(temp).length > 4)
					msglen -= 2;
				else
					msglen--;

				if (msglen < 0) {
					alert("총 영문 " + (maxlen * 2) + "자 한글 " + maxlen + "자 까지 보내실수 있습니다.");
					document.getElementById(txta).value = tmpstr;
					break;
				}
				else {
					tmpstr += temp;
				}
			}
		}
	}
	function DBInsert() {

		var param = "{ 'CUST_NO':'" + $.trim(document.GiftCardOrderDetail.UserCustNo.value) + "',";
		param += "'STAT': '" + $.trim(document.GiftCardOrderDetail.OrderType.value) + "',";
		param += "'TRANSWAY': '" + $.trim(document.GiftCardOrderDetail.OrderType.value) + "',";
		//param += "'BUY_QTY':'" + $.trim($("#account_no2").val()) + "',";
		param += "'DESIGN_TYPE':'" + $.trim(document.GiftCardOrderDetail.CardColor.value + document.GiftCardOrderDetail.imgDesign.value) + "',";
		param += "'SEND_MSG_TYPE':'" + $.trim(document.GiftCardOrderDetail.MsgType.value) + "',";
		if (document.GiftCardOrderDetail.OrderType.value == "01")
			param += "'SEND_MSG':'" + $.trim(document.getElementById("HPtxtmsg").value) + "',";
		else if (document.GiftCardOrderDetail.OrderType.value == "04")
			param += "'SEND_MSG':'" + $.trim(document.getElementById("GDtxtmsg").value) + "',";
		else
			param += "'SEND_MSG':'" + $.trim("") + "',";
		param += "'SENDER_INFO_CP':'" + $.trim(document.GiftCardOrderDetail.UserHPNum.value) + "',";
		param += "'SENDER_INFO_NA':'" + $.trim(document.GiftCardOrderDetail.UserName.value) + "',";
		if (document.GiftCardOrderDetail.OrderType.value == "01")
			param += "'RSV_TRANS_YN':'" + $.trim(document.GiftCardOrderDetail.HPRSVYN.value) + "',";
		else if (document.GiftCardOrderDetail.OrderType.value == "04")
			param += "'RSV_TRANS_YN':'" + $.trim(document.GiftCardOrderDetail.GDRSVYN.value) + "',";
		else
			param += "'RSV_TRANS_YN':'" + $.trim("N") + "',";
		if (document.GiftCardOrderDetail.OrderType.value == "01")
			param += "'RSV_DT':'" + $.trim(document.GiftCardOrderDetail.hddHPReserveDT.value) + "',";
		else if (document.GiftCardOrderDetail.OrderType.value == "04")
			param += "'RSV_DT':'" + $.trim(document.GiftCardOrderDetail.hddGDReserveDT.value) + "',";
		else
			param += "'RSV_DT':'" + $.trim("") + "',";
		//param += "'BULK_YN':'" + $.trim($("#City").val()) + "',";
		param += "'OrderValue':'" + $.trim(document.GiftCardOrderDetail.OrderValue.value) + "',";
		param += "'orderPrice':'" + $.trim(document.GiftCardOrderDetail.order_price.value) + "',";
		param += "'orderCnts':'" + $.trim(document.GiftCardOrderDetail.order_cnts.value) + "',";
		param += "'GD_NO':'" + $.trim(document.GiftCardOrderDetail.goodscode.value) + "'}";

		$.ajax({
			type: 'POST',
			url: "/GiftCard/SetGiftTokenOrderData",
			contentType: "application/json;charset=utf-8",
			data: param,
			async: false,
			success: function (data) {
				document.GiftCardOrderDetail.GiftToken.value = data;
				orderPagemove();
			},
			error: function (error) {
				alert("Database 저장 실패!");
				return;
			}
		});

	}
	function GoOrder() {
		if (document.GiftCardOrderDetail.chk_agree.checked == true) {
			//			var result = SetParam();
			//			if (result == true) {
			var stat = document.GiftCardOrderDetail.OrderType.value;

			if (stat == "03") {
				var param = "{ 'gd_no':'" + $.trim(document.GiftCardOrderDetail.goodscode.value) + "',";
				param += "'price':'" + $.trim(document.GiftCardOrderDetail.order_price.value) + "'}";

				$.ajax({
					type: 'POST',
					url: "/GiftCard/GetGiftTokenOffStockCount",
					contentType: "application/json;charset=utf-8",
					data: param,
					async: false,
					success: function (data) {
						DBStockCheck(data);
					},
					error: function (error) {
						alert("재고 파악 실패!");
						return;
					}
				});
			}
			else {
				DBInsert();
			}
			//			}
			//			else {
			//				alert("파라미터 설정에 실패하였습니다.");
			//			}
		}
		else {
			alert("GiftCard를 구매하시려면 약관에 동의하셔야 합니다.");
			return;
		}
	}
	function DBStockCheck(data) {
		var nOrderCnt, nStockCnt;
		nOrderCnt = Number(document.GiftCardOrderDetail.order_cnts.value);
		document.GiftCardOrderDetail.offline_stock_cnt.value = data;
		nStockCnt = data;

		if (isNaN(nOrderCnt) || isNaN(nStockCnt) || nOrderCnt > nStockCnt) {
			alert('플라스틱 GiftCard는 일시적인 재고 부족으로\n주문이 불가능합니다.\n\n몇 시간 또는 1 일 후 다시 주문해 주시기 바랍니다.');
			return;
		}
		else {
			DBInsert();
		}
	}
	function orderPagemove() {
		var orderprice = parseInt(document.GiftCardOrderDetail.order_price.value);
		var ordercnts = parseInt(document.GiftCardOrderDetail.order_cnts.value);
		var allprice = orderprice * ordercnts;
		var stat = document.GiftCardOrderDetail.OrderType.value;
		if (stat == "03") {
			if (allprice > 50000) {
				document.GiftCardOrderDetail.delivery_fee_yn.value = "N";
				document.GiftCardOrderDetail.delivery_group_no.value = "";
				document.GiftCardOrderDetail.delivery_group_nm.value = "";
				document.GiftCardOrderDetail.basis_money.value = "";
				document.GiftCardOrderDetail.delivery_fee.value = "";
				document.GiftCardOrderDetail.delivery_fee_condition.value = "";
				document.GiftCardOrderDetail.delivery_group_type.value = "";
				document.GiftCardOrderDetail.who_fee.value = "";
			}
		}
		else {
			document.GiftCardOrderDetail.delivery_fee_yn.value = "N";
			document.GiftCardOrderDetail.delivery_group_no.value = "";
			document.GiftCardOrderDetail.delivery_group_nm.value = "";
			document.GiftCardOrderDetail.basis_money.value = "";
			document.GiftCardOrderDetail.delivery_fee.value = "";
			document.GiftCardOrderDetail.delivery_fee_condition.value = "";
			document.GiftCardOrderDetail.delivery_group_type.value = "";
			document.GiftCardOrderDetail.who_fee.value = "";
		}
		
		document.GiftCardOrderDetail.action = "@Urls.MWebUrl" + "/Order/mpay/Instant.asp";
		
		document.GiftCardOrderDetail.submit();
	}
	$(document).ready(function () {
		displayLayer("progress_icon", "none");
		var stat = document.GiftCardOrderDetail.OrderType.value;
		setOrderChoice(stat);
		if (stat == "01") {
			gc_msg_sel(); 	//휴대폰
			var gcTab01 = new Gc_tab('.gc_set_list');
			gc_terms(0);
			document.GiftCardOrderDetail.imgDesign.value = "A";
			document.GiftCardOrderDetail.MsgType.value = "0";
		}
		else if (stat == "03") {
			gc_msg_sel(); 	//플라스틱카드
			var gcTab01 = new Gc_tab('.gc_set_list02');
			//var gcTab02 = new Gc_tab('.gc_set_message02');
			gc_terms(0);
			document.GiftCardOrderDetail.CardColor.value = "B";
			document.GiftCardOrderDetail.imgDesign.value = "A";
		}
		else if (stat == "04") {
			gc_msg_sel(); 	//지마켓아이디
			gc_terms(0);
			document.GiftCardOrderDetail.MsgType.value = "0";
		}
		AllAmtUpdate();
	});
	</script>

	<!-- CONTENT -->
	@{Html.BeginForm("", "", FormMethod.Post, new { name = "GiftCardOrderDetail", id = "GiftCardOrderDetail" });}
	<div id="content" class="ctns">
		<div class="gc_location">
			<span><a href="GiftCard" style="color:White;" >GIFT CARD</a></span>
			<span>구매하기</span>
		</div>
		<!--휴대폰-->
		<div id="HPOrder">
		<div class="gc_title">
			<h3>Gift Card 디자인을 선택하시면 메시지를 입력할 수 있습니다. </h3>
			<p class="gc_txt_info02">  이미지 수신이 불가한 일부 휴대폰 기종은 이미지를 받지 못할 수 있습니다.</p>
		</div>	
		<div class="gc_set_list">
			<ul>
				<li class="on"><a href="javascript:void(0);" onclick="javascript:DesignChange('A');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc01.jpg" alt="" /></div>
					<span>심플기프트</span>
				</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:DesignChange('B');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc02.jpg" alt="" /></div>
					<span>감사/축하</span>
				</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:DesignChange('C');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc03.jpg" alt="" /></div>
					<span>사랑</span>
				</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:DesignChange('D');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc04.jpg" alt="" /></div>
					<span>디자인 없음</span>
				</a></li>
			</ul>
		</div>
		<div class="gc_set_message">
			<ul class="gc_tab02">
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('1');">감사</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('2');">축하</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('3');">사랑</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('9');">쓰기</a></li>
				<li class="on"><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('0');">없음</a></li>
			</ul>
			<div class="box_msg_wirte">
<textarea id="HPtxtmsg" class="gc_txtarea full" cols="50" rows="5" readonly="readonly" onChange="CheckStrLen('HPtxtmsg','30')" onKeyUp="CheckStrLen('HPtxtmsg','30')"></textarea>
			</div>
		</div>
		</div>
		<!--휴대폰-->	
		<!--플라스틱 카드-->	
		<div id="PCOrder">
		<div class="gc_title">
			<h3>GIFT CARD 디자인선택</h3>
		</div>
		<div class="gc_set_list02">
			<ul>
				<li class="on"><a href="javascript:void(0);" onclick="javascript:CardChange('B');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_card_black.jpg" alt="" /></div>
					<span>BLACK</span>
				</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:CardChange('W');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_card_white.jpg" alt="" /></div>
					<span>WHITE</span>
				</a></li>
			</ul>
		</div>
		@*<div class="gc_set_message02">
			<ul class="gc_list_msg">
				<li><a href="javascript:void(0);" onclick="javascript:DesignChange('A');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc_s01.jpg" alt="" /></div>
					<span>감사</span>
				</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:DesignChange('B');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc_s02.jpg" alt="" /></div>
					<span>축하</span>
				</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:DesignChange('C');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc_s03.jpg" alt="" /></div>
					<span>사랑</span>
				</a></li>
				<li class="on"><a href="javascript:void(0);" onclick="javascript:DesignChange('D');">
					<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc_s04.jpg" alt="" /></div>
					<span>없음</span>
				</a></li>
			</ul>
		</div>*@	
		<div class="gc_chk_message">
			<p class="tit">카드를담을 종이홀더의 메세지를 선택해주세요.</p>
			<div class="gc_list_chk">
				<div class="gc_set_chk">
					<input id="chk_msg01" name="card_msg_rdo" type="radio" onclick="javascript:DesignChange('A');" checked/>
					<label for="chk_msg01">G마켓 Gift Card로 마음을 전합니다. 행복하세요!</label>
				</div>
				<div class="gc_set_chk">
					<input id="chk_msg02" name="card_msg_rdo" type="radio" onclick="javascript:DesignChange('B');" />
					<label for="chk_msg02">G마켓 Gift Card로 감사의 마음을 전합니다.행복하세요!</label>
				</div>
				<div class="gc_set_chk">
					<input id="chk_msg03" name="card_msg_rdo" type="radio" onclick="javascript:DesignChange('C');" />
					<label for="chk_msg03">G마켓 Gift Card로 사랑을 전합니다. 행복하세요!</label>
				</div>
				<div class="gc_set_chk">
					<input id="chk_msg04" name="card_msg_rdo" type="radio" onclick="javascript:DesignChange('D');" />
					<label for="chk_msg04">축하드립니다. 기쁜 날 G마켓 Gift Card와 함께 하세요! </label>
				</div>
			</div>
		</div>
		</div>
		<!--플라스틱 카드-->
		<!--지마켓 아이디-->
		<div id="GDOrder">
		<div class="gc_title">
			<h3>보낼메시지 입력</h3>
		</div>		
		<div class="gc_set_message type02">
	
			<ul class="gc_tab02">
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('1');">감사</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('2');">축하</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('3');">사랑</a></li>
				<li><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('9');">쓰기</a></li>
				<li class="on"><a href="javascript:void(0);" onclick="javascript:MsgTypeChange('0');">없음</a></li>
			</ul>
			<div class="box_msg_wirte">
<textarea id="GDtxtmsg" class="gc_txtarea full" cols="50" rows="5" readonly="readonly" onChange="CheckStrLen('GDtxtmsg','30')" onKeyUp="CheckStrLen('GDtxtmsg','30')"></textarea>
			</div>
		</div>
		</div>
		<!--지마켓 아이디-->		
		<div class="gc_total_price">
			<ul>
				<li id="orderQty"><em>구매수량</em>GIFT CARD 50,000원 X 999장</li>
				<li id="orderAmt" class="price"><em>최종결제금액</em><strong>50,000</strong>원</li>
			</ul>
		</div>	
		<div class="gc_box_terms">
			<div class="box_title">
				<strong class="s_tit">Gift Card 관련약관</strong>
				<div class="gc_set_chk">
					<input id="chk_agree" type="checkbox" checked />
					<label for="chk_agree">동의</label>
				</div>				
				<div class="r_cont"><a id="gc_btn_terms" class="btn_terms" href="javascript:void(0);">펼쳐보기</a></div>
			</div>
			<div id="iscroll_terms" class="gc_box_scroll">
				<dl class="list_terms">
<dt>제1조 (목적)</dt>
<dd>본 약관은 (주)이베이코리아(이하 "발행자"라함)가 발행하는 G마켓 선물권을 그 소지자(이하 "고객" 이라 함)가 사용함에 있어 고객과 발행자간에 준수해야 할 사항을 규정합니다.</dd>

<dt>제2조 (적용범위)</dt>
<dd>본 약관의 적용을 받는 선물권은 온라인 선물권으로서 선물권 면액에 상당하는 물품 또는 용역 ( 이하 " 물품 등 " 이라 함 ) 을 제공받을 수 있는 금액 선물권이며,G마켓 (www.gmarket.co.kr)상에서만 사용가능한 선물권을 말합니다.</dd>

<dt>제3조 (선물권의 구매 및 취소/반품)</dt>
<dd>1. 선물권은 현금, 신용카드, 실시간 계좌이체, 휴대폰 소액결제 등 발행자가 마련한 기타 결제수단으로 구매가 가능합니다.</dd>
<dd>2. 구매 및 배송 완료 후 7일 이내에 선물권은 취소/반품할 수 있고, 이 때 실물로 발급된 선물권을 반납하여야 합니다. 단, 현금잔고 전환 등으로 이미 사용한 선물권은 취소/반품이 불가합니다.</dd><!--20140530 취소문구 수정 by ahana05-->

<dt>제4조(선물권의 양도 및 취소)</dt>
<dd>선물권을 구매한 고객은 이를 제3자에게 선물(양도)할 수 있으나, 양수인이 선물권을 수령하여 사용하기 위해서는 G마켓(www.gmarket.co.kr) 회원 가입 절차(양수인이 기존에 G마켓 회원이 아닌 경우에 한하여) 및 별도의 인증절차를 거칠 수가 있습니다. 단, 양수인의 G마켓 회원가입 아이디를 이용한 양도의 경우에는 양도취소가 불가능하며, 양수인의 휴대전화 번호, 이메일 주소를 이용한 양도의 경우에는 양수인이 인증절차를 거쳐서 선물권을 수령하지 않는 한 양도취소가 가능합니다.</dd>

<dt>제5조 (선물권의 사용)</dt>
<dd>1. 고객은 선물권을 현금잔고로 전환하여야 물품 등의 구매용으로 사용할 수 있습니다.</dd>
<dd>2. 선물권을 이용해 전환한 G통장 서비스상의 현금잔고 잔액은 제8조에서 정한 사용에 따른 잔액반환의 경우를 제외하고는 자신의 계좌로 송금하거나 G캐시로 전환할 수 없습니다. 선물권을 이용해 전환한 G통장 서비스상의 현금잔고 잔액의 환급에 관하여는 본 약관의 내용이 전자금융서비스 약관 제24조에 우선하여 적용됩니다.</dd>
<dd>3. 고객이 선물권면액의 범위 내에서 G마켓 구매서비스를 이용하고자 하는 경우, 발행자는 현금 또는 신용카드 거래자와 동등하게 서비스를 제공합니다.</dd>
<dd>4. G마켓(www.gmarket.co.kr)상에서 로그인 한 고객은 물품 등의 구매 시에 언제든지 선물권을 사용할 수 있으며, 발행자는 가격할인기간이라 해도 고객의 선물권사용을 거부할 수 없습니다. 다만, 미리 고지한 특정 URL 등에서의 선물권 사용을 제한할 수 있습니다.</dd>

<dt>제6조 (선물권의 도난&middot;분실 등에 대한 책임)</dt>
<dd>1. 고객본인의 관리부주의로 G마켓 회원가입 아이디 및 패스워드가 유출되어 선물권이 도난∙분실된 경우, 발행자는 책임을 지지 아니하며 도난∙분실된 선물권을 재 발행하지 않습니다. 이 경우 고객은 자신의 주의의무를 다하였음을 입증해야 합니다. </dd>
<dd>2. 발행자의 귀책사유 없이 네트워크상의 해킹 등 부정한 방법을 이용한 제3자의 불법행위로 말미암아 입게 되는 고객의 피해(도난 등)에 대하여 발행자는 책임을 부담하지 않습니다.</dd>

<dt>제7조 (선물권의 유효기간)</dt>
<dd>선물권은 상법 제64조의 상사채권 소멸시효규정에 의거 발행일로부터 5년 동안 유효합니다.</dd>

<dt>제8조 (선물권의 잔액반환)</dt>
<dd>1. 고객은 물품 등을 구매하고 남은 잔액에 대해 자신의 계좌로 송금을 요청하거나 G캐시로 전환을 요청할 수 있습니다.</dd>
<dd>2. 전항의 경우를 제외하고 잔액은 현금으로 반환되지 않습니다.</dd>
<dd>3. 제1항에 따라 고객이 송금을 요청하거나 전환을 요청하는 경우, 다음 각호의 1의 기준에 따라 발행자는 잔액을 현금으로 반환합니다. 다만, 당해 선물권의 결제 수단에 따라 일정한 기간이 경과된 이후에 한하여 그러한 반환이 허용될 수 있고, 이에 관한 상세한 내용은 해당 서비스 페이지에 고지된 바에 따릅니다.
	<ol>
		<li>① 선물권면액(선물권을 여러 장 동시에 사용하는 경우에는 총 합계 금액)이 1만원을 초과하는 상태에서 고객이 선물권면액의 100분의 60 이상에 해당하는 물품 등을 제공받고 잔액의 반환을 요구하는 경우.</li>
		<li>② 선물권면액(선물권을 여러 장 동시에 사용하는 경우에는 총 합계 금액)이 1만원 이하인 상태에서 고객이 선물권면액의 100분의 80 이상에 해당하는 물품 등을 제공받고 잔액의 반환을 요구하는 경우.</li>
	</ol>
</dd>

<dt>제9조 (기타)</dt>
<dd>본 약관에 명시되지 아니한 사항 또는 약관해석상 다툼이 있는 경우에는 고객과 발행자 간의 합의에 의하여 결정하되, 합의가 이루어지지 아니한 경우에는 관계법령 및 일반 상 관례에 따릅니다.</dd>

<dt>부칙</dt>
<dd>제1조 (적용일자)</dd>
<dd>본 약관은 2006년 08월 01일자로 적용됩니다.</dd>

<dt>부칙</dt>
<dd>제1조 (적용일자)</dd>
<dd>본 약관은 2014년 04월 11일자로 적용됩니다.</dd>

<dt>부칙</dt>
<dd>제1조 (적용일자)</dd>
<dd>본 약관은 2014년 06월 23일자로 적용됩니다.</dd>
				</dl>
			</div>
		</div>
		<!-- 140429_수정 -->
		@*<div class="gc_set_btn02 b_nomarin">
			<a class="btn_l" href="javascript:void(0);" onclick="javascript:history.back(-1);"><span>이전</span></a>
			<a class="btn_r" href="#" onclick="javascript:GoOrder();"><span>주문</span></a>
		</div>*@
		<div class="gc_set_btn03">
			<a href="javascript:void(0);" class="btn_blue" onclick="javascript:GoOrder();"><span>주문하기</span></a>
			<a href="javascript:void(0);" class="btn_gray" onclick="javascript:history.back(-1);"><span>이전화면으로</span></a>
		</div>
		<!-- 140429_수정 -->
	</div>
	<!-- //CONTENT -->
@*@section css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/320/GiftCard/giftcard.css?v=7"/>
}

@section scripts
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/giftcard.js?ver=1"></script>
	<script type="text/javascript">
		window.onload = function () {
			setTimeout(function () {
				window.scrollTo(0, 1)
			}, 100);
		}
		//		$(document).ready(function () {
		//			gc_msg_sel();
		//			gc_terms();
		//		});
	</script>
}*@
<div>
<input type='hidden' id='MsgType' name='MsgType' value='' />
<input type='hidden' id='CardColor' name='CardColor' value='' />
<input type='hidden' id='imgDesign' name='imgDesign' value='' />
<input type='hidden' id='OrderValue' name='OrderValue' value='@Model.TOrderValue' />
<input type='hidden' id='UseDT' name='UseDT' value='@Model.TUseDT' />
<input type='hidden' id='hddHPReserveDT' name='hddHPReserveDT' value='@Model.ThddHPReserveDT' />
<input type='hidden' id='hddGDReserveDT' name='hddGDReserveDT' value='@Model.ThddGDReserveDT' />
<input type='hidden' id='hddHPRowIndex' name='hddHPRowIndex' value='@Model.ThddHPRowIndex' />
<input type='hidden' id='hddGDRowIndex' name='hddGDRowIndex' value='@Model.ThddGDRowIndex' />
<input type='hidden' id='OrderType' name='OrderType' value='@Model.TOrderType' />
<input type='hidden' id='HPRSVYN' name='HPRSVYN' value='@Model.THPRSVYN' />
<input type='hidden' id='GDRSVYN' name='GDRSVYN' value='@Model.TGDRSVYN' />
<input type='hidden' id='UserCustNo' name='UserCustNo' value='@Model.TUserCustNo' />
<input type='hidden' id='UserName' name='UserName' value='@Model.TUserName' />
<input type='hidden' id='UserHPNum' name='UserHPNum' value='@Model.TUserHPNum' />
<input type='hidden' name='return_url' value='@Model.Treturn_url' />
<input type='hidden' name='order_type' value='@Model.Torder_type' />
<input type='hidden' name='goodscode' value='@Model.Tgoodscode' />
<input type='hidden' name='goods_type' value='@Model.Tgoods_type' />
<input type='hidden' name='order_cnts' value='@Model.Torder_cnts' />
<input type='hidden' name='order_price' value='@Model.Torder_price' />
<input type='hidden' id='orderprice' name='orderprice' value='@Model.Torderprice' />
<input type='hidden' name='gd_nm' value='@Model.Tgd_nm' />
<input type='hidden' name='trad_way' value='@Model.Ttrad_way' />
<input type='hidden' name='trad_way_nm' value='@Model.Ttrad_way_nm' />
<input type='hidden' name='buyer_mileage' value='@Model.Tbuyer_mileage' />
<input type='hidden' name='buddy_mileage' value='@Model.Tbuddy_mileage' />
<input type='hidden' name='tax_issue_yn' value='@Model.Ttax_issue_yn' />
<input type='hidden' name='cash_issue_yn' value='@Model.Tcash_issue_yn' />
<input type='hidden' name='gdlc_cd' value='@Model.Tgdlc_cd' />
<input type='hidden' name='offline_stock_cnt' value='@Model.Toffline_stock_cnt' />
<input type='hidden' name='delivery_fee_yn' value='@Model.Tdelivery_fee_yn' />
<input type='hidden' name='delivery_group_no' value='@Model.Tdelivery_group_no' />
<input type='hidden' name='delivery_group_nm' value='@Model.Tdelivery_group_nm' />
<input type='hidden' name='basis_money' value='@Model.Tbasis_money' />
<input type='hidden' name='delivery_fee' value='@Model.Tdelivery_fee' />
<input type='hidden' name='delivery_fee_condition' value='@Model.Tdelivery_fee_condition' />
<input type='hidden' name='delivery_group_type' value='@Model.Tdelivery_group_type' />
<input type='hidden' name='who_fee' value='@Model.Twho_fee' />

<input type='hidden' name='GiftType' value='@Model.TGiftType' />
<input type='hidden' name='GiftHPList' value='@Model.TGiftHPList' />
<input type='hidden' name='GiftToken' value='@Model.TGiftToken' />
<input type='hidden' name='seller_cust_no' value='@Model.Tseller_cust_no' />
</div>