@using GMKT.GMobile.Web.Models;

@model GiftSendM

@{
	ViewBag.Title = "G마켓 GIFT CARD";
}
@section css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/320/GiftCard/giftcard.css?v=7"/>
}
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/giftcard.js?ver=1"></script>
<script type="text/javascript" language="javascript">
	function ItemClick(TokenSeq) {

		var param = "{ ";
		param += "'TOKENSEQ':'" + $.trim(TokenSeq.toString()) + "',";
		param += "'TYPE':'" + $.trim("RSV") + "'}";

		$.ajax({
			type: 'POST',
			url: "/GiftCard/GetItemDetail",
			contentType: "application/json;charset=utf-8",
			data: param,
			async: false,
			success: function (data) {
				ItemViewMake(data);
			},
			error: function (error) {
				alert("Database 검색 실패!");
				return;
			}
		});

	}
	function ItemViewMake(data) {
		$("#listview").text("");
		//상단 바인딩
		//var html = "<div class='gc_total'>";
		var html = "<div class='gc_set_move'>";
		html = html + "<a class='gc_page_prev' href='GiftCardListRsv'>리스트로 돌아가기</a>";
		html = html + "</div>";
		html = html + "<ul class='list_giftcard'>";
		html = html + "<li><div>";
		if (data.GiftSend.Price == 5000)
			html = html + "<div class='img'><img src='@Urls.MobileImageUrlV2/640/giftcard/img_gc5000.jpg' alt='' /></div>";
		else if (data.GiftSend.Price == 10000)
			html = html + "<div class='img'><img src='@Urls.MobileImageUrlV2/640/giftcard/img_gc10000.jpg' alt='' /></div>";
		else if (data.GiftSend.Price == 30000)
			html = html + "<div class='img'><img src='@Urls.MobileImageUrlV2/640/giftcard/img_gc30000.jpg' alt='' /></div>";
		else if (data.GiftSend.Price == 50000)
			html = html + "<div class='img'><img src='@Urls.MobileImageUrlV2/640/giftcard/img_gc50000.jpg' alt='' /></div>";
		else if (data.GiftSend.Price == 100000)
			html = html + "<div class='img'><img src='@Urls.MobileImageUrlV2/640/giftcard/img_gc100000.jpg' alt='' /></div>";
		else if (data.GiftSend.Price == 200000)
			html = html + "<div class='img'><img src='@Urls.MobileImageUrlV2/640/giftcard/img_gc200000.jpg' alt='' /></div>";
		html = html + "<div class='cont'>";
		html = html + "<strong class='txt_state type02'>" + data.GiftSend.StatNM + "</strong>";
		html = html + "<ul class='set_info'>";
		html = html + "<li><span class='s_tit'>발신인</span>" + data.GiftSend.sendNM + "</li>";
		html = html + "<li><span class='s_tit'>수신방법</span>" + data.GiftSend.TranswayNM + " </li>";
		html = html + "</ul>";
		html = html + "</div>";
		html = html + "</div></li>";
		html = html + "</ul>";
		html = html + "<div class='box_gc_view b_nomarin'>";
		html = html + "<ul>";
		html = html + "<li><span>GIFT CARD 번호</span>" + data.GiftSend.TokenSeq + "</li>";
		if (data.GiftSend.Price == 5000)
			html = html + "<li><span>GIFT CARD 종류</span>5,000원권</li>";
		else if (data.GiftSend.Price == 10000)
			html = html + "<li><span>GIFT CARD 종류</span>10,000원권</li>";
		else if (data.GiftSend.Price == 30000)
			html = html + "<li><span>GIFT CARD 종류</span>30,000원권</li>";
		else if (data.GiftSend.Price == 50000)
			html = html + "<li><span>GIFT CARD 종류</span>50,000원권</li>";
		else if (data.GiftSend.Price == 100000)
			html = html + "<li><span>GIFT CARD 종류</span>100,000원권</li>";
		else if (data.GiftSend.Price == 200000)
			html = html + "<li><span>GIFT CARD 종류</span>200,000원권</li>";
		html = html + "<li><span>수신방법</span>" + data.GiftSend.TranswayNM + " </li>";
		if (data.GiftSend.TranswayNM == "휴대폰") {
			html = html + "<li><span>발신인</span>" + data.GiftSend.sendNM + "</li>";
			html = html + "<li><span>휴대폰번호</span>" + data.GiftSend.RcvNM + "</li>";
			html = html + "<li><span>수신일시</span>" + data.GiftSend.SendDT + "</li>";
			html = html + "<li><span>등록일자</span>" + data.GiftSend.AuthDT + " </li>";
			html = html + "<li><span>선물메세지</span>" + data.GiftSend.SendMsg + "</li>";
		}
		else if (data.GiftSend.TranswayNM == "PLASTIC CARD") {
			html = html + "<li><span>발신인</span>" + data.GiftSend.sendNM + "</li>";
			//html = html + "<li><span>수신일시</span>" + data.GiftSend.RcvNM + "</li>";
			html = html + "<li><span>등록일자</span>" + data.GiftSend.TransRegDT + "</li>";
			html = html + "<li><span>배송주소</span>" + data.GiftSend.DelFrontAddress + " " + data.GiftSend.DelBackAddress + " </li>";
			html = html + "<li><span>연락처</span>" + data.GiftSend.Telno + "</li>";
		}
		else if (data.GiftSend.TranswayNM == "G마켓ID") {
			html = html + "<li><span>발신인</span>" + data.GiftSend.sendNM + "</li>";
			html = html + "<li><span>수신GID</span>" + data.GiftSend.RcvNM + "</li>";
			html = html + "<li><span>수신일시</span>" + data.GiftSend.SendDT + "</li>";
			html = html + "<li><span>등록일자</span>" + data.GiftSend.AuthDT + "</li>";
			html = html + "<li><span>선물메세지</span>" + data.GiftSend.SendMsg + "</li>";
		}
		else if (data.GiftSend.TranswayNM == "카카오톡") {
			html = html + "<li><span>수신일시</span>" + data.GiftSend.SendDT + "</li>";
			html = html + "<li><span>등록일자</span>" + data.GiftSend.AuthDT + "</li>";
		}
		html = html + "</ul>";
		html = html + "</div>";



		jQuery("#listview").append(html);
	}
	function moreClick() {
		var nowpagecnt = parseInt(document.GiftCardOrder.nowpagecnt.value);
		var totalpagecnt = parseInt(document.GiftCardOrder.totalpagecnt.value);
		var totalrownum = parseInt(document.GiftCardOrder.totalrownum.value);
		if (nowpagecnt == totalpagecnt) {
			alert("끝 페이지 입니다.");
			return false;
		}
		else {
			$("#listsend" + nowpagecnt.toString() + "").show();

			var showrowcnt = (nowpagecnt + 1) * 10;
			if (totalrownum > showrowcnt) {
				document.getElementById("btnmore").innerHTML = "<span><span>더보기</span> ( <span>" + showrowcnt.toString() + "</span>/" + totalrownum + ")</span>";
			}
			else {
				document.getElementById("btnmore").innerHTML = "<span><span>더보기</span> ( <span>" + totalrownum.toString() + "</span>/" + totalrownum + ")</span>";
			}
			document.GiftCardOrder.nowpagecnt.value = (nowpagecnt + 1).toString();
		}
	}
	function optionchange() {
		var optval = document.GiftCardOrder.monthselect.value;
		document.GiftCardOrder.shmonth.value = optval.toString();
		document.GiftCardOrder.action = "GiftCardListRsv";
		document.GiftCardOrder.submit();
	}
	$(document).ready(function () {
		displayLayer("progress_icon", "none");

		if ("@{@PageAttr.IsLogin}" == "True") {
		}
		else {
			document.location.href = "@Urls.LoginUrl";
		}
		//popPositMid('gc_layer_regist02');	
		//listmake();
		document.GiftCardOrder.monthselect.value = document.GiftCardOrder.shmonth.value;

	});
	</script>

@{Html.BeginForm("", "", FormMethod.Post, new { name = "GiftCardOrder", id = "GiftCardOrder" });}
<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="gc_location">
		<span><a href="GiftCard" style="color:White;" >GIFT CARD</a></span>
		<span>확인/재발송</span>
	</div>
	<ul class="gc_tab03">
		<li><a href="GiftCardListSend"><span>보낸선물</span></a></li>
		<li class="on"><a href="GiftCardListRsv"><span>받은선물</span></a></li>
	</ul>
@if (PageAttr.IsLogin == true)
{
	<!--	잘라서 새로 그릴 영역	-->
	@:<div id="listview">
	@:<div class="gc_total">
	if (Model.GiftSend.Count > 0)
	{
		@:<div class="s_tit">전체 <strong class="gc_txt_gt01">@Model.GiftSend[0].TotalCount</strong>건</div>
	}
	else
	{
		@:<div class="s_tit">전체 <strong class="gc_txt_gt01">0</strong>건</div>
	}
			@:<div class="r_cont">
				@:<span class="txt01">최근</span>
				@:<div class="gc_sel01">
				@:<select id="monthselect" onchange="javascript:optionchange();">
					@:<option value="1">1개월</option>
					@:<option value="3">3개월</option>
					@:<option value="6">6개월</option>
					@:<option value="12">12개월</option>
					@:<option value="24">24개월</option>
				@:</select>
				@:</div>
			@:</div>
		@:</div>
	@*if (true)
	{
		DateTime now = DateTime.Now;
		string nowdate = now.ToString("yyyy-MM-dd");
		@:<div class="gc_box_date">@nowdate</div>
	}*@
	if (Model.GiftSend.Count > 0)
	{
		int totalcount = Convert.ToInt32(Model.GiftSend[0].TotalCount);
		int pagecount = totalcount / 10;
		if ((totalcount % 10) > 0)
		{
			pagecount = pagecount + 1;
		}
		int allcnt = 0;
		string nowdt = "";
		for (int i = 0; i < pagecount; i++)
		{
			string listid = "listsend" + i.ToString();
			if (i == 0)
			{
				@:<div id="@listid">
			}
			else
			{
				@:<div style="display:none;">
			}
			if (totalcount > 10)
			{
				for (var j = 0; j < 10; j++)
				{
					//@:<li>
					string[] buydt = Model.GiftSend[allcnt].AuthDT.ToString().Split(' ');
					if (nowdt != buydt[0])
					{
						@:<div class="gc_box_date">@buydt[0]</div>
						nowdt = buydt[0];
					}
					@:<ul class="list_giftcard">
					@:<li>
					@:<a href="javascript:void(0);" onclick="javascript:ItemClick('@Model.GiftSend[allcnt].TokenSeq');">
					if (Model.GiftSend[allcnt].Price == 5000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc5000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 10000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc10000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 30000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc30000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 50000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc50000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 100000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc100000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 200000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc200000.jpg" alt="" /></div>
					}
					@:<div class="cont">
					string rplacenm = Model.GiftSend[allcnt].StatNM.Replace("<br/>", " ");
					@:<strong class="txt_state type02">@rplacenm</strong>
					@:<ul class="set_info">
					@:<li><span class="s_tit">발신인</span>@Model.GiftSend[allcnt].sendNM</li>
					@:<li><span class="s_tit">수신방법</span>@Model.GiftSend[allcnt].TranswayNM <span class="txt_link" onclick="javascript:listmake();"></span></li>
					@:</ul>
					@:</div>
					@:</a></li>
					@:</ul>
					allcnt = allcnt + 1;
				}
				totalcount = totalcount - 10;
			}
			else
			{
				for (int j = 0; j < totalcount; j++)
				{
					//@:<li>
					string[] buydt = Model.GiftSend[allcnt].AuthDT.ToString().Split(' ');
					if (nowdt != buydt[0])
					{
						@:<div class="gc_box_date">@buydt[0]</div>
						nowdt = buydt[0];
					}
					@:<ul class="list_giftcard">
					@:<li>
					@:<a href="javascript:void(0);" onclick="javascript:ItemClick('@Model.GiftSend[allcnt].TokenSeq');">
					if (Model.GiftSend[allcnt].Price == 5000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc5000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 10000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc10000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 30000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc30000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 50000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc50000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 100000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc100000.jpg" alt="" /></div>
					}
					else if (Model.GiftSend[allcnt].Price == 200000)
					{
						@:<div class="img"><img src="@Urls.MobileImageUrlV2/640/giftcard/img_gc200000.jpg" alt="" /></div>
					}
					@:<div class="cont">
					string rplacenm = Model.GiftSend[allcnt].StatNM.Replace("<br/>"," ");
					@:<strong class="txt_state type02">@rplacenm</strong>
					@:<ul class="set_info">
					@:<li><span class="s_tit">발신인</span>@Model.GiftSend[allcnt].sendNM</li>
					@:<li><span class="s_tit">수신방법</span>@Model.GiftSend[allcnt].TranswayNM <span class="txt_link" onclick="javascript:listmake();"></span></li>
					@:</ul>
					@:</div>
					@:</a></li>
					@:</ul>
					allcnt = allcnt + 1;
				}
			}
			@:</div>
		}
		if (pagecount > 1)
		{
			@:<a class="gc_btn_more b_nomarin" id="btnmore" href="javascript:void(0);" onclick="javascript:moreClick();"><span><span>더보기</span> ( <span>10</span>/@Model.GiftSend[0].TotalCount)</span></a>
		}
		@:<input type='hidden' id='totalrownum' name='totalrownum' value='@Model.GiftSend[0].TotalCount' />
		@:<input type='hidden' id='totalpagecnt' name='totalpagecnt' value='@pagecount' />
	}
	else
	{
		@:<div class="gc_noresult">
				@:<div class="cont02">
					@:<p class="txt01">아직 등록한 선물이 없습니다!</p>
				@:</div>
			@:</div>
	}
	@:</div>
	<!--	잘라서 새로 그릴 영역	-->
}
</div>
<!-- //CONTENT -->
@*@section css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/320/GiftCard/giftcard.css?v=7"/>
}

@section scripts
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/giftcard.js?ver=1"></script>
	<script type="text/javascript">
		window.onload = function () {
			setTimeout(function () {
				window.scrollTo(0, 1)
			}, 100);
		}
		//		$(document).ready(function () {
		//			gc_msg_sel();
		//			gc_terms();
		//		});
	</script>
}*@
<input type='hidden' id='nowpagecnt' name='nowpagecnt' value='1' />
<input type='hidden' id='shmonth' name='shmonth' value='@Model.OptionValue' />