@using GMKT.GMobile.Constant;
@using GMobile.Data.Tiger;
@using GMobile.Data.DisplayDB;
@using GMobile.Data.Diver;
@model GMKT.GMobile.Web.Models.LoginM
@{
	Layout = null;
	string fromWhere = Model.FromWhere;
	string signUpUrl = Urls.MobileWebUrlSecure + "/SignUp" + (String.IsNullOrEmpty(fromWhere) == true ? "" : "?fromWhere=" + fromWhere);	
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="content-Type" content="text/html; charset=euc-kr" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi, width=device-width" />
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta name="format-detection" content="telepohone=no" />
	<title>G마켓 로그인</title>
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/common.css?v=8" /> 
	<link rel="stylesheet" type="text/css" href="@Urls.ScriptUrl/mobile/css/etc.css" />
</head>
<body>
	<!-- WRAPPER -->
	<div id="wrap">
		<!-- SKIP NAVI -->
		<div class="hp">
			<a href="#content">본문 바로가기</a>
		</div>
		<!-- //SKIP NAVI -->
		<!-- CONTENTS -->
		<div id="contents" class="cts">
			<div class="mhgroup6">
				<h3>
					로그인</h3>
				<a href="@(PageAttr.IsApp ? "gmarket://webview?action=close" : "javascript:window.history.back();" )" class="btn_prePage"></a>
			</div>
			<!-- LOGIN -->
			<div class="login">
				<form name="defaultForm" id="defaultForm" method="post" onsubmit="javascript:return checkValid(this);">
				<input type="hidden" name="merge" value="@(Model.needMerge ? "true" : "false")" />
				<input type="hidden" name="url" value="@Model.ReturnUrl" />
				<input type="hidden" name="fromWhere" value="@Model.FromWhere" />
				<fieldset>
					<legend>@(Model.IsAdultLogin ? "성인인증" : "로그인")</legend>
					@if(String.IsNullOrEmpty(ViewBag.Type))
					{
					<div class="login_tab">
						<a href="#mem" id="member_tab" class="on">회원</a>
						<a href="#nm" id="nonmember_tab">비회원</a>
					</div>
					}
					<div class="at_log mem">
						@if(ViewBag.Type == "old")
						{
						<p class="noti_log">G마켓 회원만 이용하실 수 있습니다.</p>
						}

						@if(Model.IsAdultLogin)
						{
						<div class="notice_adult">
							<div class="adult"><!-- [D] 성인 인증 안내문구 -->
								<p class="txt">본 상품은 청소년 유해매체물로서 19세 미만의 청소년이 이용할수 없습니다. <br />이용을 원하시면 (청소년보호법에 따라) 나이 및 본인 여부를 확인해 주시기 바랍니다.</p>
							</div>

						</div>
						}

						@if(PageAttr.IsApp)
						{
						<div class="keyboard">
							<button type="button" class="off">
								한글자판열기</button>
							<button type="button" class="on">
								한글자판닫기</button>
							<div class="key">
							</div>
						</div>
						}
						<!-- [D] 로그인 회원 -->
						<p>
							<input type="email" name="id" id="id" title="아이디 입력" placeholder="아이디" maxlength="10" /></p>
						<p>
							<input type="password" name="pwd" id="pwd" title="비밀번호 입력" placeholder="비밀번호" maxlength="15" /></p>
						@if (Model.IsMobileBrowser || PageAttr.IsApp)
						{
						<p class="isv">
							<input type="checkbox" id="autoLogin" name="autoLogin" value="true" checked="">
							<label for="autoLogin">자동로그인</label>
							@if(PageAttr.IsApp)
							{
							<input type="checkbox" id="push_agree" name="push_agree" value="true" checked="">
							<label for="push_agree">알림 받기</label>
							<a class="ico_app_txt">G마켓 알림서비스 안내</a>
							}
						</p>
						}
						@if(PageAttr.IsApp)
						{
						<div class="app_txt">
							<ul>
							<li>이벤트 특가정보 및 상품문의에 대한 답변, 할인쿠폰 만료기간등의 알림 메세지를 실시간으로 받을 수 있습니다.</li>
							<li>알림해지는 설정메뉴에서 언제든지 해지하실 수 있습니다. </li>
							</ul>
							<a class="close">닫기</a>
						</div>
						}
						<button type="submit" title="login" class="lgs" onclick="javascript:checkValid(document.defaultForm); return false;">
							<span>로그인</span>
						</button>
						@if(ViewBag.Type == "direct")
						{
						<div class="lgb_nm">
							<p class="txt">회원가입없이 빠르게 주문하세요!</p>
							<button type="submit" title="login" class="lgs" onclick="javascript:onDirect(); return false;"><span>비회원 주문</span></button>
						</div>
						}

					</div>
					<div class="at_log nm" style="display: none">
					@if(Model.IsAdultLogin)
					{
						<div class="notice_adult">
							<div class="adult"><!-- [D] 성인 인증 안내문구 -->
								<p class="txt">본 상품은 청소년 유해매체물로서 19세 미만의 청소년이 이용할수 없습니다. <br />이용을 원하시면 (청소년보호법에 따라) 나이 및 본인 여부를 확인해 주시기 바랍니다.</p>
							</div>
							<div class="adult_auth">
								<!-- Ctype 안씁니다 -->
								<p class="mobile on"><a href="/SelfAuth/SelfAuthForAdult?mType=M&cType=NonMember&fType=MAD&rtnurl=@HttpUtility.UrlEncode( Model.ReturnUrl )">인증하기</a> 휴대폰 인증하기<br /><span>(본인명의)</span></p>
								<!-- Ctype 안씁니다 -->
								<p class="ipin on"><a href="/IPinAuth/IPinAuthForAdult?mType=I&cType=NonMember&fType=MAD&rtnurl=@HttpUtility.UrlEncode( Model.ReturnUrl )">인증하기</a> 아이핀 인증하기</p>
							</div>
							<p class="auth_noti">본인인증시 입력하신 모든 정보는 항상 암호화되어 처리되며, 본인확인 외에 다른 목적으로 사용되지 않습니다.</p>
							<p class="auth_noti">고객님께서 입력하신 정보는 NICE신용평가정보(주)에 제공됩니다.</p>
						</div>
					}
					else {
						<!-- [D] 로그인 비회원 -->
						<p>
							<input type="text" name="nuserId" id="nuserId" title="주문자명 입력" placeholder="주문자명" />
						</p>
						<div class="inp_tel">
							<p class="clear">휴대폰번호</p>
							<input type="tel" pattern="[0-9]*" inputmode="numeric" name="nuserPn" id="nuserPn" title="휴대폰번호 앞자리 입력" class="fst_tel" maxlength="3" /><span> - </span>
							<input type="tel" pattern="[0-9]*" inputmode="numeric" name="nuserPn2" id="nuserPn2" title="휴대폰번호 중간자리 입력" class="mid_tel" maxlength="4" /><span> - </span>
							<input type="tel" pattern="[0-9]*" inputmode="numeric" name="nuserPn3" id="nuserPn3" title="휴대폰번호 뒷자리 입력" class="lst_tel" maxlength="4" />
						</div>
						<p>
							<input type="password" name="nuserPw" id="nuserPw" title="주문비밀번호 입력" placeholder="주문비밀번호" />
						</p>
						<button type="submit" title="login" class="lgs" onclick="javascript:checkValid(document.defaultForm); return false;">
							<span>주문내역조회</span>
						</button>
					}
					</div>
				</fieldset>
				</form>
				<div class="lgb mem">
					<p class="l_logo"></p>
					<div class="btnbx_sch">
						<a href="@Urls.MemberSignInRootSecure/Mobile/IDPW?type=id" class="btn_sch"><span>아이디 찾기</span></a>
						<a href="@Urls.MemberSignInRootSecure/Mobile/IDPW?type=pw" class="btn_sch"><span>비밀번호 찾기</span></a>
						<a href="@signUpUrl" class="btn_sch"><span>회원가입</span></a>
					</div>
				</div>
				<div class="lgb nm">
					<p class="l_logo"></p>
					<div class="btnbx_sch">
						<a href="javascript:;" onclick="popBlockUI3('ly_delvpw');return false;" class="btn_sch"><span>주문 비밀번호 찾기</span></a>
						<a href="@signUpUrl" class="btn_sch"><span>회원가입</span></a>
					</div>
				</div>
			</div>
			<!--// LOGIN -->
			<!-- [D] 주문비밀번호 찾기 레이어 -->
			<form name="orderPwdFindForm" id="orderPwdFindForm" method="post" onsubmit="return findOrderPwd(this)">
				<div class="ly_delv_pw" id="ly_delvpw">
					<div class="lay_wp">
						<h3>비회원 주문비밀번호 찾기</h3>
						<p class="ly_txt">주문시 입력한 이메일주소 또는 휴대폰번호로 <br />임시 비밀번호를 보내드립니다.</p>
						<div class="at_log nm">
							<div class="line nuid">
								<label for="nuserId2">주문자 명</label><input type="text" name="id" id="nuserId2" title="주문자명 입력">
							</div>
							<div class="line nupn">
								<label for="nsearchPn">휴대폰 번호</label>
								<p class="inp_tel">
									<input type="tel" pattern="[0-9]*" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="pn" id="nsearchPn" maxlength="3" title="휴대폰번호 앞자리 입력" pattern="[0-9]*" class="fst_tel" /><span> - </span>
									<input type="tel" pattern="[0-9]*" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="pn" id="nsearchPn2" maxlength="4" title="휴대폰번호 중간자리 입력" pattern="[0-9]*" class="mid_tel" /><span> - </span>
									<input type="tel" pattern="[0-9]*" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="pn" id="nsearchPn3" maxlength="4" title="휴대폰번호 뒷자리 입력" pattern="[0-9]*" class="lst_tel" />
								</p>
							</div>
							<div class="line nupw">
								<label for="nuserCart">장바구니번호</label>
								<input type="number" name="pcart" id="nuserCart" title="장바구니번호" placeholder="주문확인 이메일에서 확인 가능" pattern="[0-9]*" />
							</div>
							<div class="ly_btn">
								<input type="hidden" name="nSendMethod" id="nSendMethod" />
								<button type="submit" title="email" class="lgs" onclick="setSendMethod(0);"><span>이메일로 받기</span></button>
								<button type="submit" title="sms" class="lgs" onclick="setSendMethod(1);"><span>휴대폰 문자로 받기</span></button>
							</div>
						</div>
						<p class="cs_tel">확인이 어려운 경우 고객센터 <a href="tel:1566-5701">1566-5701</a>로 문의주세요.</p>
						<a href="javascript:;" class="lay_clse" onclick="popBlockUI3('ly_delvpw');return false;">닫기</a>					
					</div>
				</div>
			</form>
		</div>
		<!--// CONTENTS -->
	</div>
	<!--// WRAPPER -->
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/handlebars-v1.1.2.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/GMobile.js?v=11"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/guidGeneration.js"></script>
	<script type="text/javascript">
		var _ubLogActEnum = {
			click: "click"
		}
		function _ubLog(code, act) {
			if (typeof ubprofiler === 'object' && typeof ubprofiler.send === 'function') {
				ubprofiler.send(
              'event'         // behavior
              , 'page'        // src
              , 'm/1.0'       // id, version info
              ,
							{
								'url': document.location.href,  // url, required 
								'ref': document.referrer,       // referrer url, optional
								'act': act,                 // action, required
								'acode': code        // area code, required
							});
			}
		}
	</script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/swipeview.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/front_v4.js?v=4"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/member/Login.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			setTimeout(function () {
				window.scrollTo(0, 1)
			}, 100);
		}

        function checkValid(form) {

            // 브라우저가 쿠키사용을 허용하고 있는지 체크하는 루틴 2016.08.03
            {
                var cookieName = 'testCookie' + (new Date().getTime());
                document.cookie = cookieName + '=cookieValue';
                var cookiesEnabled = document.cookie.indexOf(cookieName) != -1;
                if (cookiesEnabled) {
                    expires = new Date(new Date().getTime() + 1000 * 60 * 60 * 24 * -1);
                    document.cookie = cookieName + '=; expires=' + expires + ';';
                }
                else {
                    alert("죄송합니다. 로그인에 실패했습니다.\n\n현재 사용중이신 브라우저가 쿠키 사용안함으로 설정되어 있습니다.\n설정 메뉴에서 쿠키 '사용함'으로 변경 후 다시 시도해주세요.");
                    return false;
                }
            }

			if ($('#nonmember_tab').hasClass('on')) {
				if (!$.trim(document.defaultForm.nuserId.value)) {
					alert("주문자명를 입력해 주세요.");
					document.defaultForm.nuserId.focus();
					return;
				}

				if (!$.trim(document.defaultForm.nuserPn.value) || !$.trim(document.defaultForm.nuserPn2.value) || !$.trim(document.defaultForm.nuserPn3.value)) {
					alert("휴대폰 번호를 입력해 주세요.");

					if ($.trim(document.defaultForm.nuserPn.value))
						document.defaultForm.nuserPn.focus();
					else if ($.trim(document.defaultForm.nuserPn2.value))
						document.defaultForm.nuserPn2.focus();
					else if ($.trim(document.defaultForm.nuserPn3.value))
						document.defaultForm.nuserPn3.focus();

					return false;
				}

				if (!$.trim(document.defaultForm.nuserPw.value)) {
					alert("주문비밀번호를 입력해 주세요.");
					document.defaultForm.nuserPw.focus();
					return;
				}

				document.defaultForm.action = "@Urls.MobileWebUrlSecure/Login/LoginForNonMember";
			}
			else {
				if ((document.defaultForm.id.value == "") || $.trim(document.defaultForm.id.value) == "") {
					alert("아이디를 입력해 주세요.");
					document.defaultForm.id.focus();
					return;
				}

				if (getByteLength(document.defaultForm.id.value) > 10) {
					alert("아이디 확인 후 다시 입력해 주세요.");
					document.defaultForm.id.focus();
					return;
				}

				if ((document.defaultForm.pwd.value == "") || $.trim(document.defaultForm.pwd.value) == "") {
					alert("비밀번호를 입력해 주세요.");
					document.defaultForm.pwd.focus();
					return;
				}

				if (getByteLength(document.defaultForm.pwd.value) > 15) {
					alert("비밀번호는 15자리까지만 입력해주세요.");
					document.defaultForm.pwd.focus();
					return;
				}
				document.defaultForm.action = "@Urls.MobileWebUrlSecure/Login/Login";
			}
			document.defaultForm.submit();
		}

		var onDirect = function () {
			document.defaultForm.action = "@Urls.MobileWebUrlSecure/Login/LoginForNonMemberOrder";
			document.defaultForm.submit();
		}

		var setSendMethod = function (value) {
			$("#nSendMethod").val(value);
		}

		var findOrderPwd = function (form) {
			//validate user input
			var custName = form.nuserId2.value;
			var phoneNo = form.nsearchPn.value + "-" + form.nsearchPn2.value + "-" + form.nsearchPn3.value;
			var packNo = form.nuserCart.value;
			var sendMethod = form.nSendMethod.value;

			if (custName == "") {
				alert("이름을 입력해 주세요.");
				form.nuserId2.focus();
				return false;
			}

			if (sendMethod == "1") {
				if (form.nsearchPn.value == "") {
					alert("휴대폰번호를 입력해 주세요.");
					form.nsearchPn.focus();
					return false;
				}

				if (form.nsearchPn2.value == "") {
					alert("휴대폰번호를 입력해 주세요.");
					form.nsearchPn2.focus();
					return false;
				}


				if (form.nsearchPn3.value == "") {
					alert("휴대폰번호를 입력해 주세요.");
					form.nsearchP3.focus();
					return false;
				}
			}

			if (packNo == "") {
				alert("장바구니번호를 입력해 주세요.");
				form.nuserCart.focus();
				return false;
			}

			//ajax
			$.ajax({
				url: "@Urls.MobileWebUrlSecure/Login/ResetNonMemberOrderPassword",
				type: "GET",
				dataType: "jsonp",
				data: {
					custName: custName,
					phoneNo: phoneNo,
					packNo: packNo,
					sendMethod: sendMethod
				},
				success: function (result) {
					if (result) {
						//TODO by sue : test해보고 고칠 예정
						alert(result.ResultDescription);
					}
				},
				error: function (result) {
					//TODO by sue : test해보고 고칠 예정
					console.log("resetPW Error : ", arguments);
				}
			});

			return false;
		}
	</script>
</body>
</html>
