@{
	ViewBag.Title = "Smart Delivery - Gmarket";
}
@model GMKT.GMobile.Data.SmartDelivery.SmartDeliveryBestT

<!-- CONTENT -->
<div id="content" class="ctns">
		
	<div class="smart_wrap">
		@Html.Partial("_SmartDeliveryHeader")
	</div>
		
	<div class="arttit_bx">
		<ul class="sb_tab">
 			<li class="on" id="bestTab"><a href="javascript:;">스마트배송 best 50</a></li>
 			<li id="subBestTab"><a href="javascript:;">소량포장 best 50</a></li>
 		</ul>
	</div>
	<div class="mbest_wrap smart_wrap">
		<ul class="mbest_lst" id="ulBestItems">
	@if (Model != null && Model.Items != null && Model.Items.Count > 0)
	{
		foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliveryBestItemT item in Model.Items)
		{
		<li>
			<a href="@item.LinkURL">
				<span class="rank">@(Model.Items.IndexOf(item) + 1)</span>
				<div class="img_bx">
					<img src="@item.ImageURL" alt="">
				</div>
				<div class="info_bx @if (item.OriginalPrice == item.SalePrice){<text>no_sale</text>}">
					<strong class="tit">@item.GoodsName</strong>
					<div class="price_box">
						@if (item.OriginalPrice != item.SalePrice)
						{
							<span class="per_price"><span class="blind">정가</span>@item.OriginalPrice</span>
							<strong class="price"><span class="blind">할인가</span>@item.SalePrice</strong>						}
						else
						{
							<strong class="price"><span class="blind">정가</span>@item.OriginalPrice</strong>						}
					</div>
					@if (item.SubdivYN){<span class="opt_type">소량포장</span>}
				</div>
			</a>
		</li>
		}
	}
		</ul>

		<ul class="mbest_lst" id="ulBestSmallPackItems" style="display:none">
	@if (Model != null && Model.SmallPackingItems != null && Model.SmallPackingItems.Count > 0)
	{
		foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliveryBestItemT item in Model.SmallPackingItems)
		{
		<li>
			<a href="@item.LinkURL">
				<span class="rank">@(Model.SmallPackingItems.IndexOf(item)+1)</span>
				<div class="img_bx">
					<img src="@item.ImageURL" alt="">
				</div>
				<div class="info_bx @if (item.OriginalPrice == item.DiscountPrice){<text>no_sale</text>}">
					<strong class="tit">@item.GoodsName</strong>
					<div class="price_box">
						@if (item.OriginalPrice != item.SalePrice)
						{
							<span class="per_price"><span class="blind">정가</span>@item.OriginalPrice</span>
							<strong class="price"><span class="blind">할인가</span>@item.SalePrice</strong>						}
						else
						{
							<strong class="price"><span class="blind">정가</span>@item.OriginalPrice</strong>						}
					</div>
					@if (item.SubdivYN){<span class="opt_type">소량포장</span>}
				</div>
			</a>
		</li>
		}
	}
		</ul>
	</div>
	
	@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "SmartDelivery", ShareFcdCode = "704600015", ShortcutFcdCode = "704600016", TargetUrl = string.Empty, Title = string.Empty })

</div>
<!-- //CONTENT -->@section scriptfiles
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
}@section scripts
{<script type="text/javascript">
	$(document).ready(function () {

		if ("@ViewBag.isSmallPacking" == "Y") {
			$("#bestTab").removeClass("on");
			$("#subBestTab").addClass("on");
			$("#ulBestSmallPackItems").show();
			$("#ulBestItems").hide();
		}

		KakaoInit();
		ShareTo("kakaotalk");
	});


	$('#bestTab').bind('click', function () {
		$("#ulBestSmallPackItems").hide();
		$("#ulBestItems").show();
		$("#bestTab").addClass("on");
		$("#subBestTab").removeClass("on");
	});

	$('#subBestTab').bind('click', function () {
		$("#ulBestSmallPackItems").show();
		$("#ulBestItems").hide();
		$("#bestTab").removeClass("on");
		$("#subBestTab").addClass("on");
	})

	var ShareTo = function (type) {
		var dataName = "G마켓 스마트배송";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "스마트배송";
				break;
			default:
				break;
		}
		var data = {
			"name": dataName,
			"url": "@Urls.MobileWebUrl" + "/SmartDelivery",
			"title": ""
		};
		if (type == "kakaotalk") {
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		}
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data))
		}
	};
</script>
}
@section css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/main.css" />
}