@{
	ViewBag.Title = "Smart Delivery - Gmarket";

Random random = new Random();
int randomHotItemTabIndex = random.Next(0, 3);
if(Model == null || Model.HotItemTitle == null || Model.HotItemTitle.Count < randomHotItemTabIndex + 1){ randomHotItemTabIndex = 0;}
int randomBrandTabIndex = random.Next(0, 3);
if (Model == null || Model.BrandTitle == null || Model.BrandTitle.Count < randomBrandTabIndex + 1) { randomBrandTabIndex = 0; }
}
@model GMKT.GMobile.Web.Models.SmartDeliveryFrontModel

<!-- CONTENT -->
<div id="content" class="ctns">
	<div class="smart_wrap">
		@Html.Partial("_SmartDeliveryHeader")
	</div>
	<div class="cate_wrap">
		<ul class="main_cate">
		@if (Model != null && Model.Category != null && Model.Category.Count > 0)
		{
			foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliverCatetoryModel sdc in Model.Category)
			{
				int catefcd = 711200001 + Model.Category.IndexOf(sdc);
				int classno = 1 + Model.Category.IndexOf(sdc);
				string strClass = "m" + classno;
		<li>
			<a onclick="javascript:SnaUrlFooter('@catefcd');" class="btn_menu @strClass"><span class="img_bx"><img src="@sdc.CategoryImageUrl" alt="@sdc.CategoryNM" /></span></a>
			<div class="subtab_wrap">
				<div id="subtab_box" class="subtab_bx">
					<div class="scroll_bx">
						<ul class="sub_cate">
						@if (sdc != null && sdc.SuperDealItems != null && sdc.SuperDealItems.Count > 0)
						{
							foreach(GMKT.GMobile.Data.SmartDelivery.SmartDeliveryGDLCModel gdlc in sdc.SuperDealItems)
							{
								string searchUrl = Urls.MobileWebUrl + "/SmartDelivery/List?lcId=" + gdlc.GdlcCd;
								<li><a href="@searchUrl">@gdlc.GdlcNm</a></li>
							}
						}
						</ul>
					</div>
				</div>
			</div>
		</li>
			}
		}
		</ul>
		<a href="@Urls.MobileWebUrl/SmartDelivery/SmallPackingList" onclick="javascript:SnaUrlFooter('711300001');" class="btn_more">소량포장 상품 모아보기</a>
	</div>
		
	<div class="scroll_wrap banner_box">
		<div id="bnGrp">
			<ul>
		@if (Model != null && Model.MainBanner != null && Model.MainBanner.Count > 0)
  {
	  foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliveryBannerT sdb in Model.MainBanner)
	  {
				<li><a href="@sdb.MobileDispLinkUrl" onclick="javascript:SnaUrlFooter('711300002');"><img src="@sdb.MobileBannerImg" alt="@sdb.BannerNm" /></a></li>
	  }
  }
			</ul>
		</div>
		<div id="bnTurn" class="bn_eturn">
			<button type="button" id="prev" class="prev" onclick="gallery1.prev();return false;"><span class="sp_smart">이전</span></button>
			<button type="button" id="next" class="next" onclick="gallery1.next();return false;"><span class="sp_smart">다음</span></button>
		</div>
		<div id="bnIndex2" class="bn_eindex">
			@if (Model != null && Model.MainBanner != null && Model.MainBanner.Count > 0)
   {
	   foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliveryBannerT sdb in Model.MainBanner)
	   {
			<p class="sp_smart @if(0 == Model.MainBanner.IndexOf(sdb))
					  {<text>selected</text>}"></p>
	   }
   }
		</div>
	</div>
	<script type="text/javascript">
		/* 이미지 높이값 고정 */
		$(window).on("resize", function () {
			setImgHeight();
		});
		function setImgHeight() {
			var $bnr_img = $('#bnGrp a img');
		}
		setImgHeight();
		/* //이미지 높이값 고정 */

		var gallery1,
			el,
			i,
			page,
			dots1 = document.querySelectorAll('#bnTurn button');
		dots2 = document.querySelectorAll('#bnIndex2 p');
		/* HTML 파싱 */
		var bnGrpList1 = $("#bnGrp li");

		if (1 < bnGrpList1.length) {

			var bnGrpListAtag1 = [];

			for (var j = 0; j < bnGrpList1.length; j++) {
				bnGrpListAtag1[j] = bnGrpList1[j].innerHTML;
			}
			var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");

			/* //HTML 파싱 */

			gallery1 = new SwipeView('#bnGrp', {
				numberOfPages: bnGrpListAtag1.length,
				hastyPageFlip: true,
				flickTime: 1000
			});

			// Load initial data
			for (i = 0; i < 3; i++) {

				if (1 == bnGrpListAtag1.length) {
					page = i == 0 || 2 ? bnGrpListAtag1.length - 1 : i - 1;
				}
				else {
					page = i == 0 ? bnGrpListAtag1.length - 1 : i - 1;
				}
				el = document.createElement('span');
				el.innerHTML = bnGrpListAtag1[page];
				gallery1.masterPages[i].appendChild(el)

				el.width = bnGrpListAtag1[page].width;
				el.height = bnGrpListAtag1[page].height;
				el.onload = function () { this.className = ''; }
			}

			gallery1.onFlip(function () {
				var el,
					upcoming,
					i;

				for (i = 0; i < 3; i++) {
					upcoming = gallery1.masterPages[i].dataset.upcomingPageIndex;

					if (upcoming != gallery1.masterPages[i].dataset.pageIndex) {
						el = gallery1.masterPages[i].querySelector('span');
						el.innerHTML = bnGrpListAtag1[upcoming];
					}
				}
				document.querySelector('#bnIndex2 .selected').className = 'sp_smart';
				dots2[gallery1.pageIndex].className = 'sp_smart selected';

				setImgHeight();
			});

			flicking("bnGrp", "prev", "next");

		} else if (1 == bnGrpList1.length) {

			var bnGrpListAtag1 = [];

			for (var j = 0; j < bnGrpList1.length; j++) {
				bnGrpListAtag1[j] = bnGrpList1[j].innerHTML;
			}
			var globalBnGrpListAtag1 = bnGrpListAtag1.join(",");
			var elSpan = document.createElement('span');
			elSpan.innerHTML = globalBnGrpListAtag1;
			document.querySelector('#bnGrp').appendChild(elSpan);

			flicking("bnGrp", "prev", "next");
		} 
	</script>
			
	<div class="smart_cnt">
		<!--[D] 긴급공지 어드민 등록 영역 -->
		@if (Model != null && Model.DeliveryNoticeBanner != null)
  {			<div class="urgent_tit"><img src="@Model.DeliveryNoticeBanner.MobileBannerImg" alt="@Model.DeliveryNoticeBanner.BannerNm" /></div>
  }		
		<div class="art_box">
				
			<h3 class="art_tit best"><a href="@Urls.MobileWebUrl/SmartDelivery/Best50">베스트 상품</a></h3>
			<div class="prod_box">
				<ul class="prod_lst bxslider">
				@if (Model != null && Model.BestDisplay != null && Model.BestDisplay.Count > 0)
	{
		int bestrank = 0;
		foreach (GMKT.GMobile.Data.SearchItemModel item in Model.BestDisplay)
		{
			bestrank++;
				<li> 
					<a href="@GlobalFunction.GetSnaUrl(true, "711300003", item.LinkURL)" class="prod_cnt">
						<span class="sp_smart ico_rank">@bestrank</span>
						<div class="img_box">
							<img src="@item.ImageUrl" alt="" />
						</div>
						<div class="info_box">
							<p class="tit">@item.GoodsName</p>
							<strong class="price">@item.DispPrice.ToString("#,##0")</strong>
						</div>
					</a>
				</li>
		}
	}
				</ul>
			</div>
		</div>
		<div class="art_box">
			<h3 class="art_tit">금주의 추천상품</h3>
			<ul class="prod_lst">
			@if (Model != null && Model.RecommDisplay != null && Model.RecommDisplay.Count > 0)
   {
	   foreach (GMKT.GMobile.Data.SearchItemModel item in Model.RecommDisplay)
	   {
			<li> 
				<a href="@GlobalFunction.GetSnaUrl(true, "711300004", item.LinkURL)" class="prod_cnt">
					<div class="img_box">
						<img src="@item.ImageUrl" alt="" />
					</div>
					<div class="info_box">
						<p class="tit">@item.GoodsName</p>
						<strong class="price">@item.DispPrice.ToString("#,##0")</strong>
					</div>
				</a>
			</li>
	   }
   }
			</ul>
		</div>
		<div class="art_box">
			<ul class="art_tab">
			@if (Model != null && Model.HotItemTitle != null && Model.HotItemTitle.Count > 0)
   {
	   for (int i = 0; i < Model.HotItemTitle.Count; i++)
	   {
		   string strHotItemTabId = "find_tab" + i;
		   string strHotItemTabClass = (i == randomHotItemTabIndex) ? "on" : "off"; 
				<li><a href="" id="@strHotItemTabId" class="@strHotItemTabClass" onclick="tabView6(3,'find_tab',@i,'find_cnt');return false;">@Model.HotItemTitle[i]</a></li>
	   }
   }
			</ul>
				
			<div class="tab_cntwrap">
		@if (Model != null && Model.HotItemDisplay != null && Model.HotItemDisplay.Count > 0)
  {
	  foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliveryDisplayModel sdm in Model.HotItemDisplay)
	  {
		  string strHotItemDisplayId = "find_cnt" + Model.HotItemDisplay.IndexOf(sdm);
				<div id="@strHotItemDisplayId" class="prod_box" @if (Model.HotItemDisplay.IndexOf(sdm) != randomHotItemTabIndex)
													{<text>style="visibility:hidden"</text>}>
				@if (sdm.GoodsList != null && sdm.GoodsList.Count > 0)
	{
					<ul class="prod_lst bxslider">
					@foreach (GMKT.GMobile.Data.SearchItemModel item in sdm.GoodsList)
	 {
					<li>
						<a href="@GlobalFunction.GetSnaUrl(true, "711300005", item.LinkURL)" class="prod_cnt">
							<div class="img_box">
								<img src="@item.ImageUrl" alt="" />
							</div>
							<div class="info_box">
								<p class="tit">@item.GoodsName</p>
								<strong class="price">@item.DispPrice.ToString("#,##0")</strong>
							</div>
						</a>
					</li>	
	 }
					</ul>
	}
				</div>
	  }
  }
			</div>
		</div>
			
		<div class="art_box">
			<ul class="art_tab">
		@if (Model != null && Model.BrandTitle != null && Model.BrandTitle.Count > 0)
  {
	  for (int i = 0; i < Model.BrandTitle.Count; i++)
	  {
		  string strBrandTabId = "find_tabmenu" + i;
		  string strBrandTabClass = (i == randomBrandTabIndex) ? "on" : "off"; 
				<li><a href="" id="@strBrandTabId" class="@strBrandTabClass" onclick="tabView6(3,'find_tabmenu',@i,'find_tabcnt');return false;">@Model.BrandTitle[i]</a></li>
	  }
  }
			</ul>
				
			<div class="tab_cntwrap">
		@if (Model != null && Model.BrandDisplay != null && Model.BrandDisplay.Count > 0)
  {
	  foreach (GMKT.GMobile.Data.SmartDelivery.SmartDeliveryDisplayModel sdm in Model.BrandDisplay)
	  {
		  string strBrandDisplayId = "find_tabcnt" + Model.BrandDisplay.IndexOf(sdm);
				<div id="@strBrandDisplayId" class="prod_box" @if (Model.BrandDisplay.IndexOf(sdm) != randomBrandTabIndex)
												  {<text>style="visibility:hidden"</text>}>
				@if (sdm.GoodsList != null && sdm.GoodsList.Count > 0)
	{
					<ul class="prod_lst bxslider">
					@foreach (GMKT.GMobile.Data.SearchItemModel item in sdm.GoodsList)
	 {
					<li>
						<a href="@GlobalFunction.GetSnaUrl(true, "711300006", item.LinkURL)" class="prod_cnt">
							<div class="img_box">
								<img src="@item.ImageUrl" alt="" />
							</div>
							<div class="info_box">
								<p class="tit">@item.GoodsName</p>
								<strong class="price">@item.DispPrice.ToString("#,##0")</strong>
							</div>
						</a>
					</li>	
	 }
					</ul>
	}
				</div>
	  }
  }
			</div>
				
		</div>
		<ul class="banner_lst">
		<li><a href="@Urls.MWebUrl/Event/m_eventview/index.asp?msid=1172" onclick="javascript:SnaUrlFooter('711300007');" class="banner"><img src="@Urls.MobileImagePics/mobile/smart/banner_358x174.jpg" alt="대체텍스트" /></a></li>
		<li><a href="@Urls.MWebUrl/Event/m_eventview/index.asp?msid=1173" onclick="javascript:SnaUrlFooter('711300008');" class="banner"><img src="@Urls.MobileImagePics/mobile/smart/banner_358x174_2.jpg" alt="대체텍스트" /></a></li>
		</ul>
			
		<div class="art_box faq">
			@if (Model != null && Model.QnABanner != null)
   {
			<h3 class="art_tit"><a href="@Model.QnABanner.MobileDispLinkUrl" onclick="javascript:SnaUrlFooter('711300009');">스마트배송관 Q&amp;A</a></h3>
			<ul class="faq_lst">
				@if (@Model.QnABanner.BannerNm != "" && @Model.QnABanner.BannerNm != null)
	{
				<li><a href="@Model.QnABanner.MobileImagePath" onclick="javascript:SnaUrlFooter('711300009');">@Model.QnABanner.BannerNm</a></li>}
				@if (@Model.QnABanner.BannerNm1 != "" && @Model.QnABanner.BannerNm1 != null)
	{
				<li><a href="@Model.QnABanner.MobileImagePath1" onclick="javascript:SnaUrlFooter('711300009');">@Model.QnABanner.BannerNm1</a></li>}
				@if (@Model.QnABanner.BannerNm2 != "" && @Model.QnABanner.BannerNm2 != null)
	{
				<li><a href="@Model.QnABanner.MobileImagePath2" onclick="javascript:SnaUrlFooter('711300009');">@Model.QnABanner.BannerNm2</a></li>}
			</ul>
   }
		</div>
	</div>

	@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "smartdelivery", ShareFcdCode = "704600015", ShortcutFcdCode = "704600016", TargetUrl = string.Empty, Title = string.Empty })
</div>
<!-- //CONTENT -->@section scriptfiles
{
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/jquery.bxslider.js"></script>}@section scripts
{<script type="text/javascript">
	$(document).ready(function () {
		$('.bxslider').bxSlider({
			minSlides: 2,
			maxSlides: 2,
			slideWidth: 1000,
			oneToOneTouch : false
		});

		KakaoInit();
		ShareTo("kakaotalk");
	});

	var ShareTo = function (type) {
		var dataName = "G마켓 스마트배송";
		switch (type) {
			case MobileSnsUtil.snsType().KAKAOTALK:
				dataName = "스마트배송";
				break;
			default:
				break;
		}
		var data = {
			"name": dataName,
			"url": "@Urls.MobileWebUrl" + "/SmartDelivery",
			"title": ""
		};
		if (type == "kakaotalk") {
			KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
		}
		else {
			var sender = MobileSnsUtil.sns(type).sender;
			sender.send(type, new SnsParam(type, data))
		}
	};

	function loaded() {
		var myScroll = new Array();
		$('.main_cate > li').each(function () {
			var parIndex = $(this).index();
			if ($(this).find('.sub_cate li').size() == 0) return;
			$(this).find('.subtab_bx').attr('id', 'subtab_box' + parIndex);
			id = $(this).find('.subtab_bx').attr('id');
			myScroll.push(new iScroll(id, { hScrollbar: false, vScrollbar: true, checkDOMChanges: true,
				onBeforeScrollStart: function (e) {
					var target = e.target;
					while (target.nodeType != 1) target = target.parentNode;

					if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA')
						e.preventDefault();
				} 
			}));

		});
	}

	document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
</script>}@section css
{
	<link rel="stylesheet" type="text/css" href="@Urls.StyleUrlV2/main.css" />
}