@{
	Layout = "_HomePlusLayout.cshtml";
}
@if(ViewBag.MenuName == "lp")
{
<div class="wrap_xscroll cate_m1 type_move">
	<div class="xscroller_wrap" id='divCategory'>
		<ul class="cate1">
		@for(int i = 0; i < ViewBag.categoryList.Count; i++)
		{
			<li id="li_@ViewBag.categoryList[i].ShopCategoryCd">
				<a href="@(String.IsNullOrEmpty(ViewBag.categoryList[i].MobileURL) ? Url.Action("List", "HomePlus", new { shopCategory = ViewBag.categoryList[i].ShopCategoryCd }) : ViewBag.categoryList[i].MobileURL)">
					<span class="item_img cate@(ViewBag.categoryList[i].DisplayAreaTypeValue)"></span>
					<span class="name">@ViewBag.categoryList[i].ImageTitle</span>
				</a>
			</li>
		}
		</ul>
	</div>
</div>
<div class="wrap_xscroll cate_m2">
	<div class="xscroller_wrap" id="divSubCategory">
	</div>
</div>
}
else
{
<div class="result_bx" id="divSearchResultKeyword" style="display:none;">
	<strong>
	</strong>
	<span>검색결과 (<em></em>개)</span>
</div>
}

<div class="week_bx">
	<ul class="item_bx">
	</ul>
	<div class="see_more" style="display:none;"><a id="moreItemButton" href="#" onclick="moreItem(); return false;">상품 더 보기</a></div>	
</div>

<div class="bx_nodata" id="divNoSearchResult" style="display:none;">
	<h3 class="tit"><span></span>검색결과가 없습니다.</h3>
</div>


<script id="sub-category-template" type="text/x-handlebars-template">

<ul class="cate_info">
	<li id="li_SubAll"><a href="javascript:displaySearchAll();">전체</a></li>
	{{#each ShopCategory}}
	<li id="sub_li_{{CategoryId}}"><a id="subShopCategory_{{CategoryId}}" href="#{{CategoryId}}" onclick="Router.navigate('{{CategoryId}}'); displaySearchResultWithCode('{{CategoryId}}');">{{CategoryNm}}</a></li>
	{{/each}}
</ul>
</script>

<script id="item-template" type="text/x-handlebars-template">
{{#each Item}}
	<li class="item">
		<a href="{{LinkURL}}">
			<span class="thumb">
				<img src="{{ImageURL}}" alt="상품이미지 ">
			</span>
			<span class="item_tit">{{GoodsName}}</span> 
			<span class="price">{{SalePrice}}</span>
			{{#if Branch.Prmt1CdImageUrl}}
			<span class="tag"><img src="{{Branch.Prmt1CdImageUrl}}" alt="" /></span>
			{{/if}}
		</a>
		{{#ifOptSellDetailNonusePoint OptSellDetailNonusePoint}}
		<a href="#" onclick="setCartLayer('{{GoodsName}}','{{SalePrice}}', '{{GoodsCode}}'); return false;" class="btn_cart">바로담기</a>
		{{/ifOptSellDetailNonusePoint}}
	</li>
{{/each}}
</script>

<script type="text/javascript">
    var element1, element2;
	stuff.setIsLogin(@(PageAttr.IsLogin == false ? Html.Raw("false") : Html.Raw("true")));
	stuff.setMenuName('@ViewBag.MenuName');
	stuff.setHasBranchCode(@(ViewBag.hasBranchCode == false ? Html.Raw("false") : Html.Raw("true")));
	moreParameters.setPageSize('@ViewBag.PageSize');

	Router.add(/([^\/]+)\/?([^\/]*)\/?([^\/]*)/, function () {
        if (searchParameters.getRequestShopCategory().length >= 0)
        {
            element1 = arguments[0];
            element2 = arguments[1];
        }
        /*
        $(document).ready(function () {
            if (isBtnClick == false)
            {
                if (loadData == null)
                {
		            if (element1) {
			            if (element1.length > 5)
			            {
                            searchParameters.setRequestShopCategory(element1);
				            //$('#subShopCategory_' + element1).click();   
			            }
		            }
        
		            if (element2)
		            {
                        searchParameters.setRequestPageNo(element2);
		            }

                    if (element2)
                    {
                        displaySearchResult(true);
                    }
                    else if (element1 && element2)
                    {
                        moreItemWithCodeForHistoryBack();
                    }
                    else
                    {
                        alert("33");
                        displaySearchResult(true);
                    }
                }
            }
        });
        */
	}).check().listen();
</script>


