@using GMKT.GMobile.Data
@model TourMain

<!-- CONTENT -->
<div id="content" class="travel">
	<h3 class="hp">
		<a href="#" class="tit">여행</a>
	</h3>
	<!-- 메뉴 -->
	<div class="cate_area_new">
		<ul class="trav_menu" id="tourMenu">
@for(int i = 0; i < Model.GroupList.Count; i++)
{
			TourMGroup mGroup = Model.GroupList[i];
			string fcdCode = string.Concat("71400000", i+1);
	if(i == 0)
	{
			<li data-groupno="@mGroup.MiddleGroupNo" class="on">
				<a href="#" onclick="SnaUrlFooter('@fcdCode')">
					<span class="tour_on_img"><img src="@mGroup.OnImageUrl" alt="@mGroup.MiddleGroupName"></span>
					<span class="tour_off_img" style="display:none"><img src="@mGroup.OffImageUrl" alt="@mGroup.MiddleGroupName"></span>
					<em>@mGroup.MiddleGroupName</em>
				</a>
			</li>
	}
	else
	{
			<li data-groupno="@mGroup.MiddleGroupNo">
				<a href="#@mGroup.MiddleGroupNo" onclick="SnaUrlFooter('@fcdCode')">
					<span class="tour_on_img" style="display:none"><img src="@mGroup.OnImageUrl" alt="@mGroup.MiddleGroupName"></span>
					<span class="tour_off_img"><img src="@mGroup.OffImageUrl" alt="@mGroup.MiddleGroupName"></span>
					<em>@mGroup.MiddleGroupName</em>
				</a>
			</li>
	}
}
		</ul>
	</div>
	<!--//메뉴 -->  
	
	<!-- 메인 상품리스트 -->
	<ul class="lst_trav_prd" id="tourMainContWrap"></ul>
	<!-- //메인 상품리스트-->

	<!--서브 배너 영역 -->
	<div class="trav_banner" id="tourSubBannerWrap" style="display:none;"></div>

	<!-- 서브 선택 영역 -->
	<div class="select_area" id="tourSubSelectWrap" style="display:none;"></div>
	<!-- //서브 선택 영역 -->

	<!-- 서브 상품리스트 -->
	<div class="trav_pro_lst" id="tourSubItemWrap" style="display:none;"></div>
	<!-- //서브 상품리스트 -->
	
	@Html.Partial("_ShareAndShortcutLayer", new GMKT.GMobile.Web.Models.ShareAndShortcutModel { SchemeName = "tour", ShareFcdCode = "714400001", ShortcutFcdCode = "714400002", TargetUrl = string.Empty, Title = string.Empty })
	<a href="#" class="btn_top_main">Top으로 이동</a>
	<div id="rviLayer" style="display:none;" class="recent_wrap"></div>
</div>

@section scripts
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/RecentItemsLayer.js?v=20160728"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/grapnel.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	KakaoInit();
	ShareTo("kakaotalk");
});

var ShareTo = function (type) {
	var dataName = "G마켓 여행";
	switch (type) {
		case MobileSnsUtil.snsType().KAKAOTALK:
			dataName = "여행";
			break;
		default:
			break;
	}
	var data = {
		"name": dataName,
		"url": "@Urls.MobileWebUrl" + "/Tour",
		"title": ""
	};

	if (type == "kakaotalk") {
		KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
	} else {
		var sender = MobileSnsUtil.sns(type).sender;
		sender.send(type, new SnsParam(type, data));
	}
};

(function (GMobile, undefined) {	
	GMobile.TourModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));	
})(window.GMobile = window.GMobile || {});
</script>

<script id="tour_main_contents_template" type="text/x-handlebars-template">
{{> PartialMainItem TopItemList}}
{{> PartialMainBanner}}
{{> PartialMainItem ItemList}}
</script>
<script id="partial_main_item_template" type="text/x-handlebars-template">
{{#each this}}
<li>
	<div class="bx_prd">
		<a href="{{LinkUrl}}" onclick="SnaUrlFooter('{{../FcdCode}}')">
			<div class="pimg"><img src="{{ImageUrl}}"></div>
			<div class="txt_box">
				<p class="country">{{Title}}</p><strong class="tit">{{GoodsName}}</strong><strong class="price">{{Price}}</strong>
			</div>
		</a>
	</div>
</li>
{{/each}}
</script>
<script id="partial_main_banner_template" type="text/x-handlebars-template">
{{#ifExist BannerList}}
<li class="bx_flick">
	<div class="banner_box">
		<div id="bnGrp">
			<ul>
				{{#each BannerList}}
				<li><a href="{{LandingUrl}}" onclick="SnaUrlFooter('714100003')"><span class="img_box"><img src="{{ImageUrl}}"></span></a></li>
				{{/each}}			
			</ul>
		</div>
		<div id="bnTurn" class="bn_eturn">
			<button type="button" id="prev" class="prev"><span></span></button>
			<button type="button" id="next" class="next"><span></span></button>
		</div>
	</div>
</li>
{{/ifExist}}
</script>
<script id="tour_sub_banner_template" type="text/x-handlebars-template">
{{#SelectedMGroupBanner}}
	<a href="{{LandingUrl}}" onclick="SnaUrlFooter('{{GetBannerFcd}}')')"><img src="{{ImageUrl}}" alt=""/></a> 
{{/SelectedMGroupBanner}}
</script>
<script id="tour_sub_select_template" type="text/x-handlebars-template">
<h4>{{SelectedMGroupName}}</h4>
<a href="javascript:;" onclick="SnaUrlFooter('714200001')" class="country_select">{{SelectedSGroupName}}</a>
<div class="select_lst">
	<ul id="tourSmallGroupList">
		{{#each SGroupList}}
			{{#ifEquals ../SelectedSGroupNo SmallGroupNo}}
			<li class="on"><a href="javascript:;" onclick="SnaUrlFooter('714200002')" data-groupno="{{SmallGroupNo}}">{{SmallGroupName}}</a></li>
			{{else}}
			<li><a href="javascript:;" data-groupno="{{SmallGroupNo}}">{{SmallGroupName}}</a></li>
			{{/ifEquals}}
		{{/each}}
	</ul>
</div>
<a href="javascript:;" class="btn_align">정렬</a>
<div class="align_lst">
	<ul id="tourSortOrderList">
		{{#each SortOrderList}}
			{{#ifEquals ../SelectedSortOrderType SortOrderType}}
			<li class="on"><a href="javascript:;" onclick="SnaUrlFooter('714200003')" data-sort="{{SortOrderType}}">{{SortOrderName}}</a></li>
			{{else}}
			<li><a href="javascript:;" data-sort="{{SortOrderType}}">{{SortOrderName}}</a></li>
			{{/ifEquals}}
		{{/each}}		
	</ul>
	<div class="info_guide">
		<span class="info"><a href="javascript:;">안내</a></span>
		<div class="info_box">
			<p class="tit">G마켓랭크순 안내</p>
			<p class="txt">상품이 판매실적을<br>기반으로 하여, 서비스점수,<br>프로모션 활동 등을 산정한<br>점수의 합산으로 정렬됩니다.</p>
		</div>
	</div>
</div>
</script>
<script id="tour_sub_item_template" type="text/x-handlebars-template">
<ul>
	{{#each ItemList}}
	<li>
		<a href="{{LinkUrl}}" onclick="SnaUrlFooter('{{GetTourSubItemFcd TopExposeYN}}')">
			<span class="img_box"><img src="{{ImageUrl}}" alt="{{GoodsName}}"></span>
			<span class="txt_box">
				<strong class="tit">{{GoodsName}}</strong>
				<span class="price_area">
					{{#ifOver 0 DiscountRate}}				
					<span class="per">{{DiscountRate}}<span>%</span><span class="blind">할인</span></span>
					<span class="price_dsc">
						<span class="per_price"><span class="blind">판매가</span>{{OriginalPrice}}</span>
						<strong class="price"><span class="blind">할인가</span>{{Price}}</strong>
					</span>
					{{else}}
					<span class="price_dsc">
						<strong class="price"><span class="blind">할인가</span>{{Price}}</strong>
					</span>
					{{/ifOver}}
				</span>
			</span>
		</a>
	</li>
	{{/each}}
</ul>
</script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/page/TourController.js"></script>
}