@using GMKT.GMobile.Data.Search;

@*@model CPPCategoryBest100Model*@
@model GMKT.GMobile.Web.Controllers.CategoryController.CPPCategoryBest100ModelEx
@{
    ViewBag.Title = "Category_new";
}

@section scripts
{
<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/cpplpsrp.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/ebayModule/ebayModule-v0.0.5.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
	    /* landing Banner */
        
	    var em = eModule
            , apps = em.apps
            , landing = apps.landing;

	    landing.init({
	        pageName: 'LP',
	        landingType: '@Model.LandingBanner.Type',
	        imageUrl: '@Model.LandingBanner.ImageUrl',
	        description: '@Model.LandingBanner.Description',
	        campaign: '@Model.Campaign.Name',
	        medium: '@Model.Campaign.Medium',
	        mediumSource: '@Model.Campaign.MediumSource',
	        mediumContent: '@Model.Campaign.MediumContent',
	        term: '@Model.Campaign.Keyword'
	    });

	    $("#lay_notice").on('click', '#goToApp', function (e) {
	        e.preventDefault();
	        landing.installApp();
	    }).on('click', '#landingClose', function (e) {
	        e.preventDefault();
	        landing.close();
	    });
	    /* landing Banner */
	});
</script>
}


	<div id="content" class="ctns">
		<div class="mw_wrap">
			<ul class="mw_tab">
			<li class="selected">
				<a href="@(Urls.MobileWebUrl + "/Category/Category?lcId=" + Model.lcId)" class="in_tab">카테고리</a>
			</li>
			<li><a href="@(Urls.MobileWebUrl + "/Category/GmarketBest?lcid=" + Model.lcId)" class="in_tab">카테고리 베스트<span class="sp_mw btn">도움말</span></a></li>
			<li><a href="@(Urls.MobileWebUrl + "/Category/SpecialShopList?lcId=" + Model.lcId)" class="in_tab">기획전</a></li>
			</ul>
			<div class="best_info">
				<p>상품의 판매실적을 기반으로 상품가격대별 가중치를 반영하여 G마켓이 선정한 상품입니다 </p>
				<button type="button" class="btn_clse"><span class="sp_mw">닫기</span></button>
			</div>
			<!-- [D] 탭 선택 시 타이틀 변경 -->
			<h3 class="blind">카테고리</h3>
			<div class="mw_contbx">
				<div class="kind_detail">
					<dl class="slide_lst">
@foreach (var category in Model.CategoryList)
{
	if ( string.IsNullOrEmpty( category.CategoryNm ) )
	{
		continue;
	}

	if ( category.CategoryType == "Label" )
	{
						<dt>@category.CategoryNm</dt>
	}
	else
	{
						<dd>
							<a href="@(Urls.MobileWebUrl + "/Category/List?lcId=" + Model.lcId + "&mcId=" + category.CategoryId )" class="inp_box">
								<strong class="tit">@category.CategoryNm</strong>
								<span class="sp_mw arr"></span>
							</a>
						</dd>
	}
}
					</dl>
				</div>
				<div class="kind_artwrap">
					<h3 class="kind_tit"> <span class="kind_txt">@Model.CPPTitle <span>베스트</span></span></h3>
					<ul class="best_lst">
@for (var i = 0; i < Model.Best100Items.Count; i++)
{
	var item = Model.Best100Items[i];

					<li>
						<a href="@item.LinkURL">
							<span class="img_box">
								<em class="rank_num">@(i + 1)</em>
								<img src="@item.ImageUrl" alt="">
							</span>
							<span class="txt_box">
								<strong class="prd_tit">@item.GoodsName</strong>
								<span class="price_box">
									<span class="origin_price"><span class="blind">정가</span>@CurrencyUtil.ToMoney(@item.SellPrice.ToString(), true)</span>
									<strong class="sale_price"><span class="blind">할인가</span>@CurrencyUtil.ToMoney(@item.DispPrice.ToString(), true)</strong>
								</span>
								<span class="option_bx">
	@if( "BLUE".Equals(item.DeliveryType) )
	{
									<span class="opt_free">@item.DeliveryText</span>
	}
	else if( "SMART".Equals(item.DeliveryType) )
	{
									<span class="opt_smart">@item.DeliveryText</span>
	}
	else if( "MOUNT".Equals(item.DeliveryType) )
	{
									<span class="opt_tire">@item.DeliveryText</span>
	}	
	else if( "GRAY".Equals(item.DeliveryType) )
	{
									<span class="opt_delivery">@item.DeliveryText</span>
	}
								</span>
							</span>
						</a>
					</li>
}
					</ul>
				</div>
			</div>
		</div>
	</div>