@using GMKT.GMobile.Util;
@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;
@using Arche.Data.Voyager;
@using GMKT.Web.Context;
@model CategorySearchModel
@{
    //ViewData["Title"] = "Category List";
    // 성인여부 체크
    // Login 시 Adult 체크
    bool isAdult = false;
    if (PageAttr.IsLogin)
    {
        isAdult = BizUtil.IsAdultUser(GMobileWebContext.Current.UserProfile.CustNo);
    }

	string sellCustName = "";
    string SellImageUrl = "";
	string strCount = "";
	int intCount = 4;
	
	//아래 카테고리 상품 중 가격이 2원인 상품에 대해 2원 -> ‘무료’로 프론트 표기 값 변경 (이광수)
	//KT신규가입 / 200000801 KT번호이동 / 200001255 KT보상기변 / 200001256 SKT신규가입 / 200000800 SKT번호이동 / 200001253 SKT보상기변 / 200001254 
	//LG U+신규가입 / 200000802 LG U+번호이동 / 200001257 LG U+보상기변 / 200001258 인터넷/결합상품 / 200001152 MVNO/선불폰 / 200002090
	//string[] chkMCodeforfree = { "200000801", "200001255", "200001256","200000800", "200001253", "200001254", "200000802", "200001257", "200001258", "200001152", "200002090"};
	bool isMCodeForFree = true;

	/*
	 * 10 원 이하 모두 무료처리
	foreach(var mcode in chkMCodeforfree){
		if (Model.MCode == mcode){ 
			isMCodeForFree = true;
			break;
		}
	}
	*/
}

<script type="text/javascript" src="@Urls.MobileWebUrl/js/common/front.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>

<script type="text/x-jscript-tmpl" id="smt_click_template">
    <li>
        <a class="anchor" href="{{ClickURL}}">
			<span class="thumbnail_wrap">
				<img class="thumbnail" src="{{ImageURL}}" width="118" height="118" alt="" />
			</span>
			<span class="goods_name">{{Name}}</span>
			<span class="goods_info">
				<span class="price">{{OriginalPrice}}</span>
				<span class="sale_price">{{Price}}</span>
				{{DeliveryInfo:showDeliveryInfo}}
			</span>
		</a>
    </li>
</script>

<script type="text/javascript">
	window.onload = function () {
		setTimeout(function () {
			displayLayer("progress_icon", "none");
		}, 100);
	}

	jQuery(document).ready(function () {
		$("img.thumbnail").lazyload();

		setTimeout(function () {
			$(window).trigger('resize');
		}, 500);

		loadSmartClickAds();
	});

	function loadSmartClickAds() {

		var form = document.categoryForm;

		var categoryCode = '';
		var categoryLevel = form.categoryLevel.value;

		if (categoryLevel == 1)
			categoryCode = form.lcId.value;
		else if (categoryLevel == 2)
			categoryCode = form.mcId.value;
		else if (categoryLevel == 3)
			categoryCode = form.scId.value;

		var userAgent = '';

		if (navigator != null && navigator.userAgent != null) {
			userAgent = encodeURIComponent(navigator.userAgent);
		}

		var ref = encodeURIComponent(document.referrer);
		if (ref == null || ref == 'undefined' || ref == '')
			ref = encodeURIComponent('@Urls.MobileWebUrl');

		var serverURL = encodeURIComponent(document.URL);
		if (serverURL == null || serverURL == 'undefined' || serverURL == '')
			serverURL = '@Urls.MobileWebUrl';

		var params = { channelID: "D002012001", adType: "category", serverURL: serverURL, 
			category: categoryCode, UA: userAgent, Ref: ref };

		jQuery.ajax({
			type: "POST",
			url: "@Urls.MobileWebUrl/Category/LPSRPSmartClickAds",
			dataType: "json",
			data: params,
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			success: function (data) {

				if (data == null || data == 'undefined') return;
				if (data.length == null || data.length == 'undefined') return;

				if (data.length > 0) {
					$('.smt_click').show();
				}
				else {
					return;
				}

				$('#smt_click_items').render({
					template: 'smt_click_template',
					model: data
				});
			},
			error: function (jqXHR, textStatus, errorThrown) {

			}
		});
	}

	function showDeliveryInfo(deliveryInfo) {
		if (deliveryInfo == '무료')
			return '<span class="free">무료배송</span>';
		else
			return '';
	}

</script>
<script type="text/javascript">
	function actionInitDetail() {
		var objBtn = null;
		var btnId = null;
		var form = document.sCategoryFrm;

		form.scKeyword.value = '';
		form.minPrice.value = '';
		form.maxPrice.value = '';

		for (var i = 1; i < 5; i++) {
			btnId = 'tBtn1_con' + i;
			objBtn = document.getElementById(btnId);
			objBtn.className = objBtn.className.replace('on', 'off');
			setValueByElementId(btnId + '_val', 'N');
		}
	}
	function initCategoryData(form) {
		//이전 화면 이동 시, 하위 카테고리 아이디 초기화
		var cLevel = @Model.CategoryLevel;
		if (cLevel == 0) {
			form.lcId.value = '';
			form.mcId.value = '';
			form.scId.value = '';
		}
		else if (cLevel == 1) {
			form.mcId.value = '';
			form.scId.value = '';
		}
		else if (cLevel == 2) {
			form.scId.value = '';
		}
	}
	function initDetailSearchData(form) {
		form.scKeyword.value = '';
		form.minPrice.value = '';
		form.maxPrice.value = '';
		form.isFeeFree.value = '';
		form.isMileage.value = '';
		form.isDiscount.value = '';
		form.isStamp.value = '';
	}
	function goCategory(lc, mc, sc) {
		var form = document.categoryForm;
		form.lcId.value = lc;
		form.mcId.value = mc;
		form.scId.value = sc;
		form.pageNo.value = 1;
		form.sellCustNo.value = "";
		form.sortType.value = "";

		var timestamp = new Date().getTime();
		form.action = "/Category/List?tValue=" + timestamp;

		form.submit();
	}
	function changeViewType(mode) {
		var form = document.categoryForm;

		//Refresh Ver.
		{
			initCategoryData(form);
			form.listType.value = mode;

			var timestamp = new Date().getTime();
			form.action = "/Category/List?tValue=" + timestamp;

			form.submit();
		}
	}
	function changeSortType(el) {
		var form = document.categoryForm;
		initCategoryData(form);
		form.sortType.value = el.value;

		var timestamp = new Date().getTime();
		form.action = "/Category/List?tValue=" + timestamp;

		form.submit();
	}

	function cateogrySearch() {
		var form = document.categoryForm;
		var sform = document.sCategoryFrm;

		if (sform.scKeyword.value.replace(/(^\s*)|(\s*$)/gi, "") == "") {
				alert('검색어를 입력해주세요.');
				sform.scKeyword.focus();
				return false;
		}

		if (!checkNumberForInputObject(form.minPrice)) {
			return false;
		}

		if (!checkNumberForInputObject(form.maxPrice)) {
			return false;
		}

    form.keyword.value = sform.scKeyword.value;
    form.minPrice.value = sform.minPrice.value;
    form.maxPrice.value = sform.maxPrice.value;
    form.isFeeFree.value = sform.isFeeFree.value;
    form.isMileage.value = sform.isMileage.value;
    form.isDiscount.value = sform.isDiscount.value;
    form.isStamp.value = sform.isStamp.value;

		var timestamp = new Date().getTime();
		form.action = "/Category/List?tValue=" + timestamp;

		form.submit();
	}

	function checkNumberForInputObject(objName) {
		var obj = eval(objName);
		if (isNaN(obj.value.replace(',', ''))) {
			alert('숫자만 입력 하실 수 있습니다.');
			obj.focus();
			return false;
		}
		return true;
	}

	function goPartnerTab( sellCustNo, fcd )
	{
		
		if (fcd != "") {
			SnaPartnerUrl(fcd);
		}		

		var form = document.categoryForm;
		form.sellCustNo.value = sellCustNo;
		form.pageNo.value = 1;
		form.scId.value = getParameterByName('scId');
		form.sortType.value = getParameterByName('sortType');

		var timestamp = new Date().getTime();
		form.action = "/Category/List?tValue=" + timestamp;

		form.submit();
	}

	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
							results = regex.exec(location.search);
		return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}


	function SnaPartnerUrl(fcd){ 
	   $.ajax({
			type: 'GET',
			dataType: 'json',
			url: "http://sna.gmarket.co.kr",
			data: {
				"fcd": fcd
			},
			async: false
		});
	}
</script>

<form id="categoryList" name="categoryForm" action="/Category/List" method="get">
    <input type="hidden" name="lcId" value="@Model.LCode" />
    <input type="hidden" name="mcId" value="@Model.MCode" />
    <input type="hidden" name="scId" value="@Model.SCode" />
    <input type="hidden" name="pageNo" value="@Model.PageNo" />
    <input type="hidden" name="pageSize" value="@Model.PageSize" />
    <input type="hidden" name="sortType" value="@Model.SortType" />
    <input type="hidden" name="listType" value="@Model.ListType" />
    <input type="hidden" name="keyword" value="@Model.Keyword" />
    <input type="hidden" name="minPrice" value="@Model.StartPrice" />
    <input type="hidden" name="maxPrice" value="@Model.EndPrice" />
    <input type="hidden" name="isFeeFree" value="@Model.IsFeeFreeYN" />
    <input type="hidden" name="isMileage" value="@Model.IsMileageYN" />
    <input type="hidden" name="isDiscount" value="@Model.IsDiscountYN" />
    <input type="hidden" name="isStamp" value="@Model.IsStampYN" />
	<input type="hidden" name="sellCustNo" value="@EncodeUtil.custNoEncode(Model.SellCustNo)" />
	<input type="hidden" name="categoryLevel" value="@Model.CategoryLevel" />
</form>

@*FCD 집계에서 사용됨...SnaPartnerUrl*@
<div id="div1" style="display:none;"></div>
	
	<!-- CONTENTS -->
    <div id="contents" class="cts">

        <!-- CATEGORY -->
        <div class="category">

        <!--131029-->
			<div class="cg_mtt2">
				<div class="cg_mtt2_2">
					<h3 class="left1right2">
@if (Model.CategoryLevel == 1)
{
						<span class="tit">@CategoryUtil.GetCategoryName(Model.LCode.ToString())</span>
}
else if (Model.CategoryLevel == 2)
{
						<span class="tit">@CategoryUtil.GetCategoryName(Model.MCode.ToString())</span>
}
else if (Model.CategoryLevel == 3)
{
						<span class="tit">@CategoryUtil.GetCategoryName(Model.SCode.ToString())</span>
}
						<span class="count">(@CurrencyUtil.FormatCurrency(Model.TotalCount.ToString()) 개의 상품)</span>
					</h3>
					<p><a href="javascript:history.back();" class="btn_cg1">이전</a></p>
                 @if (Model.CategoryGroups.Count > 2)
                 {
					<a href="#" class="view_more"><span>더보기</span></a>
                 }
                    <script type="text/javascript">
                        $(".cg_mtt2").layerSlideToggle2(); //20120823
					</script>
				</div>
			</div>
            
				
			<!-- CATE_LIST -->
			<div class="cate_listW" id="cate_listW">
@if (Model.CategoryGroups.Count > 0 && Model.CategoryLevel < 3)
{
                <ul class="cate_list">
    @{
    SortedDictionary<string, HistogramEntry>.Enumerator en = Model.sortedCategoryGroups.GetEnumerator();
    }
	
    @while (en.MoveNext())
    {
        HistogramEntry entry = en.Current.Value;

        if (Model.CategoryLevel == 0)
        {
			<li><a href="javascript:goCategory('@entry.Value','','');">@CategoryUtil.GetCategoryName(entry.Value.ToString()) (<strong class="point">@CurrencyUtil.ToMoney(@entry.Count, false)</strong>개)</a></li>
		}
		else if (Model.CategoryLevel == 1)
		{
			<li><a href="javascript:goCategory('@Model.LCode','@entry.Value','');">@CategoryUtil.GetCategoryName(entry.Value.ToString()) (<strong class="point">@CurrencyUtil.ToMoney(@entry.Count, false)</strong>개)</a></li>	
		}
        else
        {
            if (BizUtil.isAdultCategory(entry.Value.ToString()) && !PageAttr.IsLogin)
            {
				<li><a href="@Urls.LoginUrl">@CategoryUtil.GetCategoryName(entry.Value.ToString()) (<strong class="point">@entry.Count</strong>개)</a></li>	
            }
            else
            {
				<li><a href="javascript:goCategory('@Model.LCode','@Model.MCode', '@entry.Value');">@CategoryUtil.GetCategoryName(entry.Value.ToString()) (<strong class="point">@CurrencyUtil.ToMoney(@entry.Count, false)</strong>개)</a></li>	
			}
        }
    }
			    </ul>
}
			</div>
			<!--131029-->
            <script type="text/javascript">
                $("#cate_listW").moreCategory2(".view_more", 2);
			</script>

			@if( Model.PartnerList.Count > 0 )
			{
				if (Request["sellCustNo"] == null)
				{ 
					<script type="text/javascript">
						SnaPartnerUrl('703900001');
					</script>
				}
	   
			<div class="tab_pp">

				@if ("".Equals(Model.SellCustNo))
	{
					<a href="javascript:goPartnerTab('','703900002');" class="whole on">전체</a>
	}
	else
	{
					<a href="javascript:goPartnerTab('','703900002');" class="whole">전체</a>
	}

				<div class="tab_wp" id="ppTab">
					<div id="ppTabCnt" class="pp_cnt">
						<ul>
            @foreach (var item in Model.PartnerList)
			{
				if (intCount >= 10)   // FCD 코드 집계 추가 App 인식 오류로 인한 변수 값 지정
				{
					strCount = "7039000" + intCount;
				}
				else
				{
					strCount = "70390000" + intCount;
				}

				if (item.PpSellerNo == Model.SellCustNo)
				{
					sellCustName = item.PpNm;
					SellImageUrl = item.PpMobileImageUrl;
                    <li class="on" ><a href="javascript:goPartnerTab('@EncodeUtil.custNoEncode(item.PpSellerNo)','@strCount');">@item.PpNm</a></li>
				}
				else
				{
					<li><a href="javascript:goPartnerTab('@EncodeUtil.custNoEncode(item.PpSellerNo)','@strCount');">@item.PpNm</a></li>
				}

				intCount++;
			}
						</ul>
					</div>
					<button type="button" class="prev_p off" >왼쪽으로</button>
					<button type="button" class="next_p off" >오른쪽으로</button>
				</div>
			</div>

			}

			<script type="text/javascript">
			    var scrollTab;
			    $(window).on("load resize", function () {

			    	var numOfPartners = @Model.PartnerList.Count;

			    	if (numOfPartners > 0)
					{
						var currentX = -1;
				    	var $maxItem = $('#ppTabCnt');
				    	var $maxItemLI = $('#ppTabCnt li');
				    	var $maxItemUL = $('#ppTabCnt ul');
				    	if (scrollTab) { scrollTab.destroy() }
				    	scrollTab = null;
				    	var wrapWidth = $maxItem.width();
				    	$maxItemLI.css('width', (wrapWidth / 2) - 1 + 'px');
				    	var maxValue = ($maxItemLI.width() + 1) * $maxItemLI.length; //border 1px
				    	$maxItemUL.css('width', maxValue + 'px');
	
				    	initIscroll('ppTabCnt', maxValue);
	
				    	if (scrollTab) {
				    		if (currentX > 0) {
				    			scrollTab.currPageX = currentX;
				    			scrollTab.scrollToPage(currentX, 0, 0);
				    		}
				    		if (currentX == -1) {
				    			var ppLI = document.getElementById('ppTabCnt').querySelectorAll('li');
				    			var index;
				    			for (var i = 0; i < ppLI.length; i++) {
				    				if ($(ppLI)[i].className.indexOf('on') > -1) {
				    					index = i;
				    					break;
				    				} else {
				    					index = -1;
				    				}
				    			}
				    			scrollTab.scrollToPage(index - 1, 0, 0);
				    		}
				    	}
					}
			    });

			    function initIscroll(id, max) {
			        var targetId = id;
			        if (max > document.getElementById(targetId).offsetWidth) {
			            if (scrollTab == null) scrollTab = new iScroll(targetId, { hScrollbar: false, vScrollbar: false, useTransform: false, snap: 'li',
			                onScrollEnd: function () {
			                    var ul = document.getElementById(targetId).querySelector('ul');
			                    var sideBtns = document.getElementById('ppTab').querySelectorAll('button');
			                    var pos = parseInt(ul.style.left.replace('px', ''));
			                    if (pos < 0) {
			                        $(sideBtns[0]).removeClass('off');
			                        $(sideBtns[0]).attr('onclick', 'SnaPartnerUrl("703900003"); scrollTab.scrollToPage("prev", 0); return false;');
			                    } else {
			                        $(sideBtns[0]).addClass('off');
			                        $(sideBtns[0]).attr('onclick', '');
			                    }
			                    if (document.getElementById(targetId).offsetWidth + Math.abs(pos) < ul.offsetWidth) {
			                        $(sideBtns[1]).removeClass('off');
			                        $(sideBtns[1]).attr('onclick', 'SnaPartnerUrl("703900003"); scrollTab.scrollToPage("next", 0); return false;');
			                    } else {
			                        $(sideBtns[1]).addClass('off');
			                        $(sideBtns[1]).attr('onclick', '');
			                    }
			                }
			            });
			        } else {
			            var sideBtns = document.getElementById(targetId).querySelectorAll('button');
			            $(sideBtns[0]).addClass('off');
			            $(sideBtns[0]).attr('onclick', '');
			            $(sideBtns[1]).addClass('off');
			            $(sideBtns[1]).attr('onclick', '');
			        }
			    }
			</script>
			<!--//131029-->

			<!-- PRODUCT ALIGN -->
            <div class="view_type">
            	<div class="view_type_sub">
	                <div class="p_left">
	                    <select name="sortType" onchange="changeSortType(this);">
@{
	string[] sortNames = { "Focus랭크순", "판매인기순", "할인액높은순", "가격낮은순", "가격높은순", "상품평순", "신규상품순" };
	string[] sortValues = { "focus_rank_desc", "sell_point_desc", "disc_price_desc", "sell_price_asc", "sell_price_desc", "con_point_desc", "new" };
}

@for (int i = 0; i < sortNames.Length; i++)
{
	                        <option value="@sortValues[i]" @(sortValues[i].Equals(Model.SortType) ? "selected" : "")>@sortNames[i]</option>
}
	                    </select><a href="#" class="advice" onclick="displayLayer_posit('help_lyr',this);return false;"><span>도움말</span></a></div>
	                <div class="p_right">
	                    <div class="viewmd">
	                        <ul>
@if ("H".Equals(Model.ListType))
{
	                            <li><a href="javascript:changeViewType('H');"><img id="viewTypeH" src="@Urls.MobileImageUrlV2/480/btn_view_img_on.gif" alt="이미지리스트"/></a></li>
	                            <li><a href="javascript:changeViewType('V');"><img id="viewTypeV" src="@Urls.MobileImageUrlV2/480/btn_view_list.gif" alt="리스트"/></a></li>
}
else
{
	                            <li><a href="javascript:changeViewType('H');"><img id="viewTypeH" src="@Urls.MobileImageUrlV2/480/btn_view_img.gif" alt="이미지리스트"/></a></li>
	                            <li><a href="javascript:changeViewType('V');"><img id="viewTypeV" src="@Urls.MobileImageUrlV2/480/btn_view_list_on.gif" alt="리스트"/></a></li>
}
	                        </ul>
	                    </div>
	                </div>
					@if ("".Equals(Model.SellCustNo))
	 {
						<a href="#" class="detail slideToggleBtn" id="a_srp"><span>상세</span></a>
	 }
                </div>
            </div>
            <!-- 상세검색 LAYER 131029 소스위치 수정-->
		    <div class="cate_search slideToggleObj" style="display:none;">
		    <form id="sCategoryFrm" name="sCategoryFrm">
		        <ul>
		            <li class="row1">
		                <span class="tit">결과내 검색</span>
		                <span class="input_wrap"><input type="text" name="scKeyword" class="input100" /></span>
		            </li>
		            <li class="row2">
		                <span class="tit">가격대 검색</span>
		                <div class="input_wrap">
		                    <span class="input_align">
		                        <input type="tel" name="minPrice" class="price1" />
		                        <input type="tel" name="maxPrice" class="price2" />
		                    </span>
		                </div>
		            </li>
		            <li class="row3">
		                <span class="tit2">상세조건 검색</span>
		                <div class="input_wrap">
		                    <ul class="btn_tab_grp2">
		                        <li id="tBtn1_con1" class="off"><a href="#" onclick="toggle_button('tBtn1_con1');return false;">무료배송</a></li>
		                        <li id="tBtn1_con2" class="off"><a href="#" onclick="toggle_button('tBtn1_con2');return false;">마일리지</a></li>
		                        <li id="tBtn1_con3" class="off"><a href="#" onclick="toggle_button('tBtn1_con3');return false;">상품할인</a></li>
		                        <li id="tBtn1_con4" class="off"><a href="#" onclick="toggle_button('tBtn1_con4');return false;">스탬프</a></li>
		                    </ul>
		                    <input id="tBtn1_con1_val" type="hidden" name="isFeeFree" />
		                    <input id="tBtn1_con2_val" type="hidden" name="isMileage" />
		                    <input id="tBtn1_con3_val" type="hidden" name="isDiscount" />
		                    <input id="tBtn1_con4_val" type="hidden" name="isStamp" />
		                </div>
		            </li>
		        </ul>

				<div class="btnwrap">
					<a href="#" class="btn_dsch btn_blue" onclick="cateogrySearch();"><span><img src="@Urls.MobileImageUrlV2/480/ico_zoom2.png" alt="" />상세 검색</span></a>
					<a href="#" class="btn_init" onclick="actionInitDetail();return false;"><span><img src="@Urls.MobileImageUrlV2/480/icon_init.png" alt="" />초기화</span></a>
					<a href="#" class="btn_cls slideToggleBtn"><span><img src="@Urls.MobileImageUrlV2/480/icon_cls.png" alt="" />닫기</span></a>
				</div>

		    </form>
			</div>
			<script type="text/javascript">
			    $(".category").layerSlideToggle2();
			</script>

        @if (SellImageUrl != "")
		{
			<div class="pp_bnr">
				<span class="logo"><img src="@SellImageUrl" alt="" /></span>
				<span class="rslt">G마켓 내 <em>@sellCustName</em> 상품 검색 결과입니다.</span>
			</div>
		}
			<!--//131029-->

@if (Model.TotalCount > 0)
{
           <div id="goodsList" class="@(("H".Equals(Model.ListType)) ? "horizontal_list" : "vertical_list")">
                <ul>


@{
	int i = 0;
}
    @foreach (var item in Model.Items)
	{
		string goodsImagePath = "";
		string linkUrl = Urls.MItemWebURL + "/Item?goodscode=" + item.GdNo;
		//string linkUrl = "http://item2.gmarket.co.kr/M/Goods/Goods.aspx?goodscode=" + item.GdNo; 
		string onClickStr = "";
		if (item.AdultYN)
		{
			if (PageAttr.IsAdultUse && PageAttr.IsLogin)
			{
				goodsImagePath = BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "M3");
			}
			else if (PageAttr.IsLogin && !isAdult) // 미성년자
			{
				goodsImagePath = Model.ListType.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
				onClickStr = "alert('죄송합니다.\\n성인만 구매 가능한 상품입니다.'); return false;";
			}
			else if (PageAttr.IsLogin && !PageAttr.IsAdultUse && isAdult)  // 성인이지만 성인인증 절차 필요
			{
				goodsImagePath = Model.ListType.Equals("H") ? Urls.MobileImageUrlV2 + Const.ADULT_IMAGE_210.Replace("images/", string.Empty) : Urls.MobileImageUrlV2 + Const.ADULT_IMAGE_210.Replace("images/", string.Empty);
				//goodsImagePath = Model.ListType.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
				//linkUrl = "/Common/AdultGoodsViewAgree?goodsNo=" + @item.GdNo;
			}
			else if (!PageAttr.IsLogin) // Login 필요
			{
				goodsImagePath = Model.ListType.Equals("H") ? Urls.MobileImageUrlV2 + Const.ADULT_IMAGE_210.Replace("images/", string.Empty) : Urls.MobileImageUrlV2 + Const.ADULT_IMAGE_210.Replace("images/", string.Empty);
				//goodsImagePath = Model.ListType.Equals("H") ? Const.ADULT_IMAGE_210 : Const.ADULT_IMAGE_210;
				linkUrl = ConstDef._GMW_LOGIN_AD_URL + "?rtnurl=" + HttpUtility.UrlEncode(linkUrl) + "&adultUseLoinCheck=Y";
			}
			else
			{
				goodsImagePath = BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "M3");
			}
		}
		else
		{
			goodsImagePath = BizUtil.GetGoodsImagePath(item.GdNo.ToString(), "M3");
		}
                    <li>
                        <a class="anchor" href="@linkUrl" onclick="@onClickStr">
							<span class="thumbnail_wrap">
                                <img class="thumbnail" src="@Urls.MobileImageUrlV2/lazy_200x200.gif"
								data-original="@goodsImagePath"
								alt="제품 이미지"  onError="this.src='@Urls.MobileImageUrlV2/480/no_img_208.png';" />
                            </span>
                            <span class="goods_name">
                        
                        @if (Model.ADItmes.Contains(item.GdNo.ToString()) && i < Model.ADItmes.Length)
						{
							i++;
                            <span class="plus" onclick="displayLayer_posit('plus_lyr',this);">PLUS</span>
						}
                               
                            @item.Name</span>
                            <span class="goods_info">
        
		@if (item.Discount.DiscountPrice > 0)
		{
                            <span class="price">@CurrencyUtil.ToMoney(@item.SellPrice.ToString(), true)</span>
			if (isMCodeForFree && (@item.SellPrice - @item.Discount.DiscountPrice) < 10)
			{ 
							<span class="sale_price">무료</span>
			}
			else { 
							<span class="sale_price">@CurrencyUtil.ToMoney((@item.SellPrice - @item.Discount.DiscountPrice).ToString(), true)</span>
			}
		}
		else
		{
                            <span class="price" style="visibility:hidden">&nbsp;</span>
			if (isMCodeForFree && @item.SellPrice < 10)
			{ 
							<span class="sale_price">무료</span>
			}
			else
			{ 
							<span class="sale_price" style="margin-left:0;">@CurrencyUtil.ToMoney(@item.SellPrice.ToString(), true)</span>
			}
  }

        @if (item.Delivery.DeliveryInfo.Equals("무료"))
		{
							<span class="free">무료배송</span>
		}
		else if ("123456789".IndexOf(item.Delivery.DeliveryInfo.Substring(0, 1)) > -1)
		{
						    <span class="fee">배송비 @item.Delivery.DeliveryInfo</span>
		}
		else
		{
                            <span class="pay">@Html.Raw(@item.Delivery.DeliveryInfo.Replace("디지털쿠폰<br/>(방문사용)", "e쿠폰"))</span>
		}

                            </span>
                        </a>
                    </li>
	}
							</ul>

    @{
	string pageNaviParams = "lcId=" + Model.LCode +
													"&mcId=" + Model.MCode +
													"&scId=" + Model.SCode +
													"&listType=" + Model.ListType +
													"&sortType=" + Model.SortType +
													"&sellCustNo=" + EncodeUtil.custNoEncode(Model.SellCustNo);
    }

    @GMobileHelper.PageNavi(Model.PageNo, Model.PageSize, Model.TotalCount, "/Category/List", "pageNo", pageNaviParams, Model.Keyword)

            </div>
}
else
{
		    <div class="msgW2 prod_no">
                <div class="msg">
                    <p class="txt2">
                        <strong class="font_green">조건에 맞는 상품이 없습니다.</strong>
                    </p>
                </div>
            </div>
}

			<!--smart click-->
			<div class="smt_click" style="display:none">
				<h4 class="smt_tit">스마트 클릭<span class="ad">광고</span></h4>
				<!-- VERTICAL LIST -->
				<div class="vertical_list">
					<ul id="smt_click_items">
						
					</ul>
				</div>
				<!--// VERTICAL LIST -->
			</div>
			<!--//smart click-->

@if (Model.TotalCount > 0)
{
    <script type="text/javascript">
            
            var list = '.@(("H".Equals(Model.ListType)) ? "horizontal_list" : "vertical_list")';

            UL_layoutFix(list, true);

            $(list + ' .anchor').on('click', function (e) {
                $target_link = $(this).find('.plus').get(0);
                if (e.target == $target_link) {
                    return false;
                }
            })
    </script>
}
        </div>
    </div>
    <!--// CONTENTS -->

    <!--layer 131029-->
	<div class="com_layer" id="help_lyr">
		<h3>Focus 랭크순</h3>
		<div class="help_cont">
			<p class="guide_t">Focus랭크순은 상품의 판매실적과 판매자의 프로모션 활동(비용)을 기준으로 정렬되는 방식입니다.</p>
		</div>
		<a href="#" class="b_close" onClick="displayLayer_posit('help_lyr'); return false;">닫기</a>
	</div>
	<!--layer-->


	<!--layer 131029-->
	<div class="com_layer" id="plus_lyr">
		<h3>PLUS</h3>
		<div class="help_cont">
			<p class="guide_t">[PLUS]상품은 광고낙찰에 의한 전시상품입니다.</p>
		</div>
		<a href="#" class="b_close" onClick="displayLayer_posit('plus_lyr'); return false;">닫기</a>
	</div>
	<!--layer-->

