@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Controllers;
@using GMKT.Web.Membership
@{
    string rawURL = Request.RawUrl.ToLower();

    if (rawURL.IndexOf("?") >= 0)
    {
        rawURL = rawURL.Substring(0, rawURL.IndexOf("?"));
    }
}

@if (PageAttr.ViewHeader == true)
{
	<!-- SKIP NAVI -->
	<div class="hp">
		<a href="#content">본문 바로가기</a>
	</div>
	<!-- //SKIP NAVI -->

    if (PageAttr.Exid == ExIdAppEnum.None && (rawURL.IndexOf("/category/list") >= 0 || rawURL.IndexOf("/category/category") >= 0 || rawURL.IndexOf("/search/search") >= 0) && !PageAttr.IsAndroidApp && !PageAttr.IsIphoneApp)
    {
	<div class="app_baner" id="app_baner">
		<a href="javascript:fnSubFooterGoInstall();" class="bnr_wp"><span class="ctx">쉽고 빠른 <strong>G마켓 앱</strong> 설치하기</span></a>
		<a href="javascript:closeAppBanner();" class="close_bnr">닫기</a>
	</div>
    }
	<script type="text/javascript">
		GMobile.registerRPM();
	</script>
	<!-- HEADER -->
	<div id="head"  class="new vip">
		<div id="header_wrapper">
				<div class="hd_wrap" id="header_st">
				</div>
			</div>
		<script type="text/javascript">
			var gmHeader = new GMHeader(@PageAttr.IsMain.ToString().ToLower(), @Convert.ToInt32(PageAttr.HeaderType), "@PageAttr.HeaderCode");
			@if (ViewBag.HeaderTitle != null && ViewBag.HeaderTitle is String && !String.IsNullOrEmpty(ViewBag.HeaderTitle))
   {
			<text>
			gmHeader.setAppHeaderTitle("@ViewBag.HeaderTitle");
			</text>
   }
		</script>

	
	</div>
	<hr />
	<!--// HEADER -->
}
else
{
    if (PageAttr.Exid == ExIdAppEnum.SFC)
    {
        <script type="text/javascript">
			var gmHeader = new GMHeader(@PageAttr.IsMain.ToString().ToLower(), @Convert.ToInt32(PageAttr.HeaderType), "@PageAttr.HeaderCode");
			@if (ViewBag.HeaderTitle != null && ViewBag.HeaderTitle is String && !String.IsNullOrEmpty(ViewBag.HeaderTitle))
               {
			            <text>
			            gmHeader.setAppHeaderTitle("@ViewBag.HeaderTitle");
			            </text>
               }
		</script>
    }

}