@using GMKT.GMobile.Util;
@using GMKT.GMobile.Constant;
@model dynamic
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
@*<meta name="viewport" id="viewport" content="user-scalable=no, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=device-width, target-densitydpi=device-dpi" />*@
 
 @if (PageAttr.HUserAgent.ToUpper().IndexOf("IPHONE") > -1 || PageAttr.HUserAgent.ToUpper().IndexOf("IPOD") > -1)
 {
<meta name="viewport" content="user-scalable=no, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=device-width" />
 }
 else if (PageAttr.HUserAgent.ToUpper().IndexOf("IPAD") > -1)
 {
<meta name="viewport" content="" />
 }
 else if (PageAttr.HUserAgent.ToUpper().IndexOf("SHV-E140") > -1 || PageAttr.HUserAgent.ToUpper().IndexOf("SHV-M305") > -1 || PageAttr.HUserAgent.ToUpper().IndexOf("SHW-M380") > -1 || PageAttr.HUserAgent.ToUpper().IndexOf("SHW-M480") > -1 || PageAttr.HUserAgent.ToUpper().IndexOf("SHW-E230") > -1)
 {
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=device-dpi" />
 }
 else if (PageAttr.HUserAgent.ToUpper().IndexOf("SHW-M250") > -1 || PageAttr.HUserAgent.IndexOf("SHW-E110") > -1)
 {
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=high-dpi" />
 }
 else if (PageAttr.HUserAgent.ToUpper().IndexOf("SHV-E300") > -1)
 {
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=high-dpi" />
 }
 else if (PageAttr.HUserAgent.ToUpper().IndexOf("SHV-E250") > -1)
 {
<meta name="viewport" content="user-scalable=no, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=device-width, target-densitydpi=high-dpi" />
 }
 else
 {
<meta name="viewport" content="user-scalable=no, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=device-width, target-densitydpi=high-dpi" />
 }

 
@if (PageAttr.IsMain == true)
{
<meta property="fb:admins" content="100000991027914" />
}
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />
<meta name="format-detection" content="telephone=no" />
<title>@ViewData["Title"]</title>
<link rel="apple-touch-icon-precomposed" href="@Urls.MobileImageUrlV2/icon_01.png" />

<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/480/main_2013.css?v=201308051518" />
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/480/common_2013.css" />
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/480/etc_2013.css" />
<link rel="stylesheet" type="text/css" href="@Urls.StyleUrl/480/marketing_2013.css" />
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/swipeview.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/front_v2.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/module/Ajax.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/header/httpAjaxRequest.js"></script>
@*<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/viewport.js"></script>*@