@using GMKT.GMobile.Util;
@using GMKT.GMobile.Constant;
@model dynamic
	<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
@if (PageAttr.HUserAgent.IndexOf("SHV-E210") > -1 || PageAttr.HUserAgent.IndexOf("SHW-M440") > -1)
{
	//갤럭시S3
	<meta name="viewport" id="viewport" content="user-scalable=yes, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=480" />
}
else if (PageAttr.HUserAgent.IndexOf("ANDROID 4") > -1
	|| PageAttr.HUserAgent.IndexOf("SHW-M110S") > -1
	|| PageAttr.HUserAgent.IndexOf("SHW-M250S") > -1)
{
	//아이스크림 겔럭시넥서스 일경우(갤럭시S와 S2에 대해 ANDROID 4)
	<meta name="viewport" id="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=480, target-densitydpi=device-dpi"/>
}
else if (PageAttr.HUserAgent.IndexOf("ANDROID 3") > -1)
{
	//허니콤 겔럭시탭 일경우
	<meta name="viewport" id="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0,  width=device-width"/>
}
else if (PageAttr.HUserAgent.IndexOf("HTC") > -1)
{
	//HTC 폰일경우
	<meta name="viewport" id="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=480, target-densitydpi=device-dpi"/>
}
else
{
	<meta name="viewport" id="viewport" content="user-scalable=yes, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=device-width"/>
}
@if (PageAttr.IsMain == true)
{
	<meta property="fb:admins" content="100000991027914" />
}
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT" />
	<meta name="format-detection" content="telephone=no" />
	<title>@ViewData["Title"]</title>
	<link rel="apple-touch-icon-precomposed" href="@Urls.MobileImageUrl/Mobile_icon.png" />
@if (!string.IsNullOrEmpty(PageAttr.MainCss))
{
	<link rel="stylesheet" type="text/css" href="@Const.GMW_CONTEXT_NM/css/480/@PageAttr.MainCss" media="screen, projection"/>
}
@if (!string.IsNullOrEmpty(PageAttr.SubCss))
{
	<link rel="stylesheet" type="text/css" href="@Const.GMW_CONTEXT_NM/css/480/@PageAttr.SubCss" media="screen, projection"/>
}
	<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/common/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/common/jquery.touchwipe.min.js"></script>
	<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/common/front.js"></script>
	<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/common/detail.js"></script>
	<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/module/Ajax.js"></script>
	<script type="text/javascript" src="@Const.GMW_CONTEXT_NM/js/header/httpAjaxRequest.js"></script>
@if (PageAttr.HUserAgent.IndexOf("SHV-E210") > -1 || PageAttr.HUserAgent.IndexOf("SHW-M440") > -1)
{
	//갤럭시S3 경우만 Landscape/Portrait(가로/세로) 변경시 스크립트를 이용하여 사이즈를 조절한다.
	<script type="text/javascript">
		$(window).bind('orientationchange', function (e)
		{
			if (window.orientation == 90 || window.orientation == -90 || window.orientation == 270)
			{
				$('meta.#viewport').attr('content', 'user-scalable=yes, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=800');
			}
			else
			{
				$('meta.#viewport').attr('content', 'user-scalable=yes, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, width=480');
			}

		}).trigger('orientationchange');
	</script>}