<!DOCTYPE html><html lang="ko">
<head>
	@Html.Partial("_incHeader_320")
	@RenderSection("Css", required: false)

@if (PageAttr.Exid != GMKT.Web.Membership.ExIdAppEnum.None)
{
	<style type="text/css">
		.bnr_w
		{
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		#head.head_simple
		{
			display: none;
		}
	</style>
}

	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/handlebars-v1.1.2.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/GMobile.js?v=20160816"></script>
	<!--<script type="text/javascript" src="@Urls.MobileWebUrl/Scripts/GMobile.js?v=20160816"></script>--> <!-- todo tolhm 변경 필요 -->
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/guidGeneration.js"></script>
	<script type="text/javascript" src="@(Urls.ScriptUrl)/js/mitem/Common.js"></script>
	<script type="text/javascript">
		var _ubLogActEnum = {
			click: "click"
		}
		function _ubLog(code, act) {
			if (typeof ubprofiler === 'object' && typeof ubprofiler.send === 'function') {
				ubprofiler.send(
              'event'         // behavior
              , 'page'        // src
              , 'm/1.0'       // id, version info
              , 
							{
              	'url': document.location.href,  // url, required 
              	'ref': document.referrer,       // referrer url, optional
              	'act': act,                 // action, required
              	'acode': code        // area code, required
              });
			}
		}
	</script>
	<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/swipeview.js"></script>
	<script type="text/javascript" src="@Urls.ScriptUrl/mobile/js/front_v4.js?v=4"></script>
</head>
<body>
@if (PageAttr.HasRPMScript)
{
	<script type="text/javascript">
		GMobile.registerRPM();
	</script>
}
	<script type="text/javascript">
		var CONST_RECENT_ITEMS_LAYER_DOMAIN_URL = "@(Urls.MobileWebUrl.Replace("http:", ""))";
	</script>
	<!-- WRAPPER -->
	<div id="wrap">
		@Html.Partial("_Header3")
		@RenderBody()
		@Html.Partial("_Footer3")
	</div>
	<!--// WRAPPER -->

	@RenderSection("iframes", required: false)
	@Html.Partial("_Script3")
	@RenderSection("scriptfiles", required: false)
	@RenderSection("scripts", required: false)
</body>
</html>