@using GMKT.GMobile.Web.Models
@using GMKT.Web.Membership
@model ShareAndShortcutModel

@if (PageAttr.Exid == ExIdAppEnum.None)
{
	if (!PageAttr.IsIphone && !PageAttr.IsIpad && !PageAttr.IsIpod)
	{
		<div class="botm_dgo botm_dgo2">
		@if (PageAttr.IsAndroidApp)
		{
			<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Model.TargetUrl, "", Model.Title, "", "", PageAttr))" onclick="" class="go1 noBorder">공유하기</a>
			<a href="javascript:;" onclick="MobileAppUtil.SendScheme('@Model.SchemeName'); ShareAndShortcutSendFcdCode('@Model.ShortcutFcdCode');" class="go2 noBorder">바로가기 추가</a>
		}
		else
		{
            if (Model.SchemeName.ToUpper() == "SUPERDEAL")
            {
                <a href="#" class="go1 noBorder" data-pdslog='{"AreaCode":"200000307","AreaType":"Utility"}' onclick="sendPDSLogFromEliment(this);popBlockUI('layer_sns');ShareAndShortcutSendFcdCode('@Model.ShareFcdCode');return false;">공유하기</a>
			    <a href="javascript:;" data-pdslog='{"AreaCode":"200000308","AreaType":"Utility"}' onclick="sendPDSLogFromEliment(this);MobileAppUtil.CheckApplicationInstall('@Model.SchemeName'); ShareAndShortcutSendFcdCode('@Model.ShortcutFcdCode');" class="go2 noBorder">바로가기 추가</a>
            }
            else
            {
                
			<a href="#" class="go1 noBorder" onclick="popBlockUI('layer_sns');ShareAndShortcutSendFcdCode('@Model.ShareFcdCode');return false;">공유하기</a>
			<a href="javascript:;" onclick="MobileAppUtil.CheckApplicationInstall('@Model.SchemeName'); ShareAndShortcutSendFcdCode('@Model.ShortcutFcdCode');" class="go2 noBorder">바로가기 추가</a>
            }
        }
		</div>
    }
    else
    {
		<div class="add_homego add_homego2">
		@if (PageAttr.IsIphoneApp)
  {
			<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Model.TargetUrl, "", Model.Title, "", "", PageAttr))">공유하기</a>
  }
  else
  {
			<a href="#" onclick="popBlockUI('layer_sns');ShareAndShortcutSendFcdCode('@Model.ShareFcdCode');return false;">공유하기</a>
  }
		</div>
	}
}

	<div class="share_sns" id="layer_sns">
		<h4 class="tit">공유하기</h4>
		<div class="sns">
			<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
		</div>
		<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
	</div>

<script type="text/javascript">
	function ShareAndShortcutSendFcdCode(fcdCode) {
		if (fcdCode != undefined && fcdCode != null && fcdCode != "") {
			SnaUrlFooter(fcdCode);
		}
	}
</script>