@using GMKT.GMobile.Constant;
@using GMKT.GMobile.Web.Models;
@using System.Text;

@model GMKT.GMobile.Web.Models.EventV2.GreenCarpetModel
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/iscroll4.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/jQueryRotate.2.2.js"></script>
<!-- CONTENT -->
<div id="content" class="ctns">

	@Html.Partial("Event/_NavigationBar", @Model.NaviIcons, new ViewDataDictionary { { "selectTab", "그린카펫" }})
	<div class="banner_box">
	@if (Model.TopBanner != null && Model.TopBanner.Count > 0)
 {
		<img src="@Model.TopBanner[0].ImageUrl" alt="@Model.TopBanner[0].Alt" />
 }
	</div>

	<div class="box_dot_main g_carpet">
		<div class="box_exhibit_main01">
			<div class="box_coupon">
				<h3 class="title">G마켓이 선물하는 특별한 문화공간</h3>
				<p class="g_state"><strong>@DateTime.Now.Month.ToString()</strong>월 그린카펫 현재 체험고객 <span>총 ?명</span></p>
				<div class="info_wrap">
					<div class="tab_supd">
						<div class="box_wp" id="supdTab">
							<div id="supdTabCnt" class="supd_cnt">
								<ul class="movie_lst">
@if (Model.MainPoster != null && Model.MainPoster.Count > 0)
{
	foreach (GMKT.GMobile.Data.EventV2.MainPosterT poster in Model.MainPoster)
	{
		DateTime endDay = Convert.ToDateTime(poster.entry_e_dt);
		DateTime nextDay = endDay.AddDays(1);
		if (nextDay < DateTime.Now)
		{
			<li class="end" value=@poster.seq><a href="#"><span class="img_box"><img src="@poster.main_s_img" width="44" height="63" alt="" /></span>@poster.cd_nm<span class="dim"><span class="ico_end">응모마감</span></span></a></li>
		}
		else {
			<li onclick="javascript:posterOnClick(this,@poster.seq); return false;" value=@poster.seq><a href="#"><span class="img_box"><img src="@poster.main_s_img" width="44" height="63" alt="" /></span>@poster.cd_nm</a></li>
		}
	}
}
								</ul>
							</div>
							<button type="button" class="prev_p off">왼쪽으로</button>
							<button type="button" class="next_p off">오른쪽으로</button>
						</div>
					</div>	
					<script type="text/javascript">
						var scrollTab = null;
						var currentX = -1;
						var $maxItemLI = $('#supdTabCnt li');
						var $maxItemUL = $('#supdTabCnt ul');
						var maxValue = ($maxItemLI.width()) * $maxItemLI.length;
						$maxItemUL.css('width', maxValue + 'px');

						$(window).on("load resize", function () { // orientationchange
							initIscroll('supdTabCnt');

							if (scrollTab) {
								if (currentX > 0) {
									scrollTab.currPageX = currentX;
									scrollTab.scrollToPage(currentX, 0, 0);
								}
								if (currentX == -1) {
									var nav = document.getElementById('supdTabCnt').querySelectorAll('li');
									var index;
									for (var i = 0; i < nav.length; i++) {
										if ($(nav)[i].className.indexOf('on') > -1) {
											index = i;
											break;
										}
									}
									scrollTab.scrollToPage(index - 1, 0, 0);
								}
							}
						});

						function initIscroll(id) {
							var targetId = id;
							var $maxItemLI = $('#supdTabCnt li');
							var $maxItemUL = $('#supdTabCnt ul');
							var max = ($maxItemLI.width()) * $maxItemLI.length;
							if (max > document.getElementById(targetId).offsetWidth) {
								if (scrollTab == null) scrollTab = new iScroll(targetId, { hScrollbar: false, vScrollbar: false, useTransform: false, snap: 'li',
									onScrollEnd: function () {
										var ul = document.getElementById(targetId).querySelector('ul');
										var sideBtns = document.getElementById('supdTab').querySelectorAll('button');
										var pos = parseInt(ul.style.left.replace('px', ''));
										if (pos < 0) {
											$(sideBtns[0]).removeClass('off');
											$(sideBtns[0]).attr('onclick', 'scrollTab.scrollToPage("prev", 0);');
										} else {
											$(sideBtns[0]).addClass('off');
											$(sideBtns[0]).attr('onclick', '');
										}
										if (document.getElementById(targetId).offsetWidth + Math.abs(pos) < ul.offsetWidth) {
											$(sideBtns[1]).removeClass('off');
											$(sideBtns[1]).attr('onclick', 'scrollTab.scrollToPage("next", 0);');
										} else {
											$(sideBtns[1]).addClass('off');
											$(sideBtns[1]).attr('onclick', '');
										}
									}
								});
							} else {
								var sideBtns = document.getElementById(targetId).querySelectorAll('button');
								$(sideBtns[0]).addClass('off');
								$(sideBtns[0]).attr('onclick', '');
								$(sideBtns[1]).addClass('off');
								$(sideBtns[1]).attr('onclick', '');
							}
						}
							
					</script>
					<div class="banner_box">
						<ul>
						<li><a href="#"><img id="imgBannerBox" src="" width="192" height="275" alt="" /></a></li>
						</ul>
					</div>
				</div>
				<h4 class="blind">그린카펫 정보</h4>
				<dl id="dlEventInfo">
					<dt>초대고객</dt>
					<dd></dd>
					<dt>응모기간</dt>
					<dd></dd>
					<dt>응모조건</dt>
					<dd></dd>
					<dt>당첨공지</dt>
					<dd></dd>
					<dt>이용방법</dt>
					<dd></dd>
					<dt>일시&amp;장소</dt>
					<dd></dd>
				</dl>
				<dl class="the_sel">
				<dt>영화관을 선택하세요.</dt>
				<dd>
					<ul></ul>
				</dd>
				</dl>
				<a id="btnApply" onclick="javascript:SnaUrlFooter('710200020');"><button type="button" class="btn_cp blue">응모하기</button></a>                
                <p class="cf_entry"><a href="http://sna.gmarket.co.kr/?fcd=704000004&url=@Urls.MobileWebUrl/Event/EventList">응모내역 확인</a></p>

                <dl id="scrn_vdo" class="type">
					<dt>예고편 보기</dt>
					<dd>
						<div class="embed-container"><iframe id="scrn_vdo_url" src="" frameborder="0" allowfullscreen=""></iframe></div>					
					</dd>
				</dl>

			</div>
			<div class="box_coupon">
				<div class="m_title">
					<h3>상세 설명</h3>
				</div>
				<div class="info_box">
					<h4 class="info_tit"></h4>
					<p class="info_txt" id="pInfoText1"></p>
					<p class="info_txt" id="pInfoText2"></p>
				</div>
			</div>

@if (Model.Notice != null && Model.Notice.Length > 0)
{
			<div class="notice_box">
				<h4>NOTICE 꼭! 확인하세요.</h4>
				<ul>
		@foreach (string str in Model.Notice)
  {
			<li>@str</li>
  }
				</ul>
			</div>
}	
		</div>
			
		@Html.Partial("Event/_PromotionList")
			
		
	</div>
		
	<div class="add_homego add_homego2">
@if (!PageAttr.IsIphone && !PageAttr.IsIpad && !PageAttr.IsIpod)
{
    
    if (PageAttr.IsAndroidApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/GreenCarpet", "", "G마켓 그린카펫", "", "", PageAttr))">공유하기</a>
    }
    else
    {	
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
else
{
    if (PageAttr.IsIphoneApp)
    {
		<a href="@(EmbeddedUrlHelper.GetLinkIsEmbedded("shareurl", Urls.MobileWebUrl + "/GreenCarpet", "", "G마켓 그린카펫", "", "", PageAttr))">공유하기</a>
    }
    else
    {
        <a href="javascript:popBlockUI('layer_sns');">공유하기</a>
    }
}
    </div>
	<div class="share_sns" id="layer_sns">
		<h4 class="tit">공유하기</h4>

		<div class="sns">
			<a href="javascript:CheckPc(MobileSnsUtil.snsType().KAKAOTALK);" class="cco" id="SnsKakaoTalk">카카오톡</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().FACEBOOK);" class="face">페이스북</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().TWITTER);" class="twt">트위터</a>
			<a href="javascript:ShareTo(MobileSnsUtil.snsType().KAKAOSTORY);" class="ccos">카카오스토리</a>
		</div>
		<a href="#" class="close_sns" onclick="popBlockUI('layer_sns');return false;">닫기</a>
	</div>	

</div>
<!-- //CONTENT -->@using System.Web.Script.Serialization
@helper Encode(object obj)
	{
    @(new HtmlString(new JavaScriptSerializer().Serialize(obj)));
}
<script type="text/javascript" src="@Urls.PromotionUrl/Event/Common/gen/greencarpet_winner_cnt_gen.js"></script>
<script type="text/javascript">
    var ShareTo = function (type) {
        var dataName = "G마켓 그린카펫";
        switch (type) {
            case MobileSnsUtil.snsType().KAKAOTALK:
                dataName = "그린카펫";
                break;
            default:
                break;
        }
        var data = {
            "name": dataName,
            "url": "http://mobile.gmarket.co.kr/GreenCarpet",
            "title": ""
        };
        if (type == "kakaotalk") {
            KakaoController('#SnsKakaoTalk', new SnsParam(type, data), 'home');
        }
        else {
            var sender = MobileSnsUtil.sns(type).sender;
            sender.send(type, new SnsParam(type, data))
        }
    }
</script>

@section scriptfiles
{
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileSnsUtil.js?v=1"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/MobileAppUtil.js"></script>
<script type="text/javascript" src="@Urls.ScriptUrl/js/mobile/main/common/kakao.js?v=1"></script>
}

<script type="text/javascript">

	var jsModel =  @Encode(Model.MainPoster);
	$(document).ready(function () {
        KakaoInit();
        ShareTo("kakaotalk");
        
		//var firstSeq = jsModel[0].seq;
		posterOnClick($("ul.movie_lst li[class!='end']").first()[0]);

		//그린카펫 월 체험고객 (winCnt는 greencarpet_winner_cnt_gen.js 에 정의)
		$(".g_state span").html("총 " + winCnt + "명");
	});

	var theaterSelect = function(eidscript){
		var encryptEid = unescape(eidscript).replace(" ","").split(',');
		var eventPlatformUrl = "/GreenCarpet/CommonApplyEventPlatformGmarket?str="+ encryptEid[0].replace("'", "").replace("'", "") + "&encStr=" + encryptEid[1].replace("'", "").replace("'", "") ;
		document.getElementById("btnApply").href = eventPlatformUrl;
	}

	var posterOnClick = function (obj) {
		if (!($(obj).hasClass("on"))) {
			$("ul.movie_lst li[class*='on']").removeClass("on");
			$(obj).addClass("on");
			
			var selectedModel;
			for(var i=0; i<jsModel.length; i++){
				if(jsModel[i].seq == obj.value) { selectedModel = jsModel[i]; break;};
			}
			document.getElementById("imgBannerBox").src = selectedModel.main_l_img;
			$("dl#dlEventInfo dd")[0].innerHTML = selectedModel.target_cust;
			$("dl#dlEventInfo dd")[1].innerHTML = selectedModel.entry_period;
			$("dl#dlEventInfo dd")[2].innerHTML = "<strong>"+ selectedModel.entry_condition + "</strong>";
			$("dl#dlEventInfo dd")[3].innerHTML = selectedModel.win_notice;
			$("dl#dlEventInfo dd")[4].innerHTML = selectedModel.use_way;
			$("dl#dlEventInfo dd")[5].innerHTML = selectedModel.dt_place;

            if (selectedModel.scrn_vdo_url == null || selectedModel.scrn_vdo_url == "")
            {
                $("#scrn_vdo").hide();
            }
            else
            {
                if (selectedModel.scrn_vdo_url.indexOf("www.youtube.com/embed/") > 0) {
                    document.getElementById("scrn_vdo_url").src =  selectedModel.scrn_vdo_url;
                    $("#scrn_vdo").show();
                }
                else
                {
                    $("#scrn_vdo").hide();
                }

            }
            

			if(selectedModel.eid_list.length > 0){
				var escapeEidStr = escape(selectedModel.eid_list[0].eid_script);
				theaterSelect(escapeEidStr);
				
				$(".info_tit").html(selectedModel.main_content);
				$("#pInfoText1").html(selectedModel.sub_content);
				
				var strOpenDtLeadActor = "";
				if(selectedModel.open_dt){
					strOpenDtLeadActor ="개봉일 : "+ selectedModel.open_dt;
				}

				if(selectedModel.lead_actor){
					strOpenDtLeadActor += "<br>주연배우 : "+ selectedModel.lead_actor;
				}
				
				$("#pInfoText2").html(strOpenDtLeadActor);
				if(selectedModel.eid_list.length == 1){
					$(".the_sel").hide();
				} else {
					var liStr = "";
					for(var i=0; i< selectedModel.eid_list.length; i++){ 
						var id = "the"+i;
						var strChecked = (i == 0 )? "checked" : "" ;
						liStr += "<li><span class='inp_box'><input onclick=\"theaterSelect(\'" + escape(selectedModel.eid_list[i].eid_script) + "\');\" type='radio' name='the' id='"+id+"'" + strChecked + "/><label for='"+id+"'>" + selectedModel.eid_list[i].event_nm + "</label></span></li>";
					}
					$(".the_sel ul").html(liStr);
					$(".the_sel").show();
				}
			} else {
				alert("오류가 발생하셨습니다");
				return false;
			}
		} else {
			return false;
		}
	}
</script>